[2020-03-01 19:48] slyshykO commented on #871
@Nightwalker-87 , It look like we can close this issue.

[2020-03-01 20:13] ihassin commented on #852
Thanks so much for your reply. I could not get it to work on 10.15.3 Catalina, and have shelved my efforts :(

[2020-03-01 22:34] Nightwalker-87 commented on #852
@ihassin: Thx for your feedback. I’m sorry to hear that. Will pull this issue forward to the upcoming release, as I feel it is too significant to push it out any further.

[2020-03-01 22:39] ihassin commented on #852
Greatly appreciated! I had plans to write an RTOS for it.

[2020-03-02 14:07] bmeneguele commented on #871
Yes. Sorry for the noise guys, and thanks anyway.

[2020-03-02 14:07] #871 closed

[2020-03-08 13:14] Glaeqen commented on #795
Maybe I overlooked it in this thread but building `st-link` suite using MSVC toolchain for Windows 10 (x86-64) is suprisingly easy and straightforward.
1. Install MS Visual Studio Build Tools (includes msbuild, compiler, linker etc. - whole VS IDE is unnecessary)
2. Install CMake for Windows
3. Make sure everything is in your PATH (`msbuild` and `cmake`)
    - Tip: `msbuild` in default installatio

[2020-03-09 07:29] mttbx opened #873 "how to use stlink to debug iap program"
I want to debug iap program by stlink, however I don't know how to burn two program at different flash address through st-util / gdb.

[2020-03-09 14:05] Nightwalker-87 commented on #873
Please describe your issue more precisely and specify the system you use to facilitate individual support.

[2020-03-09 14:25] mttbx commented on #873
I'm using stm32 chip to run c programs in Linux. I use gdb to connect remote st-util server so I can debug my program. My program has two parts. The first part is boot sub program, and the second is app sub program. In the boot program, it will do some work and then jump to the second program. The two programs can be compiled seperatly, and they both contains the main function. I can boot these tw

[2020-03-10 19:25] Andy2No commented on #795
Like most things, it's easy when you know how, Glaeqen.

I've detailed my process with decoding the instructions.  Maybe that will help someone else, who is similarly confused by them.

[2020-03-10 21:03] Nightwalker-87 commented on #871
@bmeneguele: No need to apologise - this resolved issue may be still be helpful to others.
@slyshykO: Thx for your support in this case.

[2020-03-11 00:22] Glaeqen commented on #795
Sorry, I did not mean to brag or to offend anyone. By _suprisingly easy and straightforward_ I was mostly referring to how flawlessly whole process went through - in contrary to my expectations. In my experience using msbuild is rather painful (I have more linux background) and this was a pleasant surprise.

I'm annoyed as well as others that there are no ready to use executables. Especially, when

[2020-03-11 00:27] Andy2No commented on #795
No offence taken :)

I'm pleased to see this thread has still been left open.  There's a tendency on github to close threads, which effectively hides them away from most people who might have wanted the same information.

[2020-03-11 01:35] Nightwalker-87 commented on #795
@Andy2No: This ticket will be closed as soon as the related documentation has seen improvements that address this issue. This is currently planned for the upcoming release. If there are any further specific suggestions, please feel free to submit a commit.
@Glaeqen: I like your suggestion/proposal to use MSVS. To me this sounds like a suitable replacement for the (as of today) somehow outdated Min

[2020-03-11 16:29] Nightwalker-87 opened #874 "PROJECT NEWS & UPDATES"
This issue is solely dedicated for current project activities and project updates of general interest.

[2020-03-11 16:53] Nightwalker-87 commented on #826
I have opened a new ticket (#874) which is dedicated for upcoming project news and updates.
This "special issue" should remain open for an indefinite period of time and avoid any extension of this ticket beyond the original topic.

@texane: What are your general thoughts on the current progress of the project and it's development in the recent weeks? Unless there are any specific things to address

[2020-03-11 16:59] Nightwalker-87 commented on #874
Review of old issues is about to continue in the upcoming days.
Current state: 219 issues and PRs remain...

[2020-03-11 17:00] Nightwalker-87 commented on #874
**Upcoming Release:** **v1.6.1** (_planned for June 2020_)

[2020-03-11 17:08] Nightwalker-87 commented on #874
**General ToDo:**
- Update CHANGELOG.md for Releases  v1.3.1+
-

[2020-03-13 02:37] mttbx commented on #873
I'm using stm32 chip to run c programs in Linux. I use gdb to connect remote st-util server so I can debug my program. My program has two parts. The first part is boot sub program, and the second is app sub program. In the boot program, it will do some work and then jump to the second program. The two programs can be compiled seperatly, and they both contains the main function. I can boot these tw

[2020-03-13 15:38] Basilisvirus commented on #698
Happened to me when i downloaded Source code (tar.gz).

Then, i downloaded  Source code (zip) and it worked.

[2020-03-13 15:50] Nightwalker-87 commented on #698
@Basilisvirus: Interesting. Nevertheless both archive files .zip and .tar.gz. are generated automatically by github. Are there any local problems with unzipping .tar.gz or directory paths?

[2020-03-13 16:14] Basilisvirus commented on #698
@Nightwalker-87 Thats what i am thinking. Maybe my download was not completed/corrupted or there was an unzip error.

[2020-03-13 17:12] Nightwalker-87 commented on #698
Could you retry the .tar.gz archive to verify, so that we can finally resolve this issue with the knowledge that both work correctly? That would be great.

[2020-03-13 17:18] Basilisvirus commented on #478
Hello. sudo ldconfig does not work for me.

When i run

`ldd /usr/local/bin/st-info`

 i get:
`ldd: /usr/local/bin/st-info: No such file or directory`

in my **/usr/local/lib** there is nothing installed (only python 3.6 folder)

i run `sudo ldconfig` (`sudo ld-config` does not work, and without sudo it will give me **Permission denied**)
But still when i say `st-info --version` , i will get st-in

[2020-03-13 17:37] Basilisvirus commented on #698
I would, but right now i get issue #478 error so let me fix that first xD

[2020-03-13 18:01] Nightwalker-87 commented on #698
ok, of course we welcome any helpful contribution. :+1:

[2020-03-13 20:05] Basilisvirus commented on #698
I re-installed the release 1.6.0, using the **Source code (tar.gz)** and it installed correctly, so there is no issue here.
Plus, i installed it using `sudo make` instead of `make` and all my other installation-based problems were solved as well.

[2020-03-13 20:07] Nightwalker-87 commented on #698
Yes we can! :+1: :1st_place_medal:

[2020-03-13 20:07] Basilisvirus commented on #478
Fixed it.
I re-installed the 1.6.0 version, using `sudo make` instead of `make` and it installed correctly, no more errors occured

[2020-03-14 11:52] nerdmaennchen commented on #579
Just got fresh hardware to play with (AZDelivery STM32 STM32F103C8T6 and a Youmile ST-LINK V2 Emulator) and see exactly this behavior when flashing via st-util as gdb server and arm-none-eabi-gdb as client.

I can flash the target with st-flash without any problem. It seems to be an issue specific to st-util.

How can I help?

[2020-03-14 12:02] nerdmaennchen commented on #579
i got some more output from st-util with -v99:

[code]

The problem might be that the core is not runningt when flashing the second sector; I'm just guessing here

[2020-03-14 12:13] nerdmaennchen commented on #579
before you ask: I'm currently using the master's HEAD (f5d0454ab0a18f209ad5b7d0d51f3945b27dd892)

[2020-03-14 12:16] Nightwalker-87 commented on #579
@nerdmaennchen: Thanks for the feedback. What is the core ID of your STM32F103C8T6? Can you verify that it is not a CKS32F103C8T6 with a fake marking? We currently face several problems with this sort of chinese clone boards (see Release v1.6.1 Tickets) that appeared on the market from Dec 2019. I would like to rule out that we accidentally mix up different issues. Therefore it would be helpful to

[2020-03-14 12:18] nerdmaennchen commented on #579
the reported coreid of the target is in the above log:
~~
2020-03-14T12:57:10 DEBUG common.c: core_id = 0x1ba01477
[code]

[2020-03-14 12:30] Nightwalker-87 commented on #579
Looks as if you are lucky, though you caught a cheap board. The affected boards mentioned have Core ID 0x2ba01477, so we should be fine then. Thanks for verifying. :+1: We will keep up with this then, please give us some time to solve this.

[2020-03-14 12:38] nerdmaennchen commented on #579
Of course, take the time you need!
Also I'd like to express my appreciation for your project:

Kudos! I've been using your tools since five years or so and they are sill my go-to-tools
You rock!

If you need any help, I'd be delighted to do my part.

[2020-03-14 13:33] Hoel opened #875 "[feature] reading and writing flash address with CLI"
Hello, is there a way to read and write some flash addresses directly with the CLI without having to flash or read a whole binary file? I want to check few addresses on the flash and also overwrite few others, my application uses the binary directly (with CLI) as it is a javafx application.
Thank you.

[2020-03-14 14:43] Nightwalker-87 commented on #579
It appears that we need a closer look at what happens step by step when `flash_loader.c` is called to further encircle the issue. @slyshykO: Are you interested to look at this on your Windows system? As I only have a non-genuine CKS32F103C8T6 chip I may only look into the code, but without the ability to test and debug properly. :-/

[2020-03-14 15:05] Nightwalker-87 commented on #690
@Faduf: Does this work without openocd as well with Release v1.6.0 ? Can someone verify?

[2020-03-14 15:10] Nightwalker-87 commented on #358
Reopening as problem remains unresolved.

[2020-03-14 15:16] Nightwalker-87 commented on #361
@daiyoko: I am currently reviewing old issues as one of the new maintainers of this project. I know this is an old issue, but why was this closed without further notice? Any helpful solution found? Is there anything to improve? Please give feedback to us.

[2020-03-14 15:39] Nightwalker-87 commented on #875
Please describe more precisely what you intend to do.

[2020-03-14 15:54] Hoel commented on #875
I use STLink V2-1, on STM32F1xx device in this case. What i want to do is to write and read few bits at different addresses of the flash, without having to read the whole firmware and write it back. The prupose of this is to update some data in place, without having to read or write the whole thing.

[2020-03-15 01:16] WRansohoff commented on #820
Okay, I scrounged up an STM32G431 "Nucleo" board which has an "STLINK-V3E" debugger and tried it out with the 'develop' branch. They use an STM32F723 in the debugger! Too bad they don't make more of that chip's pins available on the board, huh?

Anyways, I can flash the chip with a simple 'blinking LED' program using `st-flash`, and that program runs without error after it is flashed.

The problem

[2020-03-15 08:05] nerdmaennchen commented on #579
I did some debugging myself; the problem seems to be that the first word of the second page cannot be written and the flash loader (in sram) bails out due to the PGERR-bit beeing set.

This happens when a writing into the flash without previously erasing the corresponding page.
And as it happens there is no code in common.c (around line 2377) that would erase the corresponding page.
When I do a "c

[2020-03-15 08:39] nerdmaennchen commented on #579
For some reason the PER bit is set when writing the first word to the second page.
The code that performs page erases before programming seems is executed and is written exactly as stated in the Programming Manual (PM0075).

However, if I do a mass erase (with st-flash) before programming the device via st-util and gdb everything works smoothly.

[2020-03-15 10:27] nerdmaennchen commented on #579
found the problem.
the PG bit might be set before doing the page erase.
when the START bit is set later the PG as well as the PER bits will be set and the flash controller will remain in the PG state and not do a page erase at all.
That explains why the first page was programmable but the second wasn't, since the flash loader set the PG bit during programming of the first page.

cheers

[2020-03-15 12:15] Nightwalker-87 commented on #579
@nerdmaennchen: Thank you so much for your contribution. I'll review the PR as soon as possible. You were on linux, right? Can someone else test this with another board (and eventally a different OS) as well - ticket was opened for macOS BTW) to have redundant verification? @bmarvo, @bolorkhuu or @Faduf maybe?

[2020-03-15 12:19] nerdmaennchen commented on #579
jep, im an Arch-fanboy (Linux) and I don't have easy acess to other OSes.

However, IMHO the fix is entirely OS independent as was the cause for the problem.

[2020-03-15 12:25] Nightwalker-87 commented on #579
That's what I thought as well, but I feel like that it is always good to have verification on at least a second setup. Don't bother about this too much, you are fine and I believe you spent enough valuable efforts on this. Let somebody else take a look at it and relax ;-)

[2020-03-15 12:27] nerdmaennchen commented on #579
very well then.

relax mode:
ACTIVATED

don't worry about my time. I actually enjoyed it quite a lot :D

[2020-03-15 12:32] Nightwalker-87 opened #877 "Maintainer for distribution repositories"
Hi everybody. I would consider it useful to have somebody who is in charge of passing stable releases to several linux distribution repositories to ensure (see supported distributions), that users are not forced to build from source if they desire to run stable releases from 1.6.0 onwards. I don't know how this was organised in the recent years. Maybe someone has more to tell on this. Please have

[2020-03-15 16:51] Nightwalker-87 commented on #850
See also issues #825, #856, #857.

[2020-03-15 22:04] tdjastrzebski opened #878 "ERROR common.c: map_file() == -1 while flashing"
Until today everything worked. I was able to flash my **STM32F769-DISCO** board with no problems.
Today I installed the latest pyOCD and updated mbed utility but I am not sure if this causes the problem: `ERROR common.c: map_file() == -1` while flashing.
I have tried to erase the flash, update firmware, updated STLink to version 1.6 - all for nothing.
After upgrade to STLink 1.6 debugging latest m

[2020-03-16 08:21] tdjastrzebski commented on #878
Update: I was able to flash new board once today and then no success again. The problem seems to be a bit non-deterministic.

[2020-03-16 12:30] Nightwalker-87 commented on #850
Closed by #825 and #857.

[2020-03-16 12:30] #850 closed

[2020-03-16 14:16] Nightwalker-87 commented on #845
@Vascom or @bluca maybe?

[2020-03-16 14:20] Vascom commented on #845
I am only for Fedora.

[2020-03-16 14:22] bluca commented on #845
It looks like the makefiles are using CMake's embedded package generator. I am not familiar with it, and have no time to look into it - sorry.

[2020-03-16 14:37] Nightwalker-87 commented on #387
Please verify with Release v1.6.0.

[2020-03-16 14:59] Nightwalker-87 commented on #318
Needs verification and a more detailled review.

[2020-03-16 17:03] Nightwalker-87 commented on #422
@sw17ch: Please open a new issue if you still desire an answer to your question or have it addressed. Thx. This issue is now permanently closed.

[2020-03-16 18:14] Nightwalker-87 commented on #433
Closed by #436.

[2020-03-16 18:14] #433 closed

[2020-03-16 18:34] Nightwalker-87 commented on #437
I currently see no reason to move anything out of GitHub in the near future.

Since February we have a separate `development` branch where all recent changes should go. The `master` branch should be reserved for minor, non-code-specific fixes (e.g. documentation), hotfixes and releases. Continuous integration is ensured by continued use of Travis CI. Besides from Linux and macOS this is to be used

[2020-03-16 19:17] tdjastrzebski commented on #878
OK, this was incorrect file name problem.

[2020-03-16 19:17] #878 closed

[2020-03-16 19:21] tdjastrzebski opened #879 "st-flash: incorrect file name handling"
In case of incorrect bin file name **st-flash** fails with error:
`ERROR common.c: map_file() == -1`
I suggest more descriptive message.

[2020-03-16 19:25] Nightwalker-87 commented on #83
This issue is now permanently closed.

[2020-03-16 19:43] Nightwalker-87 commented on #461
Is there still any demand for this feature request?

[2020-03-16 19:47] Nightwalker-87 commented on #438
As it reads his requires final verification.

[2020-03-16 20:21] Nightwalker-87 commented on #429
Addressed by #454 and #455.

[2020-03-16 20:21] #429 closed

[2020-03-16 21:14] #470 closed

[2020-03-17 00:24] #475 closed

[2020-03-17 00:31] Nightwalker-87 commented on #477
This is not a duplicated issue.

[2020-03-17 00:37] Nightwalker-87 commented on #477
This is not a duplicate, but obviously related to #517 which seems to resolve the issue.

[2020-03-17 00:37] #477 closed

[2020-03-17 08:08] rewolff commented on #533
Hi Nightwalker,
I've run into this "semi-hardware reset" through SWD issue myself. Do you remember another issue related to this from me? I'm pretty sure I have reported it, but just like here it might be hidden as a comment to another issue.
Anyway. I'll try to test the ASAP, which worst case is 2 weeks from now (by which time I'll have forgotten).....

[2020-03-17 09:11] Nightwalker-87 commented on #533
I'll have a look and let you know. Please do not recycle this issue in the meanwhile.

[2020-03-17 09:51] Nightwalker-87 commented on #533
Please check https://github.com/texane/stlink/issues?q=+label%3Aerror%2Freset+. As you can see most of these topics are open or have been reopenend due to their unclear state. Reset-issues popped up several times but were never really addressed. I feel like we should go back to start with this topic of reset issues. There is only one PR i can find which (and also only partially addresses this grou

[2020-03-17 11:07] rewolff commented on #533
FYI: I prevented my colleague from going to work, so now I'm alone at work.
I have a board that multiplexes three seven segment displays. So, "CPU halted or crashed" is distinguishable (one segment lit up with normal number)  from "CPU reset" (nothing lit).

Both the older version as the current git one are now unable to program my board when it had been programmed before. the first time I see the

[2020-03-17 11:33] Nightwalker-87 commented on #533
If possible I would suggest the following:
1) Clean your build system (ensure there are no leftovers), checkout Release v1.6.0 and then do a clean install from source. With this we can likely rule out that there are any local leftovers that may cause any corruption or strange behaviours.
2) Open a new ticket (even if there may be several related ones) and use the available issue template to descri

[2020-03-17 12:39] Nightwalker-87 commented on #472
Finally closed by #485.

[2020-03-17 12:39] #472 closed

[2020-03-17 12:43] Nightwalker-87 commented on #482
Finally closed by #485.

[2020-03-17 12:43] #482 closed

[2020-03-17 12:44] Nightwalker-87 commented on #483
Finally closed by #485.

[2020-03-17 12:44] #483 closed

[2020-03-17 13:48] Nightwalker-87 commented on #478
@Basilisvirus: Could you do me a favour (if you have time and are willing to do so) and try this out with Release v1.3.0 and later? It would be useful to know when this started to work... We currently seem to have no reference on this.

[2020-03-17 13:59] Nightwalker-87 commented on #468
Please verify if this problem still persists.

[2020-03-17 14:07] Nightwalker-87 commented on #493
Reopening this as this does not seem to be a satisfiable result.

[2020-03-17 14:27] Nightwalker-87 commented on #488
`st-util` is built and placed in the subdirectory `src/gdbserver/st-util`. See also #508.
This issue is now permanently closed.

[2020-03-17 15:21] Nightwalker-87 commented on #676
See also #507.

[2020-03-17 15:25] #510 closed

[2020-03-17 15:34] #537 closed

[2020-03-17 16:58] Nightwalker-87 commented on #318
Closed by #398 & #541.

[2020-03-17 16:58] #318 closed

[2020-03-17 17:20] #431 closed

[2020-03-17 17:20] #83 closed

[2020-03-17 17:55] #451 closed

[2020-03-17 17:55] #428 closed

[2020-03-17 18:02] #423 closed

[2020-03-17 18:04] #425 closed

[2020-03-17 18:13] Nightwalker-87 commented on #453
Fixed in PR #456.

[2020-03-17 18:13] #453 closed

[2020-03-17 18:31] #337 closed

[2020-03-17 18:52] #208 closed

[2020-03-17 18:59] Nightwalker-87 commented on #228
Closed by #507.

[2020-03-17 18:59] #228 closed

[2020-03-17 19:36] Nightwalker-87 commented on #507
`st-term` was removed with commit 3fd0f099782506532198473b24f643a3f68d5ff9.

[2020-03-17 20:49] #594 closed

[2020-03-17 21:19] Nightwalker-87 commented on #614
Issue closed as invalid and not related to the st-link project.

[2020-03-17 21:43] Nightwalker-87 commented on #879
So what would you suggest instead?

[2020-03-17 22:58] #550 closed

[2020-03-17 23:04] #551 closed

[2020-03-17 23:40] #566 closed

[2020-03-18 00:02] #565 closed

[2020-03-18 00:02] #564 closed

[2020-03-18 10:25] #590 closed

[2020-03-18 10:27] tdjastrzebski commented on #879
I suggest message:
`Unable to open [file-name] file.`

[2020-03-18 10:49] Nightwalker-87 commented on #879
Ok, are you with Release v1.6.0 ?

[2020-03-18 10:58] #617 closed

[2020-03-18 11:14] #633 closed

[2020-03-18 11:22] #628 closed

[2020-03-18 13:05] tdjastrzebski commented on #879
So far so good :)
It seems to work better than 1.5.1 although I have not tested it extensively yet.

[2020-03-18 13:07] #666 closed

[2020-03-18 13:11] rewolff opened #881 "STM32F730 is misrecognized."
I was starting to write "is not supported" but upgrading to master helps. Good job!

`2020-03-18T13:59:18 INFO common.c: Device connected is: F72 device, id 0x10006452
`
[code]

[2020-03-18 13:14] rewolff commented on #881
SOURCE:
Page 1372 of the reference manual: https://www.st.com/resource/en/reference_manual/dm00305990-stm32f72xxx-and-stm32f73xxx-advanced-armbased-32bit-mcus-stmicroelectronics.pdf

The page starts with making clear that this page is valid both for F72xx and F73xx devices.

[2020-03-18 13:32] Nightwalker-87 commented on #579
@nerdmaennchen: You may have a look at other issues in the meanwhile if you fancy.

[2020-03-18 15:54] #654 closed

[2020-03-18 16:23] Nightwalker-87 commented on #356
STM32F0 und STM32F1 boards are **NOT** addressed by the linked PR.
Please refer to #468, #612, #642 instead if similar problems persist with these devices.

[2020-03-18 16:46] #634 closed

[2020-03-18 17:17] #700 closed

[2020-03-18 17:27] #684 closed

[2020-03-18 17:37] #540 closed

[2020-03-18 17:50] #726 closed

[2020-03-18 20:18] #665 closed

[2020-03-18 20:24] #677 closed

[2020-03-18 20:27] #685 closed

[2020-03-18 20:52] Nightwalker-87 commented on #725
As of Release v1.3.0 there is no reference to `autogen` in README.md.

[2020-03-18 20:58] Nightwalker-87 commented on #734
Does not seem related to the st-link project anyway...

[2020-03-18 21:33] #732 closed

[2020-03-18 21:34] hierophect commented on #783
This does not need to be re-opened, the compile from source option for mac is well documented in the [compiling manual](https://github.com/texane/stlink/blob/master/doc/compiling.md).

The specific fix I was recommending for the bluepill support is in the **src/common.c** file, in the stlink_load_device_params() function, in the following text:

[code]

replacing the final else with

[code]

This

[2020-03-18 21:44] Nightwalker-87 commented on #783
Well that may be of general interest though as these boards are quite common. So as a maintainer of this project I'd consider this useful and would keep this ticket open for one of the upcoming releases. However this does not imply that you need to keep up with this issue.

[2020-03-19 01:31] Nightwalker-87 commented on #555
Please verify with Release v1.3.0.

[2020-03-19 02:29] #579 closed

[2020-03-19 10:58] Nightwalker-87 commented on #290
@rewolff: Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 11:01] Nightwalker-87 commented on #269
@alexeyk13 : I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 11:06] Nightwalker-87 commented on #225
@fhars: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 11:07] Nightwalker-87 commented on #193
@carrotIndustries: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 11:08] Nightwalker-87 commented on #250
@iabdalkader @landgraf: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 11:10] Nightwalker-87 commented on #63
@z80: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 11:11] Nightwalker-87 commented on #231
@emmettammons: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 11:11] Nightwalker-87 commented on #233
@ScottChaung: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 11:48] rewolff commented on #290
I would say yes.

I installed "latest git" or 1.6.0 (I don't remember which) a few days ago.

I then ran "make stflash" in one of my projects and... it failed. I then checked where it found the "st-flash" binary and it was in another place than where I'd installed the latest version.... So I removed the old one and tried again. More than ten times: No problem!

The issue with the long wait: Not su

[2020-03-19 13:24] Nightwalker-87 commented on #290
@rewolff: did you also try 1.2.0 ? I'd need that info to allocate the ticket correctly in github for maintenance.

[2020-03-19 13:29] Nightwalker-87 commented on #264
@AJGBoomer : I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 13:31] Nightwalker-87 commented on #271
@lanserge: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 13:35] Nightwalker-87 commented on #274
I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0?
It would be great if somebody with the same or similar hardware could verify this and do some performance tests with `st-util`.

[2020-03-19 13:36] Nightwalker-87 commented on #278
@bebork: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 13:37] Nightwalker-87 commented on #261
@MrSpock: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0? Please verify.

[2020-03-19 13:39] Nightwalker-87 commented on #147
@jhgorse: I am currently reviewing old leftovers.
Is this resolved with Release v1.2.0 for this project? Please verify.

[2020-03-19 13:41] Nightwalker-87 commented on #227
@mik00: I am currently reviewing old leftovers.
Is this resolved with Release v1.3.0? Please verify.

[2020-03-19 13:52] Nightwalker-87 commented on #3
@texane: Can you take action on this or is there a possibility to give write-access to this, so that I can fix it myself?

[2020-03-19 14:23] rewolff commented on #290
No sorry.
OK. Now I have... Nope not fixed in 1.2.0.

[2020-03-19 14:29] rewolff commented on #290
1.3.0 .... 1.5.0  don't compile (requires libgtk+-3.0-dev  which I installed and then got an "invalid number of arguments" error. ) .

[2020-03-19 14:36] rewolff commented on #290
Update: I decided to double check my findings by going back to 1.2.0 again and... now 1.2.0 works too... So... If we trust my observation that it didn't work 10 minutes ago.... I can't reliably reproduce the problem. ten minutes ago it happend, and now it doesn't

Soo.... Not sure if it is fixed in 1.6.0, or if I did something so that the trigger just doesn't happen anymore before I got around to

[2020-03-19 14:40] hierophect commented on #783
@Nightwalker-87 sorry, I only meant to imply that I no longer needed any help on it! If you support adding special cases like the Bluepill that's great.

[2020-03-19 14:54] iabdalkader commented on #250
@Nightwalker-87 It fixed the issue for me back when this was merged (in 2014)... I don't know if this is still relevant today.

[2020-03-19 15:11] Nightwalker-87 commented on #783
I understand. So I will close this as resolved then.

Note on Bluepill-Support:
For 128k support also take a look at issue 575.
As far as I am aware of, the tools currently support the STM32F103C8T6 as an original device.
Problems seem to occur with fake chips marked as STM32F103C8T6, but turn out to be CKS32F103C8T6 instead as revealed by their chip ID. See issues 756 and 833.
I suggest you open

[2020-03-19 15:17] Nightwalker-87 commented on #250
Ok, waiting for @landgraf then, as he still claimed a problem afterwards.

[2020-03-19 15:24] Nightwalker-87 commented on #290
Mh, that does not sound very promising...
Can you define your build system and hardware more precisely?
I propose to take a step back do a a clean install of v1.2.0 without any leftovers and look that compilation and libs work well. After that we can take a closer look again.

[2020-03-19 15:31] rewolff commented on #290
Why do you need to know if it works in v1.2.0  when we're now at 1.6.0 (++)  and it looks as if it's fixed?

In any case, the bug I actually reported has NOT been fixed. I determined this by "code inspection" (grep -r WAIT_ROUNDS). Under the conditions that triggered that wait-loop, the current code still tries to wait 10 thousand times 10 microseconds, which on many (correct!) unix-implementation

[2020-03-19 15:34] Nightwalker-87 commented on #266
@zyura @fishpepper: I'm currently reviewing old issues. Can you please test this with Release v1.2.0? If it does not solve this issue please try later releases, so that this issue can be solved and allocated correctly within the project.

[2020-03-19 15:40] jhgorse commented on #147
@Nightwalker-87 I no longer use semihosting, per the comment above. Haven't for about 5 years now. =)

[2020-03-19 15:42] Nightwalker-87 commented on #290
I'm currently actively maintaining the project for the benefit of all and would like to add solved issues to the dedicated milestones. This also ensures that the CHANGELOGs can be updated properly. So far I've already spent quite a few efforts to clean this up. However this requires some help by others/authors where I can't do any verification on build systems and hardware I do not have.

[2020-03-19 15:49] Nightwalker-87 commented on #147
I understand. Thx for your reply though. Asking @bfoz then or anyone else who is capable to test this. Pointing out other solutions outside of this project may be useful, but obviously do not take this project any further.

[2020-03-19 15:56] Nightwalker-87 commented on #220
@sinosoidal : I'm currently reviewing old issues. Can you please test this with Release v1.2.0? If it does not solve this issue, please try later releases, so that this issue can be solved and allocated correctly within the project. Thx in advance.

[2020-03-19 16:00] rewolff commented on #290
So... I don't remember what triggered the long waits, but from code inspection we can see that it hasn't been fixed. Do you need a pull request?

[2020-03-19 16:00] Nightwalker-87 commented on #787
@goog: Please verify if this problem persists with Release v1.6.0.

[2020-03-19 16:02] Nightwalker-87 commented on #806
@sevgicorumlu: Can you shortly describe what action solved this issue for you? Thx in advance.

[2020-03-19 16:04] Nightwalker-87 commented on #290
Ok, so feel free to do so :-)

[2020-03-19 16:14] mik00 commented on #227
Not an issue for me any more thanks.

On Thu, Mar 19, 2020, 06:41 Nightwalker-87 <notifications@github.com> wrote:

[2020-03-19 16:17] Nightwalker-87 commented on #227
So we need somebody else to test...

[2020-03-19 16:27] mik00 commented on #227
Yes. Sorry, this was six years ago.  I'm working on different hardware in a
different IDE now.

On Thu, Mar 19, 2020 at 9:17 AM Nightwalker-87 <notifications@github.com>
wrote:

[2020-03-19 16:51] rewolff commented on #290
Done.

[2020-03-19 17:40] rewolff commented on #881
The patch I made for this was pulled with the fix for #290 But if you want the more wordy F72x/F73x instead of the F72/F73 that I used to stay more in line with the existing code I can create another pull request.

[2020-03-19 18:48] Nightwalker-87 commented on #841
@FFY00: Please verify if the problem still exists in Release v1.6.0.

[2020-03-19 18:50] Nightwalker-87 commented on #831
@alexonea: Please verify if the problem still exists in Release v1.6.0.

[2020-03-19 18:54] Nightwalker-87 commented on #627
@SQLek: Please verify if the problem still exists in Release v1.5.0.

[2020-03-19 18:59] Nightwalker-87 commented on #801
@bmarvo Can you verify this with Release v1.6.0?
Please also check if there is a correlation to issue 290.

[2020-03-19 19:00] Nightwalker-87 commented on #792
@maidenone: Please verify if the problem still exists in Release v1.6.0.

[2020-03-19 19:35] gimbas commented on #841
I tested just now with v1.6.0
this is the output:
[code]

[2020-03-19 19:40] Nightwalker-87 commented on #841
Thx for testing. This clearly needs to be addressed.

[2020-03-19 19:42] Nightwalker-87 commented on #881
No, that's just fine. We can address more than one issue with a single PR.

[2020-03-19 19:52] Nightwalker-87 commented on #791
@goog: Please verify if the problem still exists in Release v1.6.0.

[2020-03-19 19:57] Nightwalker-87 commented on #692
@Cheng-SG: Please verify if the problem also exists in Release v1.5.0.
If yes, please go on and test with v1.5.1 and 1.6.0. We need to check that first.

[2020-03-19 19:59] AndKe commented on #792
it works fine for me. my error was that I had two "alike" StLink2's with a little different pinout.

[2020-03-19 20:01] Nightwalker-87 commented on #681
@WRansohoff: Please verify if the problem still exists in Release v1.5.1.

[2020-03-19 20:14] Nightwalker-87 commented on #716
@lkord @artbody @RockyF: What st-link version are we talking of? We need more details here on build environments and hardware.

[2020-03-19 20:18] Nightwalker-87 commented on #669
@Tyrn @lhoyosm: What is the current status of this issue? Is it hardware- or software-related?
Please test with Release v1.4.0 and v1.5.0 first.

[2020-03-19 20:21] Nightwalker-87 commented on #792
Ah ok. Are you talking about STLink-v2 _clones_ with different pinouts?

[2020-03-19 20:25] Nightwalker-87 commented on #155
@Brutte: Can you put this back on the agenda with a useful PR? It may be worth a discussion.

[2020-03-19 20:30] AndKe commented on #792
yes, I think that is what was my problem, in any case, I can program them now.

[2020-03-19 20:32] Nightwalker-87 commented on #792
Ok, thx for the feedback. Closing this issue now as resolved.

[2020-03-19 20:32] #792 closed

[2020-03-19 20:39] Nightwalker-87 commented on #620
@bryanmonti @jcw @TediumRemedy @el2ro: What is the current state of this for each of you? Is this hardware- or software-related?

[2020-03-19 20:40] emmettammons commented on #231
i've been away from computer programming for several years now.  i
don't remember what this issue was.

thanks.

emmett

On Thu, Mar 19, 2020 at 6:11 AM Nightwalker-87 <notifications@github.com>
wrote:

[2020-03-19 20:42] Nightwalker-87 commented on #640
@remi22: What is the current state of this? Have you found a solution?

[2020-03-19 20:52] Nightwalker-87 commented on #231
@emmettammons: Thanks for your feedback. I understand, as this has been left untouched for such a long time. I'm sorry to see that. :-/
I've just started to take action as one of the new project contributors.
Closing this now as resolved.

[2020-03-19 20:52] #231 closed

[2020-03-19 20:52] Nightwalker-87 commented on #231
@emmettammons: Thanks for your feedback. I understand as this has been left untouched for such a long time. I'm sorry to see that. :-/
I've just started to take action as one of the new project contributors.
Closing this now as resolved.

[2020-03-19 21:00] Nightwalker-87 commented on #238
@rewolff: What is the current state of this topic? Is there a correlation to issue 290 in terms of being delay-related?

[2020-03-19 22:04] jcw commented on #620
I have not run into this recently (but then again, I use a mix of openocd and stlink for uploading to various boards). I can confirm that chipid 0 will definitely show up when some µCs are in stop/standby mode, e.g. for STM32L031:

[code]

I can't make this go away by holding the µC in reset, but I _can_ upload to it with openocd with reset pressed, and then released once the upload hangs - at tha

[2020-03-19 22:23] lhoyosm commented on #669
For me the issue was due to a wrong configuration of the STM32 Chip that caused the communication to fail. After programming, It looked like it was "bricked" as the SWDIO and SWCLK pins were reconfigured as GPIO and the error message was displayed when trying a reprogram.

I think "unknown chip id! 0x_______" is a synonym of a connection problem, if nothing is connected that is displayed. Maybe a

[2020-03-19 23:26] Nightwalker-87 commented on #669
Thank you very much for the feedback which appears to be helpful.
The idea of improving the displayed message does make sense to me.
I'll check this and forward it as a feature request to Release v1.6.1.

[2020-03-19 23:35] remi22 commented on #640
Hi, I am sorry to answer late. It's been quite a while since I used an STM32. I really don't remember why I had the issue.

[2020-03-19 23:35] #640 closed

[2020-03-19 23:59] Nightwalker-87 commented on #585
@petertorelli: Please submit this proposal in form of a PR so that it can be properly addressed.

[2020-03-20 00:14] Nightwalker-87 commented on #661
@ksschwabe @aric1987: Please verify if the problem still exists in Release v1.5.0.

[2020-03-20 00:37] Nightwalker-87 commented on #672
@mahershaikh1: Have you found a solution for this problem? If yes, please let us know.

[2020-03-20 00:39] Nightwalker-87 commented on #655
@nedsana: Please verify if the problem still exists in Release v1.5.0.

[2020-03-20 00:45] Nightwalker-87 commented on #593
@spth @Faduf : What is the current state of this? Have you found anything out apart from the workaround?

[2020-03-20 00:46] Nightwalker-87 commented on #468
@kgoba: Please verify if this problem still persists.

[2020-03-20 00:57] Nightwalker-87 commented on #788
@sharma-kullu: Any update on this?

[2020-03-20 01:08] Nightwalker-87 commented on #621
@gplsquared: Which st-link version did you use?

[2020-03-20 07:05] rewolff commented on #238
Two things.
1) Issue #290 is about the computer-side of things. When the CPU doesn't react as we expect it to, you can wait for a little while and try again. If after say 100ms the CPU still hasn't responded, you can bet your ass that it never will. That's how the code was written. But due to Linux and other Unix-like operating systems having to round small delays up to a multiple of a tick, when

[2020-03-20 08:11] nedsana commented on #655
Hi,

I am not working this project any longer (for more then 2.5 years) and my
setup is long gone.
So I can not make any verification. I am sorry for this. I guess you can
consider this issue resolved and close it.

Greetings, Nedelin.

On Fri, Mar 20, 2020 at 2:39 AM Nightwalker-87 <notifications@github.com>
wrote:

[2020-03-20 11:11] Nightwalker-87 commented on #238
Thank you very much for the detailed explanation which is indeed very helpful.

As it reads, point 2) does seem hardware related. As I understand it this is related to a non-unified pinout between original STLink-v2 programmers and STLink-V2 clones regarding the Reset-Line.
So this may want a note in our documentation to advise users to check whether their Reset-Signal is addressed via the right p

[2020-03-20 11:20] Nightwalker-87 commented on #655
Thx for your feedback. As one of the new contributors of this project I am currently reviewing leftovers from the recent years. Sorry to see that this ticket seems to have gone down the sink without any further feedback to you. Have you found any solution or workaround however you can still remember?

[2020-03-20 11:22] Nightwalker-87 commented on #597
@master-q: Has there been any further progress on this (e.g. a test with Release v1.4.0) ?

[2020-03-20 11:27] Nightwalker-87 commented on #458
@vladiks: I believe this feature is still missing. Any update on this?

[2020-03-20 11:29] Nightwalker-87 commented on #333
@dflogeras @manuvelayudhan @niallp: I believe this feature is still missing. What is the current state of this for all of you?

[2020-03-20 11:33] Nightwalker-87 commented on #841
Have you ruled out any hardware issues?

[2020-03-20 11:49] Nightwalker-87 commented on #766
Fixed in commits f5d0454ab0a18f209ad5b7d0d51f3945b27dd892 and b40c2436b68a35544a1eae10f4b6a3de7648a566

[2020-03-20 11:49] #766 closed

[2020-03-20 11:50] Nightwalker-87 commented on #766
Fixed in commits f5d0454ab0a18f209ad5b7d0d51f3945b27dd892 and b40c2436b68a35544a1eae10f4b6a3de7648a566.

[2020-03-20 11:52] Nightwalker-87 commented on #657
@homer242: Please verify if the problem still exists in Release v1.5.0.

[2020-03-20 11:55] Nightwalker-87 commented on #642
@MarekLew: What is the current state of this?

[2020-03-20 11:58] Nightwalker-87 commented on #160
@SietseAchterop @cstratton @dimanlin: Which versions of the st-link toolset did you use? Please provide more details on your setups and build environments and describe the problem more precisely.

[2020-03-20 12:04] Nightwalker-87 commented on #612
@binary-nerd @fuzzyTew: Any updates on this? Have you tried with Release v1.4.0?

[2020-03-20 12:11] Nightwalker-87 commented on #844
@zx81a: Please provide a PR for this.

[2020-03-20 12:25] rewolff commented on #238
The reset line not being wired up can be considered a "hardware issue".

But it explains a few things. First of all, original developer may have had that reset line hooked up and "debugged until it worked". So that might explain why this stlink software "requires" it.
On the other hand, maybe the windows software does NOT use the hardware reset line. That would explain why the chinese clones were

[2020-03-20 12:43] rewolff commented on #817
I suspect this might be the same "flash loader run error" that I've tested as "resolved in 1.6.0". I'd recommend closing this for now.

[2020-03-20 13:14] Nightwalker-87 commented on #254
@dflogeras  @rewolff: What is the current state here?

[2020-03-20 13:25] Nightwalker-87 commented on #238
Closes #868.

[2020-03-20 13:28] Nightwalker-87 commented on #868
As this does not seem related to CKS32F103 there is also no need for testing related to this issue.
Closed by issue #238.

[2020-03-20 13:47] #881 closed

[2020-03-20 13:48] #290 closed

[2020-03-20 14:11] Nightwalker-87 commented on #267
@prattmic: Are you sure about this? I mean why would it have been added to the README then?

[2020-03-20 14:16] Nightwalker-87 commented on #387
@andy-y-li: Please verify if this has been resolved in Release v1.2.0 and v1.3.0.

[2020-03-20 14:29] Nightwalker-87 commented on #438
Can somebody with a MinGW64 environment test this properly?
Has this been addressed in Release v1.3.0?

[2020-03-20 14:33] Nightwalker-87 commented on #875
Is there anybody who is able to contribute on this issue?

[2020-03-20 14:40] rewolff commented on #254
I don't know.
It is not something I'm able to reproduce. I'd say with the "reset through SWD" improvements that I can test for in 1.6.0, this stands a chance of having been a manifestation of the same bug and therefore fixed by the same update.
I suggest closing this unless someone shows up saying it can still be reproduced.

[2020-03-20 14:46] slyshykO commented on #438
@Nightwalker-87 Do you want if somebody confirms this bug for 1.3.0 ver or test current state?
If v1.3.0 case, with which version of mingw64-gcc ?

[2020-03-20 14:50] Nightwalker-87 commented on #438
Can you try MinGW 5.3.0 on Release v1.3.0 (as it reads in the issue description) ?

[2020-03-20 15:04] slyshykO commented on #438
Can try with MinGW 5.4.0. Can't find a 5.3 version.

[2020-03-20 15:16] Nightwalker-87 commented on #879
@tdjastrzebski: Can you submit a PR?

[2020-03-20 15:32] Nightwalker-87 commented on #438
What about https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win64/Personal%20Builds/mingw-builds/5.3.0/ ?

[2020-03-20 15:36] Nightwalker-87 commented on #438
ok then. Give it a try, but note our documentation is still with 5.3.0.
I currently don't know if this is for any reason...

[2020-03-20 15:42] dflogeras commented on #254
I agree, this was so long ago I would be very difficult for me to reproduce.  Let's close it.

[2020-03-20 15:46] #752 closed

[2020-03-20 15:54] dflogeras commented on #333
I agree this is unimplemented, but I have no opinion on how to proceed.  In recent times, when I've needed said function, I've had access to a windows computer and just used ST's utility to do so.

[2020-03-20 15:56] Nightwalker-87 commented on #254
Thx for the feedback you two.
@rewolff: I'm just thinking about the correct issue number one should link this to when closing it. This is currently quite difficult and confusing, as there are so many cross-references between related issues. Can you make a useful proposal, as you seem to be in the topic quite well...

[2020-03-20 16:02] Nightwalker-87 commented on #333
I see, but I may be useful for others. This makes me feel like we should leave this open, but of course can keep you out of the topic for the ongoing conversation.

[2020-03-20 16:33] rewolff commented on #254
It seems that in the past lots of issues were closed after nobody had done anything for say more than 3 years. I think it is a good idea to go through the old issues to reopen them to see if it has been fixed. But it seems you are also trying to tag the precise fix that fixed this.
I think that's a waste of effort. When an old issue "seems fixed" just close it with "was fixed with or before 1.6.0"

[2020-03-20 16:52] #759 closed

[2020-03-20 17:21] Nightwalker-87 commented on #568
Reopening this for further investigation.

[2020-03-20 17:45] Nightwalker-87 opened #884 "[doc] Add missing documentation for stlink-gui"
As mentioned before in #770 the documentation is missing a section about `stlink-gui`.

[2020-03-20 17:55] #774 closed

[2020-03-20 18:42] gimbas commented on #841
guaranteed not to be an hardware issue.

[2020-03-20 18:55] slyshykO commented on #438
This is my log:
[code]

[2020-03-20 19:32] homer242 commented on #657
Hi,

I will try this version next monday and let you know the result.

Regards,

Le ven. 20 mars 2020 à 12:52, Nightwalker-87 <notifications@github.com> a
écrit :

[2020-03-20 20:39] Nightwalker-87 commented on #798
@slyshykO: Can we provide binaries for Windows now based on PR 805? Can you explain?

[2020-03-20 20:49] Nightwalker-87 commented on #795
Is anybody willing to go through a windows binary installation and would write some documentation to complement our README.md?

[2020-03-20 20:57] xloem commented on #612
I'm sorry, I no longer have ready access to this hardware.

[2020-03-20 21:02] Nightwalker-87 commented on #438
:-( Well, at least we know now that we still have a problem here... Thx for testing this. :+1:

[2020-03-20 21:05] Nightwalker-87 commented on #612
Ok, no problem. Thx for your feedback tough.

[2020-03-20 22:25] Nightwalker-87 commented on #629
@blacklion: Does it already work with v1.5.0? This would be good to know to allocate this ticket to the correct version in the changelog. I am trying to find the related fix for it.

[2020-03-20 22:37] Nightwalker-87 commented on #698
@protodmorgan: Which version did you originally use? Does it already work with v1.5.1? This would be good to know to allocate this ticket to the correct version in the changelog. I am trying to find the related fix for it.

[2020-03-20 22:51] nedsana commented on #655
Hi,
I think I never solved the problem. Besides we focused on using esp32
device, but a few months later the whole project was put aside ...
Greetings, Nedelin

На пт, 20.03.2020 г., 13:21 Nightwalker-87 <notifications@github.com>
написа:

[2020-03-21 07:26] slyshykO commented on #798
@Nightwalker-87 Did you mean #802? If so, I think yes. The project has the ability to be built for windows. And one of the options is to build in Travis.

[2020-03-21 10:18] Faduf commented on #690
@Nightwalker-87 sorry for not giving feedback on this topic but I'm stuck at home due to the coronavirus pandemy. My boards with the F0 chip are at the office and I can't go there until few weeks.

[2020-03-21 11:04] Nightwalker-87 commented on #690
@Faduf: No problem at all, we're not in a hurry. Thx for your feedback. :+1:

[2020-03-21 11:11] #585 closed

[2020-03-21 11:29] Nightwalker-87 commented on #874
@texane: Could you switch the default branch from `master` to `develop` for future PRs? Thx.

[2020-03-21 12:46] Nightwalker-87 commented on #798
Eh - yes of course. As you seem quite familiar with this topic, can you add some instructions to `/doc/compiling.md` and `/doc/release.md` via a PR and link this ticket to it? We can then add this as a documentation-update to Release 1.6.1.

[2020-03-21 13:30] Nightwalker-87 commented on #240
@rewolff: Your proposal seems very reasonable to me. If you fancy, you may submit a PR for this which is linked to this issue.

[2020-03-21 13:36] Nightwalker-87 commented on #240
BTW: I assume there may be more of these "hidden" error codes that could see some "decription" as well.

[2020-03-21 13:57] Nightwalker-87 commented on #378
@gerryqd: What is the current state of this?

[2020-03-21 14:08] rewolff commented on #240
Working on it....

FYI, I had trouble getting an STM recognized. Probably an older version of stlink. Getting latest now.

[code]

[2020-03-21 14:23] Nightwalker-87 commented on #240
Yes, please use v1.6.0 or even `develop` which itself is despite of the name also fairly stable.

[2020-03-21 14:27] Nightwalker-87 commented on #240
Note: PRs will go into `develop` anyway. Please consider this when opening such in the future.

[2020-03-21 14:56] Nightwalker-87 commented on #600
@TheColonelYoung: Please retry with Release 1.4.0. This may have been fixed with PR 595.
We need to verify this.

[2020-03-21 15:05] Nightwalker-87 commented on #609
@ponty or anyone else: Please re-test this with Releases v1.4.0 up to v1.6.0 to check if this has been fixed in the meanwhile. If not, please submit a pull request.

[2020-03-21 15:10] Nightwalker-87 commented on #646
@ponyatov: What is the current state of this issue? Which release version did you use? Can you please provide more details on your build system.

[2020-03-21 15:17] Nightwalker-87 commented on #658
@mbriday: Can you re-test and verify your observation with a clean build of Release v1.4.0? Should there be no change I'd suggest to retry with v1.5.0 and provide feedback to us.

[2020-03-21 15:21] Nightwalker-87 commented on #659
@martonmiklos: Any progress on this?

[2020-03-21 15:27] rewolff commented on #240
Sorry, didn't see your remark about using develop until after I finished the PR. Can you cope or do I need to redo it?

[2020-03-21 15:35] Nightwalker-87 commented on #662
@VARSHNED: Any progress on this? Can you reproduce? If yes, please try Release v1.5.0.

[2020-03-21 15:41] Nightwalker-87 commented on #240
No that's ok, I can fix this as well. I know this is a bit annoying to contributors. :-/ I've already consulted texane to switch the base branch to `develop` what would take this additional consideration away from users. If I could, I would have done that already.

[2020-03-21 15:55] Nightwalker-87 commented on #679
@cedricboudinet: Which release version did you use?

[2020-03-21 15:58] Nightwalker-87 commented on #784
@fd9750 @pan-mroku: What is the current state of this? Have you found a solution you can tell us about?

[2020-03-21 16:08] Nightwalker-87 commented on #596
@JonasWestAlro: What is the current state of this? Have you found a solution in the meanwhile? Can you rule out any hardware related issues? Please let us know.

[2020-03-21 16:11] Nightwalker-87 commented on #586
@DanielAW: What is the current state of this? Have you found a solution?

[2020-03-21 16:13] rewolff opened #887 "STLink in error state does not abort the program."
After changing a few things I suddenly decided to try to test "no device attached". I detached the target ground pin and I think this sent the STLINK into an error state.

When the STLINK is in error state, starting up as normal is not the right thing to do.

[code]

[2020-03-21 16:14] Nightwalker-87 commented on #149
@2sheds: Was there a problem with this device on your side?

[2020-03-21 16:15] rewolff opened #888 "MCU hotplug - stlink doesn't recover the STLINKV2 from error state."
When hotplugging CPUs or boards,  the STLINK often goes into  "error"  state. Not sure if it CAN be recovered, but if possible, resetting the error state would be nice. :-)

[2020-03-21 16:16] rewolff commented on #888
I currently know of only one way to clear the error state: unplug and replug the STLINK.

The cause for the "errorstate" is, I suspect, that the decoupling caps in the target pull the 3.3V on the stlink low enough that the STLINk crashes. So maybe there is nothing to recover.

[2020-03-21 16:18] rewolff commented on #888
Old version:  (aborts as expected).
[code]
Recent version that does not abort.
[code]

[2020-03-21 16:42] ponyatov commented on #646
I have no experience with this a lot of time ago, sorry.

[2020-03-21 16:42] #646 closed

[2020-03-21 17:21] rewolff commented on #887
Fixed by pull #890

[2020-03-21 18:37] mmikkone opened #891 "Build fails"
Make ends up in following error:

/home/osboxes/shared/Ohjelmointi/stlink-master/src/usb.c: In function ‘_stlink_usb_version’:
/home/osboxes/shared/Ohjelmointi/stlink-master/src/usb.c:192:18: error: comparison of integer expressions of different signedness: ‘ssize_t’ {aka ‘int’} and ‘uint32_t’ {aka ‘unsigned int’} [-Werror=sign-compare]
         if (size != rep_len) {
                  ^~
cc1: all

[2020-03-21 18:42] slyshykO commented on #891
Hello @mmikkone. Look like this issue was already fixed in develop branch.

[2020-03-21 19:04] rewolff commented on #887
Hey Nightwalker, I might seem to be able to fix a thing or two, but this one is out of my league. I can program Unix-programs just fine, and I can write embedded stuff for AVR and STM, but interacting with an STLINK is not my specialty.

The previous things I fixed were simple "just search for where the message comes from" and change that. But this one would be nice-to-fix if someone who knows the

[2020-03-21 19:22] mmikkone commented on #891
Thank you. I was able to build it from develop branch.

[2020-03-21 20:28] slyshykO commented on #438
@Nightwalker-87
This is the log for stlink-v1.6.0

[code]

For me, it looks like this is not an issue anymore.

[2020-03-21 20:34] Nightwalker-87 commented on #438
Oh, that looks better. :-)
How about v1.5.0 and/or v.1.5.1?
Still looking for where to allocate this now solved issue (changelog / git-milestone / linked fix).
I will go through the changelog again to have a closer look.

[2020-03-21 20:50] slyshykO commented on #438
This is output for stlink-v1.5.1

[code]

Before v1.5.1, I observe issues in output of st-info.

[2020-03-21 20:51] #887 closed

[2020-03-21 20:58] slyshykO commented on #772
Hello @vanfanel. Can you check the develop branch if this issue is gone?

[2020-03-21 21:05] #240 closed

[2020-03-21 21:32] Nightwalker-87 commented on #533
It reads, as if this has been fixed in PR #534 already.
@rewolff: You didn't use v1.3.0, did you?

[2020-03-21 21:39] Nightwalker-87 commented on #891
Fixed with PR #872.

[2020-03-21 21:39] #891 closed

[2020-03-21 21:42] Nightwalker-87 commented on #869
Fixed in PR #872.

[2020-03-21 21:42] #869 closed

[2020-03-21 22:15] Nightwalker-87 commented on #438
Could be PR 680, 695 or 704...

[2020-03-21 22:19] Nightwalker-87 commented on #855
@vicatcu: Can you rule out any hardware issues?

[2020-03-21 22:28] Nightwalker-87 commented on #240
@rewolff: We should have a new ticket for this as it did not make it into PR 886.

[2020-03-21 22:39] Nightwalker-87 commented on #854
@fadedbee: Can you do a clean rebuild of v1.5.1 and retest? If this is not successful I suggest to test v1.6.0 afterwards. Please report to us about the result.

[2020-03-21 22:44] Nightwalker-87 commented on #532
@JoeMerten @aoreh: I'm currently reviewing old leftovers. What is the current state of this? Can you confirm this this not a hardware-related issue? Have you tried with Release v1.3.0?

[2020-03-21 22:56] Nightwalker-87 commented on #820
Hey! How are you getting along?

[2020-03-21 23:12] Nightwalker-87 commented on #888
Not very nice indeed... Thx for putting this up. :+1:

[2020-03-21 23:15] Nightwalker-87 commented on #777
I believe this is not something common users should need to think about...

[2020-03-21 23:20] Nightwalker-87 commented on #777
@spacerace: Please do a clean build with v1.5.1 first so that you can ensure that there are no leftovers and then retry. If not successful you may move on to v1.6.0. Additional feedback to us would be helpful indeed.

[2020-03-21 23:28] Nightwalker-87 commented on #744
@slyshykO: Old and/or incompatible libusb version probably?

[2020-03-21 23:39] Nightwalker-87 commented on #437
@bmarvo: I remember that you raised interest to talk about this as well...

[2020-03-21 23:55] Nightwalker-87 commented on #846
@dhineshkumarmcci: Would it be possible for you to find out which is the first version to work as expected? (v1.3.1, v1.4.0, v1.5.0) That would help to allocate, archive and link this issue correctly within the project.

[2020-03-22 00:37] Nightwalker-87 commented on #113
See also #211.

[2020-03-22 01:11] Nightwalker-87 commented on #312
@vmishev @framlin: I know this is old, but can you tell us, if you could manage to get it working with Release v1.2.0?

[2020-03-22 01:13] Nightwalker-87 commented on #623
ping @xtrinch

[2020-03-22 01:18] Nightwalker-87 commented on #237
I agree on that. This is not a good practice.

[2020-03-22 01:22] Nightwalker-87 commented on #218
@prattmic: Can we be sure about this?

[2020-03-22 05:16] slyshykO commented on #744
I don't know. Never use libusb-driver for windows. Always use st-link drivers  provided by ST

[2020-03-22 05:18] slyshykO commented on #846
@Nightwalker-87, Think this is the same issue as #438

[2020-03-22 05:22] slyshykO commented on #623
@Nightwalker-87, Think it is connected with #438 also.

[2020-03-22 07:40] rewolff commented on #533
No. On my current system with the "build system change" between 1.2.0 and 1.3.0  something was introduced that causes the build to fail on my system. This was only fixed between 1.5.0 and 1.6.0 .

So I can't test 1.3.0 to 1.5.0 for you. Sorry.

[2020-03-22 09:00] riasol opened #892 "emote branch"

[2020-03-22 09:01] #892 closed

[2020-03-22 11:07] slyshykO commented on #438
I give up 😪.
PR #680 still have an issue.
PR #695 & #704 won't compile (somesibg wwong with cmake project).
[code]

[2020-03-22 11:08] rewolff commented on #240
My testing shows that it does sensible things now. That's why I didn't do anything for this.

OK... Mine now says:
`2020-03-22T12:05:32 WARN common.c: Invalid flash type, please check device declaration
`
and doesn't consider that fatal. I can dive in and make this message "fatal", but I don't know if it maybe makes sense to have the debugger connected without knowing "flash type"? Maybe debugging

[2020-03-23 00:29] niallp commented on #333
On 2020-03-20 9:02 a.m., Nightwalker-87 wrote:

I've used the patch by Manu when I've needed it though haven't touched
it for a while. It would be nice to see the functionality in the mainline.

             ... Niall

[2020-03-23 12:48] Nightwalker-87 commented on #744
@mj1226: I don't think that we can ensure compatibility and provide support for libusb drivers from other software projects. I propose you to verify your hardware is ok and then to retry with a clean build of Release v1.3.0. If that does not solve the problem, proceed with Release v1.3.1. Please open a new ticket then. Closing this this old ticket now, as useful advice has been provided.

[2020-03-23 12:48] #744 closed

[2020-03-23 12:56] Nightwalker-87 commented on #846
Well, they may be related, but the error message is different.

[2020-03-23 14:43] Nightwalker-87 commented on #623
@slyshykO: Yes, this obviously is the same as in your MinGW test there.

Duplicate of #438.

[2020-03-23 14:53] Nightwalker-87 commented on #533
@rewolff: That's ok, don't bother about it too much. Your feedback is helpful as well.
I think we may have false friends here looking at the link to the PR. I'll dereference this.

[2020-03-23 15:06] Nightwalker-87 commented on #438
Don't try to force it - things will become clearer someday. I may take a closer look, as soon as I find some time. Can you give me some advice regarding a correct MinGW setup in a Win10 VM (which appears useful anyway) besides the (outdated?) documentation?

[2020-03-23 15:14] Nightwalker-87 commented on #333
This should better go into the code. I'm not so happy if such workarounds remain present for too long. As it reads, this could also be an ordinary feature.

[2020-03-23 15:23] homer242 commented on #657
I have just tested with the version 1.5.1 available in debian buster. I was able to flash my board:

`st-flash write /home/avd/wksp/dev/output/images/img.bin 0x8000000
st-flash 1.5.1
2020-03-23T16:13:24 INFO common.c: Loading device parameters....
2020-03-23T16:13:24 INFO common.c: Device connected is: L496x/L4A6x device, id 0x20006461
2020-03-23T16:13:24 INFO common.c: SRAM size: 0x40000 bytes (2

[2020-03-23 15:36] Nightwalker-87 commented on #657
@homer242: Thx. Release v1.5.0 did not work?

[2020-03-23 15:52] Nightwalker-87 commented on #657
Edit: ... but it is in wrong chronological order. Very confusing to me.

[2020-03-23 15:55] slyshykO commented on #438
- I did never really "install" toolchains. Always just download archive and simply extract it in the destination folder.
- A folder path should contain only ASCII without spaces.

For compile with a certain toolchain, I usually write a simple *.bat script. Like this:
[code]

[2020-03-23 16:01] Nightwalker-87 commented on #254
I'll leave this for now to focus on the other stuff needed for Release v1.6.1.
It will neither get "lost" nor "forgotten" for a second time as all issues with a unclear or open state now remain in a separate milestone and _every_ issue is tagged to a milestone.
Also all new releases will be maintained as projects.

[2020-03-23 16:10] rewolff commented on #254
What timeframe are we looking at for 1.6.1? I've found some problems that I seem to have caused, so I need to fix it....

[2020-03-23 16:11] Nightwalker-87 commented on #852
The first thing here is: We need at least one contributor on a macOS 10.14 (Mojave) and 10.15. (Catalina) environment. And it would also be a nice to have, if a STlink-v1 programmer was present besides a STLink-v2, as this would also help to fix/verify the other two issues already linked. Volunteers step forward!

[2020-03-23 16:14] Nightwalker-87 commented on #254
This is displayed on the milestone for every upcoming release.
For v1.6.1 I considered June 2020 for now, which may be subject to change according to workload and contributions.

[2020-03-23 16:27] Nightwalker-87 commented on #852
@ihassin: Can you describe more precisely what you did? You wrote that you connected the Bluepill and that it is blinking, this is just fine as the Blinky program is linkely to be preflashed prior to shipping. Here there is not driver to expect, as the USB port only serves to power the board in this state. Is your STLink-v2-clone Programmer recognised on USB?

[2020-03-23 16:31] rewolff commented on #254
I aim to fix stuff I've seen this week. Bother me if you don't hear from me.

[2020-03-23 16:49] homer242 commented on #657
I do not know whether it works with the version 1.5.0 or not.

I forget lot of things about the issue context. Apparently, the flash operation did not work with the version v1.4.0-13-g1969148 and my board based on STM32L4 microchip. Indeed, the PR #615 says I make a fix for STM32L496xx/4A6xx devices and it was before I opened this issue. It is a little bit disturbing.

I think the story is I did a

[2020-03-23 17:09] Nightwalker-87 commented on #657
I see. So if you say it may have been a hardware related problem, which is no longer reproducible, I'd suggest to link this to the mentioned PR without changing the title. The latter would not help any further as the circumstances are too old to remember precisely. To sum it up: You did a PR for v1.5.0 which adds support for the mentioned board and later used tried with v1.4.0 and reported this. (

[2020-03-23 17:11] #657 closed

[2020-03-23 17:30] Nightwalker-87 commented on #113
As of today this also applies to several linux/unix distributions namely:

- CentOS 6, 7, 8
- Debian 8, 9, 10, sid
- Fedora 30, 31, Rawhide
- NetBSD 7.2, 8.1, 9.0
- openSUSE Leap 15.1, Leap 15.2
- Ubuntu 14.04 LTS, 16.04 LTS, 18.04 LTS, 19.10

Other relevant distributions appear to have packages named `libusb-compat-0.1` or alike to distinguish from `libusb` packages based on version 1.0.x.

[2020-03-23 18:14] Nightwalker-87 commented on #113
Closed by 10ae5294cd03aacfc07312010f026d3cb12ea56c.

[2020-03-23 18:14] #113 closed

[2020-03-23 18:51] ihassin commented on #852
Hi, and thanks for following up!

Correct - Blinky works, so I used that to validate that I have a good board.
Inserting the USB cable to my Mac Catalina 10.15.3 did not make a USB device appear, hence could not communicate with it. Am I doing something wrong? I’d love to be able to help somehow. I’ve never programmed MacOS at the device level, but am willing to learn, if you can take on an appren

[2020-03-23 19:09] Nightwalker-87 commented on #211
Research reveals: `libusbx` remains present in the following distributions:

- CentOS 7, 8
- Fedora 30, 31, Rawhide
- Slackware 14.1, 14.2, Current

[2020-03-23 19:12] Nightwalker-87 commented on #852
What was connected via the USB you attached, the Board or the STLink-v2-Programmer?

[2020-03-23 19:29] Nightwalker-87 commented on #782
@slyshykO: #211 told me something about the background of this issue. This is where `LIBUSBX_API_VERSION` comes from. I think we should get rid of this now, as it is still found in `/src/sg.c` L940ff. It smells... <º))))>< ...rotten. :-D We neither need it nor do I like to keep it.

[2020-03-23 19:45] slyshykO commented on #782
@Nightwalker-87
This is short summary https://github.com/libusb/libusb/wiki/FAQ#libusborg_libusbxorg_and_libusbinfo .

[2020-03-23 19:48] Nightwalker-87 commented on #782
Yes, I came across that somewhere else in relation to the mentioned issue above.
It doesn't change my opinion though...

[2020-03-23 20:11] Nightwalker-87 commented on #782
EDIT: **...BUT** as #733 reveals by the state of August 2018: At least FreeBSD v11.3 still seems to rely on it, as they indeed appear to use an old version. Can a FreeBSD user clarify or confirm this to ensure we do not run into a regression here? BTW: What about Fedora (see #211)? We may not care about the remaining distros in that list.

[2020-03-23 20:19] Nightwalker-87 commented on #833
I'll take a look at this now with this environment:
- Debian Buster
- stlink tools v1.6.0
- STlink-v2 Programmer (clone) [CKS32F103C8T6]
- CKS32F103C8T6 Bluepill-Board labeled as "STM32F103C8T6"

[2020-03-23 20:19] slyshykO commented on #782
This

[2020-03-23 20:23] Nightwalker-87 commented on #782
Sorry, I missed the second part of it. :$
Let's get rid of it then... <º))))>< --> \_/

[2020-03-23 20:25] slyshykO commented on #782
My opinion is since libusbx reunited with libusb in **2014** we should not care about it.

[2020-03-23 20:28] Nightwalker-87 commented on #782
I'm on about this:

[2020-03-23 20:29] Nightwalker-87 commented on #782
I agree that cleaning this up does close this ticket as well as #211.

[2020-03-23 20:37] Nightwalker-87 commented on #756
I'll take a look at this now with the following environment:
- Debian Buster
- stlink tools v1.6.0
- STlink-v2 Programmer (clone) [CKS32F103C8T6]
- CKS32F103C8T6 Bluepill-Board labeled as "STM32F103C8T6"

[2020-03-23 20:40] Nightwalker-87 commented on #761
Duplicate of #756.

[2020-03-23 20:41] Nightwalker-87 commented on #833
Duplicate of #756.

[2020-03-23 20:59] Nightwalker-87 commented on #163
@burnsfisher: I am doing project maintenance. Which PR was that? Can you have a look? Thx.

[2020-03-23 21:17] Nightwalker-87 commented on #211
Commit d2b5f8dbfbb0458e90cde4c90de025e7ae518b7b removes support for `LIBUSBX_API` (deprecated since 2016) and closes this issue.

[2020-03-23 21:17] Nightwalker-87 commented on #782
Commit d2b5f8dbfbb0458e90cde4c90de025e7ae518b7b removes support for `LIBUSBX_API` (deprecated since 2016) and closes this issue.

[2020-03-24 00:21] Nightwalker-87 commented on #735
We will be having problems relating kexts in future releases of macOS as these have been deprecated by Apple: https://developer.apple.com/de/support/kernel-extensions/

This implies the need for a new approach to ensure the same functionality currently present.

[2020-03-24 00:31] Nightwalker-87 commented on #864
@martonmiklos: As you can see I've moved this to the v1.6.2 milestone for now, which is currently planned for September 2020 - so this can remain outstanding for quite some time. I assume that we will see quite some changes in v1.6.1, so it seems reasonable to wait with this in order to avoid (additional) incompatibilities.

[2020-03-24 00:36] Nightwalker-87 commented on #314
@andrey-gvrd: What version of the `st-link tools` did you use? Please provide feedback to us.
I just saw there was a fix for the F0 in v1.4.0.

[2020-03-24 00:41] Nightwalker-87 commented on #852
Related to #672.

[2020-03-24 00:50] Nightwalker-87 commented on #352
@navesta: Which version of the `stlink tools` did you use?

[2020-03-24 00:51] Nightwalker-87 commented on #657
Related to #352.

[2020-03-24 01:09] Nightwalker-87 commented on #152
Obviously not fixed in any stable release so far when looking at chipid.h .

[2020-03-24 01:30] Nightwalker-87 commented on #735
Related to #574.

[2020-03-24 02:04] Nightwalker-87 commented on #756
`st-info --probe`

serial: 3f70050132124647524b4e00
openocd: "\x3f\x70\x05\x01\x32\x12\x46\x47\x52\x4b\x4e\x00"
  flash: 65536 (pagesize: 1024)
   sram: 20480
 chipid: 0x0410
  descr: F1xx Medium-density

`st-flash write /$PATH$/Blinker.bin 0x8000000`

2020-03-24T02:44:36 INFO common.c: F1xx Medium-density: 20 KiB SRAM, 64 KiB flash in 1 KiB pages.
2020-03-24T02:44:36 INFO common.c: Attempting to

[2020-03-24 02:26] medicalwei commented on #820
Would giving the capture using Wireshark and usbmon using STM32CubeProg help in anyway?

I am getting the same result as https://github.com/texane/stlink/issues/820#issuecomment-591358679 using STLINK-V3SET, but can be programmed through CLI in STM32CubeProg.

[2020-03-24 02:33] burnsfisher commented on #163
Looks like PR #165 which you already got.   Thanks for checking!

[2020-03-24 07:21] Ant-ON commented on #820
OpenOCD in latest source read DCB DHCSR register to retrieve status
https://github.com/ntfreak/openocd/blob/bff1b6f05a56eed8e150c25d925bd51ca2840daf/src/jtag/drivers/stlink_usb.c#L1743

May be it fix problem "core status: unknown"

[2020-03-24 07:36] martonmiklos commented on #820
Hi guys,

I apologise for the late reply. I still not managed to debug the whole thing physically.

@medicalwei I think it is not necessary at the moment, I have the equipment at my workplace and home so if I find time to work on this I can debug this.

@Ant-ON OpenOCD Stlink support was written using NDA protected documentation from ST, so that's my plan: if I isolate the problematic points I wil

[2020-03-24 07:36] martonmiklos commented on #864
Alright!

[2020-03-24 08:00] xtrinch commented on #623
Can't offer feedback which version of libusb it was as I don't have the setup anymore

[2020-03-24 09:33] Nightwalker-87 commented on #820
@martonmiklos: No problem, take the time it needs. We are not in a hurry. I just asked to stay on track.

[2020-03-24 09:36] Nightwalker-87 commented on #623
@xtrinch: That was expected due to the time passed. We're fine with this.
I think it will not affect us here as we also have #438.

[2020-03-24 09:57] Nightwalker-87 commented on #163
Thank you so much for your helpful feedback. :+1:

[2020-03-24 09:58] #163 closed

[2020-03-24 10:29] Nightwalker-87 commented on #237
Here is an example I just bumped into: `src/chipid.c`.
In my opinion all content of `static const struct stlink_chipid_params devices[]` should go in `include/stlink/chipid.h`.

[2020-03-24 10:45] #152 closed

[2020-03-24 11:09] rewolff commented on #237
No. I think "chipid.c" should remain having the same interface towards the rest of "stlink".
However, the content of the structure should be read from files.

I've been slowly thinking about this for a few days now. AVRDUDE has this one big file with all the chips and stuff in it. Not good. What we should do is to make a directory with a STM32F0x2.chip file in there that describes the F0x2 chips.

[2020-03-24 11:16] Nightwalker-87 commented on #237
However, the content of the structure should be read from files.

I did not mean that we should get rid of `chipid.c`. However your idea to read it from a file for each chip sounds good to me.

[2020-03-24 11:32] Nightwalker-87 commented on #780
Further code-related discussion should take place in #780.

[2020-03-24 11:37] Nightwalker-87 commented on #317
Is there _any_ interest for this in the community?
Please give some feedback.

[2020-03-24 11:43] Nightwalker-87 commented on #556
It would be helpful if somebody with a Raspberry Pi 2 could do some tests with old versions here to help find a related fix, should it exist already... Any volunteers?

[2020-03-24 11:49] Nightwalker-87 commented on #334
@lcrocker: What is the current state of this? What version of the stlink tools was used when this first appeared? Has this been fixed someday? If yes, it would be good to know where. Can you help?

[2020-03-24 12:11] Nightwalker-87 opened #893 "[feature] Adjust the JTAG/SWD frequency via cmdline option"
As far as I can see, we are lacking a HowTo for the feature above, added by @jkhax0r in #534
Who can contribute and help with this?

[2020-03-24 12:18] Nightwalker-87 commented on #686
Related to #333.

[2020-03-24 13:00] Nightwalker-87 commented on #874
**Project Maintenance:**
- Review of old issues has completed by mid of March 2020
- Reviewed and updated missing features (24.03.2020)

[2020-03-24 13:18] Nightwalker-87 commented on #877
@bluca: I noted that v1.6.0 made it into the debian bullseye repository and that you are linked to it as a debian packet maintainer. Can you tell me more about the procedure(s) running behind the scenes?

[2020-03-24 13:33] Nightwalker-87 commented on #756
Do I necessarily need `telnet` to communicate with `st-util -p 4242` ?

[2020-03-24 15:03] ihassin commented on #852
Hi there - connected to the programmer.

Itamar
On Mar 23, 2020, 20:41 -0400, nightwalker-87 <notifications@github.com>, wrote:

[2020-03-24 15:19] Nightwalker-87 commented on #852
ok, and what does "System Profiler" say? (`/Programs/Utilities/System Profiler.app`)
Take a look at "Hardware --> USB" in the sidebar within the program window.
I expect to see something there like a device and manufacturer ID.
If it powers up it should actually tell us something...

[2020-03-24 17:20] #158 closed

[2020-03-24 17:42] Nightwalker-87 commented on #756
After figuring out how to start the `stlink-gui`, I can now confirm that the device has the core ID:

![2020-03-24_gui_bluepill_core_id](https://user-images.githubusercontent.com/15526941/77457832-8690a000-6dfd-11ea-91d2-e6df2cf36bfe.png)

compared to `#define CS32_CORE_ID 0x2ba01477` from the reverted PRs #757, #805 and #848.

Thus it appears verifiable that STM32 clones with this core ID are wor

[2020-03-24 18:49] Quadricopter commented on #766
Hello,

tested with master branch ( commit: f5d0454ab0a18f209ad5b7d0d51f3945b27dd892 )
**It's OK for me!**

st-flash 1.6.0-31-gf5d0454
2020-03-24T19:46:31 INFO common.c: Loading device parameters....
2020-03-24T19:46:31 INFO common.c: Device connected is: F4 device (Dynamic Efficency), id 0x10016433
2020-03-24T19:46:31 INFO common.c: SRAM size: 0x18000 bytes (96 KiB), Flash: 0x80000 bytes (512 KiB

[2020-03-24 20:54] WRansohoff commented on #681
Sure, happy to check whether this still happens with STM32L0 category-2 chips.

Most of my boards are in storage atm though, so I probably won't be able to do it until I finish moving in May. Sorry about that.

[2020-03-25 00:05] Nightwalker-87 commented on #78
This proposed fix has been submitted via commit fc85ba71f1bd1eeebbc36e69bc5d667c812784b3 afterwards.
As it reads from the code, one can safely assume that these missing lines caused the mentioned compilation error and their addition resolve this issue.

[2020-03-25 00:05] #78 closed

[2020-03-25 00:25] Nightwalker-87 commented on #63
No patch necessary as modification is user-specific and has therefore not been submitted.

[2020-03-25 00:25] #63 closed

[2020-03-25 09:59] TheColonelYoung commented on #600
Now I don't have access to specific chip which I used during creating this issue. But I tried to flash another F0 target and it was working correctly. I don't know when (or if) I will be able to test original chip. Tested with releases 1.4.0 and 1.6.0 on STM32F071RB.

[2020-03-25 11:22] Nightwalker-87 commented on #600
The mentioned commit 55c057296ad15fa6de9909206098bd4eed8f6311 is the last before v1.4.0 which targets F0 devices specifically. As you tested with a very similar chip of the same series and verified that v1.4.0 is working, implies that this was not a problem with the tools. As based on the error message and as mentioned before, you seem to have run into a flash unlocking problem regarding the speci

[2020-03-25 11:22] #600 closed

[2020-03-25 11:31] Nightwalker-87 commented on #68
Why was this closed? I think we should verify if this has been fixed in the code.

[2020-03-25 11:46] Nightwalker-87 commented on #149
The STM32F103VET6 (HY-STM32) board was added to /doc/tested-boards.md in commit c72205661244e8b7711d2299175097cc02cfd7c1. With this board flashing can take place either via USART1 or via USB by making use of the integrated bootloader or via SWD by using a STlink-v2 programmer. The latter is also suitable for debugging.

[2020-03-25 11:46] #149 closed

[2020-03-25 12:54] Nightwalker-87 commented on #153
@bacam and @lestofante: May I ask you for some help to verify this is working since release v1.2.0? I am currently reviewing old issues and leftovers to ensure proper solutions have been found and that tickets can be allocated to the correct milestones.

[2020-03-25 13:10] purjus74 opened #896 "[compatibility] undefined reference to `libusb_set_option'"
Hi all,

I will try to compile the project on Windows 10 with MinGW-w64 without success.
The error is:
`C:/stlink/src/sg.c:972: undefined reference to 'libusb_set_option'`

My environement is:
- Windows 10
- texane/stlink 1.6.0 => This version requires the libusb-1.0.22.7z (downloaded manually)
- MinGW-w64 i686-8.1.0-posix-dwarf-rt_v6-rev0

Can you help me?

Complete log of the compilation: [log.t

[2020-03-25 13:39] Nightwalker-87 commented on #896
Please try the `develop` branch instead. I am aware of fixes related to MinGW compilation since Release v1.6.0.

[2020-03-25 13:55] purjus74 commented on #896
The mentinned error isn't displayed but the compilation failed.

[log_w_develop_latest_commit_a09ef54.txt](https://github.com/texane/stlink/files/4381273/log_w_develop_latest_commit_a09ef54.txt)

[2020-03-25 13:59] purjus74 commented on #896
I want to add a remark.

The last log indicates that I have already libusb in my system.
`-- Found Libusb: C:/Windows/System32/libusb-1.0.dll`
Sure this version is old.

What is your opinion about this.

[2020-03-25 13:59] slyshykO commented on #896
@purjus74 I think the problem with libusb, that you download manually.
Please remove it. Clear all builds. And try one more time.

[2020-03-25 14:19] purjus74 commented on #896
Just to give more details:
Before to use your project, my system had already a libusb instance.
![libusb_on_my_windows_10](https://user-images.githubusercontent.com/30845890/77545532-d8dbca80-6eaa-11ea-9159-aa93b35b3523.PNG)

If I let the batch mingw64-build.bat to download the libusb-1.0.22.7z, the extraction fails:
[code]
It seems that the archive is file is corrupted :(
![image](https://user-im

[2020-03-25 14:24] Nightwalker-87 commented on #896
@slyshykO: You are right, I did not notice at first that an external `libusb` library was present.

[2020-03-25 14:27] bacam commented on #153
Unfortunately my board is in a building that's closed for the foreseeable future.

[2020-03-25 14:33] Nightwalker-87 commented on #153
Thx for replying. No problem. We can come back to it at a later time should there be no alternative to it.

[2020-03-25 14:40] purjus74 commented on #896
I think this behavior (error during libusb-1.0.22.7z downloading) is due to my compagny protection :(
This f*#! protection creates the wanted archive file but it contains an error html page !!!

![html_page](https://user-images.githubusercontent.com/30845890/77547822-fcecdb00-6ead-11ea-99c9-09bd0a117070.png)

But I'm not sure that is a problem to download before the good libusb archive and put it

[2020-03-25 14:51] Nightwalker-87 commented on #896
@purjus74: Does your whole compilation succeed now?
@slyshykO: I think we should add a note to the instructions on not to use external `libusb` packages when installing on windows, as this is not the first issue of its kind.

[2020-03-25 15:17] slyshykO commented on #896
The problem is that windows have many options on how to install libusb, also many compilers with different ABI. That is why we should provide windows builds.

[2020-03-25 15:19] purjus74 commented on #896
I just tried on other machine (without old libusb inside C:\Windows\System32) and it's work.
Therefore, the problem is due to other libusb version already stored and used by the others projects.

[2020-03-25 15:20] purjus74 commented on #896
Thank you for your support and for your job ;)

[2020-03-25 16:30] Nightwalker-87 commented on #772
@tuffstudio @alf @flux242: Can one of you verify this?

[2020-03-25 16:34] Nightwalker-87 commented on #227
Who can help to verify this? Any volunteers?

[2020-03-25 16:35] Nightwalker-87 commented on #147
Who can help to verify this? Any volunteers?

[2020-03-25 16:42] Nightwalker-87 commented on #862
@vitormhenrique: Unfortunately I can't read the content of the image you linked as the resolution is too low for that. Can you paste a larger screenshot or a relevant detail of it?

[2020-03-25 16:46] Nightwalker-87 commented on #846
@dhineshkumarmcci: Can you please test the versions mentioned before, each with a clean build?

[2020-03-25 16:49] Nightwalker-87 commented on #800
@BigfootN: Did this help you any further? I agree that we need more documentation on this.

[2020-03-25 17:01] vitormhenrique commented on #862
no idea why that image was so small....

https://i.ibb.co/mq8vvpP/pic.png

[2020-03-25 17:33] Nightwalker-87 commented on #794
@rtek1000: I agree, we are missing this feature in the GUI. It does belong there indeed.

[2020-03-25 17:47] Nightwalker-87 commented on #862
I see - so we are actually looking for a feature request here.
The flashloader does verify the integrity of the flashed content behind the scenes, so I assume that this functionality can be extended. It wants to be looked at certainly.

[2020-03-25 17:53] Nightwalker-87 commented on #896
Reopening this as documentation and related work remains outstanding...

[2020-03-25 17:58] Nightwalker-87 commented on #845
Related to #877.

[2020-03-25 18:11] Nightwalker-87 commented on #620
@jcw: What version of the stlink-tools did you use? I'd like to find out why this happens and if this error has already been addressed somewhere...

[2020-03-25 18:21] Nightwalker-87 commented on #514
Closed with commit 0c63a2cffc7b7fca817d4c7fb896dbe696341ea3.

[2020-03-25 19:43] Nightwalker-87 commented on #516
@Testato: We may implement it in such a way that it is tied to the detection of CKS32F103C8T6 chips which come with 128k, as far as I'm aware of, but this clearly needs some investigation first. I agree with @xor-gate that we must ensure to stay addicted to official specs primarily.

[2020-03-25 19:51] Nightwalker-87 commented on #818
@Goldenstarc @AntoinedeChassey: What version of the stlink-tools did you use? Please provide more information on used hardware and build environment.

[2020-03-25 20:05] Nightwalker-87 commented on #619
@FreddieOliveira: What about `make clean` and delete the project folder afterwards? As far as I am aware of, currently no files are spread throughout the system in linux/unix environments apart from manual settings such as udev- or modprobe-rules. Please correct me if this is wrong.

What do others think about implementing an uninstall target?

[2020-03-25 20:25] Nightwalker-87 commented on #764
@renn0xtek9: What is the current state of this? I believe you use v1.5.1, is that correct? Can you help us with some more investigation?
@dhylands: May I copy-paste your description to our documentation?

[2020-03-25 21:44] FreddieOliveira commented on #619
Deleting the build directory would only purge the files inside it, leaving the ones added by the `make install` still hanging around on my system.

Version 1.3.1 was released February 2017 whereas version 1.4 was released in July that year. There's no way I would remember exactly which files were added to my system when `make install` was issued 5 months earlier. I didn't know by that time the Cma

[2020-03-25 22:39] Nightwalker-87 commented on #619
I think this has changed over time. `make install` does no longer seem to work in newer versions.
`make [+target]` does the job by now. Thus I can't verify this on my build system.
I may try out older versions someday, but that does require local fixes as they do not compile natively. We likely need others to assist with this.

[2020-03-25 23:31] davehylands commented on #764
@Nightwalker-87 By all means - feel free.

[2020-03-26 01:23] jcw commented on #620
I'm using stlink 1.6.0, installed via homebrew on macOS.

[2020-03-26 01:36] Nightwalker-87 commented on #620
Interesting, so now I know where this will directly go ...

[2020-03-26 01:40] FreddieOliveira commented on #619
This issue is still present in recent relases. To reproduce follow the [compiling manual](https://github.com/texane/stlink/blob/master/doc/compiling.md). Basically:

1. Clone the repository: `git clone https://github.com/texane/stlink && cd stlink`
1. Now you can:
    * Compile with the default Makefile: `make`
      This will create a folder called build/Release with the compiled files inside, as

[2020-03-26 01:47] jcw commented on #852
Reading through this thread, I think the OP simply connected the Blue Pill via its USB connector. No ST-Link, i.e. no way it can be programmed that way. An ST-Link of some kind needs to be connected to the 4 SWD/power pins on the other side of the Blue Pill to reprogram it.

IOW, this is not macOS related, this is simply a misunderstanding as to how Blue Pills can be re-flashed.

[2020-03-26 01:48] Nightwalker-87 commented on #619
Ah I see, but never did anything else than a simple `make` and then exported the build-directory path to $PATH via a terminal command. So far this worked just fine and avoided what you describe.

[2020-03-26 01:55] FreddieOliveira commented on #619
As I said, the `xargs rm < install_manifest.txt` works just fine, as well using your strategy of exporting the $PATH, or even just creating a symlink to the binaries. But if it's not too much trouble an uninstall method would be nice. I don't understand how cmake works, so I have no idea how difficult it would be to implement this solution: https://gitlab.kitware.com/cmake/community/-/wikis/FAQ#ca

[2020-03-26 01:59] Nightwalker-87 commented on #619
@FreddieOliveira: You may try that as well as a workaround until this is properly addressed. Taking note of this, I agree that if somebody closely follows all steps of the instruction (as you did), one would run into this problem. By the time implemented this was clearly not thought to the end. :-/

[2020-03-26 02:01] Nightwalker-87 commented on #619
Let's see, if we can solve this in the next release...

[2020-03-26 02:15] Nightwalker-87 commented on #852
@jcw: I did think that before, but he explained later...

Just to make it very clear:
1) USB-Port <---> STlink-v2 (Programmer) <--SWD+PWR-Wires--> SWD-Pins on Bluepill-Board
=> programming works
2) USB-Port <---> Bluepill-Board
=> not detected by mac AND programming not possible; only PWR supply via USB-Port, USB will not work - this is normal and not an error

@ihassin: if 1) is your setup, then

[2020-03-26 09:30] Nightwalker-87 commented on #211
Reopening this, as topic is not solved by now.

[2020-03-26 09:30] Nightwalker-87 commented on #782
Reopening this, as topic is not solved by now.

[2020-03-26 09:54] Nightwalker-87 opened #897 "[compatibility] libusbx replaced by libusb-1.0 in most distros"
As of March 2020 on most distros libusbx has been replaced by the maintained libusb-1.0.
This reflects the re-merging of the libusbx-project-fork back into the libusb-project (see https://github.com/libusb/libusb/wiki/FAQ#libusborg_libusbxorg_and_libusbinfo) as referenced by  @slyshykO in #782. As mentioned in PR #895, I did some small research on this topic to find out about the current state of

[2020-03-26 10:04] Nightwalker-87 commented on #897
This initiated a ongoing discussion in PR #895 which shall be continued here, as the related PR should solely focus on (direct) changes in the code. The beginning of this discussion is now posted here:

Nightwalker-87:
@Vascom: You are on Fedora right? What do you think about this? Why does Fedora still use libusbx BTW? Is your library that outdated as well?

Reply by Vascom:

But even if this upd

[2020-03-26 10:28] Nightwalker-87 commented on #897
@Vascom: There are three relevant things:
1) As @slyshykO mentioned before: the package name is _not_ the relevant thing, but if `LIBUSBX_API_VERSION` is used by the package which then remains from the libusbx-codebase
2) Nobody cares about `libusb-compat`, `libusb-0.1` or whatever the older packages for libusb 0.1 compatibility versions are called. These are neither addressed by this issue, nor r

[2020-03-26 11:23] legath commented on #78
It was so long ago. I have moved to manjaro linux and becomes use openocd and jlink gdb server

[2020-03-26 11:27] Nightwalker-87 commented on #78
@legath: It's ok now as it is, don't worry about it.

[2020-03-26 11:53] Nightwalker-87 commented on #783
ping @hierophect

[2020-03-26 12:02] #783 closed

[2020-03-26 12:51] vladiks commented on #458
@Nightwalker-87 I am sorry, but I can not give you any feedback, cause the project for which i needed this, is already outside my reach.

[2020-03-26 12:54] Vascom commented on #897
1.0.23 pushed to Fedora rawhide now https://src.fedoraproject.org/rpms/libusbx/c/5684853d449b7fe3a81112cd59f9336fbc274319?branch=master

[2020-03-26 13:21] MarvinKlemp opened #898 "Installation issues on Ubuntu 18.04"
For me it's impossible to install
Can someone maybe try to get a hint what could be wrong?

[code]

[code]

[2020-03-26 13:48] hierophect commented on #783
I'll make a new issue on this today

[2020-03-26 13:59] Nightwalker-87 commented on #458
@vladiks: Thanks for coming back to this. Never mind, it was an answer to expect though due to the long timespan. That's ok. Likely it wasn't very clever not to stick to it when it was relevant for you in earlier days. I'm sorry to see that, but just got to know about this recently during maintenance tasks. I'm one of the new main contributors of this project.

Anyway I'll leave this open for now,

[2020-03-26 14:02] Nightwalker-87 commented on #897
That's good news for us.

[2020-03-26 14:03] Nightwalker-87 commented on #783
You may add a comment to #516, which already covers this.

[2020-03-26 14:14] hierophect commented on #516
@Nightwalker-87 I do not believe that this extra memory is restricted to the CKS32F103C8T6 - I believe I actually saw a confirmation from an ST rep that the true F103C8T6 chips had this extra memory, though I'm having trouble locating the thread now.

It is also worth noting that the official ST Flash application will happily load up this chip with up to 128k of code :)

[2020-03-26 14:19] hierophect commented on #516
The temp fix, for anyone who is interested, is to edit the src/common.c file, in the stlink_load_device_params() function, in the following text:

[code]
replacing the final else with

[code]

Recompile and install from source, and call with the preface `C8T6HACK= st-flash write etc`

[2020-03-26 14:29] Nightwalker-87 commented on #897
Similar result for Fedora 30 (oldest supported version):
Here it is `libusb` 1.0.22 despite the (false) package name: https://src.fedoraproject.org/rpms/libusbx/c/cbd5348ee14638264fe3bb79c3b27a5ed34271ed?branch=f30

One can conclude that this is done equally in Fedora 31, so we are fine here. That's the reason _why_ it works even without any `LIBUSBX_API_VERSION` remnants currently. :+1:

[2020-03-26 15:37] Nightwalker-87 commented on #898
Please provide info on your system and stlink-tools version, otherwise we will not be able to help.

[2020-03-26 15:47] Nightwalker-87 commented on #897
@lhondareyte @DanielO: It appears you both use (or used) FreeBSD. Can you provide us some information regarding the `libusb` versions present on recent releases (11, 12, 13)? pkgs.org was not very helpful in this aspect.

[2020-03-26 16:15] jpesonen-priv commented on #716
XNUCLEO-F103RB here, and the same symptoms. Firmware upgrade and now chip id shows 0000 for the thing.

[2020-03-26 16:16] Nightwalker-87 commented on #438
The only other PRs with a possible relation I see currently are #701 and #760.
They mess about cmake-paths. Commit aaf8e92075811e6b78cd7f68b636c642f27749bf does change `static stlink_t* stlink_open(...)` It must be somewhere around these mentioned commits. Thus we should be able to allocate it.

[2020-03-26 16:22] Nightwalker-87 commented on #716
@ all: Please make sure you **report all your software and hardware info**:
- Operating System
- stlink-tools Release
- Programmer Type + Firmware

[2020-03-26 17:12] lhondareyte commented on #897
Hi,
For FreeBSD, libusb is in the base system, it's not a package. It's compatible with libusb1 & 2 . You get more informations with "pkconf":
pkgconf --libs  --cflags libusb-1.0
pkgconf --libs  --cflags libusb-2.0
pkgconf is, as far I know, specific to FreeBSD.
Hope this help.
Regards

[2020-03-26 17:20] jpesonen-priv commented on #716
Debian Unstable
Package: stlink-tools
Version: 1.6.0+ds-1
I think this is st-link/v2 programmer, it was bundled with the xnucleo board. I am extremely new to this =). Maybe this is relevant:
[code]

[2020-03-26 17:23] Nightwalker-87 commented on #897
@lhondareyte: Thx for the useful feedback. What FreeBSD-Version/Release are you on? Can you also checkout the develop branch and test-compile the stlink-tools? With this we could rule out possible regression when we merge the related PR. By now current FreeBSD Releases seem to be the only left "unknowns" (see list above).

[2020-03-26 18:06] lhondareyte commented on #897
I am running the latest stable version (12.1p1) (almost). I tried to compile the latest snapshot and it actually failed:
`/usr/home/luc/stlink/src/usb.c:34:22: error: use of undeclared identifier 'INT_MAX'`
The compilation works with
[code]

Which commit/branch do you want to try exactly?

About FreeBSD current (latest dev branch), I only use it on ARM platform. I'll give it a try this week-end: j

[2020-03-26 18:22] Nightwalker-87 commented on #897
The latest `develop` would just be fine, as we still have to decide on, which codelines have to be added in order to make it compile in FreeBSD environments. Thx for helping out with this. :+1:

To me it looks like that nobody really bothered about FreeBSD too much before, apart from very few single contributions. Beginning with v1.6.1, I want to make sure which distributions (incl. versions) work

[2020-03-26 18:44] lhondareyte commented on #897
I understand but don't be worried about FreeBSD: stlink is in the ports tree (well, not the latest release)  with an active maintainer. And most FreeBSD users use ports  ;)
And I regulary check the latest snapshot on FreeBSD and macOS (via rudix)
However, I'll give it a try on FreeBSD 13

[2020-03-26 18:50] Nightwalker-87 commented on #897
... well it does make sense to distribute recent fixes and features to this usergroup as well, doesn't it? Old packages are no help here, especially not for available maintainers on that platform.

[2020-03-26 19:35] DanielAW commented on #586
I think I just worked with `stepi` sorry I submitted this issue a long time ago.

[2020-03-26 21:19] Nightwalker-87 opened #899 "[compatibility] define min. cmake version for supported distributions"
Along with defining new minimum system requirements for `libusb` (#897), it appears useful to take a similar approach for `cmake`. Again I did some small research on this topic to find out about the current state of support by various distributions currently maintained.

Here is the result from https://pkgs.org/search/?q=cmake (as of Mar 2020):

**3.17.0**
- Alpine Edge
- ALT Linux Sisyphus
- Arch

[2020-03-27 01:01] Nightwalker-87 commented on #586
Closing this ticket as the given feedback seems to explain the observed behaviour.

[2020-03-27 01:01] #586 closed

[2020-03-27 01:37] Nightwalker-87 commented on #897
_Note:_ By setting the minimum version requirement for `libusb` to 1.0.20, we could make this equal for all supported systems (Windows, macOS and even most of the oldest supported linux/unix distributions), thus keeping it simple and memorable.

[2020-03-27 01:48] DanielO commented on #897
FreeBSD ships with pkg-config files for libusb-0.1, libusb-1.0 and libusb-2.0 (2.0 is a FreeBSD specific one).
eg..
[code]

This works on Linux too (for me)
[code]

[2020-03-27 05:18] slyshykO commented on #897
I think we should use the newest libusb that we can. On all platforms.

[2020-03-27 05:52] jpesonen-priv commented on #716
For anybody else possibly googling this. I happened to have a copy of the original board firmware ad a .bin file and managed to get it back working by putting a jumper on CN7 pins 5-7 and then running st-flash writing the original firmware to the board.

[2020-03-27 10:27] Nightwalker-87 commented on #716
@jpesonen-priv: ok, good, but that still does not give any idea on why this happened (which is the relevant point to us)...

[2020-03-27 10:40] Nightwalker-87 commented on #897
_Note:_ There is a difference between _working_ versions and the _minimum required version_ .
This does not rule out that users should be encouraged (by a note in the documentation) to install the latest available version on their respective system. It only denotes that the tools would be _still_ be capable to compile and run with the oldest version defined. On Ubuntu 16.04 LTS for example 1.0.20

[2020-03-27 10:45] Nightwalker-87 commented on #897
@DanielO: What are the exact version strings (e.g. 1.0.22, etc.)? That would be the relevant point here...

[2020-03-27 11:03] lhondareyte commented on #897
@DanielO : yes, you're right : `pkg-config` is a link to `pkgconf`
@Nightwalker-87 :
`libusb_get_version()` return `1.0.0.2016` with this code:
[code]

[2020-03-27 11:17] Nightwalker-87 commented on #897
@lhondareyte: o.O That is what I asked for, but it does not seem to help at all. I did not expect a different versioning scheme compared to the one the libusb-project uses...

[2020-03-27 12:28] jpesonen-priv commented on #716
@Nightwalker-87 I can reproduce this too by flashing anything with the STM32CubeIDE to the board, but I don't know what is and how to get information relevant to you.

[2020-03-27 13:05] MarvinKlemp commented on #898
I'm gonna close this as this was actually a MCU issue.
I checked with another compatible MCU which responded fine.

I'm really sorry!

[2020-03-27 13:05] #898 closed

[2020-03-27 14:31] lhondareyte commented on #897
`libusb` define `LIB_API_VERSION ` since v1.0.13 which describe features that are include. All OSs that you list have this definition. So why do you want to deal with lib version instead of API version?
Currently all supported FreeBSD versions (11,12) and current define this
`#define LIBUSB_API_VERSION 0x01000102`
Perhaps, I miss something, if so, let me know.
Best regards

[2020-03-27 14:51] Nightwalker-87 commented on #897
The `LIB_API_VERSION` is not the relevant point here as it is used in the stlink-tools codebase already. We have dealt with this in #782. Now we are solely on about how recent we require the package `libusb` to be _at least_. We can't help it that FreeBSD has `libusb` integrated and uses a different versioning scheme than the libusb-project, what makes it hard to compare both codebases with each o

[2020-03-27 15:06] lhondareyte commented on #897
In this issue, this is `LIBUSBX_API_VERSION` the problem. `LIBUSBX_API_VERSION` is almost marked as deprecated in libusb :
[code]

It has nothing to do with FreeBSD, I think

[2020-03-27 15:15] Nightwalker-87 commented on #897
So what would be a solution to this (apart from trusting on that it will run and without tracking a version on FreeBSD)? I feel uncomfortable with this as one would have to look at this special case every time a new version is published on FreeBSD and test it manually.

[2020-03-27 15:27] lhondareyte commented on #897
I'll take a look. But it looks strange to me that you spend  so much time for Ubuntu 12.04 that is no more supported since 2017

[2020-03-27 15:53] Nightwalker-87 commented on #897
This is already the case in the `develop` branch, as I wanted to get rid of this deprecated stuff.

No, I don't, but that is what I am looking for. If we can find out the LIBUSB_API_VERSION of the 1.0.20 package, we can compare it to the one in FreeBSD. Maybe that is another approach to determine where the codebase derived from.

I would no longer like to see all these unknowns we have been dealin

[2020-03-27 17:01] Nightwalker-87 commented on #716
As it reads, @lkord was able to rule out that the st-link tools were source of this problem.

The findings of @artbody, @RockyF and @jpesonen-priv seem to be a different problem.
Here it looks like as if a corrupted firmware image has been loaded to the programmer, what resulted in the same output on `st-info --probe`. This appears to be not related to the stlink-tools, so that we can't provide an

[2020-03-27 17:01] #716 closed

[2020-03-27 17:09] Nightwalker-87 commented on #68
@rewolff: I found that your patch has made it into the code, but haven't found out when. It belongs to this ticket obviously, which is then solved indeed.

[2020-03-27 17:58] lhondareyte commented on #897
I have made an inventory on latest officials releases:

* 1.0.12 and above dont define `*API_VERSION`
* 1.0.13 to 1.0.17 define `LIBUSBX_API_VERSION` only
* since 1.0.18 both `LIBUSB_API_VERSION` and `LIBUSBX_API_VERSION `are defined as follow
[code]

`LIBUSBX_API_VERSION` appeared in 1.0.13 and `LIBUSB_API_VERSION` in 1.0.18

A simple solution could be, for every OSes:
[code]

[2020-03-27 18:49] lhondareyte commented on #897
About `LIBUSBX_API_VERSION`/`LIBUSB_API_VERSION` :
[code]

[2020-03-27 21:47] Nightwalker-87 commented on #897
@lhondareyte: Excellent, and what is the `LIBUSB_API_VERSION` string is present on each FreeBSD 11, 12, 13? Can one look that up somewhere on the web? By this, we are finally able to gain this information via the laborious route... I can then complete the listing above and a final decision can be made.

[2020-03-27 22:14] Nightwalker-87 commented on #888
Related to #449 and #244.

[2020-03-27 22:16] Nightwalker-87 commented on #516
Related to #305.

[2020-03-27 22:28] Nightwalker-87 commented on #780
I think this could be related to #888 and #445.
@ceremcem and @rewoff: What about the idea of discussing this together?

[2020-03-27 23:52] #32 closed

[2020-03-27 23:59] Nightwalker-87 commented on #68
Closed by commit 8151bf5c4a443608d4fec15cf7dfe79a02cdd096 and PR #268.

[2020-03-27 23:59] #68 closed

[2020-03-28 00:09] Nightwalker-87 commented on #153
Fixed in commit 079a154f5f78c66a16653e62cfdf8674d9b34d90 which added support for this board type.

[2020-03-28 00:09] #153 closed

[2020-03-28 00:13] Nightwalker-87 commented on #153
@bacam: No further help needed anymore, as I found the related fix.
The problem of **lestofante** is something different not related to this topic.

[2020-03-28 01:50] DanielO commented on #897
They're all 0x01000102:
11.0.0 - https://svnweb.freebsd.org/base/release/11.0.0/lib/libusb/libusb.h?revision=354337&view=markup#l38
12.1.0 - https://svnweb.freebsd.org/base/release/12.1.0/lib/libusb/libusb.h?revision=354337&view=markup#l38
Head - https://svnweb.freebsd.org/base/head/lib/libusb/libusb.h?revision=326219&view=markup#l38

It hasn't changed since that #define was added in r301957
https

[2020-03-28 01:59] Nightwalker-87 commented on #160
This seems to be a hardware-related issue on some STM32F4 Discovery boards, which prevents correct programmer detection. On the other hand it appears reasonable that an USB interface can't be used for programming and application-related tasks at the same time. Likely this requires the application to be interrupted by an appropriate signal in order to put the board in a state which enables the inte

[2020-03-28 01:59] #160 closed

[2020-03-28 10:31] #147 closed

[2020-03-28 12:44] #227 closed

[2020-03-28 12:59] Nightwalker-87 commented on #196
Fixed in #251 .

[2020-03-28 13:00] Nightwalker-87 commented on #196
Fixed in #251.

[2020-03-28 13:00] #196 closed

[2020-03-28 13:01] Nightwalker-87 commented on #250
Fixed in #251.

[2020-03-28 13:01] #250 closed

[2020-03-28 13:21] Nightwalker-87 commented on #188
Likely fixed in #251.

[2020-03-28 13:21] #188 closed

[2020-03-28 13:34] Nightwalker-87 commented on #868
Keeping this open until the topic is properly addressed.

[2020-03-28 15:37] Nightwalker-87 commented on #897
@DanielO: Thx for checking! Please let us know if this changes someday.

ok, so we actually have to stay on `libusb` 1.0.16 ... 1.0.18 codebase then for FreeBSD for compatibility reasons. In terms of implementation we will likely check for the `0x01000102` in cmake here.

I'll do a new table for our documentation that is going to list all what we have found out by now.

@slyshykO: Can you extend y

[2020-03-28 16:05] Nightwalker-87 commented on #218
Fixed in #288.

[2020-03-28 16:05] #218 closed

[2020-03-28 17:25] Nightwalker-87 commented on #220
@rewolff: Can we add the fix proposed by **girtsf** to the code without any harm?
It is still missing as of Release v1.6.0.

[2020-03-28 19:22] slyshykO commented on #897
I've updated the #895. Please, take a look.

[2020-03-28 23:28] Nightwalker-87 commented on #772
@slyshykO: **vanfanel**, **tuffstudio**, **alf** and **flux242** all have no fork of this project anymore... (so I don't expect any reply here)
I personally don't have any build problems with Debian Bullseye (testing).
However I can't reproduce this issue from commit 1165cf712713af48c61c4782ad5c9477c4574708 either. Maybe the commit reference is wrong in the opening post. I'll try an earlier releas

[2020-03-28 23:36] Nightwalker-87 commented on #772
I can reproduce the problem in v1.5.1, but not in v1.6.0 (working). So in fact it was already fixed in the latter release. I conclude that your PR #872 was helpful, but did not fix this, as it had been fixed before. Never mind, I'll add the relevant PR from before and then close this as resolved & verified.

[2020-03-28 23:59] Nightwalker-87 commented on #772
This compilation error was fixed in #762.
Additional further improvements were made with #872.

[2020-03-28 23:59] #772 closed

[2020-03-29 06:41] chenguokai commented on #629
@Nightwalker-87 I am afraid that this issue is not resolved in 1.6.0
I am the maintainer of stlink of MacPorts. I just received the same error report on snow leopard.
The error log can be found on [https://build.macports.org/builders/ports-10.6_i386-builder/builds/10447/steps/install-port/logs/stdio](https://build.macports.org/builders/ports-10.6_i386-builder/builds/10447/steps/install-port/logs/s

[2020-03-29 08:48] slyshykO commented on #899
No, please, no.

[2020-03-29 10:02] blacklion commented on #629
Hmmm, did I do mistake in my verification… I need to check again.

[2020-03-29 10:44] yeswolf commented on #356
I see the same issue always on macos and I can test it.

[2020-03-29 10:57] yeswolf commented on #356
Yep, finally I can test it. For me it's

[code]
always on macOS, so it's pretty stable. Tired of mass erasing before, want to help %)

[2020-03-29 11:25] Nightwalker-87 commented on #899
I think you misunderstood: Just as with libusb, I am only talking about the _minimum_ supported version (necessary to keep it running on the oldest supported operating systems). This does **NOT** imply that this version should be used (on all systems), if a newer one is working and/or available. If the latter is the case, the newest possible should be used of course.

BTW: The _minimum_ supported

[2020-03-29 11:26] Nightwalker-87 commented on #629
@chenguokai: Thx for the feedback. Reopening this then...

[2020-03-29 11:33] Nightwalker-87 commented on #877
List of maintainers:
- MacPorts: **chenguokai**
- Debian: **bluca**
- ...

[2020-03-29 11:57] bluca commented on #877
Sorry, not sure what you are looking for exactly? This describeds more or less how mainteinership works:

https://www.debian.org/doc/manuals/maint-guide/

[2020-03-29 12:06] Nightwalker-87 commented on #877
@bluca: Thx for the link, but I mainly try to gather information on who is taking care of the package distribution to repositories for this project. Are you still active on this topic?

[2020-03-29 12:29] bluca commented on #877
I am, for Debian and Ubuntu

[2020-03-29 12:41] Nightwalker-87 commented on #756
@eugenesia: I'm still working out the history of this feature request throughout the code (which was not so easy though), but as far as I can see this is what happened so far:

7651d2116fd74c7803ea00ab1da7cf3d00faf44c (#757) --> 1st implementation
3295ab4e5cf05cb546856414f1d40b5deedcf219 (reverts #757, fixes #761) (Regression)
84f63d25bd77d61f8feccf08dd24d0d11895ef32 (#805) --> 2nd implementation,

[2020-03-29 13:05] slyshykO commented on #899
I clearly understand what means *minimum* supported version.
This is means that we can't use new features that provide in newer ones.

[2020-03-29 13:31] Nightwalker-87 commented on #899
I don't bother about the following, as they are ruled out anyway by the `libusb` requirements we are going to set:
- Slackware 14.1 - 2.8.12
- Ubuntu 14.04 LTS (Trusty Tahr) - 2.8.12.2

but I do for **CentOS 7 and 8** (v8 released in Sep 2019) as these are used in commercial, scientific and R&D environments, being binary compatible to Red Hat Enterprise Linux (RHEL). So I don't think it is a good

[2020-03-29 14:02] rewolff commented on #220
I'd hope that this works. But.... I'm not sure if it is better here or in the backend.

[2020-03-29 14:08] slyshykO commented on #899
The main option for this is download binary of newer cmake that provided by Kitware form https://cmake.org/download/.

And the main question is are we(this project) have enough contributors that will support such many configurations.
Who will test all of them?

My suggestion is to support the latest Debian/Ubuntu, Win10 as main targets until someone didn't take responsibility for another platform.

[2020-03-29 14:27] Nightwalker-87 commented on #899
This may work for Windows and macOS (one could implement that similar to as intended to to so with `libusb`), but is not that straight forward on systems that are package-based, as manual downloaded packages have to integrate more deeply and flawlessly into the respective system.

I don't think it necessary to test many of these other distributions, but we should basically ensure that the tools ca

[2020-03-29 14:44] slyshykO commented on #899
take into account that automated builds use cmake 3.12 & 3.15 .

[2020-03-29 14:52] eugenesia commented on #756
Hey @Nightwalker-87 thanks for following up on this. Apologies for my lack of updates as I haven't touched anything STM32-related for a while due to work.

The last time I checked in July 2019, #805 had fixed the issue. My [blog post](http://eugenesia.co.uk/2019/07/cs32-blue-pill-clone-connection-problems/) merely documents some other quirks and workarounds for the CS32 chip, a clone chip made by

[2020-03-29 15:09] Nightwalker-87 commented on #756
Hey there.

Indeed it is, as I have one of these as well. Also this is the chip targeted by this issue as CS32F103 and CKS32F103 seem to be the same chip manufactured by the mentioned company.

To me it would be most helpful if you verified with 84f63d25bd77d61f8feccf08dd24d0d11895ef32, c492e1df6f954f119257242ade62768236c0819b and finally with the v.1.6.0 tag, because that would let this whole top

[2020-03-29 15:17] Nightwalker-87 commented on #899
Yes, but this is the case right now (with cmake 2.8.7+) as well - without any problems. Should a problem occur related to this in the future, we can then address it and raise the minimum requirement just as necessary can't we?

[2020-03-29 17:02] eugenesia commented on #756
Hi @Nightwalker-87 I have verified as requested (due to Covid I have some time on my hands 😂). All the versions you asked me to test worked.

Before testing each version I pulled out the ST-Link v2 programmer from my USB port and plugged it back in, together with the CS32F103C8T6 MCU.

After each test, the program I uploaded worked as the LED was blinking.

### Latest master f5d0454
[code]

### Co

[2020-03-29 17:40] Nightwalker-87 commented on #756
@eugenesia: Thank you so much for verifying this. :1st_place_medal:

No, so it must be either a result from the oldest commit you tested or any earlier change not specifically related to this board type. I don't really know, but nothing to bother about really.

You can if you wish to do so. Talking about my demand - I'm absolutely fine and satisfied with the results you've just presented. :+1:

[2020-03-29 18:02] Nightwalker-87 commented on #833
Finally resolved by #805.

[2020-03-29 18:02] #833 closed

[2020-03-29 18:11] Nightwalker-87 commented on #761
Resolved by commit 126136665f2cb4c850f7e265753af8ca253c1f21.

[2020-03-29 18:11] #761 closed

[2020-03-29 18:19] Nightwalker-87 commented on #756
Resolved by #805.

[2020-03-29 18:19] #756 closed

[2020-03-29 20:30] Nightwalker-87 commented on #769
@eugenesia: It is very likely that you don't have access to this MCU, but to me it looks like as if this device is strongly related to the CKS32F103 in terms of electronic identifiers. Also the attempt to solve the issue is identical to the 1st approach for the CKS32F103, which introduced regression (#757). So this may have been resolved with #805 as well. What do you think about it?

[2020-03-29 20:32] Nightwalker-87 commented on #769
@rayslinky: Can you verify this with #805?

[2020-03-29 22:16] lvdlvd commented on #820
I have an STM32H745 Nucleo-144 board which comes with a STLINK-V3E. is there information  i can dig out or things to test to help you all get that to work?

[2020-03-29 23:01] Nightwalker-87 commented on #820
@lvdlvd: Thx, for raising interest - though you throw in an slightly inconvenient combination. We currently neither support the STM32H7 nor the STLINK-V3... :-D ,

**BUT** both are in fact planned features with available open issues. I currently can hardly tell what of both is more challenging to implement. If someone familiar with the H7 steps up and is willing to contribute and thus get it suppo

[2020-03-29 23:52] Nightwalker-87 commented on #478
Resolved with commit be66bbf200c718904514b044ba84d64a36456218.

[2020-03-29 23:52] #478 closed

[2020-03-30 08:28] lvdlvd commented on #820
i think getting the stlink v3 on that thing to work with a bluepill would
be a valid first step, then once that works i could look into the H7.

i'll need some weekends to get up to speed in your codebase.

Op ma 30 mrt. 2020 om 01:01 schreef nightwalker-87 <notifications@github.com

[2020-03-30 10:30] Nightwalker-87 commented on #820
@lvdlvd: ok, take your time. Indeed the recent weeks have been quite busy on this project with lots of things to work up from the past. I hope to get rid of the remaining leftovers soon so we can look forward...

[2020-03-30 10:56] Nightwalker-87 commented on #897
@slyshykO: I've had a look through it.

I'm not sure about the present state in macOS yet and how we can deal with it there, but I have a VM where I could possibly test version 10.14 and may setup one for 10.15 as well.

[2020-03-30 11:11] Nightwalker-87 commented on #852
ping @ihassin ?

[2020-03-30 11:22] Nightwalker-87 commented on #621
Could someone verify this with Release v1.5.1 , 1.5.0 and commits b1b2a2f0a8af583bc7152a33b39fbfaeafe94aef and 88935336f8f810e3524a5bb9baee30ed07af6c2e ?

[2020-03-30 11:33] ihassin commented on #852
Yes getting the messages but need to find time to test again. I’ll try to do it today.

Itamar
On Mar 30, 2020, 07:11 -0400, nightwalker-87 <notifications@github.com>, wrote:

[2020-03-30 13:25] Nightwalker-87 commented on #461
Travis CI is being used for continuous integration since Apr 2016 (commit ca08bed617efc86a7765554c14a448b731f97eb3).
Since no further demand has been registered for this feature, this ticket is now finally closed.

[2020-03-30 13:25] #461 closed

[2020-03-30 13:28] Nightwalker-87 commented on #317
Since no further demand has been registered for this feature, this ticket is now finally closed.

[2020-03-30 13:28] #317 closed

[2020-03-30 16:29] michaelsobczak-qeexo commented on #761
Thanks!

[2020-03-30 19:35] Nightwalker-87 commented on #879
Duplicate of #650.

[2020-03-30 20:28] Nightwalker-87 commented on #275
Reopening until flash size recognition Nucleo STM32F103RB has been finally analysed.

[2020-03-31 01:18] eugenesia commented on #769
Hi @Nightwalker-87, I had a look at your chronology of events surrounding the CS32 chip https://github.com/texane/stlink/issues/756#issuecomment-605629968 . It's a bit of a Comedy of Errors and would have just gone on if you hadn't resolved it, so thanks for finally doing that.

I don't think #805 would have fixed this, as that adds detection for a chip ID of `STLINK_CHIPID_STM32_F1_MEDIUM` (0x410

[2020-03-31 04:08] Wfuger commented on #674
@Matombo thank you that is incredibly helpful!

[2020-03-31 08:41] Nightwalker-87 commented on #769
You are right here. To be honest, I could have found that out by myself, if I had taken a closer look - never mind...

I like that idea of using core-id + chip-id + reading out the manufacturer to identify boards correctly - for genuine boards as well as for clone boards. Maybe there even is a 4th parameter that can help to distinguish. One has to do some research on that. Anyway that could be an

[2020-03-31 11:38] Nightwalker-87 commented on #844
Resolved in commit 302dc872f4b73f13a94ff2e9f0359c4195f6279c.

[2020-03-31 11:42] #844 closed

[2020-03-31 12:22] ksschwabe commented on #661
This problem now seems to have been resolved in v1.6.0.

[2020-03-31 12:30] Nightwalker-87 commented on #661
Thx for the feedback. Have you also tested v1.5.0 and v1.5.1?
That would help to find the related commit in order to correct the changelog.

[2020-03-31 12:52] Nightwalker-87 commented on #642
A reference to the `--reset` parameter for` st-flash` is obviously missing in the documentation...

[2020-03-31 13:46] Nightwalker-87 commented on #85
Fixed in #86.

[2020-03-31 15:38] Nightwalker-87 commented on #612
Duplicate of #597.

[2020-03-31 16:03] #785 closed

[2020-03-31 20:47] Nightwalker-87 commented on #516
@hierophect: Surprise - Digging through the whole project revealed some interesting features, which seem to have been kicked into the long grass - without any documentation *sigh*. However I think this is what you have been looking for. Sry to see that you waited for nothing... :-(

[2020-03-31 20:47] #516 closed

[2020-03-31 20:52] #305 closed

[2020-03-31 21:50] Nightwalker-87 opened #902 "[doc] st-flash --flash=n[k][m] command line option to override device model"
Documentation for this `st-flash` command line option (see PR #576), implemented since Release v1.4.0, appears to be missing.

[2020-03-31 22:41] #361 closed

[2020-03-31 23:44] Nightwalker-87 commented on #62
Also refer to #36.

[2020-04-01 11:45] Nightwalker-87 commented on #117
Related to #114.

[2020-04-01 11:56] Nightwalker-87 commented on #841
As of #115 this should actually work...

[2020-04-01 12:35] Nightwalker-87 opened #903 "[code-structure] Add all STM32 Core-IDs to the codebase for MCU identification"
We have Core-IDs defined in `/include/stlink/stm32.h` which are used to detect chips correctly.
However this is implemented differently for the various STM32 product lines which is not very clever nor follows any visible logic structure. The current situation is as follows:

[code]

In reference to #756 and #761 this seems not to have been implemented well over time and should be commonly addresse

[2020-04-01 14:37] FFY00 commented on #841
No, that issue does not really provide much information. The only thing that doesn't work is the gdb server, everything else works properly from my experience.

[2020-04-01 15:20] Nightwalker-87 commented on #841
Then ticket name is not correct. Also the error was not really described.

[2020-04-01 23:51] Nightwalker-87 opened #904 "[feature] Support for STM32L5 devices"
STM32L5 devices (ARM Cortex M33) are not yet supported by the STLink-Toolset.

[2020-04-02 09:54] Arathy760 opened #905 "STM32G071G8U6/STLINK-V2 issue in flashing"
Hey,
I was trying to flash the code to STM32F103C8 with STLINK-V2 in linux enviornment. When i run the code st-info --probe,below was displayed:

arathy@arathy-HP-Laptop-14q-cs0xxx:~$ st-info --probe
Found 1 stlink programmers
serial:
openocd: ""
flash: 0 (pagesize: 0)
 sram: 0
 chipid: 0x0460
  descr: G071/G081 device

The stlink is detecting but is not able detect the sram and flash memory. Can

[2020-04-02 13:06] Nightwalker-87 commented on #905
Please update to the latest release first, before we can offer any support.

[2020-04-02 13:09] Arathy760 commented on #905
I am currently using the 1.5.1 version

[2020-04-02 13:11] Nightwalker-87 commented on #905
I know, that 's why I asked you to update to the latest version which is 1.6.0.

[2020-04-02 14:10] Nightwalker-87 opened #906 "README: Opening new issues"
In order to offer sufficient and the best possible support, please take note of the following:

1) If using a ST-Link-v2 programmer: Convince yourself that it is recognised as an USB device by your computer, thus reporting device and manufacturer ID. Use a diagnostic tool to probe for enumerated USB devices, e.g [`lsusb -v`](https://linux.die.net/man/8/lsusb) on unix-based systems.
2) **Use the [S

[2020-04-02 14:21] Arathy760 commented on #905
Sir,
As I am new to STM32 and STLINK can you please help me to update it?

[2020-04-02 14:33] Nightwalker-87 commented on #905
Please check your ubuntu package repository first.
If v1.6.0 is not available there, please take a look at our documentation in `/doc/compiling.md`.

[2020-04-02 15:14] Nightwalker-87 commented on #791
Resolved by either #715 (swapped SWDIO and SWCLK lines) or #832 (firmware).

[2020-04-02 15:14] #791 closed

[2020-04-02 15:17] Arathy760 commented on #905
Sir
The version of stlink in my system is 1.6.0 as shown.
![Screenshot from 2020-04-02 20-45-09](https://user-images.githubusercontent.com/63045644/78266121-f819ce00-7522-11ea-9803-494229551cf8.png)

But the version showing in the st-util is 1.5.1.

[2020-04-02 15:43] Nightwalker-87 commented on #905
Something is not correct there. Please uninstall this package via the package manager and compile from source as described in the documentation above. I'll take a look at the package - that's another problem.

Apart from that: Your device is not detected correctly.
No device information is displayed when calling `st-info --probe`:
[code]
These values should fill out.
[code]
These values are not co

[2020-04-02 17:14] Nightwalker-87 commented on #764
@davehylands: Thank You for your helpful contribution and feedback.

Closing this with commit f7ab09f1148d6930df25bb8bf591a6e0e1e68137 as we know by now that the udev configuration is functional.
I can confirm this with a recent debian system as well.

The problem appears to be an isolated issue on a local installation that we can not reproduce.
A concluding advice is to retry with a clean (system

[2020-04-02 17:14] #764 closed

[2020-04-02 18:43] Nightwalker-87 commented on #673
@Hoel: As mentioned before, it is obvious that the STM32F411CEU6 device reports the false chip-ID to the stlink tools. I would presume that this chip is defective.
@daniel-santos: Your STM32G474RET6U reports the correct chip-ID `0x469`. Please note that support for this device was not present until #822, thus not available in Release v1.6.0 either. It will be supported in the upcoming Release v1.6

[2020-04-02 18:43] #673 closed

[2020-04-02 19:30] #902 closed

[2020-04-02 19:36] Nightwalker-87 commented on #798
Related to #738 and #795.

[2020-04-02 19:40] #782 closed

[2020-04-02 20:00] Nightwalker-87 commented on #838
This looks like as if udev rules and/or permissions are not set properly.
Please consult our tutorial at `/doc/tutorial.md` and follow the instructions "HowTo - Verify if udev rules are set correctly" to solve this problem that very likely derived from a false configuration on the local system.

[2020-04-02 20:00] #838 closed

[2020-04-02 20:06] Nightwalker-87 commented on #690
Sorry for the delay. Please check if #876 resolves this problem as it resolves #579, one of the similar issues you mentioned in your opening post.

[2020-04-02 22:27] Nightwalker-87 commented on #806
It appears that `st-flash` is either not installed or the binary-path is missing in the $PATH system variable. No USB device is detected at address `/dev/ttyUSB0`. As the content of the custom script remains unknown, no further help can be provided.

[2020-04-02 22:27] #806 closed

[2020-04-02 23:06] Nightwalker-87 commented on #777
I can't reproduce this error with debian bullseye (testing) on v1.5.1.
The installation completes without any warnings or errors.

I finally find this in `/usr/lib/` (which also is how it should look like):

[code]
From this one can conclude that your installation paths are somehow messed up.
A helpful advice would be to `make clean` and then remove all remnants in the destination directories. Rer

[2020-04-02 23:06] #777 closed

[2020-04-02 23:15] Nightwalker-87 commented on #777
My advice for installing the toolchain is to install it from the package repository of the distribution. The predefined installation routine then ensures that the toolchain is installed to the right directory paths and all symbolic links and system variables are set correctly, thus the toolchain is properly integrated into the system.

[2020-04-03 00:23] Nightwalker-87 commented on #557
See also #899.

[2020-04-03 05:51] Arathy760 commented on #905
Sir,
This version issued got solved and i think the chipid is correct as i am using a custom board. Now i am facing the first error i.e,the unknown memory region.

[2020-04-03 08:49] Nightwalker-87 commented on #905
Please also tell us how you have solved the version issue you had before.

Regarding the device identification something is technically NOT correct, even if you use a custom board. Three possibilities:

1) If you had a STM32F103C8 (ARM-Cortex M3) because this would definitely show up with

[code]
2) If you have a G0 chip (ARM-Cortex M0+) it will show up as seen:

[code]
The M0+ and M3 are physical

[2020-04-03 09:01] grevaillot commented on #690
I just checked on my tree with the same board (l0 discovery lora thing), apparently there's a flash loader run error - but the flashing goes well.. i dont think i have an other l0 device to check.

I'll have a look at the flash loader run error.

[2020-04-03 09:10] Nightwalker-87 commented on #690
Ah, thx @grevaillot! I know about this error from quite a few other tickets.
It would be very helpful indeed, if you could find a solution to this.

[2020-04-03 09:45] #211 closed

[2020-04-03 10:33] Arathy760 commented on #905
Sir,
The version issue is solved when I removed the 1.5.1 version package through package manager.

[2020-04-03 13:17] Nightwalker-87 commented on #905
What is your ubuntu version? I'll look at the pkg-version issue then.
You should gain additional info about your device/board in the meanwhile.
I'd prefer to see a gdb console output as described in the tutorial for example.

[2020-04-03 13:27] Arathy760 commented on #905
Sir,
Thank you so much for your support,patience and time. I succeeded in solving the unknown memory region issue, When i tried to burn the hex code of my project without specifying a particular address location.
![Screenshot from 2020-04-03 18-54-15](https://user-images.githubusercontent.com/63045644/78365476-c6653d80-75dc-11ea-86da-ff385b2dfeb6.png)

Once again Thank you so much.

[2020-04-03 13:46] Nightwalker-87 commented on #905
I see - good, but this also shows clearly that you don't have a STM32F103C8 device, so the issue title is wrong. What chip model is it instead? Can you print out the marking?
It would be nice though, if you addressed the questions I passed over to you, because other users  may want to learn something from this as well.

[2020-04-03 13:49] Nightwalker-87 commented on #905
... and please run `st-info --probe` again and let us know about the output.

[2020-04-03 16:08] Arathy760 commented on #905
Sir,
As you see i was able to flash the code but when you told me to run st-info --probe it was showing like this
![Screenshot from 2020-04-03 21-36-44](https://user-images.githubusercontent.com/63045644/78381640-4a2a2480-75f3-11ea-95dd-fe6a11a2ea3a.png)

 Earlier it was running fine and was displaying me all the details correctly but now its not detecting the device. I think the bootloader is ove

[2020-04-03 16:32] Nightwalker-87 commented on #905
I don't think this is the reason. `LIBUSB_ERROR_PIPE` denotes a connection problem.
Can you do me a favor forget everything seen so far and restart from the very beginning by following theses steps one by one (without doing anything else not mentioned here):

1) unplug the device
2) write down the marking printed on the chip
3) take a closeup picture of the board (where one is able to recognize so

[2020-04-03 17:07] Arathy760 commented on #905
Sir,
I am really sorry for switching from one issue to another.
My Ubuntu version is 19.04
The things which you specified will update soon.

[2020-04-03 19:56] #896 closed

[2020-04-03 19:59] #897 closed

[2020-04-03 22:35] Nightwalker-87 commented on #899
Looking at this again, I find that CentOS 7 really is the only system that would hold us on cmake 2.8.12.2, otherwise we would be able to go straight up to 3.4.2 making use of the newer code base. Also I found from research that CentOS is used in scientific and commercial environments, yes, but mainly in the role as a server or workstation for a specific task. It appears related to enterprise envi

[2020-04-03 22:38] Nightwalker-87 commented on #899
So we'll likely go to the latest available version for the windows compilation from source and consider the proposal above for the package based systems.

[2020-04-03 23:02] Nightwalker-87 commented on #662
Resolved in #714.

[2020-04-03 23:02] #662 closed

[2020-04-04 00:06] Nightwalker-87 commented on #356
@yeswolf: Which version of `stlink` do you use?

[2020-04-04 00:22] #274 closed

[2020-04-04 00:31] #269 closed

[2020-04-04 05:58] Arathy760 commented on #905
Hello Sir,
I did connection of the device as per your instruction.
![IMG_20200404_110024](https://user-images.githubusercontent.com/63045644/78419845-433cf980-7667-11ea-8c80-c1348406d7e8.jpg)

![IMG_20200404_105955](https://user-images.githubusercontent.com/63045644/78419846-4506bd00-7667-11ea-897b-b0c3c2279f18.jpg)

This is my board.
![Screenshot from 2020-04-04 11-24-44](https://user-images.gith

[2020-04-04 07:19] yeswolf commented on #356
@Nightwalker-87 I use ```v1.6.0-dirty``` built from sources (downloaded from releases) with STM32F103RCT6 High-density.

[2020-04-04 10:37] Nightwalker-87 commented on #905
Thanks.

8) Can you write down the printed marking of the ICs at U1 and U3? I believe one of these is the STM32 device. I'm not able read it from the picture you have uploaded.
9) What programmer do you use? Please provide a short description.

I have a STLink-v2 (clone) here which is definitely working, but when I don't connect it to a device (open SWD-wires, on purpose) I find:

[code]

and

[co

[2020-04-04 11:08] Nightwalker-87 commented on #899
@slyshykO: Are you fine with this?

[2020-04-04 11:24] Arathy760 commented on #905
Sir,
1. U1 is STM32G071G8U6 and U3 is CC1120
2. Programmer is ST Link V2
![IMG_20200404_165143](https://user-images.githubusercontent.com/63045644/78438410-d17ba480-7694-11ea-9473-53ac520a7e51.jpg)

3. As you said I tested with the blue pill board it worked fine.
![Screenshot from 2020-04-04 16-46-07](https://user-images.githubusercontent.com/63045644/78438961-f7a14480-7694-11ea-8695-2e848b819020.

[2020-04-04 12:36] Nightwalker-87 commented on #905
Very good, so we can rule that out as well. You have the same programmer I use.
It seems to work accurately, as the bluepill identifies with the correct dataset.

11) Can you connect the four SWD-wires to the board again and check the pinout of each of the 4 lanes (on the board side)? Is there any datasheet or manual of this SmartMotes Router board I can look at on the web?
12) Do you power this b

[2020-04-04 12:41] Nightwalker-87 commented on #356
I wonder if this could be related to a missing flash loader for F1 devices ...
We currently only have one for F0, F4, F7, L0, L1 and L4.

[2020-04-04 14:17] Arathy760 commented on #905
Sir,
The board which I am using is a custom board designed by our company. And I tried by connecting it again but same issue.
And also I tried with connecting both gnd and 3v3 via programmer and also by connecting gnd via programmer, 3v3 by usb.

[2020-04-04 14:49] Nightwalker-87 commented on #905
This leads me to the question if you have access to a second identical board for testing.

Currently we can't rule out that an electrostatic discharge (ESD) event occurred somewhen during your testing that has destroyed the board or any key assembly or part on it what now prevents it from reacting to any commands from the programmer. I can't tell from here.

[2020-04-04 15:20] Arathy760 commented on #905
We are currently in a lock down situation so another board is not practically possible sir. I have a doubt like how the discharge will occur? As it was working properly till it get programmed.

[2020-04-04 15:36] Nightwalker-87 commented on #905
I can happen with a single touch on the board without further notice if not pre cautious enough.
Read here: https://en.wikipedia.org/wiki/Electrostatic-sensitive_device
Maybe you should consider this, when indicating to deal with such topics in a somehow professional surrounding with commercial interest.

If this should be the reason for the board no longer responding, it is very likely that you c

[2020-04-04 15:42] Nightwalker-87 commented on #905
Edit: This may not even have any relation to your programming attempts...

[2020-04-04 15:44] Arathy760 commented on #905
Actually I didn't do anything else other than programming the board. And it was working fine till it get programmed.

[2020-04-04 16:06] Nightwalker-87 commented on #905
Yes, maybe, but for that you needed to touch it (e.g. to connect the programmer, etc.). So that could be a possible point in time where such an event could have taken place. I charge up every day at home, and I even feel it sometimes when touching the case of my computer. This is a normal physical effect. Knowing that, I'd at least touch a grounded surface before dealing with any unshielded electr

[2020-04-04 16:09] Arathy760 commented on #905
Anyway thanks alot for your support sir.

[2020-04-04 16:31] Nightwalker-87 commented on #905
You are welcome and I hope that you can test with a second identical board soon which then leads to success.
If a similar problem should occur there as well, please feel free to submit a new ticket. I am sure that we can proceed a lot quicker by then, as I got know a lot more about the device.

I am closing this as resolved, as it doesn't seem that we can do anything to it now. Though we couldn't

[2020-04-04 17:41] slyshykO commented on #899
cmake 3.4 is more better than 2.8

[2020-04-04 17:55] Nightwalker-87 commented on #899
Closed with commit 27aa88821197d3ffe82baff4e971c3488ec39899.

[2020-04-04 17:55] #899 closed

[2020-04-04 17:57] #905 closed

[2020-04-04 20:35] Nightwalker-87 commented on #438
@slyshykO: I have some news on this. As you can see, I have created new branches for old versions that fix the git version tag bug (introduced when the version numbering scheme was alligned for earlier versions) in each of these earlier versions, which prevented cmake from compiling. With this fix (which is nothing functional really, and did not exist in earlier days) I can compile quite a few rel

[2020-04-05 13:13] Nightwalker-87 commented on #557
We should be able to deal with this now, as the minimum version requirement for cmake now is 3.4.2, so there should not be any worries about broken compatibilities any more.

[2020-04-05 13:15] Nightwalker-87 commented on #557
We should be able to deal with this now, as the minimum version requirement for cmake has been raised to 3.4.2, so one does no longer need to worry about any broken compatibilities.

[2020-04-05 14:10] Nightwalker-87 commented on #557
@bjornfor: I have added the GNUInstallDirs.cmake module locally, but are not quite sure yet how to properly integrate it into the build configuration we currently have. I'll open a new branch for this, so you or anyone else can have a look at it. I am sure there are people who know more about cmake than I currently do...

[2020-04-05 14:25] bjornfor commented on #557
@Nightwalker-87 : GNUInstallDirs.cmake is distributed with cmake, you don't need to add it yourself to the codebase.

To use it just

[code]

[2020-04-05 14:37] Nightwalker-87 commented on #557
I understand, but is this really all that has do be done unrelated to any custom configuration?

[2020-04-05 15:23] bjornfor commented on #557
I think so. Heres an (untested) diff of how I'd replace two hardcoded /etc instances in stlink:

[code]

[2020-04-05 15:26] bjornfor commented on #557
Ah, the remaining "/etc/" instances are in comments or documentation, so I think that patch above is al that's needed. (The patching in nixpkgs was done with sed and no GNUInstallDirs so it's not directly applicable.)

[2020-04-05 16:05] Nightwalker-87 commented on #619
@FreddieOliveira: Can you test if this works correctly?

[2020-04-05 16:15] Nightwalker-87 commented on #557
@bjornfor: Can you test it?

[2020-04-05 17:08] bjornfor commented on #557
It does work, it played around with this script:

[code]

I also edited CMakeLists.txt to print out interesting variables.

I guess the default CMAKE_INSTALL_FULL_SYSCONFDIR might not be what everyone expects (not that I know what that is though), so perhaps it's a good idea to update documentation to suggest building with `-DCMAKE_INSTALL_SYSCONFDIR=/etc` to ensure no surprises in the common case

[2020-04-05 17:22] FreddieOliveira commented on #619
Hmm, still `make: *** No rule to make target 'uninstall'.  Stop.`

![Screenshot_2020-04-05-14-18-46-399_com termux](https://user-images.githubusercontent.com/9597536/78505247-95a21700-7748-11ea-9d35-02db74eaac92.png)

I silenced the make output to fit the screenshot, but it ran correctly. The Makefile generated under the build dir still has no uninstall target 🙁

[2020-04-05 17:27] Nightwalker-87 commented on #557
Let me take a closer look at this related documentation on the web.
We should have an idea about how this works in detail.
I'll update our project documentation if necessary.

[2020-04-05 17:32] Nightwalker-87 commented on #619
Well these are two things: We have `cmake` and `make`, and this request was about to add an uninstall target for the former. However I have something to fix related to `make` as well, so I can have a look.

[2020-04-05 20:27] Nightwalker-87 commented on #557
I think `-DCMAKE_INSTALL_SYSCONFDIR=/etc` should rather go into our cmake config as a default by referring to: https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html

However I'm not sure yet, whether we
- should preset `-DCMAKE_INSTALL_PREFIX=` or
- leave that flag to the user or
- do a preset (first option) with allowing him to overwrite this preset flag.

[2020-04-05 20:34] Nightwalker-87 commented on #619
This may be related to #804.

[2020-04-05 21:47] ihassin commented on #852
![IMG_0132](https://user-images.githubusercontent.com/19006/78510724-7bc2fd00-7765-11ea-9032-5ee5bda24021.jpeg)
n we can continue to look for a solution, as a problem appears to be present.

@Nightwalker-87 @jcw : I think I am on (1). Attaching photo. I also tried with a Mac that has native USB ports, so I don't think it's the converter that is the problem.

[2020-04-05 22:16] Nightwalker-87 commented on #852
As far as I can see your SWDCLK and SWDIO lines are swapped.

[2020-04-05 22:51] Nightwalker-87 commented on #852
I found this on the web: https://wiki.cuvoodoo.info/doku.php?id=jtag
However, your programmer looks similar, but has a different case marking.

Can you open it by _carefully_ pulling back the metal case over the usb connector. It would be helpful if you could take a closeup picture from the board inside (front side and back side). The resolution of the last picture you sent was quite good BTW. :+1

[2020-04-05 23:09] jcw commented on #852
FWIW, I have a couple of ST-Link clones, which seem to fall into two variants and different header pins:

![DSC_6140](https://user-images.githubusercontent.com/148955/78512153-910a4c80-77a2-11ea-81b2-b2e3f0bb5560.jpeg)

![DSC_6141](https://user-images.githubusercontent.com/148955/78512157-9798c400-77a2-11ea-9633-4e608b569f75.jpeg)

The chips on both are labeled STM32F103CBT6, i.e. 128k flash F103'

[2020-04-05 23:20] Nightwalker-87 commented on #852
@jcw: I am aware of that, but have two here with different pinouts as well. As one could read the pinout in the picture, I was able to identify.
The upper one of yours has a foam pad, which addresses a common issue as well, where the case can short-circuit the pin row of the connector - that's good. Thx for providing this example though, as it shows how the quality of the assembly can vary (but th

[2020-04-06 00:05] #387 closed

[2020-04-06 00:11] #555 closed

[2020-04-06 02:58] ihassin commented on #852
This is the one I got from Amazon:

https://www.amazon.com/gp/product/B079B95L9Y/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1

Itamar
On Apr 5, 2020, 19:21 -0400, nightwalker-87 <notifications@github.com>, wrote:

[2020-04-06 03:05] ihassin commented on #852
The case is super-glued to the connector. At least they did a good job on that...

[2020-04-06 04:26] FreddieOliveira commented on #619
But I don't get it, https://gitlab.kitware.com/cmake/community/-/wikis/FAQ#can-i-do-make-uninstall-with-cmake suggests modifying `CMakeLists.txt` and creating a new file `make_uninstall.cmake.in`, but none of these changes were made.

I took my time however to contribute helping you guys with this pull request: #907

[2020-04-06 05:49] FreddieOliveira commented on #804
@Jochen0x90h and how exactly do you suggest to pass cmake variables, such as  DCMAKE_INSTALL_PREFIX, via the top level Makefile?

As @xor-gate said, this top level Makefile is just for convenience, not for fine control over the build process. It automates the process for general cases, it wasn't intended for specific ones like yours. If you want granularity control over what cmake will do, you sho

[2020-04-06 06:01] chenguokai commented on #629
With an in-depth investigation, I suppose explicitly cast off_t to size_t is an acceptable solution.

**What mmap does:**

According to [http://man7.org/linux/man-pages/man2/mmap.2.html](http://man7.org/linux/man-pages/man2/mmap.2.html)

**Why it does not matter with a cast**

Most modern 32 bit architects (x86, ARM, MIPS and RISC-V at least) are equipped with a 32 bit virtual address space (what

[2020-04-06 06:07] slyshykO commented on #629
I saw this issue and I also encounter with it using clang under win10.
In my opinion, we have improper mmap.h in the project. It should be used only for windows, where absent mmap system call. Also, we should use proper syscall with the right arguments.

[2020-04-06 06:26] chenguokai commented on #629
@slyshykO I suppose what you want to say is about src/mmap.c, I did not check this file previously. Thanks for your reminder.
Quite agree with you on the mmap implementation.

[2020-04-06 06:42] slyshykO commented on #629
@chenguokai I said about stlink/mmap.h that used on all systems

[2020-04-06 07:28] chenguokai commented on #629
@slyshykO I suppose we are talking about just the same thing, from different perspectives. The mmap.h is included no matter what system the software is built for. The corresponding mmap implementation is situated in src/mmap.c, rather than provided by libc on POSIX-compliant systems.
What I wanted to express is the fault is not situated in a duplicated mmap declaration but an duplicated implementa

[2020-04-06 09:12] Nightwalker-87 commented on #852
Unfortunate - Can't get an impression from here then, whether it is defective.

Maybe it it a solution to buy a new (cheap) programmer, but make sure you get one of these "known ones" with a "ST" printing on the case (these can also be opened BTW) as shown in the link I've sent before. You may consider to order from a local (known) online-distributor or shop, maybe on ebay, but that's up to you. C

[2020-04-06 09:18] Nightwalker-87 commented on #619
No! I did implement that - look at the referenced commit (17 hours ago) just before I asked you to test. This targeted that commit of course. You seem to have tried with an older commit.

[2020-04-06 09:24] Nightwalker-87 commented on #629
@chenguokai:  Thx for coming back to this. Can you propose an implementation of that and test it? We may include it with a PR then.

[2020-04-06 10:50] chenguokai commented on #629
I am tweaking, while there are some other build issues following. Maybe a bigger patch is needed to build on 32 bit platforms.

For now, I am having issues with src/usb.c:192
<img width="997" alt="image" src="https://user-images.githubusercontent.com/11240171/78550900-77ffab00-7837-11ea-8f4b-b7fc544b7f46.png">

[2020-04-06 11:33] Nightwalker-87 commented on #804
I think you may not get an answer from **Jochen0x90h** as he no longer has a fork of this project.
Not sure if he is even notified then...

[2020-04-06 11:43] #629 closed

[2020-04-06 11:51] ihassin commented on #852
Thanks so much for your help thus far. I’ll get another set/programmer and let you know.

Itamar
On Apr 6, 2020, 05:13 -0400, nightwalker-87 <notifications@github.com>, wrote:

[2020-04-06 12:18] Nightwalker-87 commented on #852
@ihassin: Let me give you some final advice how to proceed further: As soon as you have the new device, simply plug it into an usb port on your computer _without any board connected to it_ and refer to the following:

If this is the case, you can proceed as originally intended.

... and let me give you some general advise for further proceedings:
- **avoid** to connect wires while the programmer i

[2020-04-06 12:22] Nightwalker-87 commented on #852
@ihassin: I hope to have helped you along with the provided feedback.
Thx also to @jcw for the given input.

I am closing this now as resolved, as this issue is not related to the `stlink` toolset itself.

[2020-04-06 12:22] #852 closed

[2020-04-06 12:55] ihassin commented on #852
I’d like to thank you for the time and effort you spent on this and how helpful you were with your explanations and support. Really commendable, thank you for help and attention!

[2020-04-06 14:44] chenguokai opened #909 "[refactoring] Clean code with unified variable type"
As far as I can see, many functions use fixed-length variables. It is indeed useful for functions that need to deal with fixed data format. However the abuse of fixed-length variables are causing potential build failures and inessential casts.

For example in src/usb.c:
<img width="842" alt="image" src="https://user-images.githubusercontent.com/11240171/78568947-704eff00-7855-11ea-965e-0c5c05c2fef

[2020-04-06 14:50] Nightwalker-87 commented on #852
You are welcome.

[2020-04-06 14:58] Nightwalker-87 commented on #909
Thx for putting this up on the agenda. As it is a general problem throughout the codebase, I'm not sure at the moment if we should put that into v1.6.1 straight away. @martonmiklos previously requested to do some cleanup related to code style, which I pushed into the v1.6.2 milestone. Maybe this would be a good place for this issue as well, though it will push it out a bit further.

[2020-04-06 15:06] chenguokai commented on #909
Maybe I can do some cleanup locally first and follow up the develop process.😃

[2020-04-06 15:11] Nightwalker-87 commented on #909
Well of course you can, but please ensure to branch off from `develop` and keep following this branch, instead of `master`, which is no longer used for frequent changes, but only for releases and hotfixes.

[2020-04-06 15:57] Nightwalker-87 commented on #672
As shown by **xor-gate** and **maxmunzel** the original problem does obviously not appear to be related to the `stlink` toolset itself - one feedback addresses the same macOS version and the other a similar STM32F4 device. Thus it seems appropriate to close this issue as resolved now.

[2020-04-06 15:57] #672 closed

[2020-04-06 16:17] Nightwalker-87 commented on #638
Reopening this as the underlying problem that causes this issue remains unsolved.

[2020-04-06 16:25] FreddieOliveira commented on #619
Ooh, now I see. This was pushed into the `ext_pkg_versions` branch, I was testing with the master. My bad.

Indeed it fixes, thanks. Closing the issue as well as the duplicated PR. Just to know, when you intend to merge this into the master branch?

[2020-04-06 16:33] Nightwalker-87 commented on #619
Good, so it's not related to #804 then.

Yes, it will merge into the next release v1.6.1. You can track the related milestone. It's description should provide you with all info there is so far, including the release date (may be subject to change though, depending on progress). It is updated regularly so you should not worry to miss anything.

If you want to keep track with current changes and fix

[2020-04-06 16:41] #619 closed

[2020-04-06 16:42] Nightwalker-87 commented on #619
Fixed in commit e7ed76bd12ab6cb022b4c011fa706eae69ad77f8.

[2020-04-06 17:48] Nightwalker-87 commented on #422
No, not as far as I am aware of.

[2020-04-06 21:08] Nightwalker-87 commented on #332
This may be of interest for you @rewolff.

[2020-04-06 21:19] #390 closed

[2020-04-06 23:10] Nightwalker-87 commented on #574
As @jasonhouang mentioned before, the root of this problem is a system security setting introduced by Apple with OS X El Capitan (OS X 10.11) in 2015.

The so called System Integrity Protection (SIP) is active per default and prevents the operating system amongst other things to load unsigned Kernel Extension Modules (kext). Thus the ST-Link-v1 driver supplied with the tools and installs as a kext

[2020-04-06 23:16] Nightwalker-87 commented on #574
I am going to add the instructions above to our project documentation in order to make them publicly accessible and will subsequently close this issue as resolved.

[2020-04-06 23:30] Nightwalker-87 commented on #735
Related to #574.

[2020-04-06 23:40] Nightwalker-87 commented on #735
We will be having problems regarding Kernel Extensions (kext) in future releases of macOS as these have been deprecated by Apple: https://developer.apple.com/de/support/kernel-extensions/

Against this background we will not provide a new kext for later macOS versions.
The above implies as well that we either need a new approach to ensure the same functionality currently present or as an alternati

[2020-04-07 14:34] slyshykO commented on #438
On my PC I receive appropriate output for v1.5.1-patch. Libusb was updated to 1.0.22 in this version.
Before v1.5.1-patch libusb warnings appear in the output.

[2020-04-07 16:34] Nightwalker-87 commented on #587
Closed by commit 59c5cfd7ec5c7f2a035944ecc5ca01d3d7b31170.

[2020-04-07 16:34] #587 closed

[2020-04-07 16:47] Nightwalker-87 commented on #574
Here we actually had two separate problems in one issue:
1) **libusb problems with device detection in macOS:**
Bug in external `libusb` library, _solved in v1.0.23_, which is also distributed via the package repositories  `homebrew` and `MacPorts` per default. Thus this is no longer an issue.
2) **ST-Link-v1 driver issue relates to Kernel Extensions (kext):**
Closed by commit 59c5cfd7ec5c7f2a0359

[2020-04-07 16:47] #574 closed

[2020-04-07 18:09] Nightwalker-87 commented on #827
The installation procedure for the `stlink` tools via `homebrew` appears to be working as described in our project documentation. Since the provided information in this issue is not sufficient and there is no possibility to reproduce it, we can not investigate this any further. Thus I am closing this ticket now. Should there be any similar problem in future, please feel free to submit a new ticket

[2020-04-07 18:09] #827 closed

[2020-04-07 19:25] Nightwalker-87 commented on #788
Closed by commit bf840a1ae82ffc3ef9929f243bb8050d6856f698.

[2020-04-07 19:25] #788 closed

[2020-04-07 20:27] Nightwalker-87 commented on #780
@chenguokai: Do you have an idea on how to proceed here?

[2020-04-07 20:37] Nightwalker-87 commented on #312
As it appears, there is a feasible solution to this problem in #427.
Since the provided information in this issue is not sufficient and there is no possibility to reproduce, we can not investigate this any further. Thus I am closing this ticket now.

[2020-04-07 20:37] #312 closed

[2020-04-07 20:49] Nightwalker-87 commented on #378
@gerryqd: What is the current state of this?

[2020-04-07 21:24] Nightwalker-87 commented on #593
Please check if #876 resolves this problem as it resolves the related issue #579 mentioned in the opening post.

[2020-04-07 22:31] Nightwalker-87 commented on #795
@Glaeqen: Could you please open a PR to add the necessary support to build on MSVS?

[2020-04-07 22:46] Nightwalker-87 commented on #795
@Andy2No: I have updated the README (23c071edea45f6e8852fef52d884a680973d6d8f), which is not the final state though, I know, but at least represents the current situation. Additionally our compiling instructions have been rewritten (27aa88821197d3ffe82baff4e971c3488ec39899).

Windows binaries are now built into a separate build folder during installation, but that routine still wants some clean-up

[2020-04-07 23:55] Nightwalker-87 commented on #772
Duplicate of #563.

[2020-04-07 23:56] #563 closed

[2020-04-08 00:25] Nightwalker-87 commented on #557
@bjornfor: What's your opinion on this?

[2020-04-08 03:03] chenguokai commented on #780
Cannot reproduce this case.
I followed the procedure on my macOS machine. The error message appears, but no sign of entering any dead loops.

[2020-04-08 05:11] bjornfor commented on #557
To have the least support issues, I think I would preset -DCMAKE_INSTALL_SYSCONFDIR=/etc and leave -DCMAKE_INSTALL_PREFIX= unset.

But I'm really unsure of presetting /etc (vs just documenting the option). I mean the option does have a default value already, so with /etc as overridden default it would no longer behave as documented in GNUInstallDirs.

[2020-04-08 07:52] langhaarschneider commented on #613
also +1 on SWO feature

[2020-04-08 09:56] chenguokai commented on #780
After checked the error handling process with `lldb`, I probably figured out the fault code.

https://github.com/texane/stlink/blob/bf840a1ae82ffc3ef9929f243bb8050d6856f698/src/gdbserver/gdb-server.c#L1448

When `_stlink_usb_step` encounters an error initially triggered by the failure of a libusb call, it returns a non-zero return value (-1 in this case). However this return value is not handled b

[2020-04-08 10:38] Nightwalker-87 commented on #780
Thx for the detailed analysis. I'd favour option 1 here. If people run into problems related to specific  local hardware instabilities, there is nothing we can do to it anyway and this is also nothing what the stlink tools should considerate. It seems more important that we do any compromise on debugging. Are you able to fix this straight away?

[2020-04-08 10:47] chenguokai commented on #780
I will check the documentation of gdb to send packet(s) properly. Not too difficult I guess.
After I am done, I will raise a PR.

[2020-04-08 10:50] rewolff commented on #780
I didn't say it, but I was going for option 2. But after your explanation: You're right. You've got me convinced: Unless there is a valid reason to believe an error is temporary an error should be considered fatal immediately.

Retrying without informing the user will lead to sudden surprises. Suppose 1/100th or 1/1000th of the transferred bits gets corrupted (at whatever level). If that results i

[2020-04-08 10:52] Nightwalker-87 commented on #788
Closed by commit 9f2cad2c978a55a4125e6b8c4c656a59e7f9448c.

[2020-04-08 11:00] Nightwalker-87 commented on #557
Ok, thanks for your feedback. I'll add this to our documentation then and we can ensure the defaults as documented in GNUInstallDirs, which also appears to be in the sense of the opening post.

[2020-04-08 12:41] chenguokai commented on #780
The dead loop is resolved during my local test. Now st-util will exit. gdb will receive a failure reply and disconnect.

[2020-04-08 14:58] #780 closed

[2020-04-08 15:11] chenguokai commented on #888
I guess, this problem may be restored to the expected aborts behaviour by applying the same method used in https://github.com/stlink-org/stlink/pull/913
What might be challenging is to reproduce this error with host debugger on `st-util` and find out what kinds of error need to be treated as critical.

[2020-04-08 15:48] Nightwalker-87 commented on #3
Yes, I understand what you mean. In fact this is misleading.
Looking at the [STMicroelectronics website for MCUs and MPUs](https://www.st.com/en/microcontrollers-microprocessors.html) we should replace `stm32 discovery line linux programmer` with `Open source STM32 MCU programming toolset` to get everything right.

[2020-04-08 15:49] Nightwalker-87 commented on #3
The description of this project is now corrected what resolves this issue.

[2020-04-08 15:49] #3 closed

[2020-04-08 16:13] Nightwalker-87 commented on #826
I am closing this topic now, as new maintainers have been nominated.

Further this project has now been transferred to a git-organisation today, as agreed between @texane, @xor-gate and @Nightwalker-87. This will ease collaboration and possible transitions between maintainers in the future, as this project is now hosted within a shared account.

**However we should ensure for the future that there

[2020-04-08 16:13] #826 closed

[2020-04-08 16:58] Nightwalker-87 commented on #437
This project has been transferred to a git-organisation today, as agreed between @texane, @xor-gate and @Nightwalker-87. This will ease collaboration and possible transitions between maintainers in the future, as this project is now hosted within a shared account. Also it will offer new possibilities and features for further evolution of this project.

I'll leave it at that for now and may go into

[2020-04-08 17:16] Nightwalker-87 commented on #874
**General notice:**

This project has now been transferred to a so called "**git-organisation**". Hosting within such a shared account will ease collaboration and offer new possibilities and features for further evolution of this project.
Please take into account that with this transition, the web address to this project has changed as well. As taken from documentation, GitHub will automatically r

[2020-04-09 07:14] xor-gate commented on #437
Thanks @Nightwalker-87 for the public update. If you need some ideas please drop them here so we can discus. I will make time for it to move the project further and give my advice.

[2020-04-09 07:17] xor-gate commented on #437
Also a big thanks to @texane and the other contributors who took care of the project while I was busy with life of course ;=)

[2020-04-09 07:21] xor-gate commented on #682
@Nightwalker-87 we need to update LICENSE and add the GPL part also for those files. I had some discussion in an email with the original authors which seemed to be copied from the OpenOCD project into stlink project. So we have a mix of GPL van BSD licensed code. If something is unclear please post a comment.

[2020-04-09 07:23] xor-gate commented on #682
Also @Nightwalker-87 it seems this issue is floating in the v1.5.1 milestone where 3 tickets are still open, I move them to the new milestone and next milestone so we sort out those things :=)

[2020-04-09 07:39] xor-gate commented on #682
I moved the issue to milestone v1.6.1 which is easy to fix. Also closed dangling v1.5.1 which was already release by me long time ago.

[2020-04-09 07:42] xor-gate commented on #906
I did edit point 1. by adding a extra info about `lsusb -v`

[2020-04-09 08:21] Krasnov-Max opened #914 "Not building"
/tmp/stlink $ sudo ./travis.sh
-- C compilers available
/usr/bin/gcc
/usr/bin/gcc-5
/usr/bin/gcc-ar
/usr/bin/gcc-ar-5
/usr/bin/gcc-nm
/usr/bin/gcc-nm-5
/usr/bin/gcc-ranlib
/usr/bin/gcc-ranlib-5
/usr/bin/clang
/usr/bin/clang++
/usr/bin/clang-3.8
/usr/bin/clang++-3.8
/usr/bin/clang-apply-replacements
/usr/bin/clang-apply-replacements-3.8
/usr/bin/clang-check
/usr/bin/clang-check-3.8
/usr/bin/clang-c

[2020-04-09 08:27] slyshykO commented on #914
@Krasnov-Max , скрипт ./travis.sh предназначен для сборки системой последовательной интеграции (CI).
Если тебе интерстно как собрать из исходников, пожалуйста, ознакомься с https://github.com/stlink-org/stlink/blob/develop/doc/compiling.md .

Также, ознакомься с правилами оформления багов - https://github.com/stlink-org/stlink/blob/develop/.github/ISSUE_TEMPLATE/bug-report.md

[2020-04-09 08:42] Krasnov-Max commented on #914
Ознакомился. Спасибо. Но это не помогло. не собирается и все тут. Ошибки на первом шаге make release.

[2020-04-09 09:00] slyshykO commented on #914
Установил нужные *-dev пакеты ?
[code]

Какую версию _stlink_ ты собираешь ?
Так же хотелось бы увидеть лог ошибки.

[2020-04-09 09:20] Krasnov-Max commented on #914
Версия 1.6.

Логи ошибок:

/home/maxx/tmp/stlink/build/Release/CMakeFiles/CMakeError.log
Compiling the C compiler identification source file "CMakeCCompilerId.c" failed.
Compiler: /usr/bin/cc
Build flags:
Id flags:

The output was:
1
as: неизвестный ключ «--64»

Compiling the C compiler identification source file "CMakeCCompilerId.c" failed.
Compiler: /usr/bin/cc
Build flags:
Id flags: -c

The out

[2020-04-09 09:21] Krasnov-Max commented on #914
Да нужные пакету установленны

[2020-04-09 09:52] slyshykO commented on #914
1 - покажи вывод команды
[code]

2 выполни команду
[code]
и прикрепи к ответу файл **buildlog.txt**

[2020-04-09 10:04] Krasnov-Max commented on #914
maxx@maxx-pc ~/tmp/stlink $ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/5/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu
5.4.0-6ubuntu1~16.04.12'
--with-bugurl=file:///usr/share/doc/gcc-5/README.Bugs
--enable-languages=c,ada,c++,java,go,d,fortran,objc,obj-c++ --prefix=/usr
--program-suffix=-5 --

[2020-04-09 10:09] slyshykO commented on #914
Еще раз и внимательно.
[code]
**Выполни** команду и **приложи** к ответу **buildlog.txt**

[2020-04-09 10:11] Krasnov-Max commented on #914
чт, 9 апр. 2020 г. в 13:09, Slyshyk Oleksiy <notifications@github.com>:

-- The C compiler identification is unknown
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- broken
CMake Error at /usr/share/cmake-3.5/Modules/CMakeTestCCompiler.cmake:61 (message):
  The C compiler "/usr/bin/cc" is not able to compile a simple test program.

  It fails with the fo

[2020-04-09 10:18] chenguokai commented on #914
From what the logs indicate, I suspect that the compiler on your machine is corrupted or misconfigured.
`as` is the program that generate binarys from assembly sources. Quite rare that you are experiencing `--64` error.
I suspect that some ENVs on your machine cause the C compiler to call another assembler rather than its corresponding one.
May you write a small program like hello world and try co

[2020-04-09 10:23] Krasnov-Max commented on #914
yes. Test programm is noc bulding error --64.

чт, 9 апр. 2020 г. в 13:18, Xim <notifications@github.com>:

[2020-04-09 10:23] slyshykO commented on #914
@chenguokai . I don't know why but in Max's machine /usr/bin/cc is invalid

[2020-04-09 10:27] chenguokai commented on #914
@slyshykO  Yes, that's what I am trying to figure out.
From the log I can see multiple available compilers.
Problems will happen when something like this happens:
cc is pointed to gcc and as is pointed to llvm-as

I experienced similar problems a few days ago when I wanted to use GNU AS and LLVM/Clang at the same time.

[2020-04-09 10:30] slyshykO commented on #914
@Krasnov-Max
[code]

[2020-04-09 10:30] Nightwalker-87 commented on #682
Yes, ok, i'll look at it. Thx.

[2020-04-09 10:32] slyshykO commented on #914
@chenguokai
according to this
[code]
cc pointing to nothing.

[2020-04-09 10:33] Nightwalker-87 commented on #682
No, please don't close any milestones which are open, this is on purpose as I am still reviewing old leftovers. Otherwise I can't keep on track with this.

[2020-04-09 10:37] Nightwalker-87 commented on #914
Please **discuss in English** otherwise it is not possible or at least very complicated for others to follow as everything needs a translator.

[2020-04-09 10:37] chenguokai commented on #914
@slyshykO  In my view, it may indeed point to a compiler. The error indicates that `cc` cannot produce a working binary. This test is usually performed by trying compiling a small test program. The only known information concluded from the error is that either the compiler exited with error or its output is not valid.  Either a misconfigured compiler or an invalid soft link can lead to this progra

[2020-04-09 10:38] slyshykO commented on #914
@Krasnov-Max
run
[code]
ans show as output

[2020-04-09 10:42] chenguokai commented on #914
@Krasnov-Max May you provide an error log or the output of the following command?

`/usr/bin/cc -S YOUR_SMALL_PROGRAM`

Also slyshykO's output is useful.

[2020-04-09 11:01] Krasnov-Max commented on #914
Porogramm building. Generate hello.s
Output empty.

чт, 9 апр. 2020 г. в 13:43, Xim <notifications@github.com>:

[2020-04-09 11:01] Krasnov-Max commented on #914
maxx@maxx-pc ~/tmp/stlink $ /usr/bin/cc -v
Using built-in specs.
COLLECT_GCC=/usr/bin/cc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/5/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu
5.4.0-6ubuntu1~16.04.12'
--with-bugurl=file:///usr/share/doc/gcc-5/README.Bugs
--enable-languages=c,ada,c++,java,go,d,fortran,objc,obj-c++ --prefix=/usr
--prog

[2020-04-09 11:12] chenguokai commented on #914
Seems not a problem with stlink.
I suggest a reboot or reinstall your compiler/toolchain to ensure a working compiler available.
If other compilers are proven to be good to compile your test program, you may also try specifying compilers to cmake

[2020-04-09 11:24] Krasnov-Max commented on #914
maxx@maxx-pc ~/tmp/stlink/build/release $ cmake -Wno-dev -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=gcc ../../
-- The C compiler identification is unknown
-- Check for working C compiler: /usr/bin/gcc
-- Check for working C compiler: /usr/bin/gcc -- broken
CMake Error at /usr/share/cmake-3.5/Modules/CMakeTestCCompiler.cmake:61 (message):
  The C compiler "/usr/bin/gcc" is not able to compile a

[2020-04-09 11:28] chenguokai commented on #914
I saw that you have clang installed. Give clang a try. It may work.

[2020-04-09 11:32] Krasnov-Max commented on #914
Restart PC. Not bulding

[2020-04-09 11:33] Krasnov-Max commented on #914
maxx@maxx-pc ~/tmp/stlink $ sudo apt-get install clang
[sudo] пароль для maxx:
Чтение списков пакетов… Готово
Построение дерева зависимостей
Чтение информации о состоянии… Готово
Уже установлен пакет clang самой новой версии (1:3.8-33ubuntu3.1).
Обновлено 0 пакетов, установлено 0 новых пакетов, для удаления отмечено 0 пакетов, и 24 пакетов не обновлено.

[2020-04-09 11:35] Nightwalker-87 commented on #682
We'll open a new ticket for this instead of recycling this old issue.

[2020-04-09 11:35] #682 closed

[2020-04-09 11:38] chenguokai commented on #914
@Krasnov-Max  I mean, try using clang to compile your test program, instead of the buggy gcc.
If clang is also corrupted, I am afraid that we cannot move further here.

[2020-04-09 11:40] Nightwalker-87 opened #915 "Rewrite of flashloader source files (BSD license)"
Pick up of an issue mentioned before by @xor-gate in #682:

[2020-04-09 11:43] Krasnov-Max commented on #914
Ok
Test program not building.  OutputsCLang:

maxx@maxx-pc ~/tmp/stlink $
clang hello.c
/usr/bin/ld: unrecognised emulation mode: elf_x86_64
Supported emulations: armelf
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2020-04-09 11:44] Krasnov-Max commented on #914
maxx@maxx-pc ~/tmp/stlink $ clang -v hello.c
clang version 3.8.0-2ubuntu4 (tags/RELEASE_380/final)
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin
Found candidate GCC installation: /usr/bin/../lib/gcc/i686-linux-gnu/5.4.0
Found candidate GCC installation: /usr/bin/../lib/gcc/i686-linux-gnu/6.0.0
Found candidate GCC installation: /usr/bin/../lib/gcc/x86_64-linux-gnu/5.4.0
Fou

[2020-04-09 11:46] chenguokai commented on #914
@Krasnov-Max I suggest you close this issue for now.
After you have a working toolchain to compile at least your test program, if build problem remains, you may reopen this issue.

[2020-04-09 11:53] Krasnov-Max commented on #914
Ok How to close this issue?

[2020-04-09 12:28] Krasnov-Max commented on #914
Ok Reair gcc.

maxx@maxx-pc ~/tmp/stlink $ make
-- The C compiler identification is GNU 6.5.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Found Git: /usr/bin/git (found version "2.7.4")
-- stlink ve

[2020-04-09 12:42] Krasnov-Max opened #916 "Compilation failure on Debian-based Linux"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Programmer/board type: [stlink v3] (e.g Stlink /v1, /v2, /v2-clone, /v2-1)
- Programmer firmware version: [enter here] (e.g STSW-LINK007 2.27.15)

[2020-04-09 12:43] Nightwalker-87 commented on #679
This was reported using Release **v1.5.0**. As this ticket has not seen any further activity since, we need someone with a ST-Link-v1 programmer (PID: 3744, `STLINK_USB_PID_STLINK`) to test  this again with `st-info`.
@cedricboudinet: I find that you keep maintaining a fork of this project. Is the related hardware still present and are you able to test?

[2020-04-09 12:47] cedricboudinet commented on #679
@Nightwalker-87 I am not able right now be because of the Covid. The card is in my office but it is still working.

[2020-04-09 12:49] grevaillot commented on #679
I've got an stm32f100 discovery somewhere, I think it match that descrption, i'll check

[2020-04-09 12:54] Nightwalker-87 commented on #914
@chenguokai: Let me please have a word here. If several people here close tickets just because they are able to clearly doesn't help. I have not even had the chance to read this ticket and a new one on the same topic has been reopened already. I can't manage to keep track and sort everything if it goes like this. So please leave that to one person, otherwise we will end up in a state we had some t

[2020-04-09 12:57] Nightwalker-87 commented on #679
@cedricboudinet: That does not matter, we have time. Good to hear though the hardware is still available.
@grevaillot: 8-) :+1:

[2020-04-09 12:57] grevaillot commented on #679
ok, i just tested a clean develop branch build :+1:

erase works,

full flash write is ok

but probe fails ..

[2020-04-09 13:12] Nightwalker-87 commented on #916
ok, so I consider this as a valid ticket in place for the previous one.

1) Looking at your header reveals that you are trying to use the ST-Link-v3 programmer.
This one is not yet supported by the tools. So far there have only been a few preceded fixes in the codebase. Support for the ST-Link-v3 is currently planned for the next release, depending on progress on this topic. Please track #820 for

[2020-04-09 13:20] grevaillot commented on #679
Interesting, having a second stlink connected makes it probe the v1:

the stlink_probe() is filtering out the stlink v1 usb pid (pid is missing). But then, the usb open stuff takes care of the v1 first, and probe succeed. That part of code need some care regarding the usb pid checks, this does not really look aligned.

[2020-04-09 13:35] Nightwalker-87 commented on #914
Ok, so going though this (actually invalid) ticket reveals that the original issue is not related to the `stlink` toolset and goes back to a broken local toolchain. As I can see @Krasnov-Max has managed to solve this problem with a clean GNU 6.5.0 C-toolchain and has subsequently opened a new ticket in the intended way. Thx for that. Thus I am closing this now as resolved.

@chenguokai: You may ta

[2020-04-09 13:35] #914 closed

[2020-04-09 13:41] Nightwalker-87 commented on #679
Does not look good to me either, it should be working in any combination and method applied. This is a bug.

[2020-04-09 14:25] Nightwalker-87 commented on #621
The reason for that likely is that each compilation aborts as soon as the first error appears. All files built until then begin to appear in that build-folder. As both mentioned compilations fail at different steps of progress this is nothing to be surprised about.

However, as mentioned by @xor-gate before, the observed problems appear to have their origin in a broken toolchain. Hence this issue

[2020-04-09 14:25] #621 closed

[2020-04-09 14:37] chenguokai commented on #916
Similar problem with ubuntu:
[https://github.com/idc/ps4-payload-sdk/issues/8](https://github.com/idc/ps4-payload-sdk/issues/8)

I will check on my ubuntu 18.04 machine.

[2020-04-09 14:43] Nightwalker-87 commented on #916
If so, this would not be specifically related to `st-link`.

[2020-04-09 14:48] chenguokai commented on #916
Similar problems can be found all over the internet, though no convincing solutions have been found.
A further test could be:

Write a small program that uses one of those conflicting types, include the headers that causes the conflict. If this program compile with errors, problems lie in the standard C library rather than stlink, otherwise we should recheck the way stlink include headers.

[2020-04-09 15:04] Nightwalker-87 commented on #916
As hard as this may sound for the people who run into such problems, but I'm afraid to say that in my view this is not a general operating system or toolchain support forum. If we open up for all that and dig deeper into such things, we can not focus on `st-link` and ensure that at least our toolset does not introduce any issues...

So should it turn out that this is such a problem, then please pr

[2020-04-09 15:14] chenguokai commented on #916
For a Debian system,  check [https://www.debian.org/support](https://www.debian.org/support)
For Ubuntu, [https://ubuntu.com/support/community-support](https://ubuntu.com/support/community-support)

If none of the two works, the stlink package maintainer of the distro might be more experienced  in solving things of this kind.

[2020-04-09 15:59] Nightwalker-87 commented on #609
As far as I read, EOF (0xff 0xff) is returned by fgetc() due to end of input, so I assume that all further characters beyond are ignored, but I am not sure yet if this is the correct explanation for this behaviour.

I found the following commits that may relate to this:
* 6f194ad388fedf287a6200ea7efb16c4118ca4c1 -> Ignore NULL bytes at flash end when reading
* 379fcb3c614d540e2d854700d77c80268b207

[2020-04-09 16:37] Nightwalker-87 commented on #915
I'm going to look at this now.
Generally speaking I would not add such additional notes on licensing to the LICENSE file because that may possibly break the correct license recognition and display in git-header bar of the project, (text does not match the template any more) - not definitely sure, but have seen something similar in another project before. Thus this should better go into our README,

[2020-04-09 16:58] Nightwalker-87 commented on #915
@xor-gate: Did you only mean the two flashloaders for which the source files have a header, or did you have in mind that (in addition to these) there were also others (without any header) copied from openocd, but without any reference? If the latter is the case, one would have to compare line by line to identify. Regarding the former ones: These were indeed correctly declared - but somewhere at th

[2020-04-09 17:17] Nightwalker-87 commented on #804
@xor-gate: To me this appears to be a valuable addition to the tools under the circumstance that there really is a way to make cmake accept (:laughing:) such commands from the toplevel makefile.

Do we have anybody here who is a kind of expert on this topic and can help out with a minor tweak?

[2020-04-09 17:47] Nightwalker-87 commented on #193
This problem appeared about one month before Release v1.0.0. This has likely been fixed somewhen around that point in time, but not clear where exactly - which would be helpful though. Maybe addressed by 5dcd45d8a48aaead2a2d1d1b9c36ab14f507628b ? Any helpful ideas when looking at it?

[2020-04-09 17:57] Nightwalker-87 commented on #735
I think this could possibly be a topic for you @chenguokai as you are a MacPorts maintainer. I can imagine that this will pop up at yours anyway - no matter what project, be it sooner or later... Maybe we can discuss and make up our minds together.

[2020-04-09 18:16] Nightwalker-87 commented on #237
This should also include supported features like option-bytes etc. and in allignment to that we should have a table that denotes which additional features are supported for the different chip series and/or product lines. I believe quite a few people (including me) have lost track on that as related feature requests spread throughout the releases.

[2020-04-09 18:40] Nightwalker-87 commented on #278
This likely appeared with version v1.0.0.

[2020-04-09 18:46] slyshykO commented on #916
@Nightwalker-87 think this issue have nothing with stlinkV3

[2020-04-09 19:06] chenguokai commented on #735
For now, I suggest a deprecation or a complete drop of stlinkv1 kext.

Apple has introduced SIP mechanism to macOS since 10.11, a kext without licenses signed by Apple can be such a pain to load.
In MacPorts, stlink is currently compiled without the old kext installed. The formula of Homebrew does almost the same thing.

But as I see that the writer said the kext is an codeless one, I will check t

[2020-04-09 19:27] Nightwalker-87 commented on #916
Not, so far but as he filled it out in the opening post, this would have been the next problem he would have run into. That's why I mentioned that in the first point.

[2020-04-09 19:36] Nightwalker-87 commented on #735
Ah, that is good to know, thx.

Maybe we can use the new "System Extension" format Apple propagates as a replacement for the old kext modules. I have not dealt with this yet, but if it is not too hard to implement, this could be an option. Should it be too much effort, we may drop support for the STlink-v1 on macOS.

[2020-04-09 20:05] Nightwalker-87 commented on #278
Here we can not precisely determine which version was used, only that this was v1.0.0 or even a commit prior to that (taken from the old `stlink-common.c` sourcefile name and the opening date).

I believe though that even a commit prior to 2e6ba2093588536214edd0da0cf09eaa9a9da014 was in use when this appeared. The latter corrected a typo in the flash size register address for the STM32F2 series th

[2020-04-09 20:05] #278 closed

[2020-04-09 21:29] #819 closed

[2020-04-09 21:52] Nightwalker-87 commented on #720
@nerilex: Sry for the delay. I just came across this issue during a review... Is your offer still open? :laughing: It certainly would be a "nice to have". Please let us know.

[2020-04-09 22:27] Nightwalker-87 commented on #596
This indicates that the flash memory of the used device is locked.
Unlocking for this chip is possible since commit 302dc872f4b73f13a94ff2e9f0359c4195f6279c, which added support to write option bytes for the STM32L1 device family. An example how to make use of this feature with the `st-flash` command can be found in our project documentation in `/doc/tutorial.md`.
As this answer fully addresses th

[2020-04-09 22:27] #596 closed

[2020-04-09 23:16] Nightwalker-87 commented on #846
Let me finally address this issue with a comprehensive solution:

1) _GDB error_: This is a bug in the `stlink` toolset when using the MinGW development toolset. It has been fixed in PR #578.
2) _Driver issue_: A short web search reveals that this seems to be a common driver issue on windows where `\Driver\WUDFRd` fails to load. As the cited error also appears with several other usb devices, it is

[2020-04-09 23:16] #846 closed

[2020-04-10 03:53] chenguokai commented on #735
Tested on my macOS 10.14.6, the source code builds well, but its load is prohibited by the system with the following logs:

`Kext with invalid signature (-67050) denied: /Library/StagedExtensions/Users/cgk/Downloads/stlink_shield 2020-04-10 11-39-10/Products/System/Library/Extensions/3D7187E2-15F5-45E7-BFB7-5BB63539049D.kext`
`Bundle (/Users/cgk/Downloads/stlink_shield 2020-04-10 11-39-10/Products

[2020-04-10 07:54] chenguokai commented on #735
After detailed search, I have the following findings:

It is a known problem to libusb [https://github.com/libusb/libusb/wiki/FAQ](https://github.com/libusb/libusb/wiki/FAQ) I would recommend trying unload kexts that match the ST Link v1. Volunteers needed to test. Other methods seem to be more tricky and destructive. I would not recommend modifying stock kexts or loading codeless kexts. The forme

[2020-04-10 09:54] chenguokai commented on #609
As far as I can see, this feature is an optimization.

Assuming we are flashing a STM F1, where after an erase, flash are set to 0xff.

From all over the internet, I found that padding the flash binary file with 0xff is a common practice.

I started from [mikrocontroller.net](mikrocontroller.net), which is mentioned by [https://github.com/stlink-org/stlink/pull/40](https://github.com/stlink-org/st

[2020-04-10 12:21] chenguokai commented on #609
Indeed one bug here. Tested on v1.6.0, stm32f401, with 4KB page size.

If st-flash blindly ignores the ending FF, at least under one circumstance will it cause errors.

Supposing that there is one binary file that ends with consecutive 0xFF. During flash, the addresses that are expected to be filled by 0xFF is ignored. If there was a flash that had wrote some non-FF values, chances are that the no

[2020-04-10 13:04] Nightwalker-87 commented on #735
Well, SIP is not a problem for us (it should not be disabled completely BTW!) - we have documentation in our tutorial on how to keep it enabled and being able to load kexts at the same time. Trying it with unsigned kexts being blocked by SIP does not help any further - we now that this causes strange side effects (i would not like to investigate really).

[2020-04-10 13:17] chenguokai commented on #735
@Nightwalker-87 Ever since macOS 10.14, it has been no longer possible to partially disable SIP, i.e. the tutorial does not apply to the latest two versions of macOS.

[2020-04-10 13:18] Nightwalker-87 commented on #609
Good, thank you very much for looking into this.

Based on your explanations and finding I'd also consider it a good idea to remove optimisation from the default operation and make it optional by argument. If the latter is then added to our documentation people could then decide just as they wish. Furthermore it is very helpful that you found and confirmed that somehow nasty bug here as well. If y

[2020-04-10 13:21] Nightwalker-87 commented on #735
Oh, I didn't realise that - Thank you. I will update our tutorial then.

[2020-04-10 13:31] Nightwalker-87 commented on #916
Ok, so as it turns out, this compilation failure is indeed related to the local toolchain. Further we can't reproduce it on a comparable ubuntu operating system and thus are not able to confirm any correlation to the `stlink` toolset. As sufficient help has been provided to the author be able to proceed, I am closing this ticket now. Thanks everybody for helping out!

[2020-04-10 13:31] #916 closed

[2020-04-10 15:18] Nightwalker-87 commented on #609
Thx for the PR. :+1: Is the feature-request part

intended as well on your side? If so, then I'll leave it open for a while.

[2020-04-10 15:34] chenguokai commented on #609
In my view, after the coming PR, the documentation shall be updated, providing information about  the current default optimization being disabled and how to reenable if in need.

BTW, I am considering the proper argument name to enable the optimization.
`--optimize-empty-ending` or some other names?

[2020-04-10 15:45] Nightwalker-87 commented on #609
Why not a simple `--opt` together with adding the related definition to the man-page of `st-flash`? I think that's likely the best place for it, as everyone can directly call it via `st-flash --help` then.

[2020-04-10 15:56] chenguokai commented on #609
I thought there could be more optimizations in the future. If no more optimizations are coming, `--opt` is fair enough.

[2020-04-10 16:07] Nightwalker-87 commented on #609
Yeah, however I wouldn't bother too much about this right now. We'll see how the cookie crumbles. ;-)

[2020-04-10 16:46] #679 closed

[2020-04-10 20:15] Nightwalker-87 commented on #438
@slyshykO: Could be that a newer libusb package had accidentally been reused during my previous tests. I can hardly tell by now, but however - the key fact is that I can now somehow reproduce your observations regarding v1.5.1.

This is the history of bugfixing related to this issue:
v1.3.1: Building succeeds with compilation warnings, but some features don't work (see #846)
v1.4.0: libusb 1.0.21

[2020-04-10 20:22] #623 closed

[2020-04-10 20:54] #438 closed

[2020-04-10 21:28] Nightwalker-87 commented on #437
Hi everybody. I am happy to see that there is quite some progress on our upcoming Release v1.6.1, but at the same time also with reviewing (down) old leftovers from the past.

To help focussing on some main problems that have already re-occurred several times, I have created separate milestones for each of these:

* Flash loader run errors
* Unknown chip id 0042000
* Reset issues
* ERROR flash_loa

[2020-04-11 05:48] chenguokai commented on #609
Kind of weird behaviour for this optimization:
https://github.com/stlink-org/stlink/blob/99a8aaab253a1cda634291b6a975d1560bb89c0a/src/common.c#L2635

If I got this right, `(num_empty == length) ? (uint32_t) length : (uint32_t) length - num_empty` would flash the whole file when its input is completely empty and four bytes (one word) aligned (rounding down code leads to this requirement)

My curren

[2020-04-11 08:26] Nightwalker-87 commented on #609
Don't be too cautions if things turn out to have not been done nicely. If you are sure about it and feel something is not implemented well, just go for it - we are on a `development` branch and I'll be asking for some reviews and tests on different environments before merging into master for the upcoming release anyway. So different people will look at it.

[2020-04-11 11:34] Nightwalker-87 commented on #378
@grevaillot: Can you confirm if this resolves with your recent PR?

[2020-04-11 11:47] Nightwalker-87 commented on #609
We can address these minor things at a later point in time when we do some refactoring.
Maybe it's a good idea to add TODOs at suitable places in the code, to ensure this does not go down the sink.

[2020-04-11 11:57] chenguokai commented on #609
Maybe I can add a TODO tag in the source code itself.
The latest PR contains only a few lines that describe the feature.

[2020-04-11 11:59] Nightwalker-87 commented on #609
Yes, that would be great.

[2020-04-11 12:05] chenguokai commented on #609
All should be done now:-)

[2020-04-11 12:29] #609 closed

[2020-04-11 12:50] chenguokai opened #919 "Build on 32-bit systems is broken again"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:
- Operating system and version: [Mac OS X] (e.g Linux, Mac OS X, Windows)
- **Stlink tools version** and/or git commit hash: [ecbbd6db7aa8dff983ee43f

[2020-04-11 12:59] slyshykO commented on #629
In my opinion, using mmap function bring us many problems. Maybe we should stop using it.
Maybe better for all will be using functions from libs for work with files? This shouldn't impact on app speed dramatically.

[2020-04-11 13:10] Nightwalker-87 commented on #629
Yes, this is something to consider. However this discussion should go to #919 now.

[2020-04-11 13:13] slyshykO commented on #919
Copy from https://github.com/stlink-org/stlink/issues/629#issuecomment-612415954

In my opinion, using **mmap** function brings us many problems. Maybe we should stop using it.
Maybe better for all will be using functions from _libc_ for work with files? This shouldn't impact on app speed dramatically.

[2020-04-11 13:23] chenguokai commented on #919
@slyshykO Agree with your idea, at least a self-implemented `mmap` is not so good for any POSIX-compliant systems, like Linux, macOS and BSDs.
when talking about this issue, it is not related to `mmap` actually.

[2020-04-12 08:26] chenguokai commented on #875
Some facts may need a stress.

1. The internal flash is erased once a page(page size ranging from 1KB to at least 4KB). Any non-0xff bytes cannot be rewritten reliably. For F1XX, if I got it right, even 0xff bytes cannot be rewritten without an erase. That is, writing some random bytes causes the whole page to be erased.
2.  Considering this feature, a partial update may not reduce erase cycles wi

[2020-04-12 08:36] chenguokai commented on #862
If no special algorithm limitations are given, I think it’s quite easy to integrate some checksum algorithm(md5, sha256, etc) into the file loading process. Maybe I can give it a try when I am free.

[2020-04-12 09:22] EmBitz commented on #875
@Hoel
Hi,

Now and then I visit this issue list, together with the one of OpenOCD, to check if users experience hardware problems with MCU's (great source for that). So I already noticed your request some days ago.

To implement reading and put this out on stdout shouldn't be difficult to implement in STlink. However, in-place modification is a bit harder because you need to cache the sector to be

[2020-04-12 09:37] #919 closed

[2020-04-12 12:01] Nightwalker-87 commented on #698
@slyshykO: Was this fixed in PR 701? Could you have a look at this?

[2020-04-12 12:10] Nightwalker-87 commented on #267
@xor-gate: The related reference in our README has moved to the tutorial in the meanwhile.
I am not so sure if documentation is wrong here... Can you remember anything from earlier times and/or look into this?

[2020-04-12 12:19] chenguokai commented on #650
@Nightwalker-87 I am not quite sure about what I need to do.
If the original issue is indeed the one caused by an empty/non-existing filename, I will be able to fix. Otherwise, without further information, I cannot figure out the problem.

[2020-04-12 12:40] Nightwalker-87 commented on #650
Can you look if there are any issues with filenames that can occur here due to a bug? As suggested in #879 one could also improve some error messages to be more human-readable. In the first place we should make sure that there is no bug present. The error should only be thrown if there _really_ is an invalid filename e.g. as in the second case, which I would not consider a bug at all. Apart from t

[2020-04-12 12:53] slyshykO commented on #698
@Nightwalker-87  #701 not about this issue.

[2020-04-12 13:01] Nightwalker-87 commented on #698
Then I don't know either. Does anyone else have an idea on this?
The rest of the issue seems to have resolved from fixing local issues.

[2020-04-12 13:13] chenguokai commented on #650
I checked the functions about filenames, no bugs found. The PR provides a more unified way of displaying errors for map_file.

[2020-04-12 13:24] #650 closed

[2020-04-12 13:24] #879 closed

[2020-04-12 13:34] Nightwalker-87 commented on #650
Error message has been improved for better understanding. Should there be a reproducible problem related to the used device, please feel free to submit a new ticket.

[2020-04-12 14:47] grevaillot commented on #903
hmm, while evaluating codebase to support H7/L5, i extracted a bit of an old H7 support patch and reworked it to do somethink like that

it's here : https://github.com/grevaillot/stlink/commit/5b8ade21b39aceeae50cd23f0afdff0adcb951de

i need to have a look at chips RM instead of defaulting to some default address for identification, but, as it, it works for the few devices i have in hand.

[2020-04-12 14:51] grevaillot commented on #378
i'm a bit puzzled by that piece of code, the v1/v2 stlink handling is a bit broken, the device path is not actually used, and i think it's useless now.

still it would be nice to replace the whole custom opt parsing by something more nice / standard..

[2020-04-12 16:35] lulle2007200 opened #923 "STM32L422CB: st-flash fails to flash ihex image"
Trying to flash a small hex file to a STM32L422CB. The hex file is fine, flashes successfully with st-link utility. st-flash erases the first 2kb page of flash successfully, but doesnt write the the hex file at all.

- Programmer/board type: STLink V2
- Programmer firmware version: V2.J34.S7
- Operating system and version: Windows 10
- Stlink commandline tool name: st-flash v.1.6.0
- Target chip (

[2020-04-12 20:44] Nightwalker-87 commented on #915
ping @xor-gate

[2020-04-12 23:05] Nightwalker-87 commented on #903
I'd propose to identify every MCUs via the following hierarchical workflow:
1) Read Core-ID
2) Read Chip-ID (by use of a unified macro naming scheme)
3) Read specific parameters taken from `/src/chip-id.c`

[2020-04-12 23:07] #462 closed

[2020-04-13 09:54] grevaillot commented on #862
stlink utility (the one in the capture) defines the checksum in its documentation (UM0892) as a simple arithmetic sum, truncated to 32bit ... (sigh)

While this is quite crude and not reaaally reliable, this is cheap to implement and maintaining "compatibility" with st-utility would be nice.

[2020-04-13 10:07] chenguokai commented on #862
@grevaillot Thanks for your information, I will add support for this on my PR.

[2020-04-13 12:27] Nightwalker-87 commented on #862
Should we have some documentation for this in our tutorial?

[2020-04-13 12:41] chenguokai commented on #862
The algorithm used by ST’s windows program may need a documentation at least for developers I think.

[2020-04-13 12:48] Nightwalker-87 commented on #862
Ok, can you add a section with a few lines to our tutorial then (at the end of the reviewed part)? That would be nice. Don't bother too much about formatting there though, as I am still working on this document anyway...

[2020-04-13 12:59] chenguokai commented on #862
I am still wondering, if the two methods should be merged all together.
If so, I may need to adjust the two functions for a better format. The current two commits would cause a somewhat too verbose output.

[2020-04-13 13:05] Nightwalker-87 commented on #804
@chenguokai: There is currently some refactoring on the way to improve the cmake compilation in a few parts. I'll upload this to a separate branch (`build-settings`). Maybe you can have a look at it. I assume it will not be fully functional from the start and that there will be a few leftovers to fix. If you fancy, you may have a look at it. Further it would make sense to address this ticket in th

[2020-04-13 14:30] #862 closed

[2020-04-13 23:38] Nightwalker-87 commented on #62
As it appears nobody seems to work actively on this topic.
Are there any volunteers with specific know how who can contribute?

[2020-04-14 10:04] grevaillot opened #926 "make test target broken"
Hi,

Apparently, unitary tests are broken - i've no idea of the current level of brokenness, but, at least they do not run anymore due to some binary path change. I think this was a recent modification.

...

etc..

i'm running current develop branch on debian testing.

[2020-04-14 10:08] chenguokai commented on #926
Reproducible on macOS.
The master branch is only broken with Test 3, while the develop branch is much more broken.

[2020-04-14 10:10] Nightwalker-87 commented on #926
Thx for reporting. Interesting... I'll do some research with older commits to find out. No clue yet where it exactly happened and why.