[2021-05-24 08:06] #468 closed

[2021-05-24 09:02] Nightwalker-87 commented on #1000
**List of maintainers for distribution repositories:**

- macOS (MacPorts): **chenguokai**
- Debian: _self-hosted_
- Ubuntu: _self-hosted_
- Fedora: **Vascom**
- EPEL (CentOS/RHEL): **Vascom**
- Arch Linux: _(TBD)_ --> _Volunteers are welcome._
- openSUSE: _(TBD)_ --> _Volunteers are welcome._

[2021-05-24 09:02] Nightwalker-87 commented on #1000
**General Project History:**

19.02.2020 - New Project Maintainer: **Nightwalker-87**
20.02.2020 - Release v1.6.0
15.03.2020 - Review of old issues completed
24.03.2020 - Reviewed and updated missing features
20.04.2020 - Project hosting transferred to new Git-Organisation **stlink-org**
27.04.2020 - Added Contribution Guidelines
01.06.2020 - Release v1.6.1
20.03.2021 - Surpassed the mark of **500

[2021-05-24 09:04] Nightwalker-87 commented on #1000
**GENERAL NOTES:**
Within this project the assignment of tickets on closure, as soon as a notable solution has been found, is common practise. This is done for statistical reasons in order to be able to keep track of contributors to this project (licensing). If you have contributed to this toolset and don't want to receive any further notifications on assigned tickets in the future, you may unsubs

[2021-05-24 18:28] Ant-ON commented on #1138
@wolsty7 As I understand it, the blank target may have problems with writing. Writing flash by word (in use in the 1.7.0 release) can take a long time. I added half page write fallback for stm32L0/L1.
Can you check out https://github.com/Ant-ON/stlink/tree/l0_soft_loader_fix branch?

[2021-05-25 10:14] wolsty7 commented on #1138
that seems to do better but it fails at the end, at least it doesn't get stuck like 1.7.0

`
pi@raspberrypi:~/git/stlinktest/stlink $ st-flash --debug --connect-under-reset --freq=8M write /home/pi/Downloads/v0.bin 0x8000000
st-flash 1.6.1-326-gb93f8b2
2021-05-25T19:56:39 DEBUG common.c: *** looking up stlink version
2021-05-25T19:56:39 DEBUG common.c: st vid         = 0x0483 (expect 0x0483)
2021-

[2021-05-25 17:27] Ant-ON commented on #1138
@wolsty7 Unfortunately, everything ends with an error. I fixed the branch to use 32 bit writes. Can you test branch again?

[2021-05-25 23:53] wolsty7 commented on #1138
Success, thank you @Ant-ON

`
pi@raspberrypi:~/git/stlinktest/stlink $ st-flash --debug --connect-under-reset --freq=8M write /home/pi/Downloads/v0.bin 0x8000000
st-flash 1.6.1-327-g293db13
2021-05-26T09:45:32 DEBUG common.c: *** looking up stlink version
2021-05-26T09:45:32 DEBUG common.c: st vid         = 0x0483 (expect 0x0483)
2021-05-26T09:45:32 DEBUG common.c: stlink pid     = 0x374f
2021-05-

[2021-05-26 12:17] Ant-ON commented on #1138
@wolsty7 I'm glad I did it. Could you still check the re-flashing of the STM32L072? In this case, the flash loader should work. Or you may check the flashing of the STM32L151.
Unfortunately I do not have L-series MCU and cannot be sure that I have not broken anything.

[2021-05-26 20:45] Nightwalker-87 commented on #1138
Good work @Ant-ON ! :+1:
Yeah, should there be any chance for verification on the L1 to rule out potential regressions, we should make use of it FMPOV.

[2021-05-26 22:37] Nightwalker-87 commented on #681
@wolsty7 Can you try to reproduce this issue with your hardware using older versions of the toolset if you find some time? We are still trying to figure out if this issue has been fixed already and where... As far as I'm concerned we were limited on hardware from the L-series needed for testing. Any help would be greatly appreciated.

[2021-05-26 22:51] Nightwalker-87 commented on #855
@wolsty7 Would you fancy to give this a test as well? Please let us know.

[2021-05-27 03:14] Ant-ON commented on #855
@Nightwalker-87 Most likely using `--connect-under-reset` will solve this issue

[2021-05-27 07:42] rcordeau opened #1146 "[STM32H743/753]: Cannot write to area at 0x0810_0000, but can at 0x0800_0000"
- [X ] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers to isolate and target your respective issue, please take some time to select the check boxes below and fill out each of the following items appropriate to your specific problem.

- [X] Programmer/board type: STLINK V2
- [X] Operating system an version: Ubuntu 20.04, MacOS 10.15
- [X] **st

[2021-05-27 08:23] Ant-ON commented on #1146
@rcordeau When writing to the second bank, the FLASH_SR2 register (`0x52002110`) instead the FLASH_SR register (`0x52002010`) is use. Can you attach complete logs?

[2021-05-27 12:56] wolsty7 commented on #1138
no luck on the stm32l151zdt6... i also tried --reset and nothing, this board worked for 1.7.0

`
pi@raspberrypi:~ $ st-flash --debug --connect-under-reset --freq=8M write /home/pi/Downloads/OBC_GEN_CPP.bin 0x8000000
st-flash 1.6.1-327-g293db13
2021-05-27T22:10:42 DEBUG common.c: *** looking up stlink version
2021-05-27T22:10:42 DEBUG common.c: st vid         = 0x0483 (expect 0x0483)
2021-05-27T22:

[2021-05-27 16:21] rcordeau commented on #1146
[flashlog_08100000.txt](https://github.com/stlink-org/stlink/files/6555448/flashlog_08100000.txt)
Sure thing.

[2021-05-27 16:28] rcordeau commented on #1146
This is another error log when writing to 0x080e0000, which would cross into the 0x08100000 page.
[flashwrite_080e0000.txt](https://github.com/stlink-org/stlink/files/6555475/flashwrite_080e0000.txt)

[2021-05-28 04:07] Ant-ON commented on #1146
@rcordeau Thanks for the logs! I seem to have found the problem. Could you check out https://github.com/Ant-ON/stlink/tree/h7_db_fix branch?

[2021-05-28 05:14] rcordeau commented on #1146
Hi @Ant-ON, yep, this fixed it! Thanks!

[2021-05-30 16:05] Nightwalker-87 commented on #1075
@slyshykO and  @Ant-ON: How do we proceed here? Is this issue still being actively worked on?

[2021-05-30 17:52] slyshykO commented on #1075
@Nightwalker-87 I have no spare time to work on this project now.

About this issue. I think we can close it now. But remember that ABI is important, and try not to break it by new commits.

[2021-05-30 17:58] Nightwalker-87 commented on #1075
As far as I understood from the context, it is not unified yet and it has not been verified either.

[2021-05-30 18:31] kwarek commented on #1098
Maybe stm32g0 is a little different? NRST is connected to 100nF capacitor. (as suggested in datasheet) I've just checked (connect_under_reset_rework branch, cab9fc42) with another board with only STM32G030F(NRST is not shared with gpio) and two capacitors. And the result is the same - sometimes it works, sometimes it doesn't with the same error message as https://github.com/stlink-org/stlink/issue

[2021-05-30 18:42] kwarek commented on #1098
Also, I'm using stlink v2 clone. They don't have NRST connected, so i've added it through 120ohm resistor (similar to https://ziutek.github.io/2018/03/26/stlink.html). Maybe that causes the delay ?

[2021-05-30 19:46] Nightwalker-87 commented on #237
@rewolff We are currently waiting for another PR (#1145) to go into the **testing** branch first where we'll continue with this.
You may then resume with your proposal to address this topic.

[2021-05-30 22:44] Nightwalker-87 commented on #985
If the dates do match, commit adbc18c812b122a4dc0e21b581b6a2f0a5bfe91f was still affected (https://github.com/stlink-org/stlink/issues/985#issuecomment-743742680). Unfortunately one can't bisect if the bad commit is older than the good one.

[2021-05-31 05:51] Ant-ON commented on #1098
@kwarek Resistances of tens of ohms are usually used as a current-limiting resistance. Circuits of st-link part of Discovery board use a 22 Ohm resistor on the SWD pins.
In theory, increasing this delay should improve the situation:
https://github.com/Ant-ON/stlink/blob/cab9fc4210ac090da6b7e45d91ffd300549a9436/src/common.c#L4908-L4909
But something more definite can be said only by the oscillogram

[2021-05-31 22:07] Nightwalker-87 commented on #237
Ok, merged and preserved the defines recently aligned in format.
However I took note of that MCU descriptions (inline-comments) and defines in chipid.c do not match always.
One may address this during sanitation and comparison of chip-id configs and the old datasets.
As per note from @AntON small "x" placeholders should be replaced by capital "X" within defines (convinced myself on this).
I'll han

[2021-06-01 09:35] karstengit opened #1148 "Version 1.7.0 does not find STMicroelectronics ST-LINK/V2 on Debian 10 (Buster)"
I have now the problem of the error:
`WARN common.c: unknown chip id! 0x989680`
with my last version v1.6.0-31-gf5d0454-dirty

Regarding https://github.com/stlink-org/stlink/issues/568 i installed the Debian package https://github.com/stlink-org/stlink/releases/download/v1.7.0/stlink_1.7.0-1_amd64.deb now.

But this newer version does not find the ST-LINK/V2:

$ lsusb

...

Bus 008 Device 002: ID

[2021-06-01 09:49] Ant-ON commented on #1148
@karstengit Perhaps after installing the package, you need to manually update the udev rules (or just reboot the system)

[2021-06-01 09:50] karstengit commented on #1148
This seems to be a problem of the library libstlink.so.1, because the old version does it find any more too:

[code]

After reinstalling the old library the ST-LINK/V2 is found again.

[2021-06-01 09:57] karstengit commented on #1148
No - sorry - after reinstallation of the package and a reboot it is still the same problem!

[code]

[2021-06-01 10:18] Ant-ON commented on #1148
Can you try run `sudo st-info --probe`?

[2021-06-01 11:29] karstengit commented on #1148
(Of course) it's already tested as root with the same result.

[2021-06-01 19:06] Nightwalker-87 commented on #1148
Verified to work in general for this combination already.
Further I am closing this ticket now, as it does not follow our project guidelines for opening new issues.

[2021-06-01 19:06] #1148 closed

[2021-06-03 09:39] #1146 closed

[2021-06-04 13:25] blopblopblup opened #1149 "[STM32G0B1xx/C1xx]: unknown chip id! 0x467"
- Stlink V3 mini
- Windows 64bits
- v1.7.0
- .\st-flash --connect-under-reset --debug erase
- STM32G0B1xx/C1xx

Commandline output:

[code]

Expected/description:

0x467 chip id is not recognised

[2021-06-05 17:32] dsm commented on #1149
It's a known issue and support added to develop branch if you want to try you can clone and build, I succesfully erase and flash program a week ago for stm32g0b1ke

[2021-06-06 11:23] gustavolaureano opened #1151 "Detecting when the ST-Link or Target was disconnected"
Hi,

Is there a way to detect, after opening the ST-Link, when the target or the ST-Link was disconnected?

I am coding an application that requires periodic polling of the target's RAM, but also requires to detect when the target or the ST-Link was disconnected (or not yet connected) and reconnect (in hotplug) as soon as it finds the target / stlink again.

During some tests on Linux I could not

[2021-06-06 17:39] Ant-ON commented on #1151
@gustavolaureano, Hi!

I improved the command status check.
You can try:
https://github.com/Ant-ON/stlink/commits/connect_under_reset_rework

[2021-06-13 05:55] mcuee opened #1152 "Fail to build with latest libusb git under macOS"
libusb git has introduced a new function under macOS and this seems to break st-link build.

[code]

[2021-06-13 06:00] mcuee commented on #1152
Same if I use homebrew.

[code]

[2021-06-13 06:09] mcuee commented on #1152
Full build log.

[code]

[2021-06-13 06:25] mcuee commented on #1152
Please refer to libusb ticket as well.
https://github.com/libusb/libusb/issues/931

[2021-06-13 07:01] mcuee commented on #1152
Unfortunately I do not know much about CMake so I can not fix it.

[2021-06-13 10:34] mcuee commented on #1152
Indeed. The followng simple patch fixed the issue if stlink is willing to use dynamic link with libusb under macOS.

[code]

[2021-06-13 10:52] mcuee commented on #1152
BTW, libftdi is using the following module and it has never given me problems under Linux, macOS (Homebrew) and Windows (MSYS2).
http://developer.intra2net.com/git/?p=libftdi;a=blob;f=cmake/FindUSB1.cmake;h=b90e297c7facdce6adf0bfc24f9c8e82eb4e781f;hb=HEAD

[2021-06-13 21:50] rpls opened #1153 "[STM32L4R5ZI]: Odd reset on Nucleo-L4R5ZI"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers to isolate and target your respective issue, please take some time to select the check boxes below and fill out each of the following items appropriate to your specific problem.

- [x] Programmer/board type: STLINKV2-1
- [x] Operating system an version: Linux
- [x] **stlink tools version**

[2021-06-15 04:27] Ant-ON commented on #1153
@rpls This behavior may be caused by calling a soft reset. You can try building the develop branch with the lines commented out:
https://github.com/stlink-org/stlink/blob/e5719080558ba3660b7251ae41f4eb44117fcd40/src/common.c#L1779-L1781
In this case, run `st-flush` with the `--reset` argument is likely to succeed.

[2021-06-15 15:42] Nightwalker-87 commented on #237
@rewolff @Ant-ON Are we able to proceed here by now?

[2021-06-16 07:08] Nightwalker-87 commented on #1151
@gustavolaureano Have you had the chance to try in the meanwhile?

[2021-06-18 05:22] Ant-ON commented on #613
@simplerobot Viewing the SWO output while debugging would be a nice touch. Currently only the semihosting is supported:
https://github.com/stlink-org/stlink/blob/01418b5666c72ce802ea5af88b62dc9aa06c8c3e/src/st-util/gdb-server.c#L1423-L1481

[2021-06-20 15:41] gustavolaureano commented on #1151
Hi, unfortunately not yet, I will return to this project in the coming weeks, then I report back here :)

[2021-06-20 15:55] Nightwalker-87 commented on #1138
What is the current state of this ticket?

[2021-06-22 15:40] spark-ict opened #1155 "Writing option bytes on STM32 G070/G071/G081"
when i try to make the flash writable again rith rt-flas i get an error, looks like option boot writting is not implemented yet for this chip

- [x] Programmer/board type: STlink V2
- [x] Operating system an version: Linux
- [x] **stlink tools version** 1.7.0
- [x] stlink commandline tool name: st-flash
- [x] Target chip (and board, if applicable): STM32G070/G071/G081

[code]

Commandline output:

[2021-06-23 03:38] wolsty7 commented on #1138
l0_soft_loader_fix 1.6.1-328-g9acf539 appears to work on both L072 and L151 now

branch l0_soft_loader_fix 1.6.1-328-g9acf539: L072 ok

branch l0_soft_loader_fix 1.6.1-328-g9acf539: L151 ok, but says "Starting Flash write for L0"

branch testing 1.7.0-61-gc6ecdac: Segmentation fault on L072

branch develop 1.7.0-34-g01418b5: L072 fail

###it gets stuck here###

branch develop 1.7.0-34-g01418b5: L1

[2021-06-23 05:00] ApiumJacob opened #1156 "STM32F446: st-flash --area=option read out.bin"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue, related to issue #1155 and #1141
- [X] Programmer/board type: [STLINK/V2]
- [X] Operating system an version: [Linux 5.4.0-74-generic 83~18.04.1-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux]
- [X] **stlink tools version** and/or git commit hash: [v1.7.0 g179650d] built from source
- [X] stlink commandline tool name: [st-f

[2021-06-24 02:58] wolsty7 commented on #1138
aa70b89
branch l0_soft_loader_fix 1.6.1-329-gaa70b89: L072 ok

branch l0_soft_loader_fix 1.6.1-329-gaa70b89: L151 ok

[2021-07-11 04:11] c-grant opened #1158 "[STM32H735]: Can't access all device memory"
- [x] Programmer/board type: [STLINK V3 on STM32H735-DK]
- [x] Operating system an version: [Windows 10 19042.1083]
- [x] **stlink tools version** and/or git commit hash: [1.7.0]
- [x] stlink commandline tool name: [st-util]
- [x] Target chip (and board, if applicable): [STM32H735 on STM32H735-DK]

When attaching to this board I can not read all the memory regions,
Specifically AXIRAM, SRAM1, SRAM

[2021-07-13 00:03] c-grant commented on #1158
Attached are mods that I did locally to access the memory areas
[gdb-server.zip](https://github.com/stlink-org/stlink/files/6804999/gdb-server.zip)

[2021-07-13 20:17] Nightwalker-87 commented on #1158
@c-grant Can you please submit the code changes in form of a Pull Request to allow for comparison and describe what you did and how you proceeded on testing? I assume it is rather unlikely that someone else is going to dig through or manually compare single source code files to identify changes. Thx.

[2021-07-13 20:43] c-grant commented on #1158
I can try. I have not ever used git or submitted pull requests before and I didn't want to accidently violate any contribution guidelines. Being it was a single source module change of about 10 lines I thought it might be an easy diff.

[2021-07-14 00:58] wolsty7 commented on #1090
I have the NUCLEO-WL55JC1 dev board now and am developing an application based on the STM32WL55JC with that arriving in a few weeks so I'm keen to help with testing where I can.

[2021-07-14 02:42] c-grant commented on #1158
Attempt made

[2021-07-14 03:06] c-grant opened #1160 "[feature] Add multi-core support for devices like STM32H745/755"
Some of the new STM32H7 devices are multi core devices. ST's official tools support it and it would be nice to have that here.

[2021-07-14 08:03] Nightwalker-87 commented on #1158
@c-grant: Thanks for doing so. As GitHub holds many features and workflows for automated maintenance which we partially use, this procedure allows to deal with issues efficiently and in an equal way and procedure. Though contributors are encouraged to check their code prior to submitting, a failing CI is not the end of the world - it does happen every once in a while. The checks are mainly there t

[2021-07-14 14:25] dariox86 opened #1161 "[STM32L152RE]: regression, unable to flash since specific revision"
- [x] Programmer/board type: [genuine STLINK-V3SET updated to latest version V3J7M3B5S1]
- [x] Operating system and version: [Parabola GNU/Linux-libre, rolling release operating system updated to the latest version]
- [x] **stlink tools version** and/or git commit hash: [v1.6.1/git-ee491d9]
- [x] stlink commandline tool name: [st-flash]
- [x] Target chip (and board, if applicable): [genuine STM32L

[2021-07-14 15:39] Ant-ON commented on #1161
@dariox86 Can you test https://github.com/Ant-ON/stlink/tree/l0_soft_loader_fix branch?
Can you provide full log of flashing operation?

[2021-07-14 16:45] #1158 closed

[2021-07-14 17:14] Nightwalker-87 commented on #1000
**NOTE:**
Open issues for the  next release (v1.7.1) can be found under Issues --> Milestones --> v1.7.1.

Interested users and developers are encouraged to check open tickets :pushpin: and help with implementing new features and addressing bug reports. We are looking forward to review old tickets especially to further reduce the current backlog :recycle:. Any help is highly appreciated, but pleas

[2021-07-15 09:21] dariox86 commented on #1161
Tested with https://github.com/Ant-ON/stlink/tree/l0_soft_loader_fix branch.

Broken since Apr 13, revision ee491d9 with these error messages:

[code]

Still not working with additional error messages since May 22, revision cab9fc4:

[code]

It is working again with a bunch of error messages in May 22, revision cab9fc4:

[code]

Broken again since May 23, revision 293db13:

[code]

Error messages

[2021-07-15 11:03] Ant-ON commented on #1161
@dariox86
Thanks for the very detailed review! I have not been able to understand the reasons for this behavior yet. But I fixed one bug that was there. Can you test the https://github.com/Ant-ON/stlink/tree/l152re_fix branch?

[2021-07-15 12:16] dariox86 commented on #1161
@Ant-ON, I am glad my report was helpful. It works! Thank you! In aa70b89 I experience the usual issue with «WARN common.c: Flash base use default L0 address». After your commit in 679ab65 it works. It is also much faster! Before that it took maybe a couple of minutes. Now it's a matter of seconds.

For the record:

$ ./st-flash write FIRMWARE.bin 0x08000000
st-flash 1.7.0
libusb: error [get_usbfs

[2021-07-16 09:36] #1161 closed

[2021-07-16 13:15] #237 closed

[2021-07-16 14:05] Nightwalker-87 commented on #1138
@wolsty7 Is this fully resolved now?

[2021-07-16 14:11] Nightwalker-87 commented on #1075
@Ant-ON Can you verify if this is implemented consistently throughout the whole code base?

[2021-07-16 14:17] Nightwalker-87 commented on #888
@rewolff or anyone else who may have run into this: Please give us an update on this with after testing with v1.6.0, v1.6.1 and v1.7.0.

[2021-07-18 06:21] machadothi opened #1163 "Segmentation fault on STM32F103C8T6"
Hello everyone!
I'm getting a Segmentation Fault when I perform a st-flash command, running on Fedora 34.
I already tryed to install it by downloading the repository:

  * $ sudo dnf install git make cmake libusbx-devel (libusb-1.0-0-dev Ubuntu)
  * $ git clone https://github.com/stlink-org/stlink
  * $ cd stlink
  * $ make
  * $ cd build/Release
  * $ sudo make install

And also using 'dnf' comma

[2021-07-20 07:47] jjamesson opened #1164 "[feature] Support for STM32G491 and STM32H7A3/H7B3"
Dear STLINK maintainers,

We are considering using STM32G491, and STM32H7A3/STM32H7B3 in our designs.

As of now, it seems that these boards are not supported by ST tools yet. Could we expect support from your toolset for these chips in the near future? It would be very helpful.

With best regards!

[2021-07-21 00:35] wolsty7 commented on #1138
branch develop ga52e1bc isn't working, is this known @Nightwalker-87 ?:

branch l0_soft_loader_fix 1.6.1-330-g679ab65 still works for both L151 and L072

[2021-07-21 01:56] wolsty7 commented on #855
my programmer is the V3SET that isn't supported by 1.5.1 and i'm on raspbian... --connect-under-reset helps in my case

using branch l0_soft_loader_fix 1.6.1-330-g679ab65  that works for #1138:

using branch l0_soft_loader_fix 1.6.1-330-g679ab65  that works for #1138:

using branch l0_soft_loader_fix 1.6.1-330-g679ab65  that works for #1138:

using branch master 1.7.0:

So it appears to work corre

[2021-07-21 05:25] Ant-ON commented on #1164
@jjamesson I added support for these chips earlier (https://github.com/stlink-org/stlink/commit/9eb81e1e0adc6a5bf7a1c68cbbaf3fd35ec85be0 and https://github.com/stlink-org/stlink/commit/54000d67acefd86df4bdb0594dee940dd04763fa already in the `develop` branch). I had nothing to test these chips on, but everything should work. Support for the H7 and G4 series has been added previously and has been te

[2021-07-21 05:51] Ant-ON commented on #1075
@Nightwalker-87 there have been no such changes since the 1.7.0 release

[2021-07-21 05:55] Ant-ON commented on #1163
@machadothi Can you try run the `/usr/local/bin/st-flash --debug write main.bin 0x8000000` and post log?

[2021-07-21 07:39] jjamesson commented on #1164
Thanks for the reply, @Ant-ON ,

You're right, I checked the `/doc/devices_boards.md` file and saw that these chips weren't supported according to the list, but I didn't try the development branch myself.

Thanks,

[2021-07-21 23:56] machadothi commented on #1163
Sure! Here it is:

**$ /usr/local/bin/st-flash --debug write main.bin 0x8000000**
st-flash 1.7.0-77-ga52e1bc
2021-07-21T20:54:10 DEBUG common.c: *** looking up stlink version
2021-07-21T20:54:10 DEBUG common.c: st vid         = 0x0483 (expect 0x0483)
2021-07-21T20:54:10 DEBUG common.c: stlink pid     = 0x3748
2021-07-21T20:54:10 DEBUG common.c: stlink version = 0x2
2021-07-21T20:54:10 DEBUG common

[2021-07-25 21:35] rusefillc opened #1165 "Segmentation fault on armbian for STM32F407 Discovery"
- [x] Programmer/board type: [enter here] (e.g STLINK /V1, /V2, /V2-onboard, /V2-clone, /V3)
- [x] Operating system an version: armbian debian Linux orangepizero 5.10.43-sunxi 21.05.6 SMP Mon Jun 21 15:07:45 UTC 2021 armv7l GNU/Linux
- [x] **stlink tools version** and/or git commit hash: master 1.7.0-77-ga52e1bc
- [x] stlink commandline tool name: st-flash
- [x] Target chip (and board, if applicab

[2021-07-25 21:37] rusefillc commented on #1163
Let me join the party with https://github.com/stlink-org/stlink/issues/1165

[2021-07-26 00:59] rusefillc commented on #1165
hopefully it would be useful:

tag 1.6.1 works on same exact armbian delice  just fine:

[code]

[2021-07-28 04:02] Ant-ON commented on #1163
@machadothi This problem occurred after @rewolff move chip information to files. The problem may be solved by using stlink_chipid_get_params_old instead of stlink_chipid_get_params.

[2021-07-28 04:06] rusefillc commented on #1163
@rewolff @machadothi "segmentation fault" is probably not the best way to handle an error condition?

[2021-07-28 06:47] rewolff commented on #1163
Of course! Segmentation fault is the system's way of saying "You screwed up badly and I can't proceed from this situation".

So instead of just terminating the program, it at least tells you SOMETHING.

Consider a big hall with (open) PO boxes. So you're doing a quest of some sorts. So your first assignment is go to box 123 and read the instructions. So box 123 has a note that says put this note i

[2021-07-28 19:00] Nightwalker-87 commented on #855
@Ant-ON Is this a regression?

[2021-07-28 19:02] Nightwalker-87 commented on #1075
@Ant-ON I was referring to the general status quo, not in reference to a certain release.

[2021-07-28 19:07] Nightwalker-87 commented on #1164
@jjamesson The list will be updated as soon as these changes merge into the `master` branch with the next release (at the latest).

[2021-07-28 20:03] #1164 closed

[2021-07-28 20:18] Nightwalker-87 commented on #1163
Please test again with the proposed fix in the linked PR.

[2021-07-28 20:18] Nightwalker-87 commented on #1165
Please test again with the proposed fix in the linked PR.

[2021-07-29 04:17] houzhuhouzhu commented on #903
how to deal with ?

[2021-07-29 23:17] Nightwalker-87 commented on #903
Yeah indeed, I've been waiting for some feedback here as well...

[2021-07-30 05:47] Ant-ON commented on #903
@houzhuhouzhu
@Nightwalker-87
A similar implementation was done in PR #1120. Now it is used in release version. I have not heard any problem on the work yet...

[2021-07-30 06:14] Ant-ON commented on #1075
@Nightwalker-87 It is necessary to follow the PR and see that the fields are not add in the middle of the structure. Also we can write (add reference to this issue) about this in the development documentation.

[2021-07-30 07:42] houzhuhouzhu commented on #903
![J 4CPG89AUBHN@}_)C`@QLP](https://user-images.githubusercontent.com/79636829/127618764-44d21dcf-1b3c-4047-b292-86606d7c5bc3.png)

oh look it，maybe,I can rewrite it

[2021-07-30 12:13] nuclearcat opened #1170 "Segmentation fault for STM32G070"
- [x] Programmer/board type: V2-clone
- [x] Operating system an version: Linux ubuntu
- [x] **stlink tools version** and/or git commit hash: latest, 26a63c11a4125b7c5b3a2677f342cf13c37f1244
- [x] stlink commandline tool name: st-util
- [x] Target chip (and board, if applicable): STM32G070

(It crashes without -n too, just with -n log is shorter)
st-util --listen_port 2331 -v99 -n
st-util 1.7.0-78-

[2021-07-30 23:40] andrewsclapp opened #1171 "STM32G031F4"
I'm not sure if this should be a bug report or a feature request or something else.  I am willing to do some work and contribute.

I want to get st-flash working with some STM32G031F4 chips.

I have a chip prototyped on a little TSSOP20 breakout, an STLINK V2, serial, linux...  I've used these all with other micros (STM8L) to get them programmed and I know most of this stuff works great.  I've got

[2021-07-31 10:20] Nightwalker-87 commented on #1075
Ok, we should do this then to finally address this issue. Are there any inconsistencies currently present that have not been taken note of yet?

[2021-07-31 10:23] Nightwalker-87 commented on #903
@Ant-ON Yes, but as far as I noticed there are even more chip IDs that are currently not used for detection.

[2021-07-31 10:43] Nightwalker-87 commented on #202
@Ant-ON Would it be difficult to implement this? What do you think about it?

[2021-08-01 11:01] #1163 closed

[2021-08-01 11:01] #1165 closed

[2021-08-01 11:01] #1170 closed

[2021-08-06 11:11] DaveBerkeley opened #1174 "[feature] Ability to flash F7 devices when in dual-bank mode"
I'm working on a project using the STM32F779. We want to be able to use a bootloader to switch between flash banks bank_1 and bank_2.

I can use the latest st-flash code to write the opt_cr option bytes to set NDBANK and NDBOOT to 0. This places the device in dual-bank mode and dual-boot mode.

st-flash --area=optcr write 0x0fffaafc

Setting option_boot_add can then cause the bootloader to select

[2021-08-09 12:06] clausecker opened #1175 "Build broken on 32 bit systems"
The build of 1.7.0 on armv7 FreeBSD 13.0-RELEASE still fails as reported in bug #629.  The issue reported there was never actually fixed.  This concerns this line of code:

[code]

The problem is that while files are allowed to be very large, there is only a 32 bit address space on 32 bit machines.  So `size_t` (for sizes of objects) is a 32 bit type while `off_t` (for sizes of files) is a 64 bit

[2021-08-13 13:40] Nightwalker-87 commented on #1175
Related to #985.

[2021-08-13 13:50] Nightwalker-87 commented on #1138
@wolsty7 The segmentation fault may have been fixed in #1166.
However your installation does not seem to be correct: The given directory should not be present and should not be searched for.
Please retry with current _develop_ and actively follow open issues & discussions.

[2021-08-13 21:17] Nightwalker-87 commented on #620
ping @Ant-ON

[2021-08-14 03:16] Ant-ON commented on #620
@Nightwalker-87 I think this issue can be closed.  Already added a message about connection failure and inability to identify the chip (see stlink_chip_id)

[2021-08-14 05:59] wolsty7 commented on #1138
STM32l072CZ is working on develop now

pi@raspberrypi:~/git/stlink $ st-flash --connect-under-reset --freq=8M write /home/pi/Downloads/v0.bin 0x8000000
st-flash 1.7.0-98-ga6d19d7
/etc/stlink/chips: No such file or directory
2021-08-14T15:52:19 INFO common.c: L0xx Cat.5: 20 KiB SRAM, 192 KiB flash in at least 128 byte pages.
file /home/pi/Downloads/v0.bin md5 checksum: 7059ebcb3e9bde16901ce938fc649

[2021-08-14 09:30] Nightwalker-87 commented on #1138
@wolsty7 Please leave closing to Github Automation.
Can you identify the commit that fixed the issue for you?

[2021-08-14 10:42] Nightwalker-87 commented on #620
Intermediate summary for possible reasons:
- HW related issue, if DIO and CLK lanes are reversed: https://github.com/stlink-org/stlink/issues/620#issuecomment-328946678
- connected chip is not yet supported by the toolset: https://github.com/stlink-org/stlink/issues/620#issuecomment-841030622 This is obviously not a bug and intended behaviour.
- faulty hardware (MCU or programmers, especially chea

[2021-08-14 12:01] Nightwalker-87 commented on #620
@Ant-ON Please link the exact PR or commit for this edit. I could not allocate it. The above refers to a later version.

[2021-08-14 12:07] Nightwalker-87 commented on #1151
ping @gustavolaureano

[2021-08-14 12:09] Nightwalker-87 commented on #1098
@Ant-ON Is this completely or only partially fixed by now?

[2021-08-14 12:17] Nightwalker-87 commented on #681
@gszy Can you help us with this one?

[2021-08-14 16:37] gszy commented on #681
I’m sorry, I don’t have any L0s to test.

[2021-08-14 16:43] Nightwalker-87 commented on #620
Finally closed by #1120.

[2021-08-14 16:43] #620 closed

[2021-08-14 16:48] Nightwalker-87 commented on #681
I see. However thanks for the feedback. Feel free to take a look at other issues if you fancy to to so. :+1:

[2021-08-14 18:39] Nightwalker-87 commented on #1075
@slyshykO Can you recheck the codebase now? I'll add a respective note to the documentation soon.
We should not close this issue before both of these tasks are done.

[2021-08-15 07:21] wolsty7 commented on #1138
commit 1dd94a16a8090f17d9c595daf1e899d95c0511ab fixed it
commit a52e1bc5489e23f3c1071c6912820efacaa3b22c /etc/stlink/chips: No such file or directory
commit dc5388d94c959b271d51cd98ea973cf4e8febcf0 /usr/local/bin/st-flash: No such file or directory
commit f8b9bac4e581e3fd8d7cb79fd49f346b02fb500e gets stuck at write_half_pages failed == -1
commit a2a687873b908c41c49ab1811d5dd76179b27506 broke it "/

[2021-08-15 08:34] slyshykO commented on #1075
Hi @Nightwalker-87 . I am thinking about this issue.
At now, I propose to start the process of decreasing public headers.
We provide all headers that we have, and it accessible for all applications. The aim of decreasing should be only one public header - `stlink.h`. For example, see for binary of libusb.

After that, we will freeze the sizes of the public structs. By the way, we also should hide

[2021-08-15 08:57] slyshykO commented on #1075
I did a quick look at the codebase and spot only one struct size change since 1.7.0.
It is ```struct stlink_chipid_params``` from ```chipid.h```. It lost ```struct stlink_chipid_params * next;``` filed.

[2021-08-15 10:28] Nightwalker-87 commented on #1075
Ok, let's proceed as follows:

- Fix the latter and update the documentation on ABI and semantic versioning. This shall close this ticket.
- Open a separate ticket and introduce a working branch for the proposed structural change.

I'd not open a separate milestone for this but use the 1.8.0 milestone for this instead.
If doing so please ensure to keep that working branch on track with _develop_ a

[2021-08-15 10:30] Nightwalker-87 commented on #1138
@wolsty7 Thanks for the detailed coverage. I'll review ASAP.

[2021-08-15 10:46] slyshykO commented on #1075
In my opinion, the other branch is a non-working option. Cause it is big refactoring. And it is impossible to have 2 synchronized branches with such a big diff.
As I said previously, we should walk to target by small, mergeable commits to the `develop` branch.

[2021-08-15 10:53] Nightwalker-87 commented on #1075
Well, to me it does not sound like a topic to push into v1.7.1 then, which should rather remain a bugfix and minor feature release.
I think we should start this after 1.7.1 and then an in steps as proposed and together with the other big refactoring topic currently pending.

[2021-08-15 11:00] Nightwalker-87 commented on #1075
Seen from a more general perspective it would be favourable to resolve the oldest open bugfix topics in 1.7.x first to avoid dragging these along while the codebase is undergoing mayor rework.

[2021-08-15 11:09] Nightwalker-87 commented on #1174
@DaveBerkeley Does your feature branch fully address this topic? If your approach is satisfiable, it would be great if you could share it with opening a pull request. ;-)

[2021-08-15 11:22] DaveBerkeley commented on #1174
It is a bit of a hack. I added a --dual-bank switch on the command line (but not to --help) and use a table to look up the sectors to erase. I've only tested it on stm32f797 and stm32f767 parts that I have available. I have not look ed at other stm32f7 parts.
Ideally it should read the option bytes to determine the dual-bank settings, but I don't know how to do this.
I could do this with guidance

[2021-08-15 11:25] Nightwalker-87 commented on #687
@rimio Can someone try a comparable approach to produce a similar output. One may use a different MCU though. Right now I don't assume it to be related to a certain type.

[2021-08-15 11:28] Nightwalker-87 commented on #1174
Ok, so are there any volunteers around? (I can't help with the F7 series at all nor do I have appropriate HW around.)

[2021-08-15 11:41] Nightwalker-87 commented on #841
Can someone re-check the gdb-server & st-util with an original F1 series chip using **v1.6.0**, **v1.6.1** and **v1.7.0**?

[2021-08-15 13:11] Nightwalker-87 commented on #1138
Fixed by #1166.

[2021-08-15 13:11] #1138 closed

[2021-08-15 16:21] DaveBerkeley commented on #1174
I've removed the --dual-bank option and added code to read the optcr reg for stm32f76x devices.

Now in https://github.com/DaveBerkeley/stlink/tree/f7_integrate branch.

I have tested it on a Nucleo F767 board. Will try and test on my F779 target next week.

[2021-08-15 17:27] slyshykO opened #1180 "st-flash and other utilities search for chip files in the wrong directory"
- OS: Linux on ARM
- version 1.7.0-105-gdb8f789 (lastest develop)
- `st-info`, `st-flash`, `st-trace`, `st-util`

`make install` copied chip's files to /usr/local/etc/stlink/chips but st-* utils search them in /etc/stlink/chips

[2021-08-15 22:42] Nightwalker-87 commented on #1180
Another classical example for unfinished attempts... :-/
Regression from #1129.

[2021-08-16 06:06] slyshykO commented on #1180
Don't be discouraged. This is a typical process in software development :)

[2021-08-16 18:54] Nightwalker-87 commented on #1180
Yes, but it should appear on private/personal branches with intermediate working (sub)sets to be proposed for a merge each and not within endlessly reworked PRs that then appear to stall. That's the point and this is actually causing such problems. PRs are not spaces for development, but for final review and last additional changes.

I just find this regression deriving from such a background - th

[2021-08-16 19:48] Nightwalker-87 commented on #1180
The hardcoded path `/etc/stlink/chips` is definitely wrong - we shall never use hardcoded paths without the ability to define a variable cmake prefix.

Thus changing `install(FILES ${CHIP_FILES} DESTINATION ${CMAKE_ETC_CHIPS_DIR})`

into `install(FILES ${CHIP_FILES} DESTINATION ${CMAKE_INSTALL_PREFIX}/${CMAKE_ETC_CHIPS_DIR})`

within `/CMakeLists.txt` should actually fix this. Please let me know a

[2021-08-16 19:59] Nightwalker-87 commented on #1180
Another leftover is the old chip configuration in `/src/stlink-lib/chipid.c` - it should be removed after a comparison of the respective MCU configuration and no longer remain as a duplicate. Otherwise it will simply stay there forever... I still don't understand why this has not taken place during the move to the file-based configuration - there is no rational explanation for this.

[2021-08-16 20:02] Nightwalker-87 commented on #1175
Yes absolutely - this must clearly be addressed.

[2021-08-17 19:55] Nightwalker-87 commented on #1175
@clausecker

Actually there is such an attempt in `/src/common.c` to catch this error, but it does not seem to work properly for all cases:

[code]

[2021-08-17 20:15] clausecker commented on #1175
Well the check seems correct, but you still have to put the cast in.  That is, you have to write

    mf->len = (size_t)st.st_size;

to communicate to the compiler that you acknowledge the reduction in range.  Also, the correct macro to check against is of course `SSIZE_MAX`, not `INT32_MAX`.

[2021-08-17 21:13] Nightwalker-87 commented on #1175
I see, however I must admit this is not part of any own implementation, I just got aware of this one being present.
Can you confirm the above fix to work in general (e.g. also on other unix-based systems)?
If so, please give me a short buzz and I'll directly push it to develop.

[2021-08-17 21:16] clausecker commented on #1175
Unfortunately I only have FreeBSD machines to test, but I'll go ahead and give it a try.

[2021-08-17 22:27] Nightwalker-87 commented on #1156
@Ant-ON @gszy Can one of you explain this behaviour based on a short review? This might not be a bug, but a improper implementation related to a missing parameter instead...

[2021-08-17 22:43] Nightwalker-87 commented on #1108
@Ant-ON Can we discuss whether this is a bug or a missing feature?
I'm not so sure about this any more.

[2021-08-18 15:02] gszy commented on #1156
Well, it seems that when the filename is not provided, the program prints the result of `stlink_read_option_bytes32()`:

https://github.com/stlink-org/stlink/blob/db8f789400d0ac19536228b0bd774ac8f1d60ed6/src/st-flash/flash.c#L210-L215

It results in the following calls:

- `stlink_read_option_bytes32()`
  - `stlink_read_option_bytes_f4()`
    - `stlink_read_option_control_register_f4()`
      - `s

[2021-08-19 18:03] Nightwalker-87 commented on #1156
Looks to me as if at least the wrong address is read. Why should we read address fields that are reserved?
I've read before in another context that this can result in strange behaviour.
To me it would be reasonable to read the allocated and defined fields...

[2021-08-19 19:16] gszy commented on #1156
We currently seem to read four bytes starting from 0x1fffc000, because that’s the way STM32F446’s option bytes are defined in the lib:

https://github.com/stlink-org/stlink/blob/db8f789400d0ac19536228b0bd774ac8f1d60ed6/src/stlink-lib/chipid.c#L295-L305

I don’t really think the address is wrong, technically we are in the option bytes memory area; but the bytes we are interested in (RDP, USER, SPRM

[2021-08-21 10:40] Nightwalker-87 commented on #1156
Yes, and even more favourable could be to include an address mask for the valid option byte addresses to every chip-id config file.
This may help to find the correct fields with valid data for each individual MCU type.

[2021-08-21 10:46] Nightwalker-87 commented on #1156
@gszy Please also take note of the latest discussion in #1180 in this context.

[2021-08-21 14:47] gszy commented on #1180
Here, FWIW, is a patch that replaces all `configs/chips/*` files with ones freshly generated from `src/stlink-lib/chipid.c`: [0001-Update-chip-config-files-from-the-library-struct.patch.gz](https://github.com/stlink-org/stlink/files/7025672/0001-Update-chip-config-files-from-the-library-struct.patch.gz).

[2021-08-21 17:20] Nightwalker-87 commented on #1180
@gszy Good attempt! :+1:
I've just had a look at it, but propose that you submit it via a separate PR, as it changes quite a few files.
I wouldn't want to mix or submit it with changes I am currently implementing.

[2021-08-22 13:21] Nightwalker-87 commented on #1175
@clausecker Have you had the chance for a test in the meanwhile?

[2021-08-22 13:27] clausecker commented on #1175
Sorry, had a very stressful week. Will test it today.

[2021-08-22 13:56] clausecker commented on #1175
I can confirm that with the cast added, the current `develop` branch builds fine on armv7 FreeBSD 13.0-RELEASE.

[2021-08-22 14:21] Nightwalker-87 commented on #1175
Oh, that's good news. :+1:
I've already prepared a commit that will close this issue per GitHub Automation.

[2021-08-22 14:25] Nightwalker-87 commented on #1180
@slyshykO Can you confirm that https://github.com/stlink-org/stlink/issues/1180#issuecomment-899773842 fixes this?

[2021-08-22 14:29] Nightwalker-87 commented on #1156
This currently waits for #1181 to merge.

[2021-08-22 14:32] Nightwalker-87 commented on #1075
@slyshykO Can you address https://github.com/stlink-org/stlink/issues/1075#issuecomment-899018590 then and take a closer look into the codebase as well?
If you have any ideas on how to address this point in our documentation, you may post them here.

[2021-08-22 14:41] Nightwalker-87 commented on #985
@clausecker I wonder if the fix for #1175 does address this as well.
The actual cause is not really visible, but the observed errors may go back to `st.st_size` as well.
I'm not so sure any more if my observations above can serve a verification.
Unfortunately we are missing an older system to test.

[2021-08-22 14:46] clausecker commented on #985
Yes, this sounds like the same issue.  The error messages even indicate the same line as the patch I proposed.

[2021-08-22 14:57] Nightwalker-87 commented on #1151
@Ant-ON How shall we proceed here? We need somebody to test.

[2021-08-22 15:44] slyshykO commented on #1180
No, this is not enough.
There is also need to move this
[code]
down, right after

[code]

Also, I think that we should use _**share**_ dir name, not _**etc**_ here
[code]

[2021-08-22 15:59] Nightwalker-87 commented on #1180
Yes, we should definitely use `share`.

[2021-08-22 16:03] gszy commented on #1180
IMHO, ideally we would have the default chip files installed to `$PREFIX/share`, but read them from `/etc` (and/or perhaps `$XDG_DATA_HOME`) as well. Alternatively, at least provide a command line option to override the chips config directory at runtime. This is probably a separate issue, but something to consider when choosing names like `CMAKE_ETC_CHIPS_DIR` (note the “ETC”).

[2021-08-22 16:04] slyshykO commented on #1075
Without refactoring our codebase, we should mark in the readme that we break API every release, even minor ones.
Also, we should link our binaries with static libstlink for all platforms. This prevents a runtime linkage with the wrong libstlink with another ABI.

[2021-08-22 16:30] Nightwalker-87 commented on #1180
Well, I was just going to change that naming anyway due to the mentioned reason...

[2021-08-22 16:41] Nightwalker-87 commented on #1180
My suggestion is:

[code]

just after `include(GNUInstallDirs) # Define GNU standard installation directories`
and with updating the command in the install section further downwards as well:

[code]

@gszy Additionally we should talk about the additional read from `/etc` as well, but for that we should clarify first under which circumstances this directory may come into use (because unless this is

[2021-08-22 16:59] Nightwalker-87 commented on #1075
Wait, what? As I read it, we were talking about ABI and not API in this issue.
When looking at https://github.com/stlink-org/stlink/issues/1075#issuecomment-739563658 again such changes may have occurred several times and it would be impossible to root that back to any original state, nor preferable because a structure was likely never defined. How is the second mention related to this topic?

[2021-08-22 18:28] Nightwalker-87 commented on #687
@gszy Are you aware of any observed inconsistencies related to this topic?
Is there any useful approach you can suggest?

[2021-08-22 19:53] gszy commented on #687
I haven’t tried remote disassembly yet, the basic functionality—breakpoints, stepping through the code—seemed to just work last time I used it. I second @xor-gate:

I have zero experience with this protocol, so no suggestions for now. Was anyone able to reproduce this issue?

[2021-08-22 20:05] Nightwalker-87 commented on #687
I assume that if that was the case (GDB remote protocol) it would have been fixed there by now, but that's just an educated guess really...

[2021-08-22 20:11] Nightwalker-87 commented on #687
... but such things obviously do happen as shown in this example: https://sourceware.org/bugzilla/show_bug.cgi?id=23028

[2021-08-22 20:22] Nightwalker-87 commented on #687
@rimio Are you still there despite of the time passed?

[2021-08-22 21:14] Nightwalker-87 commented on #1108
Here we should discuss and point out how the observed behaviour could be addressed technically.
Detecting a spare area may not be that trivial...

[2021-08-23 13:03] mrx23dot opened #1182 "Add STM8S 103/003 support"
2021-08-23T14:02:57 WARN common.c: NRST is not connected
2021-08-23T14:02:57 ERROR common.c: Can not connect to target. Please use 'connect under reset' and try again
2021-08-23T14:02:57 ERROR gdb-server.c: Unsupported Target (Chip ID is 0000000000, Core ID is 0x00003748).

[2021-08-29 12:49] #985 closed

[2021-08-29 12:49] #1180 closed

[2021-08-29 12:49] #1175 closed

[2021-08-29 14:53] Nightwalker-87 commented on #1156
We may continue with this now.

[2021-08-29 14:56] Nightwalker-87 commented on #1156
@gszy BTW: Where did the `.flash_size_reg` parameter go?
Can we move the comments into the chip-id files as well? (I think so.)

[2021-08-29 15:16] gszy commented on #1156
I didn’t copy the `flash_size_reg` parameter, as I didn’t see it in the existing chip files (before my changes). Here is the relevant part of my script:

[code]

(/me wonders why GitHub highlights the second `strcpy` and the `strcat` in a different colour…)

We can move the comments there, though I’m afraid doing so manually would take less time than writing a script to do so (using some C parser

[2021-08-29 15:33] Nightwalker-87 commented on #1156
Yes, of course - that's out of question. I've already started to go through the comments chip by chip.
One finds that they are incomplete with missing references to the respective RMs by ST Microelectronics.
We would want to have that complete I believe, but this is quite a bit of work to do.
It would be great to have some help with this.

We should also check the `flash_size_reg` again and how it

[2021-08-29 15:43] Nightwalker-87 commented on #1156
`flash_size_reg` is only used once in the codebase and this is in `common.c` (Line 1617):

[code]

[2021-08-30 08:14] Ant-ON commented on #1156
@Nightwalker-87
The main use of `flash_size_reg` is
https://github.com/stlink-org/stlink/blob/ac633683f16409883df740c44592bfeac6b8124f/src/common.c#L1615

@ApiumJacob described the bug. It is necessary to rewrite this part:
https://github.com/stlink-org/stlink/blob/db8f789400d0ac19536228b0bd774ac8f1d60ed6/src/st-flash/flash.c#L203-L217
to something like
[code]
This fix does not support writing to

[2021-09-02 06:46] KevinLeif opened #1184 "'st-info --probe' returns 'unknown device', works with STMCubeProgrammer"
- [x] Programmer/board type:
  - Manufacturer: STMicroelectronics
  - Product: STLINK-V3
  - Serial: 002100423438511734313939
- [x] Operating system an version: Ubuntu 20.04.3 LTS
- [x] **stlink tools version** and/or git commit hash: st-flash 1.6.1-96-gbf41f14 and st-flash 1.7.0
- [x] stlink commandline tool name: st-info, st-flash
- [x] Target chip (and board, if applicable): STM32H743ZIT6U - Nu

[2021-09-08 20:10] electricmuff opened #1187 "[STM32F030K6]: unknown chip id and error code : 0x5fa0004"
Programmer STLINK/V2 (chinese thing)
LINUX manjaro
stlink 1.7.0-1

[code]
[code]

I'm having issue with chinese STLINK/V2 that worked perfectly fine two days ago. It can't connect to certain boards (that it could read two days ago). The micro is the STM32f030K6 (32 pin) .  It also previously gave me 0x5fa0004 error code. I have two of those stlink v2 clone, both gave the same result.

They can con

[2021-09-09 16:56] electricmuff commented on #1187
I went back to the 1.6.0 version, without success
[code]

[2021-09-12 22:49] Nightwalker-87 commented on #1075
ping @slyshykO

[2021-09-12 22:50] Nightwalker-87 commented on #1098
ping @Ant-ON

[2021-09-12 22:54] Nightwalker-87 commented on #1151
@slyshykO Do you have any idea on this one?

[2021-09-15 11:18] Ant-ON commented on #1098
@Nightwalker-87 It's partial solution. The problem is not clear. There may be problems in the hardware.

[2021-09-15 19:50] Nightwalker-87 commented on #1098
Can we take any technical benefit from this issue?
I have the impression that there will be no further response from @pm-daniel or @kwarek on this,
which would leave us without any further assistance and the ability to investigate...

[2021-09-15 20:24] pm-daniel commented on #1098
@Nightwalker-87 I've changed my workflow a bit, so I can't provide more details or test new solutions regarding that issue

[2021-09-16 08:48] MrZloHex opened #1189 "[STM32F103]: undefined symbol: init_chipids"
**Thank you for giving feedback to the stlink project.**

---

**NOTE: In order to offer sufficient and the best possible support, please read /CONTRIBUTING.md and follow the given instructions _before_ submitting a ticket.**

**Bug reports and/or feature requests will be deleted, if they violate our contribution guidelines and if no issue-template is used!** Thank you for your support.

---

- [x

[2021-09-16 09:05] slyshykO commented on #1189
Hi, please show us an output of ldd for st-util.

чт, 16 сент. 2021 г., 11:48 MrZlo ***@***.***>:

[2021-09-16 09:16] MrZloHex commented on #1189
Hello,
[code]

[2021-09-16 09:28] slyshykO commented on #1189
Try to run LD_LIBRARY_PATH=/usr/local/lib /usr/local/bin/st-util

чт, 16 сент. 2021 г., 12:16 MrZlo ***@***.***>:

[2021-09-16 09:32] MrZloHex commented on #1189
[code]

[2021-09-16 10:00] slyshykO commented on #1189
@MrZloHex
The issue is that the newly built st-util loaded with the old libstlink is probably installed through the system packet manager.

Do you remember or can find where is installed *libstlink.so.1.7.0 from you build?

[2021-09-16 10:04] MrZloHex commented on #1189
I installed `stlink tools` as `sudo dnf install stlink` and you think, that it installed old version of library?

Should I find the path to _libstlink.so.1.7.0_?

[2021-09-16 10:45] slyshykO commented on #1189
You should find out where is installed `libstlink.so*` which build with `st-util 1.7.0-105-gdb8f789`.
Then force the system to run `st-util 1.7.0-105-gdb8f789` with proper `libstlink.so*`.
Sorry, I don't know how to do it on fedora.

[2021-09-16 11:24] MrZloHex commented on #1189
[code]

But how to understand which of those is using for `st-util`?

[2021-09-16 14:14] slyshykO commented on #1189
@MrZloHex, where you get `st-util 1.7.0-105-gdb8f789`?

[2021-09-17 06:04] MrZloHex commented on #1189
@slyshykO
Like i just execute `st-util`:
[code]

[2021-09-20 10:50] rimio commented on #687
Still here, sorry I missed the mention.

I'll try to dig up the devboard I was using at that time from the 'tronics boxes. If I find it, I'll happily test it out.

Any branch in particular you'd like me to test?

[2021-09-20 21:26] Nightwalker-87 commented on #687
Hi @rimio, eh good question -  We may probably want to go through release by release starting from **v1.5.0** to investigate if the issue is somehow version-related. You may then try later versions of the gdb 7.x branch and 8.x or even 9.x to see if that makes any difference. The general task should be to try to allocate the cause either to gdb or to the stlink toolset before doing any further inv

[2021-09-20 21:29] Nightwalker-87 commented on #1189
@MrZloHex Yes, where does that revision come from?

[2021-09-21 18:44] MrZloHex commented on #1189
from `dnf` repo, i installed it like any prog/lib with dnf

[2021-09-21 20:22] c-grant opened #1190 "[feature] Add ability to have multiple GDB clients connected to st-util instance"
Recently I was trying to debug a multi executable environment with different IDEs. The current GDB server in st-util will only accept 1 connection at a time, which makes debugging this kind of projects difficult. This is a request to implement multi GDB client connections to the GDB server in st-util

[2021-09-23 08:49] nicosquare opened #1191 "[ST-LINK /V2]: Problems running when installing from binaries"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue
- [x] Programmer/board type: [STLINK /V2]
- [x] Operating system an version: [Linux]
- [x] **stlink tools version** and/or git commit hash: [v1.7.0]
- [x] stlink commandline tool name: [`st-info`, `st-flash`, `st-trace`, `st-util`]
- [ ] Target chip (and board, if applicable): []

I want to use the latest version of st

[2021-09-23 13:22] slyshykO commented on #1191
Think this issue connected with #1189

[2021-09-26 13:55] Nightwalker-87 commented on #1000
**NOTE:**

**Since September 2021 active development has ceased for this project.**

In the recent 1,5 years I have spent quite al lot of efforts to maintain and move forward with this project. When I stepped in, the remnants of many years without active maintenance had to be dealt with and worked up. Now with a deceasing amount of time available, I can only keep up some general maintenance tasks

[2021-09-29 10:34] rimio commented on #687
@Nightwalker-87
Unfortunately I do not have any `Lxxx` devboards any more (although I only tried the L152RE at that time).
I'll query some friends and see if they have any. If I find one I'll report back.

[2021-10-15 08:37] rxk08011 opened #1192 "boot_lock can't be changed in STM32G0"
I am trying to set boot_lock option as factory default is unset in STM32G0 controller.
But, this is not possible in either way with 2 commands.

./st-flash --debug write output.bin 0x1FFF7870
- This command return "Unknown memory region" due to the fact that address 0x1FFF7870 not in main memory

/st-flash --area=option write 0x1FFF7870 0x00000100
- stlink_write_option_bytes32() == -1 due to hardc

[2021-10-17 13:21] M-Reimer opened #1193 "[feature] Unlock controller with "st-flash""
- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers to isolate and target your respective issue, please take some time to select the check boxes below and fill out each of the following items appropriate to your specific request.

- [x] Programmer/board type: [V2-clone] (e.g STLINK /V1, /V2, /V2-onboard, /V2-clone, /V3)
- [x] Operating syst

[2021-10-18 07:18] rxk08011 opened #1194 "STM32G031G8: BOOT_LOCK is not possible to change on option bytes address 0x1FFF7870"
**Thank you for giving feedback to the stlink project.**

---

**NOTE: In order to offer sufficient and the best possible support, please read /CONTRIBUTING.md and follow the given instructions _before_ submitting a ticket.**

**Bug reports and/or feature requests will be deleted, if they violate our contribution guidelines and if no issue-template is used!** Thank you for your support.

---

- [x

[2021-11-02 22:52] mariobaldini commented on #820
Syncing installed lib with the st-link bin solved the issue in my case:

Purged both the lib and installed bin: `sudo apt remove --purge libstlink1 stlink`
Reinstalled the bin again: `sudo dpkg -i stlink_1.7.0-1_amd64.deb`

[code]
libstlink.so.1 was previously = 0x00007f88c8e4c000

Probably it's also the same solution for Fedora (just switching from apt to dnf).

Apparently when uninstalling `stli

[2021-11-02 22:53] mariobaldini commented on #1189
Syncing installed lib with the st-link bin solved the issue in my case:

Purged both the lib and installed bin: `sudo apt remove --purge libstlink1 stlink`
Reinstalled the bin again: `sudo dpkg -i stlink_1.7.0-1_amd64.deb`

[code]
libstlink.so.1 was previously = 0x00007f88c8e4c000

Probably it's also the same solution for Fedora (just switching from apt to dnf).

Apparently when uninstalling `stli

[2021-11-02 22:54] mariobaldini commented on #1191
Syncing installed lib with the st-link bin solved the issue in my case:

Purged both the lib and installed bin: `sudo apt remove --purge libstlink1 stlink`
Reinstalled the bin again: `sudo dpkg -i stlink_1.7.0-1_amd64.deb`

[code]
libstlink.so.1 was previously = 0x00007f88c8e4c000

Probably it's also the same solution for Fedora (just switching from apt to dnf).

Apparently when uninstalling `stli

[2021-11-03 22:23] FabriceSalvaire opened #1195 "Nucleo-L053R8: Flash loader run error"
Board is a Nucleo-L053R8
[code]

Flash log
[code]

[2021-11-05 01:56] c-grant opened #1196 "[STM32H735]: Can't access external memory"
Issue is similar to issue #1158, except it is in relation the the externally mapped memory busses

 Programmer/board type: [STLINK V3 on STM32H735-DK]
 Operating system an version: [Windows 10 19042.1083]
 stlink tools version and/or git commit hash: [1.7.0]
 stlink commandline tool name: [st-util]
 Target chip (and board, if applicable): [STM32H735 on STM32H735-DK]

When tryin to read OSPI2 on th

[2021-11-05 15:46] c-grant commented on #1196
Fixed by #1197

[2021-11-06 21:23] #1196 closed

[2021-11-10 14:50] spflieger commented on #1194
The situation for the STM32G03 similar to the [F446 #1156](https://github.com/stlink-org/stlink/issues/1156#issuecomment-902174931).
st-flash actually support only reading and writing the "USER" option byes.

[2021-11-10 15:53] arbrauns opened #1198 "STM32H743: Breakpoints only start working about two seconds after reset"
This is a report of the same symptoms as #1059, but that issue was deemed to be fixed and thus locked almost a year ago.

- [x] Programmer/board type: ST-LINK/V2.1
- [x] Operating system an version: Arch Linux
- [x] **stlink tools version** and/or git commit hash: e97f438
- [x] stlink commandline tool name: `st-util`
- [x] Target chip (and board, if applicable): STM32H743XIH

Commandline output:

[2021-11-11 17:30] 10110111 opened #1199 "Wrong flash size reported for various chips"
I'm debugging firmware on STM32H725VGT that has some code above 0x8020000. When I try to access this memory e.g. via `disas` command in GDB, I get _"Cannot access memory at address 0x802xxxx"_. I've tracked it down to `info mem` reporting flash region from 0x08000000 to 0x08011c00. The 0x11c00 size is also what I get from `st-info --flash`. This size is wrong: the chip has 1MiB of flash.

I've als

[2021-11-12 04:24] Ant-ON commented on #1199
@10110111 Can you post output of `st-info --flash`?
Can you post value of 0x1FF1E880 register (read in GDB: `x/1uw 0x1FF1E880`)?

[2021-11-12 04:52] Ant-ON commented on #1194
@spflieger Appropriate `Memory map and register boundary addresses` of `RM0444` the options byte area have size of `0x80`. Can you change `option_size` to `0x80` and try again?

[2021-11-12 08:03] 10110111 commented on #1199
The register read returns 1024. The output is below.
[code]

[2021-11-12 08:08] Ant-ON commented on #1199
@10110111 Have you edited the configuration files? `flash_size_reg` should be `0x1ff1e880`...

[2021-11-12 08:14] 10110111 commented on #1199
No, I don't even know where they are :) . I just did `make install` and went on to run `st-util`.

[2021-11-12 08:56] Ant-ON commented on #1199
I don't know where they too... Apparently someone broke they :(
Unfortunately, I can only advise you to comment their reading function in the `chipid.c`. Using an array with chip descriptions works stably.

[2021-11-12 09:06] 10110111 commented on #1199
I guess it's `/usr/stlink/chips/H72x_H73x.chip`. And `flash_size_reg` is absent there, as in any other file in this directory.

[2021-11-12 09:34] Ant-ON commented on #1199
It turns out that they need to be recreated and updated in the source code.
They generated in current directory if uncomment the line:
https://github.com/stlink-org/stlink/blob/e97f438075ff5128630dfa3668f6ac7bd1181c51/src/stlink-lib/chipid.c#L1105

[2021-11-14 21:54] spflieger commented on #1194
For reading this works but not for writing. The option bytes are not contiguous in option byte area. There is a gap at 0x1FFF7868 and there is no option byte at 0x1FFF7878 either. So we have actual only 0x70 bytes. This can be seen in Table 16. Organization of option bytes in RM0444.
This means that the option bytes can't be written in one chunk. We need some way to skip writes to 0x1FFF7868.

[2021-11-16 16:35] jimfred opened #1200 "Curious about a SWIG wrapper for this library"
I'm curious about a SWIG wrapper for this library to get bindings for Python, C# and other languages. I'd be tempted to attempt a SWIG wrapper but wanted to gauge interest or need. I searched 'Issues' for 'Python' and didn't find anything which implies zero interest.

I also saw Nightwalker's post that development has stopped but I might have misinterpreted the gravity of that statement.

I'm curr

[2021-11-23 23:13] Crest commented on #1174
I have access to a NUCLEO-H753 board as well as a few H750 boards (which have just a single 128kiB flash block). Should this code also work on dual banked H7xx chips or at least detect them as unsupported? If there is a way to disable dual banked mode afterward I'm could to perform the positive (and negative) testing on my H7xx boards.

[2021-12-02 22:54] radsdau commented on #692
Since V1.8.0 has been installed, this seems pretty much rock solid or me. Thanks to whoever put the effort in- it's a different world now! Win10

[2021-12-03 22:18] Nightwalker-87 commented on #692
@radsdau Can you give some more information on your hardware and what you tried out exactly? That would be great, thx.
We're looking forward to close this issue if one can verify this issue is resolved. Also others may then be able to reproduce.

[2021-12-04 00:35] Nightwalker-87 commented on #202
Closed due to inactivity and missing interest.

[2021-12-04 00:35] #202 closed

[2021-12-04 00:38] Nightwalker-87 commented on #647
Closed due to inactivity and missing interest.

[2021-12-04 00:38] #647 closed

[2021-12-04 00:42] Nightwalker-87 commented on #720
Closed due to inactivity and missing interest.

[2021-12-04 00:42] #720 closed

[2021-12-04 00:43] Nightwalker-87 commented on #740
Closed due to inactivity and missing interest.

[2021-12-04 00:43] #740 closed

[2021-12-04 00:45] Nightwalker-87 commented on #794
Closed due to inactivity and missing interest.

[2021-12-04 00:45] #794 closed

[2021-12-06 10:18] mattgbio opened #1203 "STM32L051: Problem writing half pages"
Hi everyone,

I'm having a problem when flashing a new firmware to an STM32L051 on a Raspberry Pi 4. While reading from flash as well as writing small chunks of data to flash works very well, I cannot write a complete firmware image to flash.

In particular,
./st-flash --connect-under-reset --freq=8M write ~/firmware-accel_V5_Release.bin 0x08000000

results in the following (shortened) output:

20

[2021-12-07 06:38] Ant-ON commented on #1203
@mattgbio Could you try https://github.com/stlink-org/stlink/tree/develop branch? I find it difficult to navigate in the commit you are using.

[2021-12-07 07:23] mattgbio commented on #1203
@Ant-ON Unfortunately, I can't. When using the develop-branch, I'm running into a problem with reading the flash size, similar as in https://github.com/stlink-org/stlink/issues/1199. That's why I'm using the most recent commit in the master-branch.

./st-flash --connect-under-reset --freq=4M write ~/firmware-accel_V5_Release.bin 0x08000000
results in (I added the . in front of # for readability):

[2021-12-07 07:28] Ant-ON commented on #1203
@mattgbio Unfortunately, there is a problem with the configs and it was not fixed... Could you try https://github.com/Ant-ON/stlink/tree/zf instead?

[2021-12-07 09:35] mattgbio commented on #1203
@Ant-ON Sure, this is the output:

st-flash 1.6.1-333-g5711a2c
2021-12-07T10:29:22 WARN common.c: NRST is not connected
2021-12-07T10:29:22 INFO common.c: L0xx Cat.3: 8 KiB SRAM, 64 KiB flash in at least 128 byte pages.
file /home/pi/firmware-accel_V5_Release.bin md5 checksum: b064d5c6805a7788c03080a8ba7ee8f1, stlink checksum: 0x00405881
2021-12-07T10:29:22 INFO common.c: Attempting to write 45352

[2021-12-08 13:46] Aukstkalnis opened #1204 "[STM32H750]: Problem with size cheks"
**Thank you for giving feedback to the stlink project.**

---
Do you remember the case #988? Well, the problem still exist at map_file() routine. I tried with commit cb0f91a4f99ba735f90b0ffad4e471655be37acc.

The problem is at this part:
  if (sizeof(st.st_size) != sizeof(size_t)) {
    // on 32 bit systems, check if there is an overflow
    if (st.st_size > (off_t)SSIZE_MAX) {
      fprintf(stder

[2021-12-08 17:58] ims-fdc opened #1205 "Speed performance"
Hi,
the time to flashing a 128KB binary image on a STM32G070 is about 11 seconds, while using STM32CubeProg only require 1.5 sec.
Is there an explanation for this difference ?

[2021-12-20 01:31] radsdau commented on #692
@Nightwalker-87 I am debugging a STM32L4Q5VGT6 with STLink-V3Mini. In V1.7 starting a debug session would fail about 50% of the time, as described in this bug report; it had halted in some unknown location (0x1FFFxxxx). I'd hit 'debug' again, it would go through the entire process, then work the next time.
It was also flakey and dropped out (some exception) often.
I'm running this on Win10, and ou

[2021-12-21 00:28] Nightwalker-87 commented on #692
Ah, that does ring a bell indeed. I remember a very similar issue regarding the behaviour you just described.
It was fixed somewhen recently. This could indeed be a duplicate of it. Let me check, it won't be difficult to find out...

[2021-12-21 17:13] domingguss opened #1206 "[STM32F3xxx] 'unknown chip id' with STLINK V2-clone, flashable with a V2.1"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue
- [x] Programmer/board type: [V2-clone and V2.1 broken from nucleo board]
- [x] Operating system an version: [V2-clone does not work on Linux, V2.1 works on macOS in Eclipse]
- [x] **stlink tools version** and/or git commit hash: [1.5.1-patch, but 1.6.0 and 1.7.0 fail also]
- [x] stlink commandline tool name: [`st-flas

[2021-12-21 21:46] Nightwalker-87 commented on #1206
Please use the latest version of this toolset. v1.6.0 is no longer supported.
See https://github.com/stlink-org/stlink/security/policy for details.

[2021-12-22 12:09] KlemenDEV commented on #692
Did you compile binaries manually? Is there any chance to share them?

[2021-12-22 20:17] Nightwalker-87 commented on #692
@KlemenDEV they are available in the Release-Section as mentioned on the main page.

[2021-12-23 13:01] domingguss commented on #1206
Sorry, I used 1.6.0 on a test-setup for this issue (where this also occurs), but the bug happens on our CI/CD which runs ` v1.5.1-patch`.

I actually tried 1.6.0 and 1.7.0 but these cannot even flash other boards (F3 and F7) which we need in our CI/CD setup before we can even try to flash the board mentioned in TS. The `v1.5.1-patch` seems to be having the least failures (until INPUT_5, device A i

[2021-12-23 15:03] domingguss commented on #1206
okay, so apparantly the serial id numbers changed when I switched to 1.7.0 (lower->uppercase, but also whole different ID for the F7)

So now only the JUNIOR_INPUT(5) still refuses to be flashed by 1.7.0:

[code]
[code]

[2021-12-23 18:35] Nightwalker-87 commented on #1206
This appears to be an issue the external library `libusb` which is not part of the project.
It is commonly known that the latest `libusb` versions are working together seamlessly with the `stlink` toolset on a clean installation according to the project documentation. Please refer to the libusb-project (https://github.com/libusb/libusb) regarding this issue in order to ensure that the library is w

[2021-12-30 00:08] antoinefaure commented on #1174
Any update on this ?
I've successfully flashed the 2nd bank of my F7 with this, that's promising !

[2021-12-30 13:21] 2old4it commented on #1198
I have the same issue. Need to debug an issue at the beginning of my code but that break point never gets hit.
If I set a break point somewhere that is called regularly the break point hits after some time (didn't time it)
Is there a work-around for this? I need to solve my bug yesterday :-(

- host is Linux Manjaro
- st-util --version = 1.7.0
- target device = STM32L4S9

I have attached two files

[2021-12-30 15:13] domingguss commented on #1206
can you be a bit more specific how to further look into this issue?  i updated to ubuntu20.4, so the libusb seems to be pretty recent
[code]

[2021-12-30 16:28] domingguss commented on #1206
[code]
the libusb also returns a corrupted serial for both...

[2021-12-30 23:49] Nightwalker-87 commented on #1206
The version of the library is not found in the package name, but from your additional info we find it to be v1.0.23.

To be honest not really, as there are several possible reasons for that to happen reaching from (partly) faulty programmer hardware over (thermal redundant) electrical problems on the physical layer, configuration issues on the local system, up to buggy libraries and maybe there ev

[2022-01-02 22:31] rusefillc opened #1208 "[feature] time for new release?"
With 100+ commits and 8 months since 1.7.0 is a new release coming soon?

[2022-01-02 22:48] rusefillc opened #1209 "[feature] GD32F190 support"
- [x] Programmer/board type: STLINK /V3
- [x] Operating system an version: Windows 11
- [x] **stlink tools version** and/or git commit hash: 1.7.0 release
- [x] stlink commandline tool name: st-info
- [x] Target chip (and board, if applicable): gd32f190

I am trying
st-info.exe  --probe

and all I get is
[code]

is there a way for me to enable verbose debug output if you guys have any interest in

[2022-01-02 23:18] Nightwalker-87 commented on #1209
No, we don't support clone devices and they often cause problems regarding identification based on chip parameters.
As settings do interfere with original chips we won't mix that up again. We have learned this lesson in the project history already.

[2022-01-02 23:32] rusefillc commented on #1209
that's fair I guess. if GD32 wanted to be taken care seriously they should not have used same core id.

[2022-01-02 23:44] Nightwalker-87 commented on #1209
True. I recommend you to look for an original development board from ST-Micro for your application based on your specific needs. Some models are available for less than 20€, but may save time spent on getting it to work or fixing issues with spare documentation available or may even prevent to buy several cheap clones in order to finally get to a working device. I've seen this before with a Bluepi

[2022-01-03 00:02] rusefillc commented on #1209
I assume you are aware of the chip shortage right? :) while some dev boards are still available have you seen how official F407 discovery is not planning to be available for the next 12 months?

I am well past dev board phase. I am having troubles fabricating my devices like https://github.com/rusefi/rusefi-hardware/tree/main/wideband-F103

[2022-01-03 09:56] Nightwalker-87 commented on #1209
Of course I am, but this should turn out to be the same situation for everyone.
However I am closing this issue now as it appears to be resolved.

[2022-01-03 09:56] Nightwalker-87 commented on #1209
Of course I am, but this should turn out to be the same situation for everyone.
However I am closing this issue now as it appears to be resolved.

[2022-01-03 09:56] #1209 closed

[2022-01-03 09:59] Nightwalker-87 commented on #613
Is there any chance to continue with this?

[2022-01-03 10:10] Nightwalker-87 commented on #449
Related to #888 and #1151.

[2022-01-03 10:11] Nightwalker-87 commented on #1151
@gustavolaureano Any update on this?

[2022-01-03 10:21] Nightwalker-87 commented on #1189
@mariobaldini @MrZloHex Please report this to the Fedora package maintainer downstream.
We can't take action here, as we don't split-up the _stlink_ package into several parts and only distribute a single package instead.

[2022-01-03 10:21] #1189 closed

[2022-01-03 10:23] Nightwalker-87 commented on #1191
@nicosquare Which linux distribution do you use?

[2022-01-03 11:15] Nightwalker-87 commented on #1199
The `flash_size_reg` issue is currently being fixed for all .chip files in `/config/chips`.

[2022-01-03 12:09] Nightwalker-87 commented on #1090
@super-cow-powers @wolsty7 Can we finally proceed here?

[2022-01-03 12:31] Nightwalker-87 commented on #1005
@Ant-ON @tarek-bochkati The referenced implementation is incomplete. As far as I can see from reviewing we need at least a chip-id file in order to support the mentioned board series. Can you also describe the necessary changes more precisely?

[2022-01-03 14:37] nicosquare commented on #1191
Hi! @Nightwalker-87 I use Ubuntu 20.04

[2022-01-03 16:45] Nightwalker-87 commented on #1191
Ah, ok then we have the same issue as in #1189...

Please report this to the Debian/Ubuntu package maintainer downstream.
We can't take action here, as we don't split-up the stlink package into several parts and only distribute a single package instead.
To avoid this straight away I recommend to use the latest Debian package distributed from this project (local package installation), which is know

[2022-01-03 16:45] #1191 closed

[2022-01-03 17:20] Nightwalker-87 commented on #1184
I believe the `bootrom_size` is wrong for this chip_id file anyway...
I'll check the related reference manual to verify the settings.

[2022-01-03 19:53] Nightwalker-87 commented on #1096
A first contribution to this topic is a (preliminary) chip-id file for the STM32U5 series in branch `chipid_cleanup`.

[2022-01-03 19:54] Nightwalker-87 commented on #1005
A first contribution to this topic is a (preliminary) chip-id file for the STM32L5 series in branch `chipid_cleanup`.

[2022-01-05 16:01] perigoso commented on #841
No, sorry, no longer have the hardware handy to test this.

[2022-01-06 11:36] Nightwalker-87 commented on #1098
@pm-daniel @Ant-ON What is the current state of this issue?

[2022-01-06 11:41] Nightwalker-87 commented on #1206
Could someone else run an additional HW test with a F3-series board to verify functionality?

[2022-01-06 17:22] Nightwalker-87 commented on #681
I have spotted a false `bootrom_base` hex address for the L0 series.
According to the viewed reference manuals the is a missing digit: `0x1ff0000` --> `0x1ff00000`
This appears to affect other L0-chips as well. Please check `chipid.c`.

[2022-01-06 19:57] hydroconstructor opened #1211 "[refactoring] usb.c: Can we remove some unused code?"
In usb.c there are next lines:

[code]
Here supposed that there is an environment variable in user system with name "STLINK_DEVICE" and value "Device_bus:Device_Address". In case of presence such variable in user system function gets device bus and device address from USB devices list and compare them with ones in environment variable. If do not match then proceed with next USB device from list.

[2022-01-06 20:46] hydroconstructor commented on #1211
Pushed new commit #1210 pull request

[2022-01-06 20:47] Nightwalker-87 commented on #1211
In general it is favourable to do so if there is no remaining use within the codebase.
However this must be assured for all platforms.

Please note that no further refactoring should take place until the chip-id reading has been finally rewritten.
All old bindings need to be replaced and switched to new structure.

[2022-01-06 21:05] Nightwalker-87 opened #1212 "[refactoring] General maintenance"
The following tasks should be achieved to improve the codebase of the toolset:

- modularise the codebase
- reduce cross-dependencies between headers and source files where possible
- separate device-specific settings from source code (#1129)
- rewrite and modularisation of: `chipid.c` `chipid.h` `common.c` `stlink.h` `stm32.h`
- allow general use of core-IDs for MCU identification (#903)

Some in

[2022-01-06 22:12] Nightwalker-87 commented on #1212
I suggest the following workflow for identifying a MCU:

1. Read .chip file (core-id / chip-id)
2. Check to verify correctness of memory addresses
3. Print identified MCU to console output / error message on failure
3. Translate verified values to human-readable defines for further use throughout the codebase
4. TBC...

[2022-01-06 23:14] Nightwalker-87 commented on #1212
`stlink_stm32_chipids` should actually go to `stm32.h` as it is STM32 device specific.
According to the previous suggestion the related `enum` could be replaced with an `if`-structure like:
[code]

[2022-01-07 19:42] domingguss commented on #1206
So I (TS) yesterday had the chance to be able to test with a borrowed original STLINK from Mouser, and can confirm that it worked. So it seems that the lifespan of a cheap STLINK V2-CLONE is quite short... I think this has happpened to more people here. Maybe we should warn people that the stlink clones aren't reliable, as this has been taking a lot of energy and effort of all of us...

[2022-01-08 15:26] Nightwalker-87 commented on #1206
Note: Closing of tickets is solely done through maintenance.

[2022-01-09 08:26] hydroconstructor opened #1214 "STM32L-Discovery (STM32L152R8T6) can't write firmware to chip with st-flash on Windows 10"
- [x] Programmer/board type: STM32L-Discovery, STLINK /V2-onboard
- [x] Operating system and version: Windows 10 x64
- [x] stlink tools version: 1.7.0, current develop branch
- [x] stlink commandline tool name: `st-flash`
- [x] Target chip and board: STM32L152R8T6, board STM32L-Discovery

Commandline output:

`mmap() size_t overflow for file mb.bin`

Expected/description:

Debugging revealed that

[2022-01-09 11:38] Nightwalker-87 commented on #1214
To me it makes absolutely no sense to define `ssize_t` as type `int` because as per design it should never turn to negative values. Thus please correct the type to `uint` first before further testing.  Afterwards we should have another look the specific problem. It appears better to proceed in this way to rule out unintended side effects. Please also take note of #909 which is related to this topi

[2022-01-09 13:26] hydroconstructor commented on #1214
Never turn to negative? Sorry, but can't agree. Many functions return -1 in case of errors. For example, send_recv from #909 mentioned by you. Refactor them all is too difficult - at least for me, for these my first steps in programming.
So if you do not mind I prepare next commit with changes in common.c described above. File unistd.h with `#define ssize_t int` should be refactored with all other

[2022-01-09 13:43] Ant-ON commented on #1214
@hydroconstructor I think this check
[code]
may be replaced by
[code]
The sizes of the MCU firmware will not go beyond this size for a long time, while we will eliminate the wrong choice of files.

[2022-01-09 13:47] hydroconstructor commented on #1214
Good idea. Doing this just now...

[2022-01-09 13:49] Nightwalker-87 commented on #1214
@hydroconstructor One needs to distinguish between functions and variables. I was talking about types for variables.
A function may return an error, but not a variable itself which is figuratively only a "number".

[2022-01-09 13:59] hydroconstructor commented on #1214
@Nightwalker-87, functions have types. Type of send_recv from #909 is ssize_t, and it returns -1 in case of error. There are other functions with type ssize_t, returning -1 in case of error. If I make global change from `#define ssize_t int` to `#define ssize_t uint` for all project code, I should check each such function and change it's return value if necessary, right?

[2022-01-09 14:00] Ant-ON commented on #1214
@Nightwalker-87 Here the problem is in the specific library libc, which has a non-standard type st_size. An error occurs due to the different dimension and the С types conversion.

[2022-01-09 14:37] Nightwalker-87 commented on #1214
@Ant-ON What whould you propose as the most reasonable approach to deal with this?

[2022-01-09 14:46] Nightwalker-87 commented on #1214
@hydroconstructor In general yes, but we need to be careful regarding possible side effects. As many contributors have worked on or modified the code there is no clear concept regarding this and nobody really seems to completely overlook the current state. This is also one reason why #909 was opened. It is clear that this topic wants some work being done, but I'm not sure how far we should go here

[2022-01-09 15:32] Ant-ON commented on #1214
@Nightwalker-87 This problem is similar to #909 but not related to #909. In this case, the problem is in the 3th party library.
I have suggested the most simple and reasonable solution in the post above.

[2022-01-09 15:46] Nightwalker-87 commented on #1212
@Ant-ON I have just pushed a new commit to branch `chip_cleanup` with some further preparations.
How can we properly switch the implementation to read parametres from the new chipid files? Can/should we achieve this stepwise?

[2022-01-09 15:49] Nightwalker-87 commented on #1214
Ok, fine - I noticed it has already been pushed by @hydroconstructor as well. :+1:

[2022-01-09 17:03] Nightwalker-87 commented on #449
@Ant-ON Would you fancy to work on this topic?

[2022-01-09 23:21] Nightwalker-87 commented on #1212
Based on the original intention to solely complete the separation of chip-specific parametres out of the source code and into device-specific files led to some more general clean-up and restructuring. Nevertheless work is not complete of course...
I believe that the source code and header files `stm32.h`, `chipid.c` and `chipid.h` are on a good way to reach structure and content as we may expect t

[2022-01-09 23:31] Nightwalker-87 commented on #1212
... and BTW: When does

[code]

exactly make sense?

[2022-01-10 05:40] slyshykO commented on #1212
It needs for whom who uses our includes in C++ code.

[2022-01-10 06:20] Nightwalker-87 commented on #1212
Tell me a story, I got that far, but the question is: Where is it necessary from the technical perspective. It is not in general, because otherwise it would be defined in every source code file, which isn't the case and compilation and execution in C++ is known to be working anyway.

[2022-01-10 07:54] hydroconstructor commented on #1212
What is "modularisation of common.c"? Divide it to several files?
What is cross-dependencies between headers and source files? Rewrite sources to reduce number of included headers for each source?

[2022-01-10 10:51] slyshykO commented on #1212
It is necessary when someone uses libstlink in a custom C++ application because C++ mangle functions names by default and without `extern "C"` declaration linker didn't find proper symbols.

Also, this extern guard is not needed in all sources. It is required only in the main header, for example, in **stlink.h** in our case.

[2022-01-10 18:35] Nightwalker-87 commented on #1212
@hydroconstructor `common.c` is basically an bunch of stuff, partially hardcoded and/or duplicated from implementations that were written later. Basically spoken it's the historical root of the whole project and holds many remnants from earlier times. We want that sorted, separated and integrated into the source code structure that was introduced and extended by many valuable contributions in the

[2022-01-11 07:23] Nightwalker-87 commented on #1212
Please test the branch `chipid_cleanup` with various boards and report any issues.

[2022-01-11 23:55] Nightwalker-87 commented on #1199
As mentioned in a previous [comment](https://github.com/stlink-org/stlink/pull/1213#issuecomment-1008465350) `common.c` does not use the data from the .chip device files and holds hardcoded device-specific values for various operations e.g. for use with `st-flash`. Therefore common.c needs to be rewritten to make use of the revised chip-parametre files.
@10110111 you can test the `chipid_cleanup`

[2022-01-11 23:58] Nightwalker-87 commented on #1206
Can someone else run an additional HW-test with a F3-series board to verify functionality?

[2022-01-12 00:04] Nightwalker-87 commented on #1005
Please provide the full device-specific parametres as well as the ID of the respective ST reference manual.
This would allow to complete the generated chip file for this device type which currently serves as a template only.

[2022-01-12 00:05] Nightwalker-87 commented on #1090
Please provide the full device-specific parametres as well as the ID of the respective ST reference manual.
This would allow to complete the generated chip file for this device type which currently serves as a template only.

[2022-01-12 00:07] Nightwalker-87 commented on #1155
Please provide the full device-specific parametres as well as the ID of the respective ST reference manual.
This would allow to complete the existing chip file for this device type.

[2022-01-14 03:49] antoinefaure commented on #1199
Hi,

I've tried to generate the files as per @Ant-ON instructions, but it seems it doesn't solve the issue while waiting for the rework.

The file `H74x_H75x.chip` ends up looking like this :
[code]
Which is pretty similar to what is in `config/chips`, except the `0x` have been removed, and the flags have been replaced to what I assume is their total value.

After running `make install` st-util is

[2022-01-14 11:08] TheEiken opened #1215 "[feature] Nucleo H755ZI-Q: Unable to use different Access Points"
Hallo,

I'm using dual core processors of the H7 family, here the H755 of the named Nucleo board.
In the option bytes I've set the BCM7 flag to disabled. so the CM7 core does not start. After this, for debugging/flashing the access port 0 of the CM7 is inactive, so another access port must be selected (1-3 in this case).
It seems that currently the stlink tools choose only the default access port

[2022-01-14 23:19] Nightwalker-87 commented on #1199
@antoinefaure The files should not be generated automatically for any longer. I have disabled this approach recently and manually revised all new chip files one by one to hold the correct information. Afterwards the old device database from `chipid.c` (later outsourced to `chipid_db_old.h`) was removed. Please solely test this on the `chipid_cleanup` branch (see comment from @10110111) and don't u

[2022-01-15 19:47] gszy commented on #1214
`st_size` from `struct stat` is of type `off_t`, which, per `system_data_types(7)`:

From this point of view, max `st_size` value may be less than `1 << 20`.

Back to the original issue: we have to check if our file size `st.st_size` is not larger than max `size_t` value, since we want to pass it as `mmap(2)`’s `size_t length` argument:

[code]

This way we would probably get a compiler warning, b

[2022-01-15 22:42] Nightwalker-87 commented on #1214
@gszy That's ok, don't worry. Just proceed as intended.

[2022-01-16 14:13] gszy commented on #1212
:large_orange_diamond: As discussed with @Nightwalker-87, I’m adding another cleanup-related idea, originally described at <https://github.com/stlink-org/stlink/commit/c854df5edd1285c1016e6181bcd54acf6f2e0bcd#commitcomment-63941871>.

`enum stm32_flash_type` describes the different flash types that STM32 MCUs have. The enumeration constants have different, manually assigned, integer values, beginn

[2022-01-18 10:13] wolsty7 commented on #1090
@Nightwalker-87
I tested the NUCLEO-WL55JC1 dev board on fe48a98cb1802732edb117fe60cd9b2fa0689145 and it flashed perfectly

[2022-01-18 19:33] Nightwalker-87 commented on #1090
Device specific parametres for the STM32WLEx series were updated in commit e62b9e1f2a1b6dea7e9ccb053c14c2c6ad0b57d7.

[2022-01-18 23:25] Nightwalker-87 commented on #1212
@gszy I've replaced the list of defines with an enum holding the flash types in human readable form and added the individual types to the .chip files, replacing the integer values there. However this implies that the following excerpt in `void process_chipfile(char *fname) { }` in `chipid.c` needs to be rewritten to use the enum and convert the respective types from `enum` to `int`.

[code]

I'm u

[2022-01-20 19:58] gszy commented on #1212
The simplest solution would be a bunch of this kind of comparisons:

[code]

It may be a part of `process_chipfile()`, or extracted to a separate function.

Alternatively we could have a const array somewhere that would map the enum values to the string values, something like:

[code]

then loop through the array when parsing a flash type.

[2022-01-20 22:22] Nightwalker-87 commented on #1212
I'd prefer the first attempt to make it work. Anything seems better than the `#defines` used currently. A first implementation is found in  commit 8d96e769f32d1c85be913f77e6aab4b1d84b80b1. Please comment in #1216 respectively.

[2022-01-22 21:04] Nightwalker-87 commented on #1155
The required device-specific parametres according to the related ST reference manual are available in the chip file and have been verified with #1216. However they don't appear to be read due to a missing implementation in `common.c`.

[2022-01-23 20:22] #1211 closed

[2022-01-23 20:22] #1214 closed

[2022-01-26 23:28] c-grant opened #1219 "STM32H735: Set Hardware Breakpoints For External Bus"
Programmer/board type: [STLINK V3 on STM32H735-DK]
Operating system an version: [Windows 10 19042.1083]
stlink tools version and/or git commit hash: [1.7.0] + pull requests to access external memory
stlink commandline tool name: [st-util]
Target chip (and board, if applicable): [STM32H735 on STM32H735-DK]

GDB is setting breakpoints based on the XML memory map designation of "rom" or "ram", which

[2022-01-27 02:30] c-grant commented on #1215
This is related to issue #1160

[2022-01-27 21:14] Nightwalker-87 commented on #692
@radsdau Could you test older versions as well in order to get an idea of where this was fixed actually?
This would allow for an update of our CHANGELOG.md.

[2022-01-28 20:39] #1199 closed

[2022-01-28 20:39] #903 closed

[2022-01-28 20:39] #1090 closed

[2022-01-28 20:39] #1212 closed

[2022-02-07 20:12] Nightwalker-87 commented on #1000
We now have a new project tab for discussions.
This section of the project is open for questions and comments related to the project itself as well as to the source code without the need to open a separate issue for this purpose. I intend to keep up with moderation and will try to answer open requests on a best effort basis.

Along with the completed refactoring and restructuring work in the codeb

[2022-02-07 20:26] Nightwalker-87 commented on #1000
This topic has moved to the section "Discussions".

[2022-02-12 12:17] pkruger opened #1224 "[feature] Add support for STM32L4Q5"
The STM32L4Q5 is not supported in v1.7.0 of stlink.  When trying to use st-flash with this chip, st-flash reports:
WARN: Common.c: unknown chip id! 0x471
Failed to connect to target.

- [X] Programmer/board type: [STLINK/V3] (e.g STLINK /V1, /V2, /V2-onboard, /V2-clone, /V3)
- [X] Operating system an version: [Linux] (e.g Linux, macOS, Windows)
- [X] **stlink tools version** and/or git commit hash

[2022-02-12 13:43] pkruger commented on #1224
Seems this can now be done by just adding a .chip file in the ./config/chips folder correct?

[2022-02-13 17:25] lucasdietrich commented on #1184
I'm facing the same issue at the difference that I'm using STLink/V2-onboard. Moreover I managed to have both commands to work in the past with the version of the tool stlink-tools v1.6.0.

It stopped working and I never managed to reprogram the board using "stlink-tools" on Linux, I had to got back to on windows and program with the STM32CubeIDE/programmer.

I have a board `stm32f429zi (NUCLEO-f4

[2022-02-14 11:13] mynameisdaniil opened #1225 "STM32L053C8T6: Cannot flash with Release version but can do with Debug"
Current develop version of st-link tools cannot flash subj MCU when I'm using locally built release version on macos@arm64, though it works fine when I'm using debug build. Timing issues?
Furthermore, nor debug nor release versions work on linux@amd64 but v1.6 provided in ubuntu repo works just fine.
Almost went into binge debug mode but thought somebody might know answer from the top of their hea

[2022-02-16 00:06] AlexKlimaj opened #1226 "[feature] Add Option Byte Support for STM32WLEx"
The STM32WLEx currently doesn't support writing option bytes. The STM32WLEx from Seedstudio comes with read out protection turned on and needs to be disabled to flash the chip.

Update: It should work for reading but its using the wrong option_base in the config. Even after changing it to 0x1fff7800 and rebuilding, it still tries to read from 0x1fffc000. After hard coding 0x1fff7800 in common.c, I

[2022-02-16 20:19] Nightwalker-87 commented on #1184
@lucasdietrich Thanks for the input. However the comparison with older versions does not help here due to larger refactoring work and restructuring in the library recently. One would clearly need to review the current state in the `develop` branch.

[2022-02-16 20:23] #1226 closed

[2022-02-18 21:13] mynameisdaniil commented on #1225
I'd add `os/linux` too, since it doesn't work on Linux either. It's just easier to debug on macos since it works in case of debug build.

[2022-02-23 11:16] UserX404 opened #1228 "[STM32F446]: Wrong chip definition"
**Thank you for giving feedback to the stlink project.**

---

**NOTE: In order to offer sufficient and the best possible support, please read /CONTRIBUTING.md and follow the given instructions _before_ submitting a ticket.**

**Bug reports and/or feature requests will be deleted, if they violate our contribution guidelines and if no issue-template is used!** Thank you for your support.

---

- [X

[2022-02-23 12:00] UserX404 commented on #1228
maybe dupe of https://github.com/stlink-org/stlink/issues/1156

[2022-02-24 11:48] rienesl opened #1230 "stlink-giu fails on fresh install of stlink_1.7.0-1_amd64.deb on Ubuntu 20.04"
When trying to start it from the menu, virtually nothing happens, when trying to run the command from the command line, I get the error
Failed to load UI file: stlink-gui.ui
The file exists in /usr/share/stlink

When installing the version that comes with the distribution (1.6.0) it works

[2022-02-27 11:30] Nightwalker-87 commented on #1228
It should be ok to leave this open, even if it's a duplicate.
We can mark this ticket respectively.

[2022-02-27 21:47] UserX404 commented on #1228
My thoughts about this issue were not correct.
I figured out 0x40023c14 (FLASH_OPTCT) is somehing like a shadow register of 0x1fffC000 and 0x1fffC800.
I just was focused to the option byte registers.
![](https://i.imgur.com/DX6XTUI.png)

[2022-03-01 13:55] LouvAndTech opened #1231 "[Nucleo-F103RB]: St-link not detected MacOs"
Hello
I need to use a Nuclear -F103RB for study but while trying tu use the debug I got a message saying :
"No ST-link detected"
And after some research I try using the ST-Link upgrader, but it cannot find my card at all
Them I tried using the `st-util`
and got this :
[code]
The problem is that I can see the card connected into Mac OS :
[code]
Other infos :
- I'm using a usb-c to mini-A cable
- I'

[2022-03-08 12:55] xor-gate opened #1232 "Why Temporary interaction limits - limit to prior contributors set?"
Dear @Nightwalker-87 why are there temporary interaction limits set? I got a mail someone would like to open a pullrequest for improvements but the project was locked.

[2022-03-08 13:25] Nightwalker-87 commented on #1232
Let me check - I was not aware of that they were still active.
Currently there is no reason for it, but we had them active before during our major restructuring work.
Maybe I forgot to uncheck.

[2022-03-08 13:26] Nightwalker-87 commented on #1232
Yes, sorry for that. :-(

[2022-04-06 08:51] chriskuku opened #1239 "SWD targets not recognized"
I'm attaching a log I took today. I'm having very instable behaviour in recognizing SWD attached targets to nucleo and discovery boards which make it impossible to get a stable working setup on my Mac (mid 2014 Retina, macOS 11.6.5 BigSur). Very rarely it is possible to detect the target, but I haven't found a pattern yet, what the cause for the instability is.
I have powered the target from a Sab

[2022-04-09 03:04] Catherinecyj opened #1241 "[STM32F4Discovery]: unknown chip id! 0x413"
- [x] Programmer/board type: Stlink /V2-onboard
- [x] Programmer firmware version: V2J37S26
- [x] Operating system: Linux (Ubuntu)
- [x] Stlink tools version and/or git commit hash: 1.7.0-186-gc4762e6
- [x] Stlink commandline tool name: st-flash, st-info
- [x] Target chip (and optional board): STM32F407VGT6U (STM32F4Discovery)

Commandline output:
[code]

Commandline output:
[code]
Expected/descri

[2022-04-11 10:20] chriskuku opened #1243 "chipid.c: 33 spelling error: parametres must be parameters"
Typo (wrong English):

chipid.c: 33 fprintf(stderr, "\ndetected chip_id parametres\n\n");

< parametres

---

**NOTE: In order to offer sufficient and the best possible support, please read /CONTRIBUTING.md and follow the given instructions _before_ submitting a ticket.**

**Bug reports and/or feature requests will be deleted, if they violate our contribution guidelines and if no issue-template is

[2022-04-11 19:01] Nightwalker-87 commented on #1243
This is almost not worth a ticket actually... I'll fix it however.
Please use GitHub discussions for such minor issues in the future.

[2022-04-11 19:10] Nightwalker-87 commented on #1241
Please use the issue template in the future - this ticket is actually invalid according to our project guidelines.

Duplicate of #1228.

[2022-04-14 23:44] fabianpedd opened #1244 "`undefined symbol: libusb_set_option`"
When trying to
[code]
I get
[code]
Same with
[code]
which also yields
[code]

My setup:
`Ubuntu 18.04.6 LTS`
`st-flash 1.7.0` installed from binary package (`stlink_1.7.0-1_amd64.deb`)

I ran `sudo apt-get install --reinstall libusb-1.0.0` with no success.

There is a related [issue](https://github.com/stlink-org/stlink/issues/1089) but since it is closed I opened this new one.

[2022-04-29 10:18] 4r4sh opened #1245 "libusb dependency"
Hello all when I try to run sudo apt-get install libusb-1.0-0-dev.
I get the following error:
_"The following packages have unmet dependencies:
 libusb-1.0-0-dev : Depends: libusb-1.0-0 (= 2:1.0.17-1ubuntu2) but 2:1.0.23-2build1 is to be installed
                    Recommends: libusb-1.0-doc but it is not going to be installed"_

can somebody explain what this message is trying to say?

The outp

[2022-05-03 16:53] Evidlo commented on #1005
I'm also interested in this.  I've taken a stab at creating my own chip file, and commented on which page I pulled each parameter from.

[code]

I cross referenced `F1xx_MD.chip` and the corresponding manual and tried to pull parameters from equivalent sections.

I'm still not able to detect my device.  I'm not sure if there's some other changes I need to make to other header files?

[2022-05-04 10:19] Ant-ON commented on #1005
@Evidlo Can you attach the application launch log? In theory, the chip should be determined.

[2022-05-04 17:18] Ant-ON commented on #1005
@Evidlo Console log after running something like: `st-flash --connect-under-reset read firmware.bin 0x8000000 0x10`

[2022-05-07 03:57] logibburrell commented on #681
DEVICE: NUCLEO-H7A3ZI-Q

_Reproduction_
st-util -v99
[code]

_Resolution_
Running "st-flash --connect-under-reset erase 0x08000000 0x80" and then and restarting device.
Note: uploading new elf with --connect-under-reset did not help.

The culprit that appeared to cause this was the "Examples/FLASH/FLASH_EraseProgram" project in the nucleo repo area.

[2022-05-07 13:20] Nightwalker-87 commented on #681
In order to finally resolve this issue in this context it would be great to verify this with the L052K8 however.
Well possible that there were several reasons for this to appear.

[2022-05-12 15:53] Evidlo commented on #1005
So I've made some progress:

[code]

[code]

And I get a 16 byte file filled with 1's.

[2022-05-12 17:20] Evidlo commented on #1005
Not able to get `st-flash write` working yet.

I produced a simple LED blink `.bin` with stm32duino that is confirmed working.

This is the console output when stm32duino calls the official programming utility:

[code]

And then when I try to program with `st-flash`:

[code]

[2022-05-13 04:11] Ant-ON commented on #1005
@Evidlo the STM32_FLASH_TYPE_L5_U5 flash type is not implemented yet. Need to add this flash type (mostly add correct register addresses) to the functions in `src/common_flash.c` and `src/flashloader.c`. It is better to take STM32_FLASH_TYPE_G0/STM32_FLASH_TYPE_G4 types as a base. They are close and there is no need to write and compile a native flashloader.

[2022-05-13 11:51] dhollos commented on #1096
Hi, is there any update on this? The device seems to be still unsupported..

[code]

[2022-05-14 10:59] Benasking7124 opened #1246 "STM32F407VET6: debugger cannot halt at the reset vector"
- [x] Programmer/board type: [STLINK V2] (this one: https://hallroad.org/images/detailed/34/ST-LINK_V2_ST_Link_V2_STLINK_V2_Programmer_Lahore_Karachi_Islamabad_Pakistan.jpg)
- [x] Operating system an version: [Ubuntu20.04]
- [x] **stlink tools version** and/or git commit hash: [v1.7.0-186-gc4762e6]
- [x] stlink commandline tool name: [`st-util`]
- [x] Target chip (and board, if applicable): [STM32

[2022-05-18 03:34] Evidlo commented on #1005
@Ant-ON see https://github.com/stlink-org/stlink/pull/1247

[2022-05-18 09:47] EmanueleGiacomini opened #1249 "STM32H7A3ZI: Flash verification fails if UART/USART interface is enabled"
- [x] Programmer/board type: [STLINK V3]
- [x] Operating system an version: [Linux]
- [x] **stlink tools version** and/or git commit hash: [v1.7.0-195-g951859c]
- [x] stlink commandline tool name: [st-flash]
- [x] Target chip (and board, if applicable): [STM32H7A3ZI (Nucleo-H7A3ZI-Q)]

Further we kindly ask you to describe the detected problem as detailed as possible and to add debug output if ava

[2022-05-18 10:01] Ant-ON commented on #1249
@EmanueleGiacomini  Can you try use connect under reset?
`st-flash --connect-under-reset --reset write build/h7a3zi_test.bin 0x08000000`

[2022-05-18 10:32] EmanueleGiacomini commented on #1249
We've just tested but the output seems unchanged
[code]

[2022-05-22 21:48] simplerobot opened #1251 "[st-trace] Synchronization issue"
### Discussed in https://github.com/stlink-org/stlink/discussions/1248

st-trace's --clock parameter sets the system clock speed in a whole number of MHz.  This can result in communication errors when using fractional MHz clock frequencies.  We should allow setting the system clock frequency and trace frequency exactly using a common format.

I suggest we expect values provided with the "--clock"

[2022-05-31 21:44] jtmullen commented on #1244
Did you ever find a solution to get this working?  I am seeing the same issue with both st-flash v1.6.1 and v1.7.0 on Mint 19.3 which also has Ubuntu 18.04 LTS as the upstream.

[2022-05-31 21:59] jtmullen commented on #1244
Okay, actually I seem to have found the issue - it appears "libusb_set_option" was added in libusb 1.0.22 and Ubuntu 18.04 LTS ships with v1.0.21. It appears that libusb 1.0.22 came out before the first of this project, so it would seem that all the releases probably require this newer libusb.

[2022-06-02 21:57] fabianpedd commented on #1244
Great, thanks. I will give it a try but seems logical to me.

[2022-06-04 16:14] Nightwalker-87 commented on #1244
Please leave ticket handling to Github Automation and Maintenance.

[2022-06-06 20:20] rafaeldantaas opened #1253 "STM32L071: Can't flash L071 device"
- [x] Programmer/board type: [V2-clone]
- [x] Operating system an version: [macOS Monterey v12.2]
- [x] **stlink tools version** and/or git commit hash: [1.7.0]
- [x] stlink commandline tool name: [st-flash]
- [x] Target chip (and board, if applicable): [STM32L071]

I'm facing issues to flash a STM32L071 MCU. Found older closed tickets with same behavior, maybe this suppose to be fixed already in

[2022-06-11 01:08] huanglilong commented on #820
@salyzyn  it works for me (ref: https://github.com/stlink-org/stlink/issues/1189)
$ sudo apt remove --purge stlink
$ sudo apt remove --purge libstlink1

solution from  @mariobaldini
Syncing installed lib with the st-link bin solved the issue in my case:
Purged both the lib and installed bin: sudo apt remove --purge libstlink1 stlink
Reinstalled the bin again: sudo dpkg -i stlink_1.7.0-1_amd64.deb

[2022-06-17 14:16] moelski opened #1255 "[STM32F042] write option bytes failed"
Hi!

I´m trying to write the option bytes for a STM32F042 controller.

If I read the option bytes all is working:
[code]

To disable the flash read lock I tried to run this command:
[code]

But as you can see I got this strange error "**Only full write of option bytes area is supported**".
What does this mean? And how can I fix it?

[2022-06-28 01:35] robertgj opened #1257 "[STM32F303]: build fails with gcc-12.1"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue
- [x] Programmer/board type: [STLINK/V2-onboard]
- [x] Operating system an version: [Linux Fedora 36]
- [x] **stlink tools version** and/or git commit hash: [commit 951859c119c570f3bdf8b42da0fbbaffec0848ab]
- [x] stlink commandline tool name: [st-trace]
- [x] Target chip (and board, if applicable): [STM32F303 (STMF3Dis

[2022-06-28 01:44] robertgj commented on #1257
This is better:
[code]

[2022-06-28 10:36] gszy commented on #1257
That was your original problem.

[2022-06-28 11:02] robertgj commented on #1257
On Tue, 28 Jun 2022 03:36:57 -0700
Grzegorz Szymaszek ***@***.***> wrote:

Exactly. It was not found because the cmake check for sys/mman.h fails
because /usr/include/features.h warns if -D_FORTIFY_SOURCE=2 is defined
without optimisation.

From build/Release/CMakeFiles/CMakeError.log:

Determining if the include file sys/mman.h exists failed with the
following output: Change Dir:
xxxx/stlink-deve

[2022-07-06 13:55] ChrisIdema commented on #613
I really need this feature. I see it is added to the list of release v1.7.1. When can I expect the release of v1.7.1?

[2022-07-06 17:47] Nightwalker-87 commented on #613
Currently no date or time frame is planned for any new release.
This is because development is currently mostly on hold within this project, see also: https://github.com/stlink-org/stlink/discussions/1223

[2022-07-14 21:15] #1251 closed

[2022-07-25 07:16] CreasolTech opened #1260 "STM32G030: Reset not working properly"
Hi,
thanks a lot for the very good tool.
I'm using st-flash in a bash script (Debian GNU/Linux) with a cheap ST-LINK V2 USB programmer, to program and then run the firmware on the MCU:
1. program STM32G030 target: if already programmed, issue an erase then program MCU again
2. write options to secure the device and issue a NRST to start the firmware.

I've tried both version 1.7.0 distributed with

[2022-07-28 19:28] ctsuzuki opened #1261 "Fedora 36 compiling error"
Hi,

I'm compiling the project in Fedora 36 and I got the following error :

[celso@fedora stlink]$ cmake .
-- Rewrite /home/celso/STLink/stlink/.version with 1.7.0!
-- stlink version: 1.7.0-201-g254a525-dirty
-- Major 1 Minor 7 Patch 0
-- STLINK_LIB_SHARED: stlink-shared
-- PROJECT_VERSION_MAJOR: 1
-- VERSION: 1.7.0
-- STLINK_LIB_STATIC: stlink-static
-- PROJECT_VERSION_MAJOR: 1
-- VERSION: 1.7.0

[2022-07-28 20:41] ctsuzuki opened #1262 "[build]: Missing include file mmap.h"
- [ ] Programmer/board type: [enter here] (e.g STLINK /V1, /V2, /V2-onboard, /V2-clone, /V3)
- [x ] Operating system an version: Fedora 36
- [ ] **stlink tools version** and/or git commit hash: [enter here] (e.g v1.6.1/git-d0416149)
- [ ] stlink commandline tool name: [enter here] (e.g `st-info`, `st-flash`, `st-trace`, `st-util`)
- [ ] Target chip (and board, if applicable): [enter here] (e.g STM

[2022-07-28 21:00] gszy commented on #1262
Is it perhaps something like #1257?

[2022-07-28 21:14] ctsuzuki commented on #1257
And

And where I can find the missing packages, or who will put it back ?

[2022-07-29 08:47] gszy commented on #1257
I don’t have a Fedora at hand, but I guess the package in question is [glibc-devel](https://packages.fedoraproject.org/pkgs/glibc/glibc-devel/) or something like that. If it is already installed, then perhaps you are affected (#1262, for reference) by the issue described in the above comments. Please try reverting parts of #1221.

[2022-08-03 07:18] CreasolTech commented on #1260
Hi, I've checked updating the st-link software to use only HARD reset by NRST, but I always see that the ST-LINK V2 clone dongle sends NRST pulse and then send other commands to the SWD: the result is that I cannot get the firmware starting after MCU being programmed.
What I'd like to do is to connect the SWD probes to the board, program, secure MCU and then start the firmware, so it's possible to

[2022-08-05 10:39] CreasolTech commented on #1260
Just tried the command
st-flash --debug --connect-under-reset reset
using a NUCLEO board, and the problem is always the same:
a NRST reset is sent during some SWD command, so the firmware in the MCU did not start.
![immagine](https://user-images.githubusercontent.com/30940100/183059631-3984236e-58b4-4cb1-9c88-dd0eac914edc.png)
Cyan trace is NRST, and yellow trace is SWDIO.
Please note the warning

[2022-08-05 11:36] jdbruijn commented on #1260
Nice analysis! I think I have a similar issue although I didn't measure the lines. For me the target also isn't reset after writing. I'm using STLINK/V3 MINI with an STM32F405RG MCU.

[2022-08-05 12:14] CreasolTech commented on #1260
And if I modify the st-flash to include, at the end several NRST resets, I can't see anything: only one NRST reset in the begin and nothing else.
[code]
I can see only one NRST reset, no more resets!
I expected to find 4 or 5 NRST resets: only 1!

[2022-08-05 21:48] CreasolTech commented on #1260
I have fixed the problem by connecting the VDD of the target MCU to a RaspberryPI GPIO: after the MCU has been programmed, I turn OFF the power supply, wait for 100ms, turn ON power supply and the firmware starts.

[2022-08-08 10:29] jdbruijn commented on #1260
I'd argue this should stay open as the solution is a workaround instead of a solution!

[2022-08-17 02:27] ApiumJacob opened #1263 "[feature] Linux Install from code Documentation improvement"
- [X] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers to isolate and target your respective issue, please take some time to select the check boxes below and fill out each of the following items appropriate to your specific request.

- [X] Programmer/board type: STLINK /V2
- [X] Operating system an version: Linux Ubuntu 20.04
- [X] **stlink to

[2022-08-19 00:15] Nightwalker-87 commented on #1263
I agree on that and will review the related instructions.
Actually this info shouldn't have vanished over time, but on the other hand I must also admit that I haven't run into this problem yet...

[2022-08-19 10:54] lucas-camp opened #1264 "[feature] Add command line option to skip voltage check"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers to isolate and target your respective issue, please take some time to select the check boxes below and fill out each of the following items appropriate to your specific request.

- [x] Programmer/board type: [STLINK/V2-onboard]
- [x] Operating system an version: [Linux]
- [x] **v1.7.0-201-

[2022-08-22 10:59] gszy commented on #1263
Added in be66bbf200c718904514b044ba84d64a36456218, deleted in 8429ac078a783ee6d75db6bd8741eba732959c54. I don’t think ldconfig is necessary in every case, but I’m not sure when exactly it is.

[2022-08-22 17:50] ApiumJacob commented on #1263
I know very little about ldconfig but my computer was a fresh install of the OS that never had stlink installed previously.  My theory is that since stlink had not been installed previously that the the necessary shared library was not in the cache.

[2022-08-26 21:15] #1263 closed

[2022-08-27 09:49] Nightwalker-87 commented on #333
Closing this issue due to inactivity and in relation to the given feedback above.

[2022-08-27 09:49] #333 closed

[2022-08-27 09:55] Nightwalker-87 commented on #412
@Ant-ON: Can you give a short summarised feedback on this issue and state whether it could be of any further relevance?

[2022-08-27 09:58] Nightwalker-87 commented on #613
I'd consider this a useful feature as well. Who can help out on this topic? Does anybody have an idea how to implement this?

[2022-08-27 10:01] Nightwalker-87 commented on #686
Closed due to inactivity and missing interest.

[2022-08-27 10:01] #686 closed

[2022-08-27 10:03] Nightwalker-87 commented on #800
Closed due to inactivity and missing interest.

[2022-08-27 10:03] #800 closed

[2022-08-27 10:09] Nightwalker-87 commented on #1151
@Ant-ON: Can you contribute your improvements in order to close this issue?

[2022-08-27 10:17] Nightwalker-87 commented on #1257
What is the current state here?

[2022-08-27 22:44] robertgj commented on #1257
Hi,

See my comment:
https://github.com/stlink-org/stlink/issues/1257#issuecomment-1168114724

It appears that st-link is compiled with the default -O0 optimisation.
If you want -D_FORTIFY_SOURCE=2 then enable optimisation in
c_flags.cmake with -O. Otherwise remove -D_FORTIFY_SOURCE=2 from
c_flags.cmake.

Best regards,

Robert Jenssen

[2022-08-29 20:56] #1257 closed

[2022-08-30 04:41] Ant-ON commented on #412
@Nightwalker-87 External memory (connected via SPI) flashing has not yet been implemented. I doubt that in the near future someone will undertake this

[2022-08-30 19:28] Nightwalker-87 commented on #412
@Ant-ON The question is if it is desirable and whether it would be of any broader interest, but to me this reads like a "Not really"...

[2022-08-31 06:18] Ant-ON commented on #412
@Nightwalker-87 This is a narrow problem and not everyone needs it

[2022-08-31 18:24] Nightwalker-87 commented on #412
Closed due to inactivity and very rare interest.

[2022-08-31 18:24] #412 closed

[2022-08-31 19:19] Nightwalker-87 commented on #875
I'd consider this a useful feature. Who can help out on this topic? Does anybody have an idea how to implement this?

[2022-08-31 19:27] Nightwalker-87 commented on #1123
@Ant-ON Can you propose an implementation based on your initial idea?

[2022-09-12 12:35] AMillerNV opened #1268 "Incorrect SRAM size for L496x and L4A6x"
https://github.com/stlink-org/stlink/blob/c2db68e0df4cf02e0839fb8b16f1867a0950870d/config/chips/L496x_L4A6x.chip#L9

Should be 0x50000 for these devices

[2022-09-14 07:07] kgoba opened #1269 "Build fails on Mac OSX Catalina (10.15)"
Build on Mac OSX 10.15 fails, possibly due to changes in the framework environment:
[code]

Looks like this can be solved by adding the Security framework to library link requirements in `CMakeFiles.txt`:
[code]
(and the same on lines 226/227)

[2022-09-25 17:46] reharish opened #1270 "Need Fixing on Debian Packaging"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers to isolate and target your respective issue, please take some time to select the check boxes below and fill out each of the following items appropriate to your specific problem.

- [x] Programmer/board type: v3(e.g STLINK /V1, /V2, /V2-onboard, /V2-clone, /V3)
- [x] Operating system an ver

[2022-09-28 17:18] jared52005 opened #1272 "STM32F407: st-trace can't reconnect"
**Thank you for giving feedback to the stlink project.**

---

**NOTE: In order to offer sufficient and the best possible support, please read /CONTRIBUTING.md and follow the given instructions _before_ submitting a ticket.**

**Bug reports and/or feature requests will be deleted, if they violate our contribution guidelines and if no issue-template is used!** Thank you for your support.

---

- [x

[2022-09-29 17:38] dmazzer opened #1273 "[NUCLEO-WL55JC]: unknown chip id! 0x497"
This is a similar issue reported by https://github.com/stlink-org/stlink/issues/1241 but for a different target.

- Programmer/board type: Onboard STlink (NUCLEO-WL55JC)
- Operating system an version: Ubuntu 22.04
- **stlink tools version** and/or git commit hash: v1.7.0/git-179650d
- stlink commandline tool name: st-flash, st-info, STM32CubeProgrammer
- Target chip (and board, if applicable): STM

[2022-09-30 09:11] gszy commented on #1273
STM32WL is not supported in version 1.7.0, see <https://github.com/stlink-org/stlink/blob/develop/CHANGELOG.md>.

[2022-09-30 20:29] camojoe215 opened #1274 "[STLINK-V3MINIE]: WARN usb.c: skipping ST device : 0x483:0x3754)"
- I am using a V3MINIE debugger on a STM32G474 target
- Using windows 10
- Using stlink-tools version 1.7.0
- When running st-info --probe

Commandline output:

[code]
Should be expecting "Found 1 stlink programmer". Not sure why it's skipping considering that there is a definition accounting for PIDs using 3754 in the source code (usb.h). When trying this with a nucleo G474 it works as expected.

[2022-09-30 22:15] camojoe215 commented on #1274
EDIT: I tried building the develop branch from source (this has the updated PID missing in the latest release). Building from source documentation isn't working either. CMake complains that libusb library cannot be found and there is no documentation addressing this.

[2022-10-01 19:13] gszy commented on #1272
@simplerobot: if that’s Windows, there’s no apt-cache.

[2022-10-02 13:13] jared52005 commented on #1272
Here it is starting correctly in verbose mode. I also updated STLink via ST-Link Utility on firmware `V2J33S7` to see if it will resolve the issue. It did not, but now I need to specify clock on 168MHz during st-trace start
[code]
Here it is reconnecting in verbose mode and getting stuck. I did not pulled out USB, I only let it timeout.
[code]
Here I made exactly same test with 64-bit version of b

[2022-10-13 10:52] fdelbos commented on #1253
I have the same error with an L011K4 nucleo

[2022-10-17 17:14] BRA1L0R commented on #681
I am having this same issue on an STM32L072CZ flashed through another nucleo's ST-Link.

When I try to start `st-util --no-reset` I get:
[code]

But when I try the same command without `--no-reset` it works just fine.

Also, when I try loading an elf `cortex-debug` (a vscode extension) I get this error:
[code]

[2022-10-23 17:26] Nightwalker-87 commented on #449
This issue is now closed due to inactivity.
Please also note that any version prior to `v1.7.0` is unsupported according to our [#Security Policy](https://github.com/stlink-org/stlink/security/policy#security-policy).
Should the problem persist, please retry with the latest version in the `develop` branch.
If this is the case, one should then open a new ticket.

[2022-10-23 17:26] #449 closed

[2022-10-23 17:26] Nightwalker-87 commented on #888
This issue is now closed due to inactivity.
Please also note that any version prior to `v1.7.0` is unsupported according to our [#Security Policy](https://github.com/stlink-org/stlink/security/policy#security-policy).
Should the problem persist, please retry with the latest version in the `develop` branch.
If this is the case, one should then open a new ticket.

[2022-10-23 17:26] #888 closed

[2022-10-23 17:27] Nightwalker-87 commented on #1151
This issue is now closed due to inactivity.
Please also note that any version prior to `v1.7.0` is unsupported according to our [#Security Policy](https://github.com/stlink-org/stlink/security/policy#security-policy).
Should the problem persist, please retry with the latest version in the `develop` branch.
If this is the case, one should then open a new ticket.

[2022-10-23 17:27] #1151 closed

[2022-10-23 17:34] Nightwalker-87 commented on #687
This issue is now closed due to inactivity.
Please also note that any version prior to `v1.7.0` is unsupported according to our [#Security Policy](https://github.com/stlink-org/stlink/security/policy#security-policy).
Should the problem persist, please retry with the latest version in the `develop` branch.
If this is the case, one should then open a new ticket.

[2022-10-23 17:34] #687 closed

[2022-10-23 17:36] Nightwalker-87 commented on #692
This issue is now closed due to inactivity.
Please also note that any version prior to `v1.7.0` is unsupported according to our [#Security Policy](https://github.com/stlink-org/stlink/security/policy#security-policy).
Should the problem persist, please retry with the latest version in the `develop` branch.
If this is the case, one should then open a new ticket.

[2022-10-23 17:36] #692 closed

[2022-10-23 17:39] Nightwalker-87 commented on #841
This issue is now closed due to inactivity.
Please also note that any version prior to `v1.7.0` is unsupported according to our [#Security Policy](https://github.com/stlink-org/stlink/security/policy#security-policy).
Should the problem persist, please retry with the latest version in the `develop` branch.
If this is the case, one should then open a new ticket.

[2022-10-23 17:39] #841 closed

[2022-10-23 17:42] Nightwalker-87 commented on #855
This issue is now closed due to inactivity.
Please also note that any version prior to `v1.7.0` is unsupported according to our [#Security Policy](https://github.com/stlink-org/stlink/security/policy#security-policy).
Should the problem persist, please retry with the latest version in the `develop` branch.
If this is the case, one should then open a new ticket.

[2022-10-23 17:42] #855 closed

[2022-10-23 17:49] Nightwalker-87 commented on #1075
This issue is now closed due to inactivity.
Please also note that any version prior to `v1.7.0` is unsupported according to our [#Security Policy](https://github.com/stlink-org/stlink/security/policy#security-policy).
Should the problem persist, please retry with the latest version in the `develop` branch.
If this is the case, one should then open a new ticket.

[2022-10-23 17:49] #1075 closed

[2022-10-23 17:58] Nightwalker-87 commented on #1269
Remaining support for macOS 10.15 will end with release `v1.7.1`.
Newer versions will not be supported due to the discontinuation of KEXTs by Apple.
Thus there will be no attempt to fix this.

[2022-10-23 17:58] #1269 closed

[2022-10-23 18:32] Nightwalker-87 commented on #1268
Will be fixed soon. Thanks for reporting.

[2022-10-23 18:41] #1268 closed

[2022-10-23 18:45] Nightwalker-87 commented on #1273
Edit: ... in the current `develop` branch. Thanks @gszy :+1:
Thus this issue has already been resolved.

[2022-10-23 18:45] #1273 closed

[2022-10-23 23:54] #1270 closed

[2022-10-28 09:13] cnjhb opened #1275 "[STM32RET6]: Can‘t connect to target. After using mdk to flash."
- [x] I made serious effort to avoid creating duplicate or nearly similar issue
- [x] Programmer/board type: [V2]
- [x] Operating system an version: [Linux]
- [x] **stlink tools version** and/or git commit hash: [1.7.0]
- [x] stlink commandline tool name: [st-flash]
- [x] Target chip (and board, if applicable): [stm32ret6]

Commandline output:

[code]

description:

`Only after using mdk to flash`

[2022-11-04 13:55] letshin opened #1276 "[compilation] Correct path to stlink/chips subdirectory"
Hi - I am not sure if these are two separate issues but after compiling from this repo I get the following error with a E73-2G4M08S1EX (nRF52833) connected.
Commandline input:
[code]
Commandline output:
[code]
Is it normal for "/usr/share//stlink/chips: No such file or directory" to appear?

Not sure if its related but while running PYOCD I get the following

Commandline input:
[code]

Commandline

[2022-11-10 16:30] PSLLSP opened #1277 "undefined symbol: libusb_set_option"
Ubuntu 18.04.6

When I try to run st-info, I get an error:
`st-info: symbol lookup error: /usr/lib/libstlink.so.1: undefined symbol: libusb_set_option`

[code]

The issue:
[code]

These "libusb" libraries are installed at my box:
[code]

ldd info:
[code]

[2022-11-10 17:01] aneox opened #1278 "STM32F042F6P6: MACOS 12.0.1, ST_LINK clone v2.1"
`~
⟩ st-flash --version
v1.7.0

~
⟩ st-info --probe
Found 1 stlink programmers
  version:    V2J32S1
  serial:     066EFF564953664987255315
  flash:      32768 (pagesize: 1024)
  sram:       6144
  chipid:     0x0445
  descr:      F04x

~
⟩ sudo st-flash --area=option read
st-flash 1.7.0
2022-11-10T22:59:39 INFO common.c: F04x: 6 KiB SRAM, 32 KiB flash in at least 1 KiB pages.
2022-11-10T22:59:39

[2022-11-11 06:11] Ehsan2754 commented on #1275
Due to previous experience of mine here are my suggestions.
* double check connections
* double check boot pin configuration
* make sure you have already enabled SWD on your controller before flashing. try to erase current firmware on ur device somehow and program again with SWD enabled.

[2022-11-11 06:11] Ehsan2754 commented on #1275
Due to previous experience of mine here are my suggestions.
* double check connections
* double check boot pin configuration
* make sure you have already enabled SWD on your controller before flashing. try to erase current firmware on ur device somehow and program again with SWD enabled.

[2022-11-13 16:08] gszy commented on #1277
Is this the same as #1089 perhaps?

[2022-11-13 17:25] PSLLSP commented on #1277
I think it is the same as #1089...

[2022-11-13 18:11] weiminshen99 commented on #1276
I am facing the same problem on MacOS (see the error message below):

% st-flash --reset write build/main.bin 0x8000000
st-flash 1.7.0-217-gf93adb9
/usr/share//stlink/chips: No such file or directory
Failed to enter SWD mode
Failed to connect to target
make: *** [flash] Error 255

How do I fix this problem?

[2022-11-14 01:38] weiminshen99 commented on #1276
Good news. I fixed the problem by changing one line in CMakeLists.txt, because new Mac does not like people to change /usr/share, but /usr/local/share is OK:

-# Define install directory /usr/share
-set(CMAKE_INSTALL_SHAREDIR /usr/share/)
+# Define install directory /usr/local/share [not /usr/share on MacOS]
+set(CMAKE_INSTALL_SHAREDIR /usr/local/share/)

The whole thing is now installed and worki

[2022-11-14 01:47] letshin commented on #1276
I was using it on linux, but didn't bother debugging. I instead returned it to Amazon and purchased a DAP_LINK adapter from eBay and use pyocd. This means I can't text your fix :(

[2022-11-16 13:19] phodina commented on #1260
Hello,
I'm facing similar issue on the STM32G05:
[code]

[2022-11-16 13:23] slyshykO commented on #1277
looks like st-utils is built with a newer version of libusb that is present in the system.

try locally to build st-utils from the sources.

[2022-11-20 14:14] fxcoudert opened #1280 "Build of stlink on macOS fails:"
- [X] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers to isolate and target your respective issue, please take some time to select the check boxes below and fill out each of the following items appropriate to your specific problem.

- [x] Programmer/board type: none, it's a compilation issue
- [x] Operating system an version: macOS 13 (Ventur

[2022-11-22 23:10] bsalha1 commented on #1241
I am also getting this on my STM32F407VET6

[2022-11-23 17:47] stefandz commented on #1274
I managed to get this working up to a point - built OK, modified [49-stlinkv3.rules](https://github.com/stlink-org/stlink/blob/develop/config/udev/rules.d/49-stlinkv3.rules) to include

`# STLink V3MINIE
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3754", \
    MODE:="0666", \
    SYMLINK+="stlinkv3_%n"
`

However, get the following when running `st-info --probe`

`Failed to pars

[2022-11-28 21:06] tuxd3v opened #1282 "SWIM via stlink"
hello all,
Will this project support operations via SWIM interface present in stm8 mcu, via stlink?

I have tried stlink in Debian 11..

* Installed packages
[code]
* problems with stlink-gui:
[code]
As per the SWIM boards that I have , I have stm8s-discovery and also stm8l-discovery both have stlinkV1 and V2 incorporated, to provide SWIM protocol to work with stm8...
I don't know how to use it wi

[2022-11-30 07:11] lglina commented on #1203
I can confirm this is still a problem programming the STM32L051K8 with st-flash under Linux with the ST-LINK/V2.

Per the above suggested temporary fix, here's a diff of my change that seems to work on the latest head version (pretty much just commenting out the broken bit!):

`diff --git a/src/flashloader.c b/src/flashloader.c
index b9c26bf..059a16f 100644
--- a/src/flashloader.c
+++ b/src/flashl