[2020-04-14 10:13] #378 closed

[2020-04-14 10:17] chenguokai commented on #926
On the develop branch, the built test binaries resident in `build/Debug/bin`.
On the master branch, they are in `build/Debug/tests`.

[2020-04-14 10:23] Nightwalker-87 commented on #926
To me it would actually make sense to place then in `build/Debug/bin/tests`.

[2020-04-14 11:59] #409 closed

[2020-04-14 12:13] #435 closed

[2020-04-14 13:37] Nightwalker-87 commented on #220
Looking at this, I think we should have an implementation that checks whether a 4-pin SWD-interface is present and in this case use the mentioned fix above. The comment of @rewolff should be discussed. I have found a few issues related to this problem already, so addressing this properly would clearly help us along...

[2020-04-14 13:46] #457 closed

[2020-04-14 13:46] #110 closed

[2020-04-14 15:55] Nightwalker-87 commented on #659
Possibly related to issue 275.

[2020-04-14 17:20] chenguokai commented on #659
Some clues that I have found:
0x6410 is one magic number used in openocd.
The decimal form, 25616, can be found as a part of the name of a SRAM chip, IS61WV25616EDBLL.

The one used in openocd is quite suspicious.

[2020-04-14 20:19] Nightwalker-87 commented on #794
I've been playing around with this a bit, but clearly need some advice, as I'm not very familiar with GTK. However it looks as if I could somehow manage to prepare the required graphical gtk elements in the code. They are without a function linked to it yet though.

Not really sure whether the current implementation strictly follows a Model View View-Modell (MVVM) scheme. However this should be co

[2020-04-14 21:09] Nightwalker-87 commented on #926
Test 3 already fails on v1.3.1, so nobody seems to have taken any notice thereof...

This merge-commit 946b7f3b0419871eb8c334eccf60ee67980dea85 breaks Tests 1 and 2 on `develop` as well. Sry for that. :disappointed:
I'll investigate the merged branch to find the related commit.

[2020-04-14 23:49] Nightwalker-87 commented on #893
Taking a closer look at this reveals that the related functionality is only hardcoded without the ability to pass the JTAG/SWD frequency as an option parameter to `st-util`, what I actually expected to find. Thus there is also no documentation that can be added until this feature becomes usable from the command line. In the current state seems useless to me. Against this background we yet have ano

[2020-04-15 10:31] chenguokai commented on #915
Maybe we can just clean room the source code to make a pure BSD one.
I checked to confirm that these assemblies are small enough that a clean room can be finished in a short time. May need a volunteer  who has not read the GPL ones to do the actual coding part.

[2020-04-15 10:37] Nightwalker-87 commented on #915
Good idea. Indeed it would be nice to have an independent solution for this project.

[2020-04-15 16:28] chenguokai commented on #915
Volunteer found.

I will take part in this process.
Before that, I wonder which file(s) will need a  clean room.
The one for F0 and lx seems to be more complex and may be not from the same source. Should all the assemblies be rewritten? A complete list of files that need a clean room would be appreciated.

[2020-04-15 16:40] Nightwalker-87 commented on #915
Well at first I'd suggest to review what is currently there and whether there are any redundant files or sections. Here are the related references in git history, when the loader files appeared:

8151bf5c4a443608d4fec15cf7dfe79a02cdd096 F2/F4
e8b15c0e787c7d5fc90c35d53165fcf36afb39e3 F0
94c7ac86dcb2a18ab4b2b60309892f6102a53205 Lx
44c645b7d74b7669b0e3988155528c2edcfbb05e L0x
71535104e47f2a96ce6a87a6

[2020-04-15 17:09] Nightwalker-87 commented on #557
I think we should take a closer look at the previous configuration now, after including `GNUInstallDirs` to ensure there are no conflicts regarding directory paths. Otherwise we may find that old settings reconfigure standard settings of the former which clearly would not help...

[2020-04-15 17:21] chenguokai commented on #915
The src for F0 seems to be verbose. I will try optimize it in a unified way that others are mostly taken.
The others are mostly doing a copy and paste work in a clear way that is not so realistic to be more optimized.

The common problem is indeed the lack of references. Should be easy to solve thanks to commit 44c645b and 7153510.

[2020-04-16 20:35] AveryChiu64 opened #928 "[Ubuntu 14.04]: unsupported libusb version, make not working"
- Programmer/board type: [ST-LINK V2 ]
- Operating system and version: [Linux (via Vagrant virtual machine)]
- **Stlink tools version** and/or git commit hash: [6f934a3]
- Target chip (and board if applicable): [stm32f103c8t6]

Commandline-Output:
[code]

Description
I am trying to run "make" so I can install it, but it keeps giving me this error and says the libusb version is unsupported.
I ran s

[2020-04-16 20:54] Nightwalker-87 commented on #928
Sorry, we dropped support for Ubuntu 14.04 and some other outdated systems without official support since Release v1.6.0. See `/doc/version_support.md` for more information on supported operating systems. If you can't upgrade you will have to stay on Release v1.6.0.

[2020-04-16 22:23] Nightwalker-87 commented on #926
Can't go back any further than v1.3.1 as build fails on v1.3.0 and v1.2.0 used autotools for building.
Who can help finding and fixing this?

[2020-04-16 22:42] Nightwalker-87 commented on #928
I've added a note to our README in commit c2c480846a493ae5493a5aecda41ad53f0b83bb2 which resolves this issue.

[2020-04-16 22:42] #928 closed

[2020-04-16 22:52] Nightwalker-87 commented on #458
@grevaillot: Would it be possible to add that to the current commit? Since your rewrite this should only be a few lines or am I wrong here? I assume though you may not be able to test on real hardware...

[2020-04-16 23:05] Nightwalker-87 commented on #888
@rewolff: Are you working on this?

[2020-04-17 00:48] Nightwalker-87 commented on #884
@cedricboudinet: You've coded quite a bit on the GUI. Can you contribute here?

[2020-04-17 00:52] Nightwalker-87 commented on #794
@cedricboudinet: What do you think about this? Any help would be appreciated.

[2020-04-17 05:41] chenguokai commented on #926
Maybe I have figured out the breakage.

The first two breakages are caused by one commit between master and develop.

[code]

The possible reason is the removal of actual usage of `devname` in struct `flash_opts`. In master branch, `src/tools/flash_opts.c` and `src/tools/flash.c` deal with `devname`. In the develop branch, they are removed.

The last two breakages are caused by the change of seria

[2020-04-17 07:29] rewolff commented on #888
Sorry.... Paid work takes precedence....

Should I find some free time...
Does github make it easy for me to vew the issues you've tagged me on?

[2020-04-17 09:05] Nightwalker-87 commented on #888
Thats ok. I just wanted to know if there was any further activity planned here.
To me assigning topics just helps to stay on track who is involved with which topic.
So I may ask every once in a while to stay up to date and to maintain an overview.

Yes, you can add the `author:rewolff` tag when searching open issues or select yourself in the "Author" dropdown menu in the issue header bar (which le

[2020-04-17 09:28] Nightwalker-87 commented on #926
Good job @chenguokai! I can verify that you are right with the first two failures and also tested the second issue successfully. So indeed this fixes that bug. I'll include the fix soon. Thank you.

[2020-04-17 10:06] rewolff opened #930 "stlink: v 1.6.0 does not recognize "crashed" stlink ."
when powering the target from the STLINK, low ESR decoupling caps on the target may crash the STLINK. I remember getting messages to this effect in the past, but just now I spent a couple of days failing to bring up a bunch of boards ("All bad") just because  st-flash reported "failed to start flashloader" instead of the usual: "your STLINK has crashed" (whatever the message was).

I thought the n

[2020-04-17 10:52] Nightwalker-87 commented on #930
Does this appear in earlier versions as well?

[2020-04-17 10:56] #926 closed

[2020-04-17 15:51] rewolff commented on #930
I can't compile versions between 1.<veryold> and 1.6.0, so I can't check for you. Sorry.

[2020-04-17 15:55] Nightwalker-87 commented on #930
You may try the 1.x.x-patch branches, which fix a compile error due to versioning, if you find some time and fancy in doing so.

[2020-04-17 16:29] grevaillot commented on #458
yeah, i've got some f091 from a project somewhere, but i think the flash option stuff is the same for all f0 and f1, Adding read is easy, adding write need a slight more complicated logic : apparently, write accesses are to be done 16bit wide, and option flash need to be erased first, so need to backed up and patched if we want to write only the first option reg. I'll have a look.

[2020-04-17 17:07] Ant-ON commented on #458
@grevaillot
Yes, it's same

[2020-04-18 14:49] #845 closed

[2020-04-18 17:36] Nightwalker-87 commented on #417
Who is able to contribute here?

[2020-04-18 19:59] Nightwalker-87 commented on #271
Fixed since manual merge-commit aad5cf1901f467914a2efe855c0caff7fdf99048.

[2020-04-18 20:08] Nightwalker-87 commented on #923
Who can take a closer look at this?

[2020-04-18 20:55] Nightwalker-87 commented on #735
So what's the plan on how to proceed here? Would it be worth the efforts to write a kext for macOS 10.13 High Sierra, or shall we leave it? As far as I can read from our STlinkv1-Driver we currently support 10.6 - 10.10. Additionally there is a reference (https://github.com/stlink-org/stlink/issues/574#issuecomment-418996773) that the 10.10 kext is still usable on 10.13, so I assume it also runs o

[2020-04-18 22:39] Nightwalker-87 commented on #432
@grevaillot: You just won this ticket, because I have found that your commit 804c38ead8aef3e4a1640a82a9b9c01f4f60eed1 somehow seems to address the issue above (per accident?) I find my STlink-v2 programmer to behave differently since (exactly) this commit. I don't know really what causes this change.

Here is the output of `st-info --probe` if no device is attached to the programmer:

Before:
[cod

[2020-04-19 04:03] chenguokai commented on #735
Kexts are actually directories with a special structure. The codeless Kext used for STLink v1 has a even simpler structure, with only a Info.plist inside. Info.plist is read by the system to see what kinds of device it states to support by pid and vid. This Kext is loaded so that the default SCSI Kext provided by macOS will not load for STLink which prevents libusb from attaching and that’s all.
T

[2020-04-19 06:57] grevaillot commented on #432
I was not aware of that ticket, but yes, this is intended. I've got a couple of fixes for st-flash and gdb server to push to usb probe returning some st-link info with no target connected, i'll tag them with that ticket number.

[2020-04-19 07:00] grevaillot commented on #432
hmm, the commit you referenced is not the good one, it was fixed in the probe rework patchset

[2020-04-19 08:48] martonmiklos commented on #820
Okay: starting from the very first issue reported by @kioan
`  core status: unknown`

By peeking into the openOCD code it turns out that different status query method is used in the case if the supported JTAG API is over 1:
https://github.com/ntfreak/openocd/blob/master/src/jtag/drivers/stlink_usb.c#L1789

If you peek into the JTAG API determination in openOCD it turns out that it is not that simp

[2020-04-19 09:22] chenguokai commented on #820
@martonmiklos

I am afraid that we cannot. stlink is licensed under BSD while openocd is under GPLv2 and later. This means, if we wrap any code from openocd, the project will have to be GPLed, or at least be under mixed licenses which I am doing a clean room to remove.

[2020-04-19 10:05] martonmiklos commented on #820
Yeah I understand that. But by looking the amount of hacks implemented in OpenOCD (and knowing the fact that they have access to ST materials) always makes me hard time to justify spending my free time on the project.

[2020-04-19 10:35] Nightwalker-87 commented on #820
Also keep in mind that development on OpenOCD appears to have stalled somewhen in 2017. If we want this feature with a BSD-3 compatible approach, we would need somebody to spend some efforts on this (which may be more time consuming).

[2020-04-19 10:46] Nightwalker-87 commented on #735
I have the possibility to install the kext in an 10.13 and 10.14 VM. I suppose you are on Catalina. So at least the kext install and integration could be tested. As mentioned before it would still be helpful to have someone to do additional testing with a STlink-v1 programmer.

[2020-04-19 11:00] chenguokai commented on #735
I am currently on Mojave 10.14 due to 32 bit support. Should not be a problem since codeless kexts barely need changes.

[2020-04-19 11:00] martonmiklos commented on #820
Well I would argue that the development of OpenOCD had been stalled: the STLinkV3 support was added last year, and if you do a blame on the https://github.com/ntfreak/openocd/blame/master/src/jtag/drivers/stlink_usb.c you will see that there is active work on that.

Anyway I have managed to get around the core status query, the read, erase of my bluepill works.

[2020-04-19 11:35] Nightwalker-87 commented on #820
Interesting to see that. My statement pointed to the official project page.

[2020-04-19 11:45] martonmiklos commented on #820
Anyone has any idea about why a flash loader would not hit a breakpoint?

[2020-04-19 11:58] martonmiklos commented on #820
Ah we are arriving...:

[code]

[2020-04-19 12:22] Jochen0x90h commented on #804
I added a pull request to the build-settings branch

[2020-04-19 13:30] Nightwalker-87 commented on #432
@grevaillot I don't really know what causes the observed change there then. Maybe it is only a partial fix that leads to the change with this device or only a few others as seen from the code side, but is not a complete fix that addresses all devices by then - no clue on that yet. I'll try my second programmer with this commit as well (before and after). They are both CKS32F103C8T6 devices.

[2020-04-19 14:48] Nightwalker-87 commented on #432
Here is the output of `st-info --probe` with commit 804c38ead8aef3e4a1640a82a9b9c01f4f60eed1 for the second programmer, which appears to be the same result:

[code]

while the previous commit 46bf0abf77cca47133d3839460cc7679e0f78714 returns:

[code]

Still wondering why...

[2020-04-19 21:31] slyshykO opened #936 "win32: Compilation error in cmake (Find_libusb & GNUInstallDirs)"
**Stlink tools version** 1.6.0-207-gcb3a2b6

Commandline-Output:

[code]

Expected/description:

Can't build project on windows cause downloaded libusb archive didn't unarchive properly.

[2020-04-20 05:43] Vascom opened #937 "Error building from develop branch, cpuid problems"
I try build commit c7874f805c63c60285f2b190f6589da8ae5e47fa
And it failed with this errors:
[code]
How it can be fixed?

[2020-04-20 06:00] chenguokai commented on #937
On macOS, the code builds well.

In `src/common.c`
[code]

It seems that cpuid.part and cpuid.revision is indeed initialized here. Maybe a compiler misbehave?

[2020-04-20 06:14] Vascom commented on #937
[code]
In this case cpuid.* stay uninitialized.

[2020-04-20 06:17] Ant-ON commented on #937
On Ubuntu successful compiled too. Variable cpuid may use uninited in the case of error read register.

`--- a/tests/usb.c
+++ b/tests/usb.c
@@ -29,7 +29,11 @@ int main(int ac, char** av) {
         printf("-- core_id: %#x\n", sl->core_id);

         cortex_m3_cpuid_t cpuid;
-        stlink_cpu_id(sl, &cpuid);
+        if (stlink_cpu_id(sl, &cpuid))
+        {
+            printf("unknown chip\n")

[2020-04-20 06:20] Vascom commented on #937
In cmake/c_flags.cmake present
`add_cflag_if_supported("-Wundef")`
so it should be fixed.

[2020-04-20 06:30] chenguokai commented on #937
I think it can be fixed by adding a return value check on stlink_cpu_id and initialize those values to zero. I will give it a try.

[2020-04-20 06:30] Vascom commented on #937
I have `-Werror=maybe-uninitialized` because during configure:
[code]

[2020-04-20 06:40] chenguokai commented on #937
@Vascom May you test my branch https://github.com/chenguokai/stlink/tree/issue937 ?
If it works, I will raise a PR.

[2020-04-20 06:52] Vascom commented on #937
Yes, it works.

[2020-04-20 09:03] #804 closed

[2020-04-20 09:09] #937 closed

[2020-04-20 09:51] grevaillot commented on #432
sorry, got lost in my tree, let's sum up:

an intermediary commit the probe rework stuff could allow to get some stlink with not target connected to show as "found 1 stlink programmers" with no serial. This was an issue, probe was returning the number of stlink found instead of the number of stlink probed.

in no way 804c38ead8aef3e4a1640a82a9b9c01f4f60eed1 can change probe behaviour, i would susp

[2020-04-20 10:44] Nightwalker-87 commented on #936
I could reproduce on windows, and found what causes this.
This is as small issue only. Fix will be pushed soon.

[2020-04-20 11:45] chenguokai commented on #663
I can reproduce this problem on my F401 board, with start address set to 0x803c000 (0x804c000 is out of bound in my board).

I am doing some initial testing. The current finding indicates a misconfigured page size. To be clear, the page size info is right when `st-flash` prints
[code]

with src/common.c:

[code]

The page size changes, however when doing the alignment check.

[code]

This debug ou

[2020-04-20 12:03] grevaillot commented on #663
i'm quite sure that f401 some bigger pages at then end of its flash - i need to check RM, but that flash start address might be in that area.

[2020-04-20 12:07] grevaillot commented on #663
From RM:

[code]

so, yeah, we're in a middle of a 128kB page - code is right but traces are misleading as only half right.

[2020-04-20 13:05] slyshykO commented on #936
The problem still exists.

[2020-04-20 15:16] Igorbunow commented on #820
After update stlink v2.1 in version "V2J36M26 STM32 Debug+VCP" it have been recognized with stvink v3 pid id:

`Bus 003 Device 010: ID 0483:3752 STMicroelectronics ST-LINK/V2.1`

and don't recognized by st-util:
[code]

[2020-04-20 15:23] martonmiklos commented on #820
@Igorbunow FYI: that 's not a V3 PID but a V2.1 no MSD:
https://github.com/ntfreak/openocd/blob/master/src/jtag/drivers/stlink_usb.c#L73

[2020-04-20 16:48] Nightwalker-87 commented on #936
Additional compilation error:

[code]

which derives from 7zip archive extraction, has been fixed in commit 7640daae4c0ade48a4179b3a7750272471b8c8e5.

[2020-04-20 17:11] #432 closed

[2020-04-20 17:21] Nightwalker-87 commented on #663
Fine, shall we put that into v1.6.1 as well then? Whoever is interested, please assign the ticket to yourself.

[2020-04-20 17:25] Vascom commented on #877
I am maintainer for Fedora and EPEL (CentOS/RHEL).
https://src.fedoraproject.org/rpms/stlink

[2020-04-20 17:39] Vascom opened #940 "libusb not found while build for Fedora"
Try build commit 4445e1c715c4f6358f8f4c7b2859417e6eff832d and have this error
[code]
Before commit fb9f7770912140dc262d3dedc9c5e570295483f1 build was OK.

[2020-04-20 18:14] Nightwalker-87 commented on #940
The second commit did not change anything related to libusb detection, it solely addressed packaging. Please test again.

[2020-04-20 18:20] Vascom commented on #940
Tested. The same error.

[2020-04-20 18:27] Nightwalker-87 commented on #940
As far as I can see from fb9f7770912140dc262d3dedc9c5e570295483f1, there are no changes related to the part of your compilation that match. It must be a commit where there is a change in `Find_libusb.cmake`. Please test older commits going backwards. I don't have the possibility to test on fedora, so you need to find the exact commit where it first appeared. Otherwise I can hardly help any further

[2020-04-20 19:02] Vascom commented on #940
Error came from this commit 629314c44f801f82d478fe49e7b409cdb7364077

[2020-04-20 19:24] martonmiklos commented on #820
In the case if anyone interested t he write mem 32 functionality is broken, and I could not figure out the difference between the OpenOCD and this tool yet.

If anyone wants to look into it here are the codes:
https://github.com/ntfreak/openocd/blob/master/src/jtag/drivers/stlink_usb.c#L2266
https://github.com/martonmiklos/stlink/blob/add_stlink_v3_support/src/usb.c#L291

Since I added send_recv i

[2020-04-20 19:52] Nightwalker-87 commented on #820
Could somebody please assist @martonmiklos with this topic in general? I think this topic should deserve at least two contributors actively working on it if we want it to be fully addressed within the next few weeks and see a proper implementation in the next release.

[2020-04-20 20:19] Nightwalker-87 commented on #432
@grevaillot: You are right it must have been a local not-so clean rebuild: By now I figured out that my findings derive from the changes introduced by the older manual merge-commit aad5cf1901f467914a2efe855c0caff7fdf99048, and thus none of yours. Also refer to #863 which derives from the same branch. So we should stay with what you mentioned before. However this explains the observed behaviour.

[2020-04-20 20:30] Nightwalker-87 commented on #940
ok, travis build reveals it now, I think.
Please give me some time and don't report any new issues until this is fixed.

[2020-04-20 20:34] Vascom commented on #940
OK.
Next reports will be after this fixed :)

[2020-04-20 22:25] Glaeqen commented on #795
@Nightwalker-87 I'm sorry I left you with this issue for such a long time. I created PR #942 as you wished. I fought yesterday with develop branch, it appears you fixed it overnight. Nice job, CMake scripts now look nice and clean :)

[2020-04-21 00:04] Nightwalker-87 commented on #795
@Glaeqen: Thx for your help will look at it as soon as I find time. Still working on CMake packaging and will need some more time for that. Right now a working development branch has the highest priority. :sweat:

[2020-04-21 01:05] Nightwalker-87 commented on #874
**General notice:**

A build failure in the recent commits on the `develop` forced me to rollback the most recent commits to the last known stable state on unix based systems. This breaks building on windows again currently. **Please consider that no further PRs will be reviewed and no new issues shall be reported until this has been investigated and fixed.** Further updates will be posted here.

[2020-04-21 07:55] Ant-ON commented on #820
@martonmiklos You add send_recv and so you send command and try READ 32bit data from stlink instead WRITE it. Stlink device wait data, but we try read it.
I think need back to:
`int _stlink_usb_write_mem32(stlink_t *sl, uint32_t addr, uint16_t len) {
    /* data must be a multiple of 4 and word aligned */
    if (len % 4 || addr % 4) {
        printf("[!]Invalid data alignment");
        return -1

[2020-04-21 10:39] Nightwalker-87 commented on #940
@Vascom: Please try the temporary `test_a` branch to verify if everything is ok with it on Fedora now. Don't stay with it tough and move back to `develop` after testing this, as it is going to be deleted again as soon as develop is proved to be working again.

[2020-04-21 10:46] Nightwalker-87 commented on #936
@slyshykO: Please try the temporary `test_a` branch to verify if everything is ok with it on Windows now. Don't stay with it tough and move back to develop after testing this, as it is going to be deleted as soon as develop is proved to be working again.

[2020-04-21 11:15] slyshykO commented on #936
In the branch _test_a_ build goes smoothly, without issues.

[2020-04-21 12:22] Vascom commented on #940
Tested. Problem solved.

[2020-04-21 12:52] #940 closed

[2020-04-21 12:52] #936 closed

[2020-04-21 13:02] Nightwalker-87 commented on #874
Ok, we appear to be back on track now... Thx for testing. :1st_place_medal:

[2020-04-21 13:23] Vascom opened #944 "stlink.pc not installed"
Time for next bugreport :)

Now stlink.pc file not installed at all.

It should be installed to /usr/lib64/pkgconfig/
lib64 - current libdir.

[2020-04-21 13:34] Nightwalker-87 commented on #944
Possible, as package configuration is rewritten currently.
The whole procedure is refactored, so don't bother about it too much yet.
I just did not open a separate ticket for it as I am working on it myself...
Please stay with c7874f805c63c60285f2b190f6589da8ae5e47fa if you need a working old configuration.

[2020-04-21 16:43] chenguokai commented on #663
I would like to deal with this.
My thought is that as long as the flash page size is varied, additional information can be added like:

`Flash: 0x100000 bytes (1024 KiB) in pages of at least 16384 bytes`

`addr not a multiple of current pagesize (XXX bytes), not supported `

[2020-04-21 21:10] martonmiklos commented on #820
@Ant-ON you are correct with it, I have overlooked the OpenOCD behaviour.

I have found difference in OpenOCD in the run command as well what I implemented, but the core still not halted.

Strangely the [Debug Halting Control and Status Register](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0413d/Cegcjahj.html) is always remain 0x90001 with V3 while with V2 it starts with 0x41001

[2020-04-22 07:02] Ant-ON commented on #820
@martonmiklos perhaps you are debugging the core of the Cortex-M3 [DHCSR](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.ddi0337e/CEGCJAHJ.html (and some other core same) then this value has a clear meaning.

I looked at the code a few more times, but could not find critical differences.

May be try check read loader configuration register after write? (it is check correct register re

[2020-04-22 08:34] Nightwalker-87 commented on #663
Maybe we should add a second short note like "Check page start address (see RM $cite to doc mentioned by grevaillot (no direct link though)$ )." to give the user a hint on how to proceed. Apart from that the above looks good to me.

[2020-04-22 08:43] chenguokai commented on #663
It would be indeed better, while it would be more complex, with the need to identify chips and their corresponding RM. If it looks necessary, I will turn my PR as a draft and add more contents.

[2020-04-22 08:50] Nightwalker-87 commented on #820
**Let me please ask _again_ to merge in the current changes from `develop` into the related PR.**
We tend to look at issues that also have been somehow addressed or edited by @grevaillot or may be related to recent changes from him that are already merged.
I would not like to see the related PR along with it's branch drifting away from `develop` any further I am not willing to resolve the existing

[2020-04-22 09:01] Nightwalker-87 commented on #663
We shouldn't make it too complicated. Maybe we can also write "Check page start address and compare with flash module organisation in related ST reference manual of your device."
What about that?

[2020-04-22 09:12] chenguokai commented on #663
What about that?

Added

[2020-04-22 10:21] #663 closed

[2020-04-22 21:51] martonmiklos commented on #820
@Nightwalker-87 FYI: the merge did not solved the problem.

[2020-04-22 21:51] Nightwalker-87 commented on #915
@chenguokai: I am currently updating the deb packaging, including all required additional files, following official Debian policies. Taking this issue already into account, I'll update the license file to BSD-3 only. This would imply that there are no old flashloader source files present with incompatible licensing by the time of merging the enhanced cmake packaging stuff.

[2020-04-22 21:57] Nightwalker-87 commented on #820
Well it did solve the merge conflict at least and ensures this branch is with the latest codebase. There could have been a relation though. I was not able to rule that out at the time of writing.

[2020-04-23 18:38] Nightwalker-87 commented on #944
@Vascom: Can you test the current `pkg` branch now and report back?

[2020-04-23 18:39] Vascom commented on #944
What commit need to test?

[2020-04-23 18:54] Vascom commented on #944
stlink.pc not installed at all.

[2020-04-23 19:19] Nightwalker-87 commented on #944
Don't expect it to work on the `develop` branch, changes were only made on the latest `pkg` branch.
Should it not work there, then I have no clue, sry.

[2020-04-23 20:10] Nightwalker-87 commented on #944
Something is not right at your end, at least. The version string reads 1.6.1 which is not present yet. I don't know where your build routine got this from. It should still be 1.6.0. The former has not been defined anywhere in the code yet.

[2020-04-23 20:13] Vascom commented on #944
Do you mean `stlink-1.6.1-0.1.20200420git78dd836`?
It is version in my spec file. It is not affect build.

[2020-04-23 20:22] Nightwalker-87 commented on #944
I know it does not affect the build, but I knew it was not from the provided settings. However I can't figure out the problem right now. So I suggest you stay on the old version for know or look into the details yourself. I never had any error on this so far on my system. (I doubt though these settings are even used on debian-based systems. If so, then my build system has no problem with it.)

[2020-04-23 20:23] Vascom commented on #944
To be as in 1.6.0 you should
1. Copy https://raw.githubusercontent.com/stlink-org/stlink/v1.6.0/usr/lib/pkgconfig/CMakeLists.txt to cmake/pkgconfig/ and replace existing CMakeLists.txt.
2. Copy https://raw.githubusercontent.com/stlink-org/stlink/v1.6.0/usr/lib/pkgconfig/pkg-config.pc.cmake to cmake/pkgconfig/ and remove pkgconfig.pc.cmake.
3. Add `add_subdirectory(cmake/pkgconfig)` to main CMakeLi

[2020-04-23 20:42] Vascom commented on #944
Looks good and work.

But may be at x86_64 this
`libdir=${prefix}/lib/${deb_host_multiarch}`
must be
`libdir=${prefix}/lib64/${deb_host_multiarch}`

I am not sure.

[2020-04-23 20:45] Nightwalker-87 commented on #944
No, because the tools still build a 32-bit library, also for 64-bit systems that's why they should install to `libdir=${prefix}/lib/${deb_host_multiarch}`.

[2020-04-23 20:57] Vascom commented on #944
I built for 64-bit. And I look at others .pc files in my system - it has lib64 in .pc files.
So it is important.

[2020-04-23 21:04] Nightwalker-87 commented on #944
I'm not really willing to currently, because the library is still coded 32-bit, even if you build for 64-bit, as the `st-link ` code is not written for 64-bit. This is likely the reason why `lib` is not changed to `lib64`.

[2020-04-23 23:12] Nightwalker-87 commented on #557
@bjornfor: As proposed, I've added a note on cmake build options related to `GNUInstallDirs` to our compiling manual. Thus this issue is now fully addressed and resolved.

[2020-04-24 05:03] bjornfor commented on #557
Thanks!

[2020-04-24 05:03] #557 closed

[2020-04-25 12:57] Nightwalker-87 opened #946 "[refactoring] Cleanup of cmake build process"
I've been actively working on a major cleanup of our cmake build routine.
Related changes will go into the `pkg` branch.
We should see some testing and verification as soon as a PR is opened.

[2020-04-25 13:32] Nightwalker-87 commented on #874
**Upcoming Release: v1.6.1** (planned for 01.06.2020)

In order to have enough time for pre-release testing the **Deadline for feature-PRs** is the **15.05.2020**. After this date only bugfixes shall be resolved.
Please consider this and comment on individual issues tagged with the v1.6.1 milestone, if these are likely not addressable by the current assignees up to this date.
These topics will the

[2020-04-25 15:00] chenguokai commented on #923
I suggest a check with the same board and other flash tools so that we can confirm this is not a hardware problem.
The verification failed at the very beginning so if it is not a hardware problem, there might be some problems in flashloaders. Unfortunately error code check in flashloaders (if possible) is not applied on most models. I would suggest print out all register values after the failed fl

[2020-04-25 16:14] Nightwalker-87 commented on #946
@chenguokai: It looks as if it is necessary to figure out the correct destination for the GUI to install to. As far as I have found out, the file `gui.ui` and the `stlink-gui` executable are not installed to the same output directory what should be the case IMHO (otherwise one would have to switch to the directory containing the ui-file in order for the executable to launch, which is not helpful a

[2020-04-25 16:18] Nightwalker-87 commented on #946
Here is my proposal for the updated cmake GUI build: https://pastebin.com/WmH2Uek6

[2020-04-25 17:12] chenguokai commented on #946
I am not so familiar with cmake and gtk. Sorry that I cannot provide any comments on the proposal.
One thing that I am sure is, there is no need to tweak those paths specially for macOS. Once I thought the GUI version would be compiled into an .app bundle on macOS that is expected to resident in /Applications. Fortunately it is not, so if Linux and BSDs find one path good, so will macOS do.

[2020-04-25 17:31] ihassin commented on #852
Just following up - I just got the new programmer from Adafruit, and it works well. Recognized and st-info --probe sees it. Thank you so much for spending time with me to resolve this. I will leave a comment on Amazon regarding the one I originally bought.

[2020-04-25 18:25] Nightwalker-87 commented on #946
That's ok, I just have the impression that something was wrong there before I even started to clean things up. Maybe someone else can provide some feedback on this.

Apart from a few minor open questions I seem to be trough with this now. With respect to current coding activities around the `stlink-library`, `st-info` and `st-flash` I have not completely transitioned the file structure yet. Thus t

[2020-04-25 18:28] Nightwalker-87 commented on #852
@ihassin: Thx for your feedback. That is good news and I'm happy that we were able to help.

[2020-04-25 20:26] Nightwalker-87 commented on #946
I have made up my mind after some local testing:
Up on `sudo make install` the executable `stlink-gui` will be installed to `/usr/local/bin` together with it's `stlink-gui.ui` file and the other binaries of the toolset (`st-flash`, `st-info` and `st-util`). This ensures that both files for the gui launch are always together and solves the problem mentioned before as the GUI now becomes directly ac

[2020-04-25 23:34] Nightwalker-87 commented on #798
@slyshykO: I have squashed your .cmake modules from #802 to one single config and integrated it as a separate make target called "Binary". Currently this is only for testing, but the trick will be to properly detect the downloaded `libusb` library. We cannot use `FIND_PACKAGE_HANDLE_STANDARD_ARGS` here as we do when on windows, as this fails on debian based systems (no surprise really). If we can

[2020-04-26 07:25] slyshykO commented on #798
@Nightwalker-87  What problems with #802?
I've tested them under Debian. It passed our CI.

[2020-04-26 08:50] Nightwalker-87 commented on #798
I'd prefer a solution which integrates into our build configuration well, rather than a separate module to call. Also both modules consist of duplicated code which can also be simplified.

[2020-04-26 09:14] slyshykO commented on #798
If you know how to do better please do it.
But why you deleted working solution before new solution appears?

[2020-04-26 09:42] Nightwalker-87 commented on #798
We are not dependent on this functionality while we are in the state of development. Note that a `development` branch does not claim to provide all features at all times, therefore we have a `master` branch. Binaries can be provided using windows anytime and your implementation is still present in the latest stable release, if one should really need it right now. When actively working on a topic,

[2020-04-26 10:06] Nightwalker-87 commented on #798
Also it does not work on my system (even) when using the `master` branch when following instructions provided in the toolchain file:

[code]

[2020-04-26 10:31] slyshykO commented on #798
You run cmake in wrong directory. It is not toolchain file fault.

[2020-04-26 10:46] Nightwalker-87 commented on #798
No...

[2020-04-26 14:45] #944 closed

[2020-04-26 14:45] #946 closed

[2020-04-27 09:26] Nightwalker-87 commented on #915
If it is not too much effort one may have a look at some of the older flash loader issues, which have been grouped in two separate milestones. It is possible that some issues have resolved with this rewrite as well, either due to an alternative implementation or fixes within the order of command calls.

[2020-04-27 09:48] chenguokai commented on #915
One problem makes nearly all reported error logs of flashloader related ones useless: No device dump of the error state.

Currently no info is dumped from device, no register values, no RAM datas, etc. Thus we cannot identify what has gone wrong in the underlying process.

I am going to be busy recently and I may not have time to implement a more detailed error log, while in my view, it would be e

[2020-04-27 09:57] Nightwalker-87 commented on #915
Ok, so I'd suggest to address that at a later point in time, and by then close all flash loader issues, which can no longer be investigated, to have a clean reference there. In the meanwhile I will check, if some of the original issuers are still active and available for any further feedback (but I doubt this will be the case).

[2020-04-27 12:43] lulle2007200 commented on #923
I tried with both, a genuine st link v2 and one of those cheap copies from china. It fails on both. I will look at the registers later when i have some more time.

[2020-04-27 12:49] chenguokai commented on #923
The "flash tools" I mentioned refers to openocd or the official tools by ST. Sorry for the ambiguous expression. When you check the register values, it would be better to print out `STM32_FLASH_SR` register value, located in STM32_FLASH_REGS_BASE + 0x10. STM32_FLASH_REGS_BASE is 0x40022000 on STM32L4.

[2020-04-27 19:17] martonmiklos commented on #874
I doubt that StLinkV3 support will fit to that timeframe, unless someone else look into it because I am busy with other things at the moment.

[2020-04-28 16:04] Nightwalker-87 commented on #798
I have spent some efforts to automate the binary generation on Debian with a shell script.
It
Binaries are now generated but, the packaging has to be implemented in such a way, that the archive unzips to the correct windows paths. cpack currently uses the file tree of the generated build folder.

[2020-04-28 17:46] Nightwalker-87 commented on #738
This will likely resolve with our upcoming enhanced cpack packaging.

[2020-04-29 14:44] RafaelLeeImg opened #948 "st-flash: Bad command line parameter parser for integers like 1k, 1M, 0b10000"
- Operating system and version: Linux, Debian stable
- **Stlink tools version** and/or git commit hash: Both develop and master, 38a5c14877964e7ea272565b372576d61710790f, cda2215327987c67e44ffbcaf04a8bc82b86bf24
- Stlink commandline tool name: st-flash

** Situation 1: **
Commandline-Output:
[code]

Expected/description:
After applying my patch.
[code]

** Situation 2: **
Commandline-Output:
[code

[2020-04-29 14:59] Nightwalker-87 commented on #798
So what remains to be solved here are solely the pre-defined directory paths within the package.

[2020-04-29 16:52] Nightwalker-87 commented on #930
@rewolff: I assume there will be no further activity here, if no additional testing and/or investigation takes place... We need at least a hint where to look at, if this ticket shall not go down the sink.

[2020-04-30 06:15] techtoys opened #950 "Written consent request"
Dear Sir

My company is developing a board (commercial) with stlink embedded. I notice the clause to prohibit others from using the name of the project or its contributors to promote derived products without written consent.
May I learn if there is any charge or qualification that allow me to use stlink on my product?
Look forward to hearing from you soon.

John

[2020-04-30 07:32] slyshykO commented on #950
It is my personal opinion, but you can do whatever you want that allowed you by project license.
https://github.com/stlink-org/stlink#license

[2020-04-30 07:47] chenguokai commented on #950
There could be one misunderstanding here.

Below is my understanding.

ST-Link, which refers to the hardware developed by ST, charges as a product.

stlink, which refers to this program, is licensed under BSD license, that is, as long as you get one copy of this software, you are free (with RMS’s word, libre) to use, modify and redistribute. The clause restricts promotions like “This board provide

[2020-04-30 09:34] Nightwalker-87 commented on #950
OK, let me, as one of the project maintainers, have a word on this as well:

You may use this software toolset as long as you fully comply to the BSD-3 license conditions. Thus there is no charge on you or special qualification that has to be fulfilled to do so.

As it appears impossible to gain consent from every single contributor of this software (which would be the only sufficient condition fo

[2020-04-30 13:06] techtoys commented on #950
@Nightwalker-87 we must assume that you are not allowed to **promote your projects** in relation to the name of this software which is `stlink`

The keyword is **promote your projects**. Suppose I have another open-source project on GitHub with a board integrates by following the ST-Link hardware schematic from any of the Nucleo board combining with stlink firmware. Later on my GitHub I state the

[2020-04-30 16:35] Nightwalker-87 commented on #950
I would not consider a direct reference to the `stlink` project or it's parent `stlink-org` (e.g. within _your_ project documentation) as _promotion_. To me, promotion would be linked to advertising in the sense of what @chenguokai stated as an example.

What I would not like to see is a reference related to any form of (customer) support for _your_ hardware products, and potential issues with the

[2020-04-30 20:59] Nightwalker-87 commented on #735
@chenguokai: Would you mind to look into this? I am currently focussing on finalising the windows binary distribution topic and travis test-build impprovements, but can do some tests on 10.13 VM later on if useful.

[2020-05-01 02:48] chenguokai commented on #735
I am not quite sure about “look into”. If there are users who feel happy to do some test, I will surely provide essential instructions. I cannot test myself because I do not have a ST-Link v1, no purchase available too.

[2020-05-01 04:25] techtoys commented on #950
Thank you. Everything is clear.

[2020-05-01 04:25] #950 closed

[2020-05-01 09:37] Nightwalker-87 commented on #735
If I get to know what has to be changed for newer macOS versions specifically, based on a copy-paste-kext, I would take action myself.

[2020-05-01 11:34] chenguokai commented on #735
A codeless `kext` has the following structure:

KEXTNAME.kext
....Contents
........Info.plist

Info.plist is either in binary or xml form. In our case, no binary form kexts have been found.

The change is caused by the removal of `IOUSBDevice` (previously defined in `IOKitPeraonalities`/`DeviceDriver`)

`IOUSBDevice` occurrences should be replaced by `IOUSBinterface` like the one in [https://www.a

[2020-05-01 17:03] #948 closed

[2020-05-02 07:54] tdjastrzebski opened #952 "LIBUSB_ERROR_TIMEOUT after firmware upgrade (STM32F769NI-DISCO)"
After upgrading board firmware V2.J29.M18 -> V2.J36.M26 STLink no longer works.
I get errors like:

[code]

I have tried upgrade on two different boards with consistent result - upgrade breaks something.
The same time openOCD works fine.
Interestingly, if I use openOCD firs and then STLink without resetting the board, it works.

- Board type: STM32F769NI-DISCO
- Operating system: Windows 10
- Stli

[2020-05-04 11:55] lulle2007200 commented on #923
Sorry for replying so late.
I tried to flash a few different hex files of different sizes, st-flash successfully erases the the needed pages (verified by examining memory content with st link utility), but fails to flash as i said in initial post.
Flash is successful when flashing the hex with st link utility or the corresponding dfu with the st dfu tool, so i'd say that it's not a hardware issue.

[2020-05-04 14:08] chenguokai commented on #923
The clue is that FLASH_SR shows PGSERR and PGAERR are set, that is, there are some alignment issues. If you can provide the general purpose register values after a failed programming (with `gdb`, `info registers` without reseting the board before attaching) and launch `st-flash` with `--debug` on, I think we will be able to further investigate.

[2020-05-04 15:31] lulle2007200 commented on #923
![grafik](https://user-images.githubusercontent.com/13625968/80983567-f8143300-8e2c-11ea-850b-8d77da06a0f5.png)

these are the registers after failed flash (connected without reset).

If i run st-flash with the debug option being set, it doesnt fail.

[2020-05-04 15:38] lulle2007200 commented on #923
(dont have gdb,

[2020-05-04 16:32] chenguokai commented on #923
@lulle2007200 in the mail I received you said that with —debug it flashes without error. I noticed that you edited it.
Was there indeed a successful flashing, with debug on?

If so, it may be a timing problem, just like that of f0 series.

From the log, things seem to be fine before running. the general purpose registers hold values that are hard to explain. If r0 was zero at the very beginning, m

[2020-05-04 22:23] lulle2007200 commented on #923
It didnt work, i messed up while trying to redirect output of st-flash to file. turned out it didnt run at all, but i had flashed it before using st link utilty...
Also, i hit close and comment instead of comment by accident, sorry for the confusion.
I will take another look tomorrow.

[2020-05-06 20:39] Nightwalker-87 commented on #874
**Upcoming Release: v1.6.1** (planned for 01.06.2020)

In order to have enough time for pre-release testing the **Deadline for feature-PRs** is the **15.05.2020**. After this date only bugfixes shall be resolved.
Please consider this and _comment in the individual issues_ tagged with the v1.6.1 milestone, if these are likely not addressable by the current assignees up to this date.
These topics wi

[2020-05-06 20:56] #915 closed

[2020-05-06 21:51] Nightwalker-87 commented on #437
The reorganisation of the project and the related transfer to a public git-organisation seem to have resolved this issue. All further general notes related to this project will be published in #874. Against this background I am closing this issue now.

[2020-05-06 21:51] #437 closed

[2020-05-07 10:04] chenguokai commented on #893
I am working on it.

[2020-05-08 13:22] #893 closed

[2020-05-09 19:49] Nightwalker-87 commented on #909
With respect to compatibility between ILP32, LLP64 and LP64 I think it would be a good idea to replace the data type `long` with `int32_t`, but if one wants to rule out surprises in the future related to conversion, we may consider to move to fixed width integer types wherever possible...

[2020-05-10 00:14] #884 closed

[2020-05-10 10:29] Nightwalker-87 commented on #874
**Following Release: v1.6.2** (planned for 01.09.2020)

Contributions for issues tagged with the related milestone should use the codebase of v1.6.1 once released. Submissions will be accepted as from 15.06.2020.

[2020-05-10 14:43] Nightwalker-87 commented on #738
Windows binary packages distributed as of Release v1.6.1 will not contain any hardcoded paths.

[2020-05-11 19:15] busier opened #956 "st-flash not working after FW-upgrade of STLink-v2"
Hi,
Unfortunately, STlink Tools not working after [firmware upgrade](https://www.st.com/en/development-tools/stsw-link007.html#get-software) for board ST-LINK/V2.
However this board to works fine with STM32CubeIDE.

- Programmer/board type: stlink /v2-clone
- Programmer firmware version: V2J37S7
- Operating system and version: Ubuntu 20.04
- Stlink tools version: st-flash 1.6.0-301-gd11e6f4
- Stli

[2020-05-11 19:30] busier commented on #956
Hi,
Unfortunately, STlink Tools not working after [firmware upgrade](https://www.st.com/en/development-tools/stsw-link007.html#get-software) for board ST-LINK/V2.

[code]
[](url)

[code]

[2020-05-13 09:39] lonsathing opened #957 "[MacBook]: [make release issue]"
[RELEASE]
[ 22%] Built target stlink-static
[ 27%] Built target st-info
[ 38%] Built target st-util
[ 47%] Built target st-flash
[ 69%] Built target stlink
[ 72%] Linking C executable ../../bin/stlink-gui
ld: framework not found -lCocoa
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[3]: *** [bin/stlink-gui] Error 1
make[2]: *** [src/stlink-gui/CMakeFiles/stlin

[2020-05-13 10:12] Nightwalker-87 commented on #957
Invalid ticket. Please refer to pinned README and our guidelines and reopen in a valid format. Thank you for your understanding.

[2020-05-13 10:12] #957 closed

[2020-05-17 11:43] #271 closed

[2020-05-17 16:08] grzegorz-kraszewski opened #958 "STM32F030R8T6: flash loader run error"
- Programmer/board type: ST-Link v2.1
- Programmer firmware version: STSW-LINK007 2.37.26
- Operating system and version: Linux, XUbuntu 18.04 LTS
- **Stlink tools version** and/or git commit hash: 1.6.0-311-ga98b094
- Stlink commandline tool name: st-flash
- Target chip (and board if applicable): STM32F030R8T6, Nucleo-64

Commandline-Output:

[code]

Expected/description:

Expect it to be flashed

[2020-05-17 16:46] chenguokai commented on #958
Maybe I know what’s the problem here. May you try my branch(with a quick and dirty fix , just as a proof of my thought)?

https://github.com/chenguokai/stlink/tree/stlink-v3_pre

If I am right, the issue is related to the non-PIC code of new flashloaders combined with a dirty fix in flashloader.c.

[2020-05-17 18:03] grzegorz-kraszewski commented on #958
I've built from your branch and can confirm, it fixes the problem.

[2020-05-17 18:16] Nightwalker-87 commented on #958
@chenguokai: What do we have here?

[2020-05-17 18:29] chenguokai commented on #958
As I mentioned, the GPL licensed flashloaders, is PIC (position independent code) while the new ones, are not. That’s also why I needed to write a linker script, specifying the base address.

By disassembling the compile flashloaders, I recognized the addressing mode to be PC(program counter) relative. I thought they are kinds of PIC, so I kept the dirty hack as a marco in flashloader.c. From this

[2020-05-17 19:19] Nightwalker-87 commented on #958
Ok then, you may hand in a PR for the June release, but make sure to branch of `develop` instead of `stlink-v3_pre` which I deleted after the last PR.

[2020-05-18 04:04] chenguokai commented on #958
@grzegorz-kraszewski Please verify if my PR fixes this problem :-)

[2020-05-18 08:30] #958 closed

[2020-05-18 09:02] grzegorz-kraszewski commented on #958
Not sure, as it triggers another one:

[code]

[2020-05-18 09:09] Nightwalker-87 commented on #958
@grzegorz-kraszewski: This looks like a different topic. Please open a new ticket for that.

[2020-05-18 09:09] chenguokai commented on #958
Does a relaunch or a unplug and plug help?

[2020-05-18 13:14] grzegorz-kraszewski commented on #956
I have encountered the same problem after updating ST-Link firmware to 2.37.26 in Nucleo-64 STM32F030R8 board.

[2020-05-18 13:59] chenguokai commented on #956
So may we add a comment like "DO NOT UPDATE STLINK FIRMWARE TO THE LATEST VERSION IF YOU WANT TO USE THIS SOFTWARE"?

[2020-05-18 14:05] Nightwalker-87 commented on #956
To me it would be more interesting to know why this actually fails...
Maybe a patch is possible for the tools.
The proposed note should only be necessary if this is not possible.

[2020-05-18 14:05] grzegorz-kraszewski commented on #956
For me it is too late... I have downgraded the firmware to the oldest version available on st.com, but it hasn't helped. As a workaround, I've managed to flash my code using bootloader, USART and `stm32flash` tool, so I know the target device is working.

[2020-05-18 14:10] busier commented on #956
I think: YES.
I was downgrade my st-link to stsw-link007_V2-36-26.

[2020-05-18 14:12] chenguokai commented on #956
Maybe this link can provide some help

https://community.st.com/s/question/0D50X00009XkhxW/downgrade-stlinkv2-firmware-revision

[2020-05-19 14:38] #738 closed

[2020-05-19 14:38] #795 closed

[2020-05-19 14:38] #798 closed

[2020-05-19 14:50] Nightwalker-87 commented on #735
So it's time for this one then...

[2020-05-19 18:16] chenguokai opened #962 "cmake compile failure with external CMAKE_MODULE_PATH set"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:
- Operating system and version: [macOS 10.14.6] (e.g Linux, Mac OS X, Windows)
- **Stlink tools version** and/or git commit hash: [90d65be93123e8b29b

[2020-05-20 14:27] grzegorz-kraszewski commented on #956
Unfortunately these old firmwares have only Windows updater. And, as one may guess, this updater does not work under wine.

[2020-05-20 15:23] chenguokai commented on #956
If I remember, I upgraded my stlink v2 clone with a java edition of the updater on macOS. The device functions well after the upgrade. I will check tomorrow if I still have that firmware on my computer.

[2020-05-21 23:59] Nightwalker-87 commented on #735
I found this interesting Link: https://visserslatijn.wordpress.com/2019/01/20/upgrade-st-link-v1-to-v2/ We may add that to our project documentation.

Additionally I'd suggest to drop unsupported macOS 10.6 to 10.12 in the kext and thus give it another maintenance by ensuring it to run on 10.13 - 10.15 (with a :heart: for a very small mac-usergroup).

[2020-05-22 03:11] chenguokai commented on #735
Great hack👏
Quite agree that we drop some old hardware-old OS combination support.

[2020-05-22 17:51] geoffreymbrown commented on #577
I also needed this functionality.   While I added it to my own copy of the repo, it'd be nice if it made it in somehow.   Here are the issues in stlink_open_usb:

1)  Reset has to be asserted before any mode change can happen
2)  It's somewhat less than optimal that stlink_load_device_params(sl); happens in this routine, since loading flash parameters doesn't seem to work under reset.

Here's what

[2020-05-22 17:58] Nightwalker-87 commented on #577
@geoffreymbrown: What about proposing a PR?

[2020-05-22 18:00] geoffreymbrown commented on #577
The various existing apps wouldn't automatically make use of it, but anything using the library could.
I'm happy to propose a narrow PR (just the changes to make this work)
Geoffrey

[2020-05-22 22:22] Nightwalker-87 commented on #735
Having noticed there is an old xcode project file in the kext-driver zip-file, led me to the idea to import that into xcode 11.3.1, because I think it is much easier to handle and edit all settings from there. The project settings and parameters should now be compatible with xcode 11 and later with updates and guided clean-up.

I've created targets for 10.13 to 10.15, but need to know exactly how

[2020-05-23 03:22] chenguokai commented on #735
I think so, too :-)

[2020-05-23 11:49] Nightwalker-87 commented on #735
I still face this error: `error: Build input file cannot be found: '/$USER_PATH$/stlink_shield/OptimizationProfiles/stlink_shield.profdata' (in target 'stlink_shield_10.15' from project 'stlink_shield')` This file is obviously missing, but it was not present before either... It is probably something Xcode-specific. How can it be generated?

[2020-05-24 21:49] Nightwalker-87 commented on #412
@tarek-bochkati: I've noticed your activity around this topic on https://github.com/STMicroelectronics/OpenOCD. Would you be interested in helping us along with this as well?

[2020-05-25 20:37] tarek-bochkati commented on #412
@Nightwalker-87
Hi,
I have started by reading this thread from the beginning (started by one of my colleagues BTW).
let me start by the current status, in OpenOCD: [#3162](http://openocd.zylin.com/#/c/3162) is replaced by [#4321](http://openocd.zylin.com/#/c/4321) and the later was cherry-picked in [ST-OpenOCD](https://github.com/STMicroelectronics/OpenOCD)
but this is quite different as the flash

[2020-05-26 08:39] Nightwalker-87 commented on #412
@tarek-bochkati: Thx for your feedback. Because we are licensed under BSD-3 (clean), we would need to ensure that there is no license conflict with OpenOCD and its derivatives, which are under GPLv2. As the implementation of the flash algorithm is different, this would have not been an option anyway.

[2020-05-26 10:41] Nightwalker-87 commented on #690
@grevaillot: Any update on this?

[2020-05-27 00:22] Nightwalker-87 commented on #568
@tcurdt: I know this has been long ago, but du you still have the possibility to test if this is fixed now?

[2020-05-27 00:29] Nightwalker-87 commented on #620
Can we do some testing with the current `development` branch regarding this?

[2020-05-27 00:40] Nightwalker-87 commented on #874
**Upcoming Release: v1.6.1** (planned for 01.06.2020)

We still need reviewers and somebody with a STM32VL Discovery board and/or macOS would also be helpful to finally close the two remaining Pull-Request (which are completed). I'd like to see somebody else having a look at these as well. Please drop a note in the respective PRs, if you can contribute. Thx in advance.

[2020-05-27 04:32] spetroce opened #966 "udev rules installing to wrong directory"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Programmer/board type: NUCLEO-H745ZI-Q with STLINK-V3
- Programmer firmware version: link007_V2-36-26
- Operating system and version: Fedora 31
-

[2020-05-27 04:53] dot4qu opened #967 "ST-LINK/V2: `st-util` failing second page of write to flash"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Programmer/board type: ST-LINK/V2 clone (small aliexpress USB) (e.g Stlink /v1, /v2, /v2-clone, /v2-1)
- Programmer firmware version: ST-LINK/V2 v

[2020-05-27 09:12] tcurdt commented on #568
I might take a while - but still have a blue pill I can check with.

[2020-05-27 09:33] Nightwalker-87 commented on #568
If you do some testing, ensure you use the `develop` branch or Release v1.6.1 (once released) for testing.

[2020-05-27 10:01] Nightwalker-87 commented on #967
@nerdmaennchen: I thought this was fixed in #876...

[2020-05-27 10:06] Nightwalker-87 commented on #966
Yes, that should indeed go to the mentioned directory path.

[2020-05-27 10:35] #966 closed

[2020-05-27 10:35] Nightwalker-87 commented on #966
Fixed. Thx for reporting.

[2020-05-27 10:52] Nightwalker-87 commented on #966
Related to #557.

[2020-05-27 14:09] Nightwalker-87 commented on #194
It would clearly be helpful to find out the reason for the observed behaviour.

[2020-05-27 14:12] Nightwalker-87 commented on #724
Reopened this for investigation.

[2020-05-27 14:26] #256 closed

[2020-05-28 08:14] #577 closed

[2020-05-28 17:05] #735 closed

[2020-05-28 17:31] Nightwalker-87 commented on #874
**Following Release: v1.6.2** (currently planned for 01.09.2020)

Contributions for issues tagged with the related milestone should use the codebase of v1.6.1 once released. Submissions will be accepted as from 05.06.2020.

[2020-05-31 13:27] rutgerhendriks opened #968 "[feature] Option bytes on the STM32F767 ZIT6 Nucleo-144"
- [x] Programmer/board type: Stlink/v2-onboard
- [x] Programmer firmware version: ?
- [x] Operating system: Linux
- [x] Stlink tools version and/or git commit hash: 1.6.0-350-g3e49bec-dirty
- [x] Stlink commandline tool name: st-flash
- [x] Target chip (and optional board): STM32F767ZIT6 Nucleo-144

Commandline-Output:

Commandline:
st-flash --area=option read

Output:
Option bytes read is current

[2020-06-01 20:08] Nightwalker-87 commented on #968
@rutgerhendriks: You can give it a try and see if everything works as intended.

[2020-06-02 10:21] Nightwalker-87 commented on #136
Can anybody contribute here?

[2020-06-02 13:24] blacklion opened #973 "FreeBSD: Can not build release 1.6.1 due to wrong configuration prepared by CMake"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Operating system and version: FreeBSD 12-STABLE
- **Stlink tools version** and/or git commit hash: v1.6.1

Futher we kindly ask you to describe th

[2020-06-02 15:27] slyshykO opened #975 "Release's artefacts for v1.6.1 marked as v1.6.0."
Need to fix versioning of artefacts attached to release.

[2020-06-02 15:35] Nightwalker-87 commented on #975
Correct

[2020-06-02 15:37] Nightwalker-87 commented on #975
Will be fixed soon - it should only be related to the name. Thx for reporting.

[2020-06-02 16:02] Nightwalker-87 commented on #975
With new packages built from the `master` branch, the version in the package name is correct now.

[2020-06-02 16:02] #975 closed

[2020-06-02 23:54] Nightwalker-87 commented on #909
@chenguokai: I'll leave this to you. You may contribute, if you fancy and have some some time.

[2020-06-02 23:56] Nightwalker-87 commented on #864
I think we are ready to deal with this as from now.

[2020-06-03 00:05] Nightwalker-87 commented on #698
I'd need someone with an ubuntu system for assistance with testing for a final verification with older releases. If this was a general issue on Ubuntu, then I believe this has been fixed in the meanwhile - otherwise it would have derived from a local circumstance we can not reproduce.

[2020-06-03 00:09] Nightwalker-87 commented on #956
I'll upgrade my STLINKv2/clone to the latest firmware and report if I run into any issues.

[2020-06-03 00:38] Nightwalker-87 commented on #720
ping @nerilex

[2020-06-03 00:45] Nightwalker-87 commented on #568
Now as Release v1.6.1 is published, it's about time to do some testing here. We should go back in time following recent releases to find out if this still appears somewhere...

[2020-06-03 12:20] Nightwalker-87 commented on #956
I have tested the original approach with the official firmware versions V2.J29.S7 and V2.J34.S7 and Release v1.6.1:

[code]
I'll do a second test with the previous release for investigation. However, we can already confirm that there is no general problem with current STLINKv2 firmware versions, even if used with cloned programming devices.

[2020-06-03 12:32] Nightwalker-87 commented on #956
@busier: This is the version of the upgrade tool, not the firmware version of the programmer. The latter is determined by the upgrade tool and the latest available version is displayed afterwards. Please retry with your hardware and only use official tools and versions from ST.

[2020-06-03 14:56] Nightwalker-87 commented on #956
The thread is open again. These are the latest versions which are offered for a STLINK-v2 & and STLINK-v2 clone programmer here via ST. I personally can not test on any other hardware, sry.
If there is no further verification and contribution then we can't do anything about it I'm afraid.

[2020-06-03 15:12] blacklion commented on #973
#974 helps!

[2020-06-03 15:22] Nightwalker-87 commented on #956
Another test with Release v1.6.1 and Firmware V2.J36.S7 (tool-updated to 2.5.3):

[code]
We are getting closer - there is ANOTHER update available in the meanwhile which deploys V2J37S7 - so you are correct. I'll test this one as well then... :-/

[2020-06-03 16:05] Nightwalker-87 commented on #956
Good news:
The latest firmware V2.J37.S7 (fw-tool-updated to 2.5.4) even works with Release v1.6.0.

[code]

[2020-06-03 16:14] #973 closed

[2020-06-03 16:20] blacklion opened #976 "Isn't $(prefix)/include/stm32.h too generic?"
I'm not sure, is it bug or "as intended" but previous versions of stlink (1.6.0 and earlier) installed main `include/stlink.h` and several other headers under `include/stlink/`.
1.6.1 installs `include/stlink.h`, `include/stm32.h` and several other headers under `include/stlink/`.
Is it as intended? `stm32.h` looks too generic to be installed into system-wide include directory, isn't it?

[2020-06-03 16:23] Nightwalker-87 commented on #956
@grzegorz-kraszewski: Your board uses a different programmer hardware: STLINK-v2-1.
Please open a separate issue for that if still relevant. This ticket is solely related to STLINK-v2. Thx.

@chenguokai: I think we should close this now as resolved, as the original problem obviously does not relate to the `stlink` toolset.

[2020-06-03 16:24] busier commented on #956
don't changes:
`~/stlink/build/Release/bin$ ./st-flash write ~/Downloads/monitor_lmi.bin 0x8000000
st-flash 1.6.0-364-g60f8461
2020-06-03T19:18:40 WARN common.c: unknown chip id! 0x5fa0004
Failed to connect to target
`

[2020-06-03 16:28] Nightwalker-87 commented on #976
These project paths are still subject to change because of ongoing work. We had to find an interim solution for recent Release v1.6.1, because we could not restructure the project all at once. Please give us some time to address this within already existing tickets.

[2020-06-03 16:36] Nightwalker-87 commented on #956
@busier: As shown, this is not a problem of the `stlink` toolset itself. Firmware is provided by ST Microelectronics as a commercial, proprietary product. Therefore you need to refer to the official ST-Link support forum. We can not provide firmware-support, because it is not part of this project nor do we have developer access to it.

[2020-06-03 16:36] #956 closed

[2020-06-03 17:21] Nightwalker-87 commented on #493
There are no issues with Chinese STLINK-v2 clones in general - they usually work well with the `stlink` toolset - even with recent original ST firmware versions. The mentioned problem could also be related to faulty hardware.

The linked video by @night-ghost is not helpful due to the very low resolution and we don't know the exact hardware that was used by then which leaves us without any possibi

[2020-06-03 18:44] Nightwalker-87 commented on #930
ping @rewolff

[2020-06-03 20:38] rewolff commented on #930
Hi,
Sorry. 1) Can't find the time to work on this.
2) It seems that after 1.6.0 but before 1.6.1 you changed something that I can no longer compile it on my workstation at work. :-( That system is ubuntu 16.04, due to 18.04 not having a reliable ARM-compiler. 20.04 is: "same as 18.04"....

[2020-06-03 22:09] Nightwalker-87 commented on #930
You may consider not to open topics that appear specific to the projects you work on, if you are not able to help out while others spent efforts to resolve these with only a minimal amount of support available. ;-) There are quite a few issues I found by now where the probability is very low that somebody else is able to step in, but which still remain with their original reason for being.

For v1

[2020-06-03 22:30] Nightwalker-87 commented on #681
ping @WRansohoff

[2020-06-03 23:28] Nightwalker-87 commented on #967
There are several similar issues but that clearly does not help any further...
@dot4qu: Can you test with v1.6.1 as well to have 25d0e56161d02014f77b9efd1a3fc66ef30f27b5 included? I can't figure out the reason for this issue at the moment, but can do some testing later on.

Who can help with this?

[2020-06-04 03:27] dot4qu commented on #967
I can give it a test later. The reason I've been so quiet is because `OpenOCD` has been working great for me, but I'd love to get to the bottom of this if possible

[2020-06-04 03:34] chenguokai commented on #956
My local test with a ST Link v2 clone seems fine with FW version `V2J37S7` too.

Could there be some issues specific to the on-board ST Links?

[2020-06-04 07:40] NaturalExplorer opened #977 "STlink v2"
what do i need to do to get my ST-linkv2 to work?

[code]

i saw various chip id's come along:
chipid:     0x0f69
chipid:     0x0f79
chipid:     0x0000
descr:      unknown device <---- i only saw this once.

it shows this serial now
`serial:     303030303030303030303031`
but the first serial i saw was also completely different.
[code]
apprently under "root", i have a different serial than under my

[2020-06-04 09:25] Nightwalker-87 commented on #967
Yes, true - we also want to see it working of course.

[2020-06-04 09:32] Nightwalker-87 commented on #956
We don't know yet, but that's why I suggested @grzegorz-kraszewski to open a separate ticket, if the problem persists on an onboard V2-1 module.

[2020-06-04 09:35] Nightwalker-87 commented on #977
Invalid ticket, please refer to the project guidelines and the pinned issue #906.

[2020-06-04 09:35] #977 closed

[2020-06-04 13:59] busier commented on #956
For Ubuntu 20.04 and Ubuntu 18.04.
[STM32CubeProgrammer with STM32F103C8T6 (bluepill)](https://www.dropbox.com/s/zn3ixgvs07i2oy9/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%20%D0%BE%D1%82%202020-06-04%2016-35-16.png?dl=0).
[STM32CubeProgrammer with STM32F407VET6](https://www.dropbox.com/s/e57hckjwrcjgk0j/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B

[2020-06-04 14:02] Nightwalker-87 commented on #956
@busier: This ticket is closed and will not be reopened. Please do not recycle it.

[2020-06-06 10:52] Nightwalker-87 commented on #864
I've attached this to a recent PR which also partially addresses this issue.
In fact this topic is being addressed in the background for a while already.
As of now quite a few source files have undergone a code style and white space clean-up.
Remaining files will be processed as soon as they are touched related to other issues.
Thus I think we can let git-automation close this ticket soon.

[2020-06-06 10:55] Nightwalker-87 commented on #864
This is also going to be addressed in the linked PR.

[2020-06-07 12:48] Krasnov-Max opened #979 "Nucleo32l011: stlink_flash_loader_run(0x8000000) error"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Programmer/board type: v2-1
- Programmer firmware version: [enter here] (e.g STSW-LINK007 2.27.15)
- Operating system and version: Linux
- **Stlin

[2020-06-07 13:20] Krasnov-Max commented on #979
this problem present fo version 1.6.0 and 1.6.1.
Version 1.5.0 OK

[2020-06-07 16:18] chenguokai commented on #979
It seems that no flash loader changes have been made from 1.5.0 to 1.6.0. Could there be some argument changes?

[2020-06-07 16:21] chenguokai commented on #909
Sure I will, before the release. Getting busy now.😔

[2020-06-07 22:12] Nightwalker-87 commented on #864
I came across the package `uncrustify` which also has a atom-IDE integration (and I believe is supported by several other IDEs as well). As it is distributed as a separate package on several platforms, I'd consider that a favourable option to address the above topic.

[2020-06-07 23:54] Krasnov-Max commented on #979
No argument not change.

[2020-06-08 00:25] Nightwalker-87 commented on #864
I've added a local config file to the project and started going through all available options.
There are a lot of them that can be configured - an **awful lot** of options. :sweat:
I tried to break it down to the ones that seemed useful to me and I find this to work out really well per automation. With this, one can now just run such task every once in a while (e.g. when the visual appearance turn

[2020-06-08 04:12] dot4qu commented on #967
Still the exact same problem :/.
1. `git pull`ed the latest `master` and ensured that head commit was tagged 1.6.1
2. `make release`
3. Run the gdb server with cd `build/Release/bin` and `./st-util -p 4444`
4. Attempt to connect and load .elf, same failure on the second page

Once again, the full erase and reprogram worked, but continued to fail on subsequent loads.

[2020-06-08 12:56] Nightwalker-87 commented on #967
ok, good to know. I wonder if this ever worked. Have you tried older versions as w?ell (v1.5.1, 1.5.0, ...)? Note that one needs to use the `x.x.x-patch` branches here to be able to complie due to a git version tagging problem.

[2020-06-08 22:28] mykmelez opened #980 "STM32L496xx: MCU restarts after running st-util, loading image"
When I run st-util 1.6.1, the board restarts rather than waiting for me to start arm-none-eabi-gdb, load the image, and `continue`. And it often (although not always) also restarts right after I load the image, before I enter `continue`. In st-util 1.6.0, the board wouldn't restart until after I started arm-none-eabi-gdb, loaded the image, and entered `continue`.

- Programmer/board type: ST-LINK/

[2020-06-11 04:20] dkorkmazturk commented on #568
I have this exact problem with stm32f303k8 nucleo board with stlink 1.6.0 on Arch Linux. Programmer has firmware V2J37M26 (STSW-LINK007 3.3.4). It was working before but suddenly, I started to get the following error:

Since setting boot pins seems like requires some soldering on this board, I didn't get chance to test the solution suggested by @tcurdt.

I also tried it on Ubuntu 20.04 with stlink

[2020-06-12 15:50] RobertTDowling commented on #979
I have a similar failure with 1.6.1 on Nucleo-F303RE.  No failure with 1.6.0

The first time after enumerating my nucleo board, 1.6.1 will flash my firmware*, but I can't flash it a second time without reenumerating my nucleo.  With 1.6.0 and I can flash my firmware over and over without renumeration.

(* actually, it is more complicated than that, because I also flash a separate data payload up h

[2020-06-12 23:01] Nightwalker-87 commented on #952
@tdjastrzebski: Can you try with Firmware V2.J37.M26 as well with v1.6.0?

[2020-06-13 03:57] tabemann opened #981 "STM32L476 DISCOVERY: st-flash failing to write"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Programmer/board type: Stlink /v2-1
- Programmer firmware version: version integrated with STM32L476 DISCOVERY
- Operating system and version: Lin

[2020-06-13 04:06] tabemann opened #982 "Headers needed for compiling with libstlink.so.1.6.1 not included in installed headers"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Programmer/board type: any
- Programmer firmware version: any
- Operating system and version: Linux 5.5.0-1-amd64
- **Stlink tools version** and/o

[2020-06-13 04:27] Crest commented on #982
I ran into the exact same problem on FreeBSD 12.1/amd64 in stlink 1.5 all headers required to use the shared library were installed into /usr/local/include. In stlink 1.6.1 these are missing. At the time i assumed this to be an operating system specific packaging problem and filed the bug report here: [FreeBSD PR #247225](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=247225).

At least these h

[2020-06-13 04:59] Crest commented on #981
I ran into the same regression on a Nucleo L476RG board.

[2020-06-13 15:23] Nightwalker-87 commented on #982
They are included in our top-level `CMakeLists.txt` :

[code]

@tabemann @Crest : Your gcc include flags are wrong. This is likely the reason why it fails. Please let me know where this settings come from so we are able to fix it.

[2020-06-13 15:55] tabemann commented on #982
The include options I am using are `-I/usr/local/include -I/usr/local/include/stlink` . Note that with those options it works out of the box with stlink 1.6.0 compiled from .tar.gz source (i.e. without any Debian packaging shenanigans).

[2020-06-13 16:00] Nightwalker-87 commented on #982
Yes but there were changes to that, this is why I asked where they come from.

[2020-06-13 16:24] tabemann commented on #982
What do you mean by "there were changes to that" - the include options were directly provided to gcc without any intermediary ./configure type system? The only changes that were made were to copy the relevant header files from `src` into `/usr/local/include/stlink` after initial attempts at compilation failed due to missing header files. Note that on my end I did not modify `CMakeLists.txt` but ra

[2020-06-13 19:41] Nightwalker-87 commented on #982
The include directories changed. However compilation was successfully tested on several systems before releasing v1.6.1 as long as instructions in /doc/compiling.md are being followed. As the command `sudo cp` is not part of it and the destination directory is not correct for this version, it is likely the reason why compilation fails on your side. Please follow our documentation when installing f

[2020-06-13 20:31] Nightwalker-87 commented on #698
Final review of this issue:
1) `make[1]: *** No targets specified and no makefile found. Stop.`
--> Solution: https://github.com/stlink-org/stlink/issues/698#issuecomment-377037857
2) `st-info: error while loading shared libraries: libstlink.so.1: cannot open shared object file: No such file or directory`
--> Solution: https://github.com/stlink-org/stlink/issues/698#issuecomment-598891035

As ther

[2020-06-13 20:31] #698 closed

[2020-06-13 20:32] tabemann commented on #982
I followed the instructions in /doc/compiling.md for compilation from
source on Linux up until `make release`. After that point, as there were no
apparent directions for installation aside from by generating a Debian
package and installing that, I ran `make install` as that is the typical
means of installing programs written in C that are compiled from source,
and it appeared to work, except that

[2020-06-13 20:46] Nightwalker-87 commented on #982
Thanks for the more detailed description.

Well this should not be the case of course, but did not appear to be the case during testing or was not noticed at all - I can't tell. I just found that the code excerpt posted earlier was from our `develop` branch and not from the `master` branch which indeed differs. Please try the recent `develop` branch and report if it resolves the described issue.

[2020-06-13 20:52] Crest commented on #982
I ran `pkgconf --cflags stlink` to get `-I/usr/local/include/stlink` and added `-I/usr/local/include` because FreeBSD installs ports/packages under the `/usr/local/` prefix.

I expect the libraries to install all headers required use them. The stlink programs (st-flash, st-info, st-util) build just fine. The problem is I want to make use of libstlink in my own code. The headers installed by stlink

[2020-06-13 21:05] Crest commented on #982
This is the code I wrote calling into libstlink [swd2.c](https://github.com/Crest/swdcom/blob/master/swd2.c). It uses the STLINK/V2 programmer a a fast console for the Mecrisp Stellaris Forth system. The terminal functions are in [terminal.s](https://github.com/Crest/swdcom/blob/master/terminal.s). This approach has several advantages over the normal USART console:

- Faster than most USB<->serial

[2020-06-13 21:07] Nightwalker-87 commented on #982
As mentioned before, please test with `develop` and report back.

Before v1.6.1 not all headers were included via the top-level `CMakeLists.txt`. Some were included solely within the source files (somehow hardcoded, regarding file-paths within the project). In v1.6.1 we had some changes done to the project subfolder structure to simplify it and make it more comprehensible. Therefore some header fi

[2020-06-13 21:27] Crest commented on #982
I did uninstall the stlink package, cloned the stlink link repo, found myself already in the develop branch, compiled and installed it. Next I tried to build my own code that makes use of libstlink and got this error:

[code]
The `stlink.h` header contains `#include <sg.h>` in line [296](https://github.com/stlink-org/stlink/blob/05f79e1cdf72a3a6ebdeac229842e39577e6700b/include/stlink.h#L296). In a

[2020-06-13 22:32] Nightwalker-87 commented on #982
Please note that we don't provide support for any external use of the stlink-library. (There hasn't been any in the past either.)
I'm sorry to say that I can't currently invest any time in this besides addressing other open issues.
I'd recommend you to stay with the old version for your project, as this may not be addressed anytime soon - unless there are more active contributors to this project t

[2020-06-14 13:40] Nightwalker-87 commented on #962
@chenguokai: I'd say this is not a "dirty" fix, I think it was simply wrong before. I've removed `${CMAKE_MODULE_PATH};` anyway during a review without any relation to this issue at all. I'll submit this as soon as the current PR is ready to merge after your pending review.

[2020-06-14 13:55] Nightwalker-87 commented on #275
We need somebody with a **Nucleo-F103RB** board for testing here.
I'd like to know if there is a general problem with this board type.

[2020-06-14 15:14] #864 closed

[2020-06-14 15:14] #976 closed

[2020-06-14 15:21] #962 closed

[2020-06-14 15:42] Nightwalker-87 commented on #30
I know this references a very old libusb-version. However we may give it another try with our `v1.3.0-patch`  branch (the oldest one with a working compilation) with some real hardware (any `0x2ba01477`). If this does not produce the described output, we would be able to close this with a solution and reference this ticket correctly . Can somebody help out?

[2020-06-14 15:50] Nightwalker-87 commented on #31
Duplicate of #30.

[2020-06-14 21:26] Crest commented on #982
The fix would be to simply as install the required headers from `src/` into `/usr/local/include/stlink`. Would you (or some other contributor) be willing to look at a pull request making this hopefully trivial change to the install target?

[2020-06-14 22:55] Nightwalker-87 commented on #982
@Crest: You can implement changes on your own fork for testing purposes and I can have a look, if you tell me to do so. Please don't open a PR yet. You can do so as soon as it appears to be compatible with all supported platforms and the recently updated project structure. I'd like to avoid several patches and a (possible) lengthy discussion of consecutive changes along a PR.

If you intend to tak

[2020-06-15 19:30] oloftangrot opened #984 "Fails to connect and program STM32F103C8 boards (bluepill)"
Hi there.
I have used an older build 1.3.1-15-g3d24377 some time with stable operation.

But then I built a new version of the stlink tools with the latest from github and using the same ST-LINK v2 interface and STM32-devices nothing works

 ./st-info --version
v1.6.0-378-gd473c99

st-info --chipid
returns 0x0000

After an firmware upgrade of the programmer interface using ST-LINK utility (from st

[2020-06-15 23:01] Nightwalker-87 commented on #984
I can verify that the STM32F103C8 Bluepill board works successfully with v1.6.0, as I did some testing with this hardware myself. `st-info` also returns the correct chip-id here.

As this ticket has not been opened correctly according to the project's contribution guidelines, it will now be closed.

[2020-06-15 23:01] #984 closed

[2020-06-16 03:14] chenguokai opened #985 "Build failure on 32-bit Mac OS X 10.6"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Programmer/board type: [] (e.g Stlink /v1, /v2, /v2-clone, /v2-1)
- Programmer firmware version: [] (e.g STSW-LINK007 2.27.15)
- Operating system

[2020-06-16 08:19] Nightwalker-87 commented on #985
:disappointed: BTW: Does it happen with previous versions as well (1.6.0, 1.5.1) ?

[2020-06-16 08:27] chenguokai commented on #985
Not sure about 1.5.1. A similar build failure in 1.6.0 release was fixed in develop branch by https://github.com/stlink-org/stlink/pull/908

[2020-06-16 09:02] Nightwalker-87 commented on #985
Well let's have a look then...

[2020-06-16 10:15] Nightwalker-87 commented on #985
#908 is just the same codeblock to where this issue is allocated. As you were the previous editor here it would probably make sense if you try to investigate. I don't have access to 10.6, not even on a VM.

[2020-06-17 01:18] tcurdt commented on #568
I guess then I don't even need to test on my blue pill then. Seems like it's not fixed then.

[2020-06-17 09:33] #642 closed

[2020-06-17 09:37] Nightwalker-87 commented on #985
Related to #909.

[2020-06-17 12:14] Nightwalker-87 commented on #220
The fix from @girtsf (https://github.com/stlink-org/stlink/issues/220#issuecomment-234104267) is now on the `connect_under_reset` branch that will address issues related to resetting.

[2020-06-17 12:30] Nightwalker-87 commented on #518
Feedback by @xor-gate appears to have been a sufficient response to this issue, which is now finally closed.

[2020-06-17 12:30] #518 closed

[2020-06-17 13:41] Nightwalker-87 commented on #261
I can reproduce this with a STM32F103C8T6 connected to a STLINK-v2/clone via 4-pin SWD.

[2020-06-17 16:42] Nightwalker-87 commented on #62
There have been several approaches to implement a "connect-under-reset-feature" in the codebase.
Also various reset issues related to this topic still appear frequently.

Against this background a clean-up along with a proper implementation and testing is necessary.
The most recent approach was implemented by @geoffreymbrown.

This issue is related to: #220, #254, #261, #382, #532, #533, #692
I ha

[2020-06-17 17:01] geoffreymbrown commented on #981
I think this may be a timing issue.  I had the same problem with the stm32l432.   I made the following change in flash_loader.c that seem to resolve the issue.  I hesitate to say that's the root cause.

[code]

[2020-06-17 17:32] Nightwalker-87 commented on #981
@geoffreymbrown: Could you submit this as a PR, as soon as @tabemann and/or @Crest verified?

[2020-06-17 18:00] Nightwalker-87 commented on #568
Well a test with v1.6.1 would be useful indeed before adding it to the v1.6.2 milestone.

[2020-06-17 18:01] Nightwalker-87 commented on #568
Well, a test with v1.6.1 would be indeed be useful before adding this ticket to the v1.6.2 milestone.

[2020-06-17 19:30] Crest commented on #981
I tested the patch in the develop branch with Nucleo STM32L476RG board and its onboard ST-LINK/V2-1. The patch fixed the regression. Thanks for looking into this.

[2020-06-17 19:41] Nightwalker-87 commented on #981
@geoffreymbrown: I'll leave this to you then...

[2020-06-17 21:55] #981 closed

[2020-06-17 21:59] tcurdt commented on #568
Ah, missed that the other report was with 1.6.0.

[2020-06-17 22:11] #787 closed

[2020-06-17 22:36] Nightwalker-87 commented on #968
@rutgerhendriks : Any update on this?

[2020-06-18 09:29] imyaFamiliev opened #988 "st-flash 1.6.1 mmap() size_t overflow for file"
Hello!
- Programmer/board type: [Stlink/V2]
- Programmer firmware version: [V2.J35.S7]
- Operating system and version: [windows 10] (e.g Linux, Mac OS X, Windows)
- **Stlink tools version** and/or git commit hash: [1.6.1]
- Stlink commandline tool name: [st-flash]
- Target chip (and board if applicable): [STM32F103RCT6]

st-link driver 1.1.0.0  install from STM32 ST-LINK Utility v4.5.0.exe
using f

[2020-06-18 09:34] slyshykO commented on #988
@imyaFamiliev, Can you provide some information about the issue you complain?

[2020-06-18 09:38] slyshykO commented on #988
@imyaFamiliev, please provede size of **./build/iss.bin**

[2020-06-18 09:38] Nightwalker-87 commented on #988
@imyaFamiliev: Please use the Template form you just deleted and fill it out. Otherwise I may simply discard this ticket - I'm fed up with this - really. We have so clear instructions on how to open issues properly and most people seem able to understand these.

[2020-06-18 09:39] imyaFamiliev commented on #988
iss.bin 131384 bytes

[2020-06-18 09:40] imyaFamiliev commented on #988
ok, message will be fixed.

[2020-06-18 09:40] Nightwalker-87 commented on #988
Please follow #906.

[2020-06-18 10:02] Nightwalker-87 commented on #988
Does this already occur with Release v1.6.0?

[2020-06-18 10:07] imyaFamiliev commented on #988
@Nightwalker-87 don't see windows release build of v1.6.0
I will try to compile and check.

[2020-06-18 10:09] Nightwalker-87 commented on #988
oh, yeah - that's right. Please follow `/doc/compiling.md` for windows and make sure to cleanly remove the newer version beforehand. Release v1.6.1 was the first release after a long period to distribute windows builds.

[2020-06-18 10:29] imyaFamiliev commented on #988
1.6.0 flashes ok

	C:\VSARM\/stlink/bin/st-flash write  ./build/iss.bin 0x08000000 <
    st-flash 1.6.0
    2020-06-18T15:26:57 INFO common.c: Loading device parameters....
    2020-06-18T15:26:57 INFO common.c: Device connected is: F1 High-density device, id 0x10036414
    2020-06-18T15:26:57 INFO common.c: SRAM size: 0x10000 bytes (64 KiB), Flash: 0x40000 bytes (256 KiB) in pages of 2048 bytes

[2020-06-18 10:31] slyshykO commented on #988
st-flash from stlink-1.6.1-i686-w64-mingw32.zip work well.
the problem occurs on st-flash from stlink-1.6.1-x86_64-w64-mingw32.zip

[2020-06-18 10:35] slyshykO commented on #988
@imyaFamiliev  which toolchain you use to build st-link? It is 64 or 32 bit one?

[2020-06-18 10:46] imyaFamiliev commented on #988
for 1.6.0 i use x86_64-5.3.0-win32-sjlj-rt_v4-rev0 as used in mingw64-build.bat
1.6.1 version  I downloaded as is stlink-1.6.1-x86_64-w64-mingw32.zip
check stlink-1.6.1-i686-w64-mingw32.zip - work fine

[2020-06-18 10:48] imyaFamiliev commented on #988
i have Intel(R)_Core(TM)_i5-8400_CPU

[2020-06-18 10:53] Nightwalker-87 commented on #988
This could be somehow similar to the casting issues we faced with clang on macOS earlier, just in another context ...

[2020-06-18 12:00] Nightwalker-87 commented on #874
**List of maintainers for distribution repositories:**

- macOS (MacPorts): **chenguokai**
- Debian: **bluca**
- Ubuntu: **bluca**
- Fedora: **Vascom**
- EPEL (CentOS/RHEL): **Vascom**
- openSUSE: _(TBD)_ --> _Volunteers are welcome._
- Arch Linux: _(TBD)_ --> _Volunteers are welcome._
- ...

[2020-06-18 12:05] Nightwalker-87 commented on #877
Thanks for the feedback.
This information has now been added to #874 which allows for closing this issue as resolved.

[2020-06-18 12:05] #877 closed

[2020-06-18 13:53] chenguokai commented on #988
It seems to be caused by a size check combined with a cast somewhere

[2020-06-18 17:58] rutgerhendriks commented on #968
Well, I got it to work, so that's great. Now I need to get it cleaned up and make a PR that does only this..

[2020-06-18 22:16] oloftangrot opened #990 "st-info: Bad user experience due to too high clock frequency"
- Programmer/board type: Every board
- Programmer firmware version: Every firmware
- Operating system and version: All operating systems
- **Stlink tools version** and/or git commit hash: [HEAD]
- Stlink commandline tool name: st-info
- Target chip (and board if applicable): Verified on a STM32F108C

The st-info tool defaults to 1,8 MHz clock speed without telling the user about it or allowing the

[2020-06-18 23:37] #988 closed

[2020-06-19 11:58] vincentdupaquis opened #991 "[feature] 'gdb restore' not implemented"
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Programmer/board type: Nucleo-L152RE
- Programmer firmware version: I do not know I am using the one which is on the board
- Operating system and

[2020-06-19 12:35] vincentdupaquis commented on #991
attempting the same with an elf fails the same way
restore build/target.elf
gdb$ restore build/target.elf
Restoring section .isr_vector (0x8000000 to 0x80000c0)
Writing to flash memory forbidden in this context

[2020-06-19 13:16] vincentdupaquis commented on #991
Something weird.
I've tried using **version v1.5.1-patch**
The restore command fails the same, but the "**load build/target.elf**" command works :/

[2020-06-19 22:41] Nightwalker-87 commented on #30
@Vascom with your Fedora system maybe?

[2020-06-19 22:51] Nightwalker-87 commented on #31
We should check whether `ctrl-c` can run `_stlink_usb_close` as well or if this has been addressed in the meanwhile.

[2020-06-19 23:00] Nightwalker-87 commented on #126
Related to #31.

[2020-06-20 02:43] Vascom commented on #30
I think this issue should be closed :)

[2020-06-20 03:45] chenguokai commented on #31
It’s possible with a signal handler. Hooking SIGINT will do the job. As long as the handler will finally exit, it will be portable at least for UNIX(-like) systems.

[2020-06-20 10:25] Nightwalker-87 commented on #30
No, I don't simply close tickets just because they are old. There should be either a verification or another solved ticket that addresses the same issue. Here we have the chance to verify with Fedora (whatever version available) and `v1.3.0-patch` , so we should do it. This is also one reason why the `patch-branches` are still there.

[2020-06-20 10:32] Nightwalker-87 commented on #31
Hmm, i found this 5be889e3feb75fc7f594012c4855b4dc16940050 and this c37975c15730ac582945ea3ed85ac59284979819 in our git commit-history. Anything helpful?
Could this be an old regression from the second commit?

[2020-06-20 22:08] tdjastrzebski commented on #952
@Nightwalker-87 It seems that update to V2.J37.M26 solved the problem. Thanks.

[2020-06-20 22:58] Nightwalker-87 commented on #952
@tdjastrzebski: Oh, that's good news for us. Thx for the feedback!

[2020-06-20 22:58] #952 closed

[2020-06-20 23:01] Nightwalker-87 commented on #30
@Vascom: Could you test anyway?

[2020-06-21 00:55] chenguokai commented on #31
Likely to be. What the first commit did is exactly what I suggested.

[2020-06-21 11:14] Nightwalker-87 commented on #31
Thanks for your feedback. :+1:
This issue is now finally resolved and can be allocated correctly.

[2020-06-21 11:17] #31 closed

[2020-06-21 11:46] Nightwalker-87 commented on #193
@chenguokai: You contributed to "st-flash write is ignoring 0xff at end of file" (Issue 609).
Could this be related to optimisation too?

[2020-06-21 11:51] chenguokai commented on #193
It could be, I will check the binary file if possible.

[2020-06-21 12:41] Nightwalker-87 commented on #193
Yes, that's true - though optimisation may also be applied in other parts than the end.
That's why I came up with this, not to compare it with the 0xff-issue exactly.

[2020-06-21 13:00] kahanchudasama commented on #705
HI,
can you please guide me how can we achive level 2 protection through openocd

[2020-06-21 13:49] Nightwalker-87 commented on #267
The `run` command is indeed still present in the unrevised part of our project tutorial.
Could someone rewrite and verify the gdb-related sections? (some hardware would be preferable to do some testing)

[2020-06-21 14:36] Crest opened #992 "Limit logging output on FreeBSD to something reasonable."
Thank you for giving feedback to the stlink project.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to your specific problem:

- Programmer/board type: [ALL] (e.g Stlink /v1, /v2, /v2-clone, /v2-1)
- Programmer firmware version: [ALL] (e.g STSW-LINK007 2.27.15)
- Operating s

[2020-06-21 16:10] joe-skb7 commented on #705
@kahanchudasama Locking with OpenOCD can be done as shown [here](http://openocd.org/doc/html/Flash-Commands.html) (in `Flash Driver: stm32f1x` section, see `lock` command). Something like this should work (if you use STLinkv2 programmer and your chip is STM32F1xx):

    $ openocd -f interface/stlink-v2.cfg \
              -f target/stm32f1x.cfg \
              -c "init; reset halt; stm32f1x lock 0

[2020-06-21 17:00] Nightwalker-87 commented on #705
As @xor-gate mentioned this is a serious usability problem.
Can somebody propose a PR to finally fix this in the toolset?

[2020-06-21 17:05] #992 closed

[2020-06-21 18:19] Nightwalker-87 commented on #225
@chenguokai: I think this is a duplicate of issue 31. Am I right here?

[2020-06-21 20:10] Vascom commented on #30
I can't test because I have not hardware for it. I am only maintain package.
Anyway old Fedora releases not suppurted and should not be used. All bugs on unsupported releases should be closed and user must try new release.

[2020-06-21 20:22] Nightwalker-87 commented on #30
I understand, so we would need somebody else for this task.

I know, that's why I wrote "whatever version available" ...

[2020-06-21 22:42] Nightwalker-87 commented on #990
@oloftangrot: If you desire such change to our toolset, you should put up a PR with these changes for review.

[2020-06-21 22:44] Nightwalker-87 commented on #991
@vincentdupaquis: ... and what about v1.6.0 ?

[2020-06-22 01:06] chenguokai commented on #225
Not quite sure actually. Could be related but not sure that they are duplicates.

[2020-06-22 19:05] oloftangrot commented on #990
Don't ask me about my desires. It is an issue report. I forgot to mention selecting frequency by the abusing absolute temperature in Kelvin or prefix mili was not an option. I guess that would be on the issue report for st-flash tough.

[2020-06-22 22:00] Nightwalker-87 commented on #990
The point is if you have a fix - why don't you submit it as a proposal instead of opening an issue telling there is a solution?
I don't really understand the rest of your reply, sry.

[2020-06-22 22:24] Hoel opened #994 "Has the -run option been removed?"
I am using st-flash inside an application and I was using -rst -run as last argument in order to run the target right after flashing, yesterday i updated to 1.6.1 due to a client having issues on his macOS with the older version of st-flash i was using (libUSB related). The current version 1.6.1 works perfectly fine except it seems that the option -run has vanished, i can still use --reset, but i

[2020-06-23 03:52] tabemann opened #995 "STM32L476 DISCOVERY: Fails to write with large (e.g. > 64K) file size"
This is a repeat of a previous ticket, except with a larger file size; increasing the timeout fixed the other ticket, but it still is too short for writing the file I tried to write today, which is 96256 bytes in size. I created a new ticket because that other ticket was already closed.

- Programmer/board type: Stlink /v2-1
- Programmer firmware version: L4xx
- Operating system and version: Linux

[2020-06-24 09:29] bootsector commented on #818
I have this very same issue with this STM32F1 clone: https://robotdyn.com/black-pill-apm32f103cb-128kb-flash-20kb-sram-stm32-compatible-arm-cortexr-m3-mcu-mini-board.html

[2020-06-24 09:44] Nightwalker-87 commented on #818
Which version of the tools do you use? Can you give us some information on your environment?
You can have a look what info would be relevant to us at our issue template (--> new issue --> Bug Report), without submitting a new issue of course. Simply copy the filled out form into a new posting here. This would be helpful as this old ticket does not provide any detailed info yet, apart from the erro

[2020-06-24 10:39] bootsector commented on #818
I'm happy to provide as much info as you need. Let me know if you need any further tests!

- Programmer/board type: Cheap ST-LINV V2 clone from AliExpress
- Programmer firmware version: How can I check this?
- Operating system and version: Ubuntu 18.04.4 LTS (64-bit)
- **Stlink tools version** and/or git commit hash: origin/develop commit hash eeb3190444f1bedc2b63de536793b4e2e8c59384
- Stlink comm

[2020-06-24 11:05] Nightwalker-87 commented on #818
As you are under linux, you may use the ST-Link firmware upgrade tool based on Java to read out the current version:
https://www.st.com/en/development-tools/stsw-link007.html

As I could convince myself previously this also works with non-genuine ST programmers and boards.
Also these can safely be updated to the latest available version.
It even works with CKS32F1xxx clone ICs as can be found on s

[2020-06-24 11:09] Nightwalker-87 commented on #995
Can you please also test the latest release (v1.6.1) and the current `develop` branch?

[2020-06-24 11:11] Nightwalker-87 commented on #994
Good question, if so it was not on purpose...
I'd need to check.

[2020-06-24 11:34] bootsector commented on #818
Thanks!

Here's the programmer info:

https://i.imgur.com/H3S5QRL.png

[2020-06-24 11:36] bootsector commented on #818
I've also upgraded to the suggested version and got the same issue. Let me know if you need additional info. Thanks for looking at this!

[2020-06-24 11:41] Nightwalker-87 commented on #818
That's ok, I'd would have done the same. Please give us some time.
I hope that there will be some help and input from the community on this as well.

[2020-06-24 16:36] Hoel commented on #994
OK thanks, this option is quite useful.

[2020-06-24 16:50] Nightwalker-87 commented on #994
Did you use v1.6.0 before?

[2020-06-24 17:44] Hoel commented on #994
i was using an older version, previous to 1.6 i think. And yes of course i am not using the offical ST_link utility, i was using Texane st-flash, which has apparently recently renamed.
The options -rst -run (at the very end of the command line) did work(at least st-flash did not complain about them) maybe they were ignored but the target was indeed resetted and running after flashing, which is not

[2020-06-24 19:04] Nightwalker-87 commented on #994
It must have been without any effect then with the observed and behaviour resulting from another, likely unintended influence.
I can't tell why this was the case by then. Additionally there has been some refactoring and cleanup in the toolset by several contributors in the meanwhile. Of what I am fairly sure by now is, that `-rst` and `-run` never appeared in the st-flash related source code what

[2020-06-24 19:27] Nightwalker-87 commented on #994
There are several reset-related issues which are still open. Please have a look.
They should be all tagged with the label `error/reset` by now.

[2020-06-24 21:08] Nightwalker-87 commented on #275
Final review of this issue:

a) The `--reset` option was introduced to trigger a reset both before and after flashing.
It is not generally required for seamless flash operation.

b) Regarding the inconsistent flash size recognition, the official specification from ST reveals:
* Nucleo-F103R**B** --> 128 kB
* Nucleo-F103R**8** --> 64 kB

65535 Bytes corresponds to 64 kB.

In this context frequent s

[2020-06-24 21:08] #275 closed

[2020-06-24 21:17] Nightwalker-87 commented on #659
@martonmiklos: Have you tested this? Please let us know.

[2020-06-24 21:28] Nightwalker-87 commented on #854
Please test this with Release v1.6.0 and v1.6.1 to allow for investigation.

[2020-06-24 21:41] Nightwalker-87 commented on #873
This is actually a question related to the GNU Debugger (gdb) which is not part of this `stlink` toolset itself.
I'd suggest you to consult the IRC-Support channel of the gdb project with this.
It can be found here: https://www.gnu.org/software/gdb/irc/

As this question is not related to the `stlink` project and adequate advice has been given, this issue will now be closed.

[2020-06-24 21:41] #873 closed

[2020-06-24 22:16] Nightwalker-87 commented on #874
**NOTE: In order to support the evolution and progress of this project we are looking for ACTIVE DEVELOPERS to help with implementing new features and addressing bug reports. If you are reading this and are interested in contributing, please have a look at the issues currently open. Any help is highly appreciated.**

[2020-06-24 22:23] Nightwalker-87 commented on #855
To me this does not seem to be related to flashing a hex file then.
Can we test with later releases than v.1.5.1 ? Is there anybody with the same device?

[2020-06-24 22:28] Nightwalker-87 commented on #875
What is the current state of this?

[2020-06-24 22:31] Nightwalker-87 commented on #835
Please test this with Release v1.6.0 and v1.6.1.

[2020-06-24 22:50] Nightwalker-87 commented on #356
@yeswolf: Any changes with v1.6.1?

[2020-06-24 22:58] Nightwalker-87 commented on #225
I think you are right on that. Nevertheless we need some verification here (preferably with `v1.3.0-patch`).

[2020-06-24 23:06] Nightwalker-87 commented on #687
Can somebody do some testing here with the `v1.5.1-patch` branch?
We don't necessarily require to have the same device though to find out what's wrong here.

[2020-06-25 08:33] Hoel commented on #875
hello,
Regarding this issue i did us a workaround, a base firmware is stored in the application, some chunks are copied and patched when the target is programmed, st-flash is then used to flash these small chunks on the target.
This is not as elegant as it could be but it is fast since the chunks are small and there is no need to read the entire firmware from each target, so for this specific use

[2020-06-25 08:34] Hoel commented on #994
ok i see, these options were just ignored, i will check the existing issues.

[2020-06-25 09:10] Nightwalker-87 commented on #968
I think these conflicts appear more complex than they actually are.
There was some reorganisation of the source code recently to improve its appearance.
From the conflict resolve message I read that you still worked with the previous subfolder structure.
Have a look at the current directory structure in `develop` and introduce your changes based on this state so that respective files are recognise

[2020-06-25 09:11] rutgerhendriks commented on #968
oh boy, I think a lot happened since I forked.. is there a way to merge the changes? :O

[2020-06-25 09:15] Nightwalker-87 commented on #968
I now there was a lot going on recently, but don't bother too much about it - take your time.
I'd propose to rename the files in the mentioned paths, merge-in `develop`.
You can then look at your specific changes again. It should work like this.

[2020-06-25 09:24] Nightwalker-87 commented on #994
Yeah, that would be reasonable. They are even grouped a separate (temporary) milestone.
I hope that we can find a solution for the upcoming release to resolve most of these with an improved routine in the code.
Reset problems clearly are a perennial issue.

[2020-06-25 17:53] fofrejin opened #998 "Are there any plans to support the STM32H7 series?"

[2020-06-25 17:58] nzsmith1 commented on #835
I am going to do my level best, but due to whats going on w/ COVID I am away from the office until September and all of my tools are there.  Feel free to close and I can reopen in September if its still an issue.

[2020-06-25 18:22] Nightwalker-87 commented on #998
Duplicate of #671 and #793.

[2020-06-25 18:28] Nightwalker-87 commented on #835
Hi @nzsmith1. Thx for your reply. That's ok, we'll leave this open anyway until a solution has been found.
Possibly someone else may also show interest in the meanwhile.

[2020-06-25 18:30] Nightwalker-87 commented on #998
As you can see, there are, but nobody stepped up to add this feature yet.

[2020-06-25 23:43] dot4qu commented on #967
Same thing on 1.5.0 :/

[2020-06-25 23:50] Nightwalker-87 commented on #967
Ok, thx for testing, so it likely is not a regression.

[2020-06-26 00:00] Nightwalker-87 commented on #30
Are there any other fedora users that can help to verify this with real hardware?

[2020-06-26 19:34] ForsakenHarmony commented on #607
Still running into this, board: STM32L476RG Nucleo

[code]

[code]

Tried using the `develop` branch directly, same error

[2020-06-26 21:44] Nightwalker-87 commented on #607
@ForsakenHarmony: Thx for reporting.
Indeed this is not a recycling of an old topic as this issue was attached to the wrong PR.

[2020-06-27 02:26] tabemann commented on #995
I just tried with the latest `develop` branch (which was nearly identical to the `develop` branch in the state I tested it with) and got the same result.

[2020-06-27 08:29] Nightwalker-87 commented on #995
Thanks for the feedback.
I suppose we need an option in the code to allow for additional flash sizes as there appear to be several hardware variants.
Against the current workload with maintenance of this project I can't promise that I find time to look at this though...

[2020-06-27 08:34] Nightwalker-87 commented on #994
As there is no correlation between the reported previous behaviour and the mentioned option, this issue is now solved.

[2020-06-27 08:34] #994 closed

[2020-06-27 08:41] Nightwalker-87 commented on #990
@chenguokai @slyshykO: What shall we do with this? Should the documentation be improved?
I know that sometimes it does make sense to lower the clock speed (e.g. if the connection wire is of poor quality or very long).
However this is no general circumstance to be preset by a programming tool...

[2020-06-27 12:03] Nightwalker-87 opened #1000 "PROJECT NEWS & UPDATES"
This issue is solely dedicated for current project activities and project updates of general interest.

[2020-06-27 12:04] Nightwalker-87 commented on #1000
**List of maintainers for distribution repositories:**

- macOS (MacPorts): **chenguokai**
- Debian: **bluca**
- Ubuntu: **bluca**
- Fedora: **Vascom**
- EPEL (CentOS/RHEL): **Vascom**
- openSUSE: _(TBD)_ --> _Volunteers are welcome._
- Arch Linux: _(TBD)_ --> _Volunteers are welcome._

[2020-06-27 12:04] Nightwalker-87 commented on #1000
**NOTE: In order to support the evolution and progress of this project we are looking for ACTIVE DEVELOPERS to help with implementing new features and addressing bug reports. If you are reading this and are interested in contributing, please have a look at the issues currently open. Any help is highly appreciated.**

[2020-06-27 12:08] Nightwalker-87 commented on #1000
**General Project Chronology:**
15.03.2020 - Review of old issues completed
24.03.2020 - Reviewed and updated missing features
27.04.2020 - Added Contribution Guidelines

[2020-06-27 12:15] Nightwalker-87 commented on #874
Content moved to #1000 which finally closes this issue.

[2020-06-27 12:15] #874 closed

[2020-06-27 13:01] chenguokai commented on #990
I would suggest adding a documentation for this.

BTW if I got it right, the default clock has become adjustable in v1.6.1.

[2020-06-27 14:26] Nightwalker-87 commented on #990
Well there actually IS some documentation already, since your contribution in #985 .
The point of @oloftangrot seems to be that he expected it to be present in `st-info`.
I don't really understand why that should be necessary for this specific tool.

[2020-06-27 16:11] tabemann commented on #995
In `./src/stlink-lib/flash_loader.c` I changed `WAIT_ROUNDS` to `#define WAIT_ROUNDS 1000` and now it works.

[2020-06-27 21:14] Nightwalker-87 commented on #995
Uh wait - we need to evaluate that. :eyes:
This #define was reduced to 30 recently (#987) to fix a regression.
We need to ensure that all boards work with this setting.

[2020-06-27 23:39] Nightwalker-87 commented on #904
@gezedo: Thx for opening a draft PR related to this.

[2020-06-28 00:03] Nightwalker-87 commented on #875
This could be helpful indeed.
Can you submit a PR so we can have a look at the implementation?

[2020-06-28 09:36] Nightwalker-87 commented on #995
@geoffreymbrown: What do you think about this?

[2020-06-28 09:42] Nightwalker-87 commented on #671
@beefree2008: I noticed you have opened a separate branch for this. Are you planning to contribute?

[2020-06-28 11:05] geoffreymbrown commented on #995
I'm not sure about there being a reduction -- the change I made did
decrease the outer loop to 30, but it also increased the wait time in the
inner loop so it wasn't banging on the usb connection as frequently.    The
total wait time went up.    The only issue I see is that I don't have a
good understanding of the actual physical requirements.   Increasing the
overall wait time shouldn't affect th

[2020-06-28 14:28] Nightwalker-87 commented on #982
Commits e506d339b9580f0e1eeddd7a02b8306f3093fc12 and 3f20a25cc0330b3a3e8093a93bba99d91227bbed do adress this issue.
Executing `sudo make install`should copy the full set of headers for the library to `/usr/include`.
I still need to check the header path for building with `make` (without installing).
Please check if this helps.

[2020-06-28 16:37] Nightwalker-87 commented on #982
@Crest I have checked the debian package as well, and can confirm that there are missing header files, namely:

[code]

Also the debian package `libstlink-dev` should install `stlink.h` and `stm32.h` to

[code]

which is not the case currently.

[2020-06-28 22:16] Nightwalker-87 commented on #982
I have submitted a patch https://github.com/bluca/stlink/pull/1 for the deb package as well.

[2020-06-28 23:03] Nightwalker-87 commented on #831
ping @alexonea

[2020-06-28 23:09] ForsakenHarmony commented on #607
Just a note, not sure if it helps with anything

I can flash it fine with `openocd`

[2020-06-28 23:11] Nightwalker-87 commented on #264
Can somebody with a STM32F4 try to reproduce this with our` v1.3.0-patch` branch?

[2020-06-28 23:20] Nightwalker-87 commented on #607
Yeah, well I think that doesn't really help, as we can't do a sort of copy paste here (licensing).
We would need to find the reason in the implementation of our toolset. :neutral_face:

[2020-06-29 07:31] alexonea commented on #831
I don't have the (hardware) resources to test at the moment. I will try in a few days time. If waiting is no longer an option, the issue can be closed and re-opened in case the problem is rediscovered during testing.

[2020-06-29 12:33] Nightwalker-87 commented on #831
That should be fine, thx.

[2020-06-29 12:50] grevaillot commented on #903
grmpf, i need to finish back on that one, been busy recently and nothing rebases anymore :(

[2020-06-29 15:07] Nightwalker-87 commented on #903
Hi there. No problem.
After Release v1.6.1 the transition to the new subfolder structure was finalised.
This is likely the reason why there are some minor issues.
I suggest to re-fork from `develop`.

[2020-06-29 18:56] oloftangrot commented on #990
Added diff for my fix.

diff --git a/src/st-info/info.c b/src/st-info/info.c
index 1bc48a0..12bab28 100644
--- a/src/st-info/info.c
+++ b/src/st-info/info.c
@@ -5,16 +5,21 @@

 #include <stlink.h>

+const char * knownFreqs ="5k 15k 25k 50k 100k 125k 240k 480k 950k 1200k 1.2M 1800k 1.8M 4000k 4M";
+unsigned int myFrequencyInkHz = 100u; // Default clock speed.
+
 static void usage(void) {
     puts(

[2020-06-30 09:42] martonmiklos commented on #659
I do not use the openOCD anymore, and I no longer have that STM32F103C8T8 based gear where this issue happened. I am closing this issue, in the case someone ran into this could be reopened and investigated again.

[2020-06-30 10:40] Nightwalker-87 commented on #659
@martonmiklos: Please don't close tickets and leave this task to project maintenance.
This may prevent others from dealing with this and interferes with general ticket handling.
It's ok though, if you don't want to be involved in this issue any more.
We can take that into account and you can unsubscribe from this issue to avoid be notified on updates any longer.

[2020-06-30 11:23] sidju opened #1002 "STM32F215: SP as LF and LF as SP"
- Programmer/board type: Stlink v2
- Programmer firmware version: V2J25S4
- Operating system and version: Arch Linux, updated yesterday
- **Stlink tools version** and/or git commit hash: Master release at 11/6 ( https://www.archlinux.org/packages/community/x86_64/stlink/ )
- Stlink commandline tool name: st-util
- Target chip (and board if applicable): STM32F215

**Problem:**
- When using gdb the

[2020-06-30 19:26] Nightwalker-87 commented on #1002
As you are under linux, you may use the ST-Link firmware upgrade tool based on Java to read out the current version:
https://www.st.com/en/development-tools/stsw-link007.html

As I could convince myself previously this also works with non-genuine ST programmers and boards.
Also these can safely be updated to the latest available version.
It even works with CKS32F1xxx clone ICs as can be found on s

[2020-06-30 21:39] alexonea commented on #831
I checked with release `v1.6.0` of st-util and the same firmware version of the STLinkv2. No issues detected. Seems fine.

[2020-07-01 06:49] issmo commented on #607
I was facing the exact same issue with a STM32F030f4 chip. However, I was able to program the chip every other time, which was a bit painful. After some investigation, it appears that the programmer is not able to halt the microcontroller.
What worked for me is to reset the chip in order to program it successfuly every time using the --reset switch:
st-flash --reset write firmware.bin 0x8000000
I

[2020-07-01 07:38] sidju commented on #1002
Added programmer firmware version.

[2020-07-01 15:31] sidju commented on #1002
I have now tested some more and found some other issues, such as breakpoints not working. Do you want them here or separately?
( I am currently refraining from upgrading my st-link, to be able to reproduce the errors. )

[2020-07-01 17:07] Nightwalker-87 commented on #831
Great, so this problem seems to be resolved. Thanks for reporting and for the feedback! :+1:

[2020-07-01 17:21] Nightwalker-87 commented on #607
I actually think this may be related to the other unsolved "reset"-Problems we have seen so far.
It looks like we can not ensure proper handling yet to correctly halt/reset the MCUs and make that _really_ reproducible.
I'm not really satisfied with the current state. This is should be one of the main points to address in the next release.
However we should look at the oldest issue related to impro

[2020-07-01 17:30] Nightwalker-87 commented on #1002
It depends - do you think it could be related? If so you may extend this ticket of course, else a new ticket would be appropriate.
Acutally you can update the firmware. Should this have any positive effect (for whatever reason) we will not look at this any further, because we don't maintain nor offer support for the programmer firmware. Of interest are only problems related to our `stlink` toolset

[2020-07-01 17:31] Nightwalker-87 commented on #831
I'll close this issue as soon as it is correctly referenced in our bug-tracking system.

[2020-07-01 20:43] thatch opened #1003 "st-flash --debug formatting problem"
When building from master, I get messages formatted like this from `stlink_print_data`:

Commandline-Output:

[code]

I believe this is due to `DLOG` outputting the timestamp on each call; this should probably prepare a buffer and call `DLOG` once.  I'll try to get to this.

[2020-07-01 21:47] Nightwalker-87 commented on #1003
Invalid ticket opening. Please fix via #905 or ticket will be deleted.

[2020-07-02 17:23] thatch commented on #1003
I don't understand what 905 has to do with this. If I wasn't clear, the multiple timestamps on the same line is what I was noticing, not the received bytes.

[2020-07-02 17:31] Nightwalker-87 commented on #1003
Sry, there was a typo on the numbering, which has now been corrected - it should make sense now.

[2020-07-04 22:15] #831 closed

[2020-07-05 13:52] Nightwalker-87 commented on #382
What is the current state of this?
@grevaillot: Can you tell us more about DMA register cleaning on the F4 and the relation to the `--reset` command?
Do you have any recommendations when reviewing the related code section(s)?

[2020-07-05 14:23] Nightwalker-87 commented on #597
This should be tested again with the `v1.5.0-patch` branch.

[2020-07-05 14:26] Nightwalker-87 commented on #233
Does this still occur on the `v1.3.0-patch` branch?

[2020-07-05 14:28] Nightwalker-87 commented on #807
This wants verification with Release v1.6.0 and at least comparable hardware.

[2020-07-05 14:45] Nightwalker-87 commented on #658
Can someone run a similar test script with `st-util` and `gdb` on our `v1.3.1-patch`, `v1.4.0-patch` and `1.5.0-patch` branches in order to compare? It would be helpful to know, if we were facing a regression here. Also one should be able to rule out any influence on even later versions.

[2020-07-05 14:47] Nightwalker-87 commented on #769
Related to #903.

[2020-07-05 14:50] Nightwalker-87 commented on #661
This should be tested with our `v1.5.1-patch` branch. Please report if the problem persists.

[2020-07-05 16:01] Nightwalker-87 commented on #556
Is this reproducible with a STM32F072 or any similar MCU in a comparable environment?
Tests should occur on the `v1.3.1-patch` branch at first.

[2020-07-05 16:16] Nightwalker-87 commented on #352
Is there any feedback on this from older versions of the toolset?

[2020-07-05 16:43] Nightwalker-87 commented on #266
Does the proposed fix by @fishpepper resolve this issue in general?

[2020-07-05 23:04] Nightwalker-87 commented on #923
@lulle2007200: Any update on this?

[2020-07-05 23:11] Nightwalker-87 commented on #801
@YcSmile: I'll check the state from the commit you cited previously. It is likely that this parameter has been changed several times since then. May I ask you to test some later versions, as soon as we gain some idea on more recent changes in the code related to this pre-set delay?

[2020-07-05 23:15] Nightwalker-87 commented on #332
This should indeed see some testing. I propose to start with the `v1.3.0-patch` branch.

[2020-07-05 23:21] Nightwalker-87 commented on #1003
Closing this due to lack of response by the original issuer.

[2020-07-05 23:21] #1003 closed

[2020-07-06 20:48] lulle2007200 commented on #923
I kind of forgot about this, life got in the way.
st-flash fails to erase and flash the provided hex file.
I multiple files of different sizes, doesn't work with any of them. Note that flashing those with the official ST-Link Utility works perfectly fine.
I have attached a log of the st-flash output and the values of the general purpose registers and STM32_FLASH_SR, both, before and after the flas

[2020-07-08 02:19] ndusek opened #1005 "[feature] Support for STM32L5 / STM32L562E-DK board: read_debug32 returns only 0"
- Programmer/board type: STM32L562E-DK development board
- Programmer firmware version:
  - Board firmware: 1.0.1
  - STLink version: 3
  - JTAG version: 5
- Operating system and version: Linux 5.6.0
- **Stlink tools version** and/or git commit hash: git hash commit be0157f63329ee48f272fd1a49e709a5ddb6183b
- Stlink commandline tool name: test-usb
- Target chip (and board if applicable): STM32L5

W

[2020-07-08 19:55] Nightwalker-87 commented on #1005
This board (L5 series) is not yet supported.

[2020-07-08 19:59] Nightwalker-87 commented on #923
Now we are looking for a skilled developer who his somehow familiar with the L4 series to have the chance for a fix.

[2020-07-09 01:53] cpackham opened #1006 "[regression] stlink-gui installation issue on Ubuntu-18.04"
I see that PR #1004 has tried to address an issue of where `stlink-gui.ui` ends up getting installed. For me (on Ubuntu 18.04) this still appears to get it wrong.

If I build with
[code]
`stlink-gui.ui` ends up in `/usr/local/share/stlink/` which is where I'd expect

If I build with
[code]

`stlink-gui.ui` ends up in `/usr/share/stlink/` (again as expected)

In either case the `stlink-gui` program

[2020-07-09 03:52] ndusek commented on #1005
Thanks for the quick reply. We'll pull down the #999 feature set and see if that solves our problems. Looking forward to getting support for the L5 boards merged.

[2020-07-09 07:17] chenguokai commented on #556
Since the flashing fails randomly and occurs on a RPI2, where undervolt occurs from time to time when it is connected with peripherals or running at a heavy load, I would suggest check the volt of the ST MCU.

[2020-07-09 09:19] Ant-ON commented on #1005
This board use Stlink-v3, but v3 protocol don't fully (with bugs) implemented. See #820 feature

[2020-07-09 12:11] sidju commented on #1002
Updating the firmware definitely changes the issue. However I cannot tell what is what now, so I don't know how to proceed. I'll just use openocd instead and let someone with more of a clue and more normal hardware debug this.

[2020-07-09 21:01] Nightwalker-87 commented on #1006
Thx for reporting, I'll check ASAP.

[2020-07-09 21:16] Nightwalker-87 commented on #1002
@sidju: This ticket is NOT solved.
Closing of tickets in this project is done either by administrators or by automated ticket maintenance and not by anyone else.
Please unsubscribe from this issue instead.

[2020-07-11 04:45] swiftgeek commented on #659
Same issue but only with very particular unit of the STM32F103C8T8

[2020-07-13 19:05] stappersg opened #1007 "Known good `st-info --probe`"
- [x] Programmer/board type: Stlink/v3mini
- [x] Programmer firmware version: dont know, might be the problem
- [x] Operating system: Linux, Debian bullseye
- [x] Stlink tools version: 1.6.1+ds-2,  2020-06-21
- [x] Stlink commandline tool name: `st-info`
- [x] Target chip (and optional board):  STM32L072,  PX-HERO,  https://www.crowdsupply.com/piconomix/px-her0-board/

Commandline-Output:

[code]

[2020-07-13 19:09] stappersg commented on #1007
Additional information from the issue reporter:
* With or without the target board, I get the same output from `st-info --probe`.
* When target board connected to _stlink V3mini_ does a `st-info --probe` reset the board.

[2020-07-13 22:38] lentychang commented on #1006
@Nightwalker-87, according to @cpackham

I change stlink/src/stlink-gui/CMakelist.txt line 37,38 into the following and it worked.
`set_target_property` requires absolute path and `CMAKE_INSTALL_DATAROOTDIR` has stripped `CMAKE_INSTALL_PREFIX` part away.
[code]

[2020-07-14 16:47] stappersg commented on #1007
My research show that updating the firmware of my STLINK is an option.
It is also what https://github.com/stlink-org/stlink/issues/716#issuecomment-605114001 says.

Time will tell who was here first on reporting a known good of `st-info --probe`  ...   :smiley:

[2020-07-14 19:27] cstratton commented on #868
Most of these do not have a functioning hardware reset output.  Wherever the pin on the connector is mired to on the MCU, it is *not* where the ripped off firmware thinks it is.

As a result, anything needing an actual hardware reset will not work.

[2020-07-15 08:35] rewolff commented on #868
Well.... Because the retry works, the software could automatically retry the operation and simply work. First try crashes the running CPU, try again and it is no longer interfering with operations.
So here a retry would be useful.
On the other hand, st-util has a habit of retrying things when the USB system says: "Your device has disappeared, can't send it any commands". Those retries are bound to

[2020-07-16 01:02] JihedChaibi commented on #568
Same problem here.. with STM32F401RE Nucleo board on Ubuntu 18.04,
It was working perfectly but suddenly I started to get this error :

`$ st-flash write output/$(PROJ_NAME).bin 0x08000000`
`st-flash 1.6.1-69-gbe0157f`
`2020-07-16T02:48:35 WARN common.c: unknown chip id! 0x374b`

[2020-07-17 20:11] Nightwalker-87 commented on #659
@swiftgeek: Thanks for the feedback. I think this is not a satisfiable state and thus should be investigated.

[2020-07-17 20:25] Nightwalker-87 commented on #1006
@cpackham & @lentychang: Thx for reporting. Looks good to me. :+1:
I can reproduce both, the error and the successful fix - it will be pushed upstream soon.

[2020-07-17 21:31] Nightwalker-87 commented on #568
@JihedChaibi: Note the different error code `0x374b` in your warning.
I would need to investigate what exact cause is linked to this ID.

[2020-07-17 21:58] Nightwalker-87 commented on #1007
@stappersg: Does it work now, after updating the firmware?
There is no (one) "known good" really, as the displayed information is MCU dependent.
You can expect that the connected chip is properly detected if the empty fields as well as the `chipid` field are all filled out.
Please also refer to `doc/devices_boards.md` to verify a correct chip detection and compare the read memory sizes with the kn

[2020-07-17 22:58] #1006 closed

[2020-07-18 21:18] Nightwalker-87 commented on #314
Can someone with this or a similar device please test this with branch `v1.3.0-patch` ?

[2020-07-18 21:49] Nightwalker-87 commented on #620
@jcw: Any changes with recent Release v1.6.1 ?

[2020-07-18 21:51] Nightwalker-87 commented on #381
This should be verified with the `v1.3.0-patch` branch and a recent ST-Link V2 firmware.

[2020-07-18 21:59] Nightwalker-87 commented on #808
Are we missing something here?

[2020-07-18 22:09] Nightwalker-87 commented on #724
The GD32F130C8 is not officially supported by this toolset.
However it would indeed be worth to have a look this as a possible feature.
At first there should be further testing to find out more about current incompatibilities with this MCU series.

[2020-07-18 22:14] Nightwalker-87 commented on #616
True.

Has anyone else experienced something similar with the STM32F401RET6U / Nucleo-F401RE?

[2020-07-18 22:24] stappersg commented on #1007
ST-LINK V3MINI updated with en.stsw-link007_V2-37-26.zip from https://www.st.com/content/st_com/en/products/development-tools/software-development-tools/stm32-software-development-tools/stm32-programmers/stsw-link007.html

I see **no** improvement. Thing I didn't noticed before that the LED at USB connector of the STLINKV3MINI goes from red to green after the `st-info --probe`.

This _all new to m

[2020-07-18 22:28] Nightwalker-87 commented on #291
@rewolff: Despite the long timespan: Can you explain the actual issue here? Were you able to resolve it?
Have you tested the `v1.3.0-patch` branch or any later `v1.x.x-patch` branches?

[2020-07-18 22:32] Nightwalker-87 commented on #358
Can somebody please verify this with a STM32F1 Discovery board on the `v1.3.0-patch` branch?

[2020-07-18 22:36] Nightwalker-87 commented on #1007
This could be related to incomplete support of the STLink-v3 programmer series by this toolset as well...

[2020-07-18 22:41] Nightwalker-87 commented on #655
Can someone reproduce this step by step and report back?
I propose to use the `v1.5.0-patch` branch for this.

[2020-07-18 22:44] Nightwalker-87 commented on #627
We should know if the problem still exists on our `v1.5.0-patch` branch. Can somebody contribute?

[2020-07-18 22:48] Nightwalker-87 commented on #841
@FFY00: Something is not correct here. Can you also run `st-info --probe` and post the output here?

[2020-07-18 22:53] Nightwalker-87 commented on #669
The meaning of the output `unknown chip id! 0xe0042000` should be documented, as well as some other error codes.

[2020-07-18 22:56] Nightwalker-87 commented on #237
Who can contribute here?

[2020-07-19 00:05] Nightwalker-87 commented on #493
Closing this as there is no chance for any further investigation.

[2020-07-19 00:05] #493 closed

[2020-07-19 00:12] Nightwalker-87 commented on #930
Has anyone else experienced anything similar?
If able to help, please try to reproduce this with our `v1.5.1-patch` branch and v1.6.1 as well.

[2020-07-19 00:15] Nightwalker-87 commented on #681
@WRansohoff: Any update on this?

[2020-07-19 00:22] Nightwalker-87 commented on #980
@mykmelez: I have no clue what exact changes lead to this observed difference.
We need a volunteer here to investigate who is more familiar with `gdb` and the `gdb-server`.

[2020-07-19 07:44] rewolff commented on #930
Hi Nightwalker,

In open source projects, people's time and effort they put into your project should be valued, no matter how little it is.

Simply reporting bugs is also a contribution that is valuable to the project. Demanding that people fix the bugs they find is not going to work in general. It pisses off the ones who can (me) and it pisses off the ones who cant.

If you as a maintainer decide

[2020-07-19 12:11] Nightwalker-87 commented on #930
Reporting bugs is indeed helpful if people do query the issue database to look if the respective bug has been reported already.
It was never requested in general that bug reporters fix their own bugs, but I people indicate that they can contribute themselves then this suggests that the issue is dealt with. So if there is neither time nor the background to do so, then I would personally don't indic

[2020-07-19 16:02] #968 closed

[2020-07-21 14:28] sansil commented on #681
Hi, i have the same issue with STM32L433RC.
I'm using st-util 1.6.1

[2020-07-21 22:36] MykenDev commented on #607
Have the same issue with stlink 1.6.1
No problems with stlink 1.6.0

Device connected is: L4Rx device

uname -r
5.4.52-1-MANJARO

[2020-07-25 19:16] 10110111 commented on #607
`git bisect` gives me the following result:
[code]
Looks like a bad merge:
[code]
I've double-checked to confirm this finding: `git checkout da68271a` gives a broken build, while `git checkout da68271a^` works fine.

[2020-07-25 21:13] Nightwalker-87 commented on #607
Thx for the feedback. I'll try to find the specific cause within this commit ASAP.

[2020-07-26 09:33] Nightwalker-87 commented on #607
@10110111: I am not able to verify this currently (apart from reviewing changes in the codebase) as I am without any hardware in reach. Can you bisect into the merged-in branch downwards from 5fc02abf33722fbf27996e955b2cc3017368e45a as well? The issue is probably related to a false cmake setting, but yet hard to allocate. However going through that branch would help.

[2020-07-26 09:59] 10110111 commented on #607
Both ce6ffe70303cc75b663b91b0f2905821f3235a17 and 5fc02abf33722fbf27996e955b2cc3017368e45a (the borders of the range of commits in #955) by themselves are good. So nothing to bisect there.

There might be an invisible (to git) conflict that appeared while merging. The difference between last good and first bad commits (i.e. between the merge commit and its parent) is quite large:
[code]

[2020-07-26 10:41] 10110111 commented on #607
Oh, actually, the commit right before all the merged commits, f8ef21cd130c2ad6460c375747be5987112c4703, is already bad. Bisection between v1.6.0 and it gives the following (with a caveat):
[code]
The caveat is that 442ade88ddce1fc8ce4d36c856b57c24ee76aa12, which I marked as "bad" while bisecting, has is only 50% chance of failure, with a curious pattern of alternation of "jolly good!" and this err

[2020-07-26 10:54] Nightwalker-87 commented on #607
That does make more sense to me as this is a flashloader-related change. Let me check.

[2020-07-26 11:02] Nightwalker-87 commented on #607
I can remember there was quite some trouble with the branch merged in a98b0946cfb8d2070fa29576cf5b5009f46fd614. As it failed to keep track of changes in the develop branch at that time. So there were some attempts to fix that before merging. Well possible that the reported issue was accidentally introduced in this context. Thus we should focus on this branch before looking anywhere else.

[2020-07-27 07:37] tdjastrzebski opened #1008 "NUCLEO-767ZI (STM32F767ZI) unsupported?"
Trying to debug NUCLEO-767ZI (STM32F767ZI) board I get the following error:

[code]

Does the above mean this board is unsupported?
Environment: Windows 10, VSCode, Corex-Debug, STLink 1.6.1, the latest board firmware V2.J37.M26
Interesting, STLink 6.1.0 was able to write flash while STLink 1.6.1 fails to connect (`WARN common.c: unknown chip id! 0x1a`)
According to [this list](https://github.com/

[2020-07-28 20:40] tdjastrzebski commented on #1008
More logs.
[code]
[code]
[code]

[2020-07-28 20:51] tdjastrzebski commented on #1008
**UPDATE**: I am unable to flash any Nucleo board using version **1.6.1** while version **1.6.0** works just fine.
Is it possible I screwed up the build? But build is so simple that it is nearly impossible to break anything.
One thing I did differently: I used cmake which comes with VS Studio but I do not see how this could cause a problem.

[2020-07-28 21:03] tdjastrzebski opened #1009 "Unable to flash any Nucleo board"
I am unable to flash any Nucleo board using version 1.6.1 or the current dev version while the same time version 1.6.0 works just fine.
Is it possible I screwed up the build? But build is so simple that it is nearly impossible to break anything.
The only thing I did differently: I used cmake which comes with VS Studio but I do not see how this could cause a problem. Version 1.6.0 built the same wa

[2020-07-29 23:40] Nightwalker-87 commented on #1009
We need to find the last good state.

`libusb: info [cache_config_descriptors] could not access configuration descriptor 1 (dummy) for 'USB\VID_045E&PID_07C6\000001000000': [31] A device attached to the system is not functioning.`

This may be related to the external libusb library used by this toolset. It has been updated to 1.0.23 in v1.6.1.
Please check if commit d3ad0c90343d96b8922996d2d951d8a

[2020-07-30 19:12] tdjastrzebski commented on #1009
I believe the problem is actually caused by some Windows 10 protection mechanism.
For the first time everything works very nice, fast and smoothly. Both flashing and debug.
Once the board is disconnected and connected again, the problems start. And it is not only StLink. OpenOCD has similar issues like unknown chip id, usb timeouts, eventually gdb server fails to start at all. Computer restart or

[2020-07-31 14:27] p-rodrigues opened #1010 "STM32L051C8: Can't flash on command-line, can flash using GUI"
Hi,

I've looked in other issues and could not find anything equal to this:

Compiled from source-code and I can upload the code through stlink-gui. When uploading with stlink-gui the code appears to work perfectly fine on the hardware.

However, when using st-flash I get the following error:
$st-flash --opt --freq=4m write file.hex 0x8000000
st-flash 1.6.1-86-gf162a5d
2020-07-31T15:23:16 INFO com

[2020-07-31 19:41] stappersg commented on #1010
On Fri, Jul 31, 2020 at 07:27:46AM -0700, p-rodrigues wrote:

Here someone who is new to st-link,  I'm with st-link since #1007 `;-)`

I do read the issue as

  How to translate a succesfull stlink-gui action
  into stlink command line action?

I don't know, but I want to say

Cheers
Stappers

[2020-07-31 20:03] stappersg commented on #1007
With `stlink-gui`
* Chip:  unknown device
* Core:  0xbc11477
* Flash size: 0 kB
* RAM size: 0 kB

Clicking on `connect` gets LED near USB connector from red to green.
Doing a _read_ seems succesfull, but I get an empty file.

Other thing I did at my side is ordering another STLINK V3MINI, this time with adaptor to 2.54mm header plus Dupont cables. When it arrives is the plan to test it an known go

[2020-07-31 20:06] Nightwalker-87 commented on #1007
STLINK V3MINI is not officially or fully supported by this toolset.
Please consider this.

[2020-07-31 20:14] lapers commented on #681
Try to erase flash of your MCU
Use this article: https://electronics.stackexchange.com/questions/204996/stm32-st-link-cannot-connect-to-mcu-after-successful-programming

Maybe you forgot to mark SWD /JTAG pins at STM32Cube

[2020-07-31 20:41] Nightwalker-87 commented on #1000
**NOTE: Against the background of vanishing community interest in active development is currently halted.
To make best use of limited time resources, I need to limit myself to maintenance tasks until further notice.**

[2020-07-31 21:06] p-rodrigues commented on #1010
I cannot say you are wrong :). It's just that I do not know what else to do.

[2020-07-31 21:10] Nightwalker-87 commented on #1008
@tdjastrzebski: Please provide information on the used programmer.

[2020-07-31 21:47] heliochronix opened #1011 "STM32F091RC: GDB breakpoints do not break at appropriate location"
- Programmer/board type: NUCLEO-F091RC [stlink-v2-1]
- Programmer firmware version: V2J37M26
- Operating system and version: Linux
- **Stlink tools version**: v1.6.1
- Stlink commandline tool name: st-util
- Target chip (and board if applicable): STM32F091RC

Description:
When attempting to break at a particular point in the code, it seems a GDB session will instead break at a completely different

[2020-08-05 02:57] simbazor commented on #1011
Hi,
I had a similar problem after installing version 1.6.1 from the deb package provided here, on a Debian 10 system.
Using a nucleo board to program another board with a STM32L475 processor, after setting up a break point, it would either stop in another place or wouldn't brake at all.
Reverting to version 1.5.1 from Debian repositories solved the problem.

[2020-08-05 05:48] stappersg commented on #1011
On Tue, Aug 04, 2020 at 07:58:08PM -0700, simbazor wrote:

Please `git bisect` it

[2020-08-05 07:13] JelmerT opened #1012 "ST-Link V2 clone: "unknown chip id! 0x3748" after FW update to V2J37S7"
- Programmer/board type: [v2-clone]
- Programmer firmware version: [V2J37S7]
- Operating system and version: [macOS]
- **Stlink tools version** and/or git commit hash: [1.6.1] (homebrew version)
- Stlink commandline tool name: [All]
- Target chip (and board if applicable): [none]

Commandline-Output:

[code]

Possible duplicate of #956

V2 clone was working just fine, noticed it was on older firmw

[2020-08-05 11:02] yeswolf commented on #356
@Nightwalker-87 Will test after 23th of August.

[2020-08-05 15:16] RamiRosenbaum opened #1013 "Load ELF erases flash sector to 0x00 instead of 0xFF"
- Programmer/board type: Stlink /v1, /v2, /v2-clone, /v2-1)
- Programmer firmware version: ST-LINK SN : 066CFF495351885087234214, V2.J37.M26
- Operating system and version: Linux
- Stlink tools version: tag v1.6.0, built locally
- Stlink commandline tool name: st-util
- Target chip (and board if applicable): STM32L476VGT6

[code]

**Expected/description:**
I'm debugging a simple application via _a

[2020-08-09 09:34] xor-gate commented on #1000
Dear @Nightwalker-87 as you are the most active maintainer of the project why was the issue tracker disabled? I got a private mail on my personal domain about a concern of the issue tracker not available. You should not disable the issue tracker unless there is a serious reason for it. Then also the landing page README.md must be updated. Thanks in advanced. So I re-enabled it again.

Please let m

[2020-08-09 10:58] Nightwalker-87 commented on #1000
@xor-gate: I did disable it temporary as we are seeing more and more ticket duplicates and some users who don't seem to follow any guidelines we set. However I did truly forget to add a note to our readme on this.

Leaving this unaddressed will likely result in the state we found when I started to maintain this project sooner than later.

I have also written to GitHub if there is the possibility t

[2020-08-09 11:01] xor-gate commented on #1000
Endless stream of issues which are duplicate is unavoidable except for placing a notice in the issue template tickets should be searched. Best would be to leave the issue tracker open, close the ticket and mention the duplicate id.

[2020-08-09 11:11] Nightwalker-87 commented on #1000
In fact we already have such note in our pinned README on opening of new issues. Also I'm not talking about one or another duplicate, which can happen sometime - no question. That's why I say it appears to be annoying and refers to the second part:

I already prohibited recycling of solved issues which is an improvement for maintenance, but that does not help at this point.

[2020-08-09 11:18] xor-gate commented on #1000
You are unable to enforce given guidelines as the issue tracker is straightforward to use and configure, as you know it is a job to keep the issue tracker tidy. Probably leave tickets untagged which are unprocessed, tickets which are processed are tagged and can be filtered per tag. When the ticket doesn't match the criteria it should be closed without any notice.

[2020-08-09 11:35] Nightwalker-87 commented on #1000
I have created a new milestone "Unreviewed issues" and will preset our issue-templates to it. Any other issues that override this or don't use the templates will NOT be processed at all. Together with updating the mentioned README anything else will be deleted, as closing would result in additional handling to avoid recycling and also stacking up another needed milestone collecting declined issues

[2020-08-09 11:45] xor-gate commented on #1000
I agree, good work.

[2020-08-09 13:24] stappersg commented on #356
OK,  enjoy your vacation.
Please do the testing, it will help to reduce the amount of open issues of this cool project.

Besides @yeswolf  also high-lighting @Almaz1c and @vladiks .
See #1000 for other requests how to support this project.

[2020-08-09 13:37] Nightwalker-87 commented on #1005
Correct, referring to user feedback, both are currently the _main_ tasks that need to be addressed on the feature-request side.

[2020-08-09 13:42] Nightwalker-87 commented on #982
Related to #1006.

[2020-08-09 13:51] Nightwalker-87 commented on #982
Should have been addressed in 31b1fa16201521e2aaf464576f2f169981abede0.
@Crest Can you confirm?

[2020-08-09 13:59] Nightwalker-87 commented on #1012
@JelmerT: Have you tried to overwrite the firmware on the programmer again?

[2020-08-09 14:08] stappersg opened #1014 "[maintenance] Tag "considered a duplicate so closed""
The tag "considered a duplicate so closed" is for  quickly closing issues that a considered duplicated.

It purpose is two sided:
* Developers close issues without wasting energy on explaining it is a duplicate
* Users spent energy on adding information on issue and so helping closing issues

The template of new issue has
- [ ] I made serious effort to avoid creating duplicate / nearly similar iss

[2020-08-09 14:32] Nightwalker-87 commented on #1014
We have a "duplicate" tag already and it would be preferable to close duplicates along with linked PRs in order to ease changelog referencing afterwards (instead of e.g. searching the history for duplicates). Also we use automated GitHub issue handling to close linked issues that have been solved in PRs without further interaction. Your proposal would open up a parallel and manual handling path. L

[2020-08-09 15:30] stappersg commented on #1014
Yes, supporting

Feel free to add
[code]
to the  issue template.

And please be  _straight_,  _bold_ or even _rude_ in tagging issues `duplicate` and close it without further explaining.

Don't let [Eternal September](https://en.wikipedia.org/wiki/Eternal_September) wear you down.

[2020-08-09 17:44] Nightwalker-87 commented on #1014
@stappersg: Don't worry about this too much, our guidelines and instructions are not just for show. I tend to be very consequent on careless interaction. Thx for the input and support from your side. :+1: Looks like this topic hit a nerve somehow. Taking into account your suggestion, I'll give the issue templates another update soon. Thus I'm closing this maintenance-related feedback issue now.

[2020-08-09 17:44] #1014 closed

[2020-08-10 20:30] RamiRosenbaum commented on #1013
I see you tagged it as `os/linux`:

[2020-08-11 05:36] Ant-ON commented on #1013
The error could be in the gdb server. It fills flash blocks by 0x00 pattern when add.
https://github.com/stlink-org/stlink/blob/0a6fe3a8530c950def7b223527574ecf6798d956/src/st-util/gdb-server.c#L804

It may be fix by
[code]

[2020-08-11 12:01] RamiRosenbaum commented on #1013
I don't like to compare, but the _STM32 ST-LINK Utility_ command-line interface (_ST-LINK_CLI.exe_) has a cool feature: **ske** (Skip Erase Flash), which doesn't modify the sectors it flashes to (except for flashing the ELF data, of course).
Is there an equivalent feature in st-util?

[2020-08-11 13:37] chenguokai commented on #1013
Is there an equivalent feature in st-util?

If I got your ideas right, what you expect is that `stlink` skips erasing (some or all) sectors and flashes data (did you mean `.data` section in ELF or are you referring to generic data (segments)?) extracted from some file (ELF files in this case) directly. It seems to be trivial to implement.

[2020-08-11 14:16] RamiRosenbaum commented on #1013
I'm sorry, but I'm mixing a _feature request_ with a _bug_.
I'm new here, so please advice...

I meant all data to be written to the flash: .text, .rodata, initialization data, etc.
Easiest to describe is looking at the Intel-HEX (s19, etc.) representation of the ELF: it holds only the binary data to be written to the flash.
After flashing, the flash is updated only in the addresses of the iHEX fi

[2020-08-13 19:14] JelmerT commented on #1012
@Nightwalker-87 do you mean re-flashing the st-link clone to `V2J37S7` with the ST upgrade tool? -> Yes tried that a couple times. No difference.

I have not tried downgrading it to an earlier version. Is this possible? (I'm struggling making earlier versions of the tool work on macOS)

[2020-08-14 11:31] simonjwright commented on #381
The `v1.3.0-patch` branch correctly identified my STM32F40 (id `0413`) and STM32F429I (id `0419`) boards, in both cases using the embedded ST-LINK.

[2020-08-14 14:25] Nightwalker-87 commented on #381
@simonjwright: Thx for testing this and providing feedback.
If someone could successfully verify with a STM32f030 we would be able to close this issue as resolved and fixed.

[2020-08-16 01:43] blazczak commented on #1008
I can confirm the same flashing issues as above (`unknown chip id`, `LIBUSB_ERROR_BUSY`) when using stlink 1.6.1 with STM32F767ZI . Downgrading to 1.6.0 allowed me to program the board w/o issues.

@Nightwalker-87 using the embedded ST-LINK/V2-1.

[2020-08-19 19:48] tiger762 opened #1015 "Flashing an stm32f407 fails most of the time"
st-flash --version
v1.6.1-88-g6f36574

Hello, using st-flash to program an stm32f407vet6 "blackboard". What's odd is that at first (about 1 month ago) it programmed reliably. Starting a few days ago, it now programs about 1 out of 20 times. The reset button on the board does nothing (for this issue). Power cycling does nothing. Moving the STLNIKv2 around different USB ports does nothing (why would

[2020-08-19 21:20] tiger762 opened #1016 "Another "stlink_fwrite_flash() == -1" on a STM32F407 "blackboard""
Why was my previous issue deleted? This is a very reproducible issue!

st-flash --version
v1.6.1-88-g6f36574

Hello, using st-flash to program an stm32f407vet6 "blackboard". What's odd is that at first (about 1 month ago) it programmed reliably. Starting a few days ago, it now programs about 1 out of 20 times. The reset button on the board does nothing (for this issue). Power cycling does nothing.

[2020-08-19 21:32] dwinters42 commented on #1012
- Programmer/board type: [v2-clone]
- Programmer firmware version: [V2J36S7] and [V2J37S7]
- Operating system and version: [macOS Catalina]
- Stlink tools version and/or git commit hash: [1.6.1] (homebrew version) + lastest master baab8ca

FWIW, I can reproduce the same behavior as seen by @JelmerT with several bluepill (STM32F103) boards on both 1.6.1 and latest master after a recent firmware upd

[2020-08-19 22:32] Nightwalker-87 commented on #1012
@JelmerT: I don't know if a downgrade is possible. Maybe you can try an older version of the firmware updater?

[2020-08-19 23:06] alexandrefdutra commented on #1012
Same problem here!

$ st-info --probe
Found 1 stlink programmers
 serial:     46310a002c135737334d4e00
 hla-serial: "\x46\x31\x0a\x00\x2c\x13\x57\x37\x33\x4d\x4e\x00"
 flash:      0 (pagesize: 0)
 sram:       0
 chipid:     0x0748

I've done some downgrades but it didn't solve. I can only write once and then I lose the connection with the message unknown chip id! 0x3748!  I don't know what else to

[2020-08-20 18:18] rileylyman commented on #597
I'm having the exact same issue on v1.6.1

[2020-08-21 10:30] gustavolaureano opened #1017 "STM32G070KBT6 / G071KBT6: False chipid reading"
- Programmer/board type: [Stlink V2]
- Operating system and version: [Windows 10]
- **Stlink tools version** and/or git commit hash: [v1.6.1-88-g6f36574]
- Stlink commandline tool name: [st-util / st-info]
- Target chip (and board if applicable): [STM32G070KBT6 / STM32G071KBT6]

Commandline-Output:

st-util
2020-08-21T10:51:22 WARN common.c: unknown chip id! 0x5fa0004

st-info --chipid
0x0004

ST-

[2020-08-25 13:24] denis-shienkov opened #1018 "[st-util.exe]: Released v1.6.1 for Windows recognised as trojan"
I have download the pre-compiled release v1.6.1 for the windows: stlink-1.6.1-i686-w64-mingw32. But the Windows 10 recognised the st-util.exe binary as trojan: "Trojan:Win32/Wacatac.D8!ml"

[2020-08-25 14:53] denis-shienkov opened #1019 "Regression in v1.6.1 against v1.3.0"
The new released v1.6.1 for Windows host always causes the SIGTRAP signal that impossible to use the debugging. But, the old v1.3.0 does works good.

* Toolchain: gcc-arm-none-eabi-9-2020-q2-update-win32
* Target board: STM32F4DISCOVERY
* IDE: QtCreator

The reproduced example here: https://github.com/qbs/qbs/tree/master/examples/baremetal/stm32f4discovery/blueblink

[2020-08-25 21:21] stappersg commented on #1019
Please use the issue template.

[2020-08-25 21:25] stappersg commented on #1018
@denis-shienkov report at the project from the string `Trojan:Win32/Wacatac.D8!ml` that you compiled `st-util` yourself and did not add any _trojan_.

And please use the template issue.

[2020-08-26 06:44] gustavolaureano commented on #1017
I conducted more tests here and found the issue, the problem was the HW connection in between my ST-Link and my custom board with the G070, the default SWD frequency was too high for it and all read data was corrupted (although it was always reading 0x0004 as chipid).

I recompiled the st-info to open the ST-Link with a lower SWD freq (100KHz) and it read the correct chipid (0x0460)

Maybe it coul

[2020-08-26 11:24] gustavolaureano commented on #1017
Ok, now I am reopening this issue because I just confirmed that my HW connection is not the culprit, I connected a J-Link to my custom board using the same adapter and cable that I use with the ST-Link, and it connected to the target (SWD clock @4MHz , checked with an oscilloscope) and acquired RTT messages for more than a hour without a single problem, so it seems that the problem is somewhere in

[2020-08-29 19:09] larsks commented on #1012
I came by to report the same problem, but I found this issue already here. I have an st-link v2 clone, and I upgraded it to the latest firmware while trying to get it working with the arduino ide. Now it reports "chipid: 0x0748", and and flashing operations seem to fail with `unknown chip id!` errors.

I've tried downgrading to 2.32.22, which is the earliest version offered on https://www.st.com/e

[2020-08-30 18:09] dltech commented on #1012
Clones with new firmware does not work at all, but with V12.J21.S4 works well, I downgraded my clone in the Virtualbox. By the way if you are interested in my homemade clone you can find it here https://github.com/dltech/stlinkv2.

[2020-09-02 09:39] jdbruijn commented on #458
I have hardware I can test this with if needed. Unfortunately I don't have time ATM to look into the code and potentially fix it. Would be happy to help test it if there is a branch/commit/patch that can be used to test with. I have an STM32F205RG of which I want to write the option bytes, readout protection (RDP) specifically. I have found that I can write the option bytes from the embedded softw

[2020-09-02 21:10] stappersg commented on #458
On Wed, Sep 02, 2020 at 02:40:18AM -0700, Jeroen de Bruijn wrote:

"git fork" and reproduce the problem ...

[2020-09-04 09:06] lcharpenwi6labs opened #1022 "[feature] STLINK-V3 not recognized"
- Programmer/board type:STLINKV3
- Operating system and version: Linux Mint
- **Stlink tools version** and/or git commit hash: v1.6.1
- Stlink commandline tool name:st-util
- Target chip (and board if applicable): STM32G474RE

Hello.
I am working on a stm32G4.
When enumerating the device as the following properties :

[245890.474255] usb 3-3.4: config 1 interface 2 altsetting 0 endpoint 0x84 has a

[2020-09-04 13:16] lcharpenwi6labs commented on #1022
I found the problem.
I downloaded the dev branch, compiled everything and it works now.

[2020-09-05 16:51] yeswolf commented on #356
So, I've tried 1.6.1 using 2 approaches: a) installed from HomeBrew b) built from source. The result is strange: a) there is no issue with erasing the firmware as it was before b) but I can't launch debugging my firmware, I always have SIGTRAP in `startup_stm32f103xe.s`:

[code]

If I use st-link 1.6.0 dirty (compiled from HEAD being `84f63d25bd77d61f8feccf08dd24d0d11895ef32`), there is no automat

[2020-09-05 18:26] tabemann commented on #995
I pulled code recently (in the last few days) from the develop branch and built it, hoping this issue would have been resolved for the STM32L476, but it still has not been:

[code]

[2020-09-07 01:19] dingyifei opened #1023 "[feature] Unable to load STM32F401CC custom board with STM32"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-09-07 02:22] chenguokai commented on #1023
STLink v3 is not fully supported, I would recommend using v2 or v2.1 for now.

[2020-09-07 06:37] dingyifei commented on #1023
Thank you for your reply, I'll try STlink v2 see if it works.

[2020-09-07 14:49] marcosQuesada opened #1024 "STM32F103C8T6 using St-link v2 doesn't flash on Ubuntu (works properly on windows)"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [X] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-09-07 19:01] Nightwalker-87 commented on #1024
I have the same board and may be able to test in this scenario soon. Please give me some time.

[2020-09-07 23:43] dingyifei commented on #1023
I just test it with V2, F401CC works with the STlink v2.

[2020-09-08 07:43] smake5730 commented on #607
FYI - I am using ubuntu 20 and I got errors with v1.6.1 of stlink flashing an L4 device. I saw someone said that v1.5.0 of stlink would work, but this version would not succesfully make the release folder for me. Due to some Cmake issue that I could not resolve.

But I tried flashing a L4 with the 1.6.0 release of stlink by Texane and it works.

[2020-09-08 14:27] nzsmith1 commented on #835
Hi @Nightwalker-87 - Got back in the office today, 1.6.0 does not work, same as above, however 1.6.1 seems to have resolved the issue!  Do you need any logs or are you good?

Thanks for the work on this project, it is fantastic!

[2020-09-08 15:14] lcharpenwi6labs opened #1025 "[feature] STLINK-V3 support"
- Programmer/board type:Stlink V3
- Operating system and version: Linux
- **Stlink tools version** and/or git commit hash: v1.6.1-93-g5c03678
- Stlink commandline tool name: st-util
- Target chip (and board if applicable): STM32G474RE

Hello
I would like to start debugging with STM32G4 but it doesn't seem to be fully supported at this time.
Here is the command I launch

xterm -e st-util -v99 -p434

[2020-09-08 15:56] vincentdupaquis commented on #991
Just to let you know that 2 months later, after a full re-install of my system, the problem is still there.
Same issue, different project. I can run the "file" command to load a binary, I cannot run the "restore" command to load a binary file.
I even figured-out that I cannot even use "set variable" to program a flash constant, I get the same exact error message.
We tried running into a docker (us

[2020-09-08 15:57] vincentdupaquis commented on #991
I will make a try with version 1.6.0

[2020-09-08 19:41] stappersg commented on #1025
On Tue, Sep 08, 2020 at 08:15:01AM -0700, lcharpenwi6labs wrote:

Somehow I do read

Advice: Get a working chain and swap single links
with yet unknown link.

Summary:   The reported issue has been seen

[2020-09-08 19:45] stappersg commented on #991
On Tue, Sep 08, 2020 at 08:57:04AM -0700, vincentdupaquis wrote:

Interesting,
I didn't knew docker can access hardware as a STlink programmer.

Which docker to use "extra hardware"?

[2020-09-08 20:46] Nightwalker-87 commented on #835
Hi @nzsmith1. Thx for the feedback. Indeed some Logs would be helpful for verification before closing this issue as resolved.

[2020-09-09 07:05] vincentdupaquis commented on #991
Yes, it can you have to set-it up correctly for accessing the usb, as
well as the port used by st-utils for the gdb server port.

Very convinient for running non-regressions using for instance jenkins,
although it needs precise setup.

Vincent.

Le 08/09/2020 à 21:45, Geert Stappers a écrit :

--

*Vincent Dupaquis*
Software security & Cryptography expert
06 24 58 17 05
/Europarc de Pichaury Bâtim

[2020-09-09 12:29] vincentdupaquis commented on #991
The exact same issue appears with version 1.6.0 (same system, Ubuntu 20.04)

[2020-09-09 12:34] vincentdupaquis commented on #991
The exact same issue appears with version 1.5.1 (same system, Ubuntu 20.04)

[2020-09-09 12:35] vincentdupaquis commented on #991
Cannot try with version 1.5.0, it does not compiles (issue with a missing entry point in libusb)

[2020-09-09 18:39] stappersg commented on #835
On Tue, Sep 08, 2020 at 01:46:38PM -0700, nightwalker-87 wrote:

How / where to supply those log files?

[2020-09-09 20:57] arsv opened #1026 "st-util: wrong register values passed to gdb (st-link v2)"
- Programmer/board type: Stlink v2 clone
- Operating system and version: Linux
- Stlink tools git commit hash: 5c03678ab02f0305dae80978952dc96b321a9834
- Stlink commandline tool name: `st-util`
- Target chip: STM32F103CBT6 (Maple Mini clone)

Test code on the target device:

    initial_stack_ptr:
            .word 0x20005000
    interrupt_vectors:
            .word reset_handler + 1
            .

[2020-09-10 19:49] Nightwalker-87 commented on #835
Well just such like the ones he posted above. Nothing more nothing less. We should be absolutely fine with that.

[2020-09-10 20:05] stappersg commented on #991
On Wed, Sep 09, 2020 at 12:05:26AM -0700, vincentdupaquis wrote:

    Which docker command option to use "extra hardware"?

With `docker run --help` is option '--device list" shown.
How to use it?

[2020-09-11 04:52] fivdi commented on #1024
For me, everything works as expected with v1.6.1 on Ubuntu 16.04 with a bluepill:
[code]

[2020-09-11 06:28] vincentdupaquis commented on #991
Everything is here :
https://stackoverflow.com/questions/24225647/docker-a-way-to-give-access-to-a-host-usb-or-serial-device

you just have to use the stlink package from (for instance debian or else).

Le 10/09/2020 à 22:06, Geert Stappers a écrit :

--

*Vincent Dupaquis*
Software security & Cryptography expert
06 24 58 17 05
/Europarc de Pichaury Bâtiment B8 1330 rue Guillibert de la Lauzière
1

[2020-09-12 08:22] Nightwalker-87 commented on #1024
That is actually what I had in mind regarding my bluepill board used on Debian Bullseye...

[2020-09-12 15:54] marcosQuesada commented on #1024
I see... I just can say that i tried from scratch again, with same results (pointing to 0x8000000 and 0x0800000) After that i installed platformio, i been able to flash from there successfully, so no hardware failure is related imho.
 I will be glad to do any test if you need to.

[2020-09-13 06:42] fivdi commented on #1024
What's very unusual about the information in the first post above is that a flash size of 0 bytes is reported:
[code]
The flash size should be reported as 65536 bytes (64 KiB).

The device ID reported is 0x0410 which is correct. The revision ID reported is 0x2000 which is valid. The revision ID reported is a little unusual in my opinion as I would expect an STM32F103C8T6 that was manufactured with

[2020-09-14 16:06] underpickled opened #1028 "NUCLEO-L452RE-P: ST-Link not found"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-09-14 19:15] stappersg commented on #1028
On Mon, Sep 14, 2020 at 04:07:29PM +0000, Dylan Jackson wrote:

Is the USB device visible for MacOS?

If yes:  Tell us how.

Regards
Linux User
Who has `lsusb` and `lsusb -v -s N:M`

[2020-09-14 19:21] underpickled commented on #1028
It is not visible in MacOS that I can see. I looked in the system profiler and the USB devices all are just internal Apple devices as well as the dongle itself (the dongle works with other USB devices so I know that works).

[2020-09-14 19:36] stappersg commented on #1028
On Mon, Sep 14, 2020 at 12:21:30PM -0700, Dylan Jackson wrote:

I'm confused.

Retransmitting my question, in improved form.

 Is the USB device itself visible for MacOS?
 If yes: Tell us how.

Same question translated for other universum   :-)

 Can MacOS see the ST-link dongle?
 If so, what is reported by MacOS?

[2020-09-14 19:48] underpickled commented on #1028
Sorry, the "dongle" I was referring to is the USB-C to USB-A dongle required for the USB-C macbook pros.
I am plugged into the USB port on the Nucleo board, which, as far as I can discern, is supposed to have ST-LINK hardware built in.

[2020-09-14 20:06] stappersg commented on #1028
That is indeed what https://www.st.com/en/evaluation-tools/nucleo-l452re-p.html says.

At https://duckduckgo.com/?q=lsusb+for+macintosh is said that lsusb for
macintosh should be

   brew install lsusb

HTH

[2020-09-14 21:30] underpickled commented on #1028
Thanks @stappersg, I did install `lsusb` as you suggested but unfortunately it still is not showing up.

[2020-09-15 05:27] Nightwalker-87 commented on #1028
@underpickled: Please paste the terminal output of `lsusb -t` below.

[2020-09-15 05:43] underpickled commented on #1028
[code]

[2020-09-15 19:48] stappersg commented on #1028
I think it is a hardware issue.

Fact:  the Operation System doesn't see the USB side of the ST-Link /
       Nucleo board

Things to try:
* Other USB cable
* Other Computer
* Other Nucleo board

[2020-09-15 21:33] Nightwalker-87 commented on #1028
This tool is not part of this project an thus none of our business.
You need to contact the Support of ST Microelectronics for this particular issue.

[2020-09-15 21:37] #1026 closed

[2020-09-15 21:42] Nightwalker-87 commented on #835
@nzsmith1: Can you provide us some final logs so that we can close this issue with some verification for the public?

[2020-09-15 21:45] nzsmith1 commented on #835
Yupp absolutely, it's on my list of things to do, hoping to get to it in the next day or so.

[2020-09-15 22:38] ypearson opened #1029 "[stm32 f429zi]: [undefined symbol: libusb_set_option]"
Can't run st-flash, any insights would be helpful (see below)

- Programmer/board type: Nucleo-F429ZI
- Ubuntu 18.04 LTS
- st-flash 1.6.1
- st-flash reset

$st-flash reset
st-flash 1.6.1
st-flash: symbol lookup error: /usr/lib/libstlink.so.1: undefined symbol: libusb_set_option

[2020-09-15 22:42] ypearson commented on #1029
libusb-1.0-0-dev already installed

_sudo apt-get install libusb-1.0-0-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
libusb-1.0-0-dev is already the newest version (2:1.0.21-2)._

[2020-09-16 13:05] leha2001 opened #1030 "After update my old STM32VL1discovery not flashing microcontroller device"
Hello friends!
I updated my Archlinux system and new version of st-util not working correctly.
My arm-none-eabi-gdb reporting about write flash operation error:
[code]
st-util speaks what detecting chip correctly, but cannot interaction with it:
[code]

I trying to compile various version from git but I finded last working version in commit 6dfb8bafdb95e244271cf232ed2da8dbedbad08c
[code]
But and o

[2020-09-16 13:12] Erol444 commented on #607
I'm using st-flash version v1.6.1-95-gba5c679, with st-link v2. As far as I can tell, every second time it will throw error
[code]
after and every second time it will succeed.

[2020-09-16 16:54] bmbove commented on #607
I was having this problem with an L443. I put an oscope probe on the reset line to try to get an idea of what was going on, and the problem disappeared. Assuming the added capacitance from the probe was helping, I added some debounce hardware (low-pass RC filter) to the reset line and haven't had any issues since.

[2020-09-16 19:18] nzsmith1 commented on #835
Here are the logs from 1.6.1 which shows the bug gone, let me know if there is anything else I can provide.

**OS**
pi@mfg-018:~/stlinknew/stlink/build/Release/bin$ cat /etc/os-release
PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
NAME="Raspbian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http:/

[2020-09-16 19:42] stappersg commented on #1030
That commit did **not change** source code lines.  It did only change `.version` and `ChangeLog.md`.

[2020-09-16 19:47] stappersg commented on #607
On Wed, Sep 16, 2020 at 09:55:19AM -0700, Brian Bove wrote:

Programmers with electronics skills  for the win.

Yes, I have respect for it.

[2020-09-16 20:43] leha2001 commented on #1030
May be... This commit build and working, but it very old. I trying various commits with release tags or comment, many more new cannot build  because of cmake error.
[code]

[2020-09-17 05:33] stappersg commented on #1030
Succes

[2020-09-17 20:24] Nightwalker-87 commented on #835
Thx @nzsmith1. :+1:
However there is still a flash loader run error, but there is an issue (#607) for that already.
Can you encircle more precisely where the fix appeared between v1.6.0 and the v1.6.1?
That would help for documentation purposes (PR linking and fixing the v1.6.1 changelog).

[2020-09-20 12:25] Nightwalker-87 commented on #982
ping @Crest

[2020-09-20 23:06] abasu0713 commented on #607
I too am interested in this issue. We were using v1.3.0 and STLINK V2 until now.. Currently testing to upgrade to STLINK V3 and ST-link utilities v1.6.1.. The st-flash (new version v.1.6.1) works just fine with STLINK V2. But it doesn't with V3. I am to probe. But on running st-flash with a ihex format I get the following errors:
`st-flash 1.6.1
2020-09-20T17:57:51 INFO usb.c: Unable to match requ

[2020-09-21 21:10] Nightwalker-87 commented on #607
This obviously appears to be an evergreen... :cactus: :confused:

[2020-09-23 21:40] jiayihu opened #1038 "Semihosting is not working after 1.5.1 with STM32F429"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-09-24 21:07] SJChannel commented on #568
I'm having a similar problem on Mac OS Catalina using st-flash 1.6.1 from Homebrew on a new fresh-out-of-the-box Nucleo-F746ZG.  Here is the output from "st-flash reset":

[code]

An old st-flash 1.3.0 executable on the same Mac works OK:

[code]

And st-flash 1.5.1 on a Raspberry Pi 4 running Raspian also works OK:

[code]

[2020-09-24 21:20] FFY00 opened #1039 "`.desktop` file is installed to the wrong location"
Hi, the `.desktop` file is being installed to `/usr/share/stlink/applications/stlink-gui.desktop`, which is an invalid location, the correct path should be `/usr/share/applications/stlink-gui.desktop`.

Cheers,
Filipe

[2020-09-24 21:28] stappersg commented on #1039
On Thu, Sep 24, 2020 at 02:20:58PM -0700, Filipe Laíns wrote:

Please assign this issue to me.

[2020-09-25 09:42] gvdhoven opened #1040 "NUCLEO-F767ZI: unknown chip id! 0x5fa0004 + FIX"
Thank you for giving feedback to the stlink project.

- [X] I made serious effort to avoid creating duplicate or nearly similar issue. I have read all other issues describing this error code but no fixes helped in my case.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to fill out each of the following items appropriate to yo

[2020-09-25 09:44] #1040 closed

[2020-09-26 11:34] satfan52 opened #1041 "Cannot use st-flash with coreid: 2ba01477, chipid: 414"
Hello,

I am not a regular user of stlink, so please excuse the naivity of the question.

I have received a prototype board and an stlink-v2 dongle. I need to flash the prototype board with a specific bootloader using st-flash. I am using Ubuntu 18.04.

I have compiled  the nightly build and the development version of stlink without issues hoping that one of the two versions would allow me to do t

[2020-09-26 11:49] Ant-ON commented on #1041
Try to apply the patch:

[code]

[2020-09-26 12:08] satfan52 commented on #1041
Great !!! It worked ! Many Thanks !!!!!!
**" 2020-09-26T14:01:39 INFO common.c: Flash written and verified! jolly good! "**

[2020-09-26 17:33] Nightwalker-87 commented on #1024
@marcosQuesada: You were using an old version of the tools previously (referring to your output). Please try it again with v1.6.1 and compare the result with @fivdi.

[2020-09-26 19:54] stappersg commented on #1040
Pointer to #1039

[2020-09-29 13:33] marcosQuesada commented on #1024
Hi @Nightwalker-87
I just followed your suggestion, and i tested on v1.61, development and master:
- v1.6.1
[code]
- master
[code]
- development
[code]

[2020-09-29 13:37] marcosQuesada commented on #1024
About PlatformIO workaround, It's a plugin for Visual Studio, and uses OpenOCD in the backgrounds to flash, those are the logs during flashing:
[code]
Maybe that warning could help: Warn : STM32 flash size failed, probe inaccurate - assuming 128k flash

[2020-09-29 15:06] Nightwalker-87 commented on #1024
@marcosQuesada: Thx for the update. Indeed it looks as if your MCU comes with 128k flash which is not the standard configuration and thus not detected properly by the tools. What comes to my mind is, that you can try our `--flash=n[k][m]` option (check the tutorial) to override the standard chip memory detection upon flashing to see if it works.

As far as I can remember, the issue that causes thi

[2020-09-29 17:34] marcosQuesada commented on #1024
Flashing using --flash options seems to flash properly, but fails on validation. The bluepill remains the same, so erasing has been succeed , but has not been updated. That's definitely one step in the correct direction :)
Here's the log:
[code]

[2020-09-29 19:27] Nightwalker-87 commented on #1024
Hmm, I wouldn't assess that writing concluded successfully:

[code]
We need some improvement here as well. :confused:
I'd need a STM32F1C8T6 Bluepill (Note: Not to be confused with STM32F1C**B**T6 !) with 128k to look into this.
Mine only has the standard 64k flash.

[2020-09-29 19:38] stappersg commented on #1024
On Tue, Sep 29, 2020 at 12:27:53PM -0700, nightwalker-87 wrote:

What is the "protocol" to send hardware to team members?

(And is it is OK to document that is a separate issue?)

[2020-09-29 23:08] Nightwalker-87 commented on #1024
@stappersg: Eh, we never had the case, and I don't really think it should be common practise, as we don't offer any kind of support for any commercial products. However if anybody feels himself committed to help somebody in a specific issue and arrange sharing of hardware on a personal basis, he / they should be fine with that - but not on behalf of the project.

Targeting your point it could be m

[2020-09-30 16:42] UrbanJacobs opened #1043 "STM32F415RGT6: Flash programming error"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-09-30 21:07] fivdi commented on #1024
Here is what I see on a bluepill that has an STM32F103C8T6 with 128KB of flash.
[code]
The flash size register at location 0x1ffff7e0 contains the value 0x80 which corresponds to 128KB.

What's also of interest is the following text in section stm32f1x on page 100 of the [OpenOCD User’s Guide](http://openocd.org/doc/pdf/openocd.pdf),

[2020-10-01 16:15] marcosQuesada commented on #1024
Thank you @fivdi.
Maybe it's a shot in the dark, but, to make it work under OpenCD (inside platformIO) the first try that i did failed with an error "Wrong idcode":
[code]
Digging around i found that the explanation to that error is: "Your BluePill board contains a CS32F103C8T6 chip, a Chinese clone instead of a real STM32F103C8T6."
And the fix was to force the id code as:
[code]

[2020-10-01 18:42] Nightwalker-87 commented on #1024
Ah, it's **that** old problem again - and the chip is marked as "STM32F103C8T8" instead of "CKS32F103C8T8"?

[2020-10-01 20:54] marcosQuesada commented on #1024
Correct, chip is marked as STM32F103C8T8

[2020-10-01 21:17] Nightwalker-87 commented on #1024
It is really annoying to see that these fake-chips are still on the market.
Looking at this, we can conclude that the toolset itself is not the actual problem in this case.
However your input how to force a chip-ID is very interesting.
We should add that to our documentation to help others along that face this problem as well.

@marcosQuesada Thank you very much for your help.
This ticket will be

[2020-10-01 21:36] marcosQuesada commented on #1024
@Nightwalker-87 Thank you so much for your time and even more for your patience.

[2020-10-02 18:49] #1041 closed

[2020-10-05 10:54] WK-M opened #1045 "STM32F100RBT6: Failed to read core_id and unknown device"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-10-05 20:12] Nightwalker-87 commented on #1045
Thx for reporting. I can verify this with my STM32VL Discovery board that comes with this chip.

[2020-10-05 20:55] stappersg commented on #1007
Reporting _now it works ..._
[code]

I can't tell what did the trick.
Might be related to doing `cargo flash`.  ( Yes,  `cargo` is the [Rust](https://www.rust-lang.org/) _package manager_.)

[2020-10-06 18:48] Nightwalker-87 commented on #1007
@stappersg Did you use a STLINK-V3 as well?

[2020-10-06 20:25] stappersg commented on #1007
On Tue, Oct 06, 2020 at 11:48:40AM -0700, nightwalker-87 wrote:

Yes. (It is the only ST-LINK I have.)

Getting the STLINK-V3 in the right state
is most likely be down by `cargo flash`.

`cargo flash` is based upon https://probe.rs

My plan is to update  the stlink documention
with a known good example.  (To be continued)

[2020-10-06 21:48] Nightwalker-87 commented on #1007
I see. However it would be helpful to understand the change an executed `cargo flash` introduces in reference to this stlink toolset.

[2020-10-08 21:16] phillipjohnston commented on #607
I was playing around with this today on an L4 Nucleo board. I tried both the latest STLink firmware (2.37.26) and the oldest one available on the ST website (2.32.22). Both had the same behavior.

What I noticed that was that the errors were printed to the terminal 100% of the time, even though flashing actually worked about 50% of the time (flashes once, next time fails (red LED present), reset t

[2020-10-09 18:14] Erol444 commented on #607
So after using this tool a couple of hundred times for flashing we have noticed that when mcu is new (unflashed), flashing always succeeds the first time. But if we have already flashed it, tool always fails 1. time and succeeds 2. time.

[2020-10-10 11:40] Nightwalker-87 commented on #835
Ping @nzsmith1

[2020-10-10 16:59] chris1seto opened #1047 "Nucleo STM32F767ZI: WARN common.c: unknown chip id! 0x5fa0004"
- Programmer/board type: [Nucleo Stm32f767 unmodified, right out of the box, tried 2 devices]
- Operating system and version: [Ubuntu 20.04.1 LTS] (e.g Linux, Mac OS X, Windows)
- **Stlink tools version** and/or git commit hash: [e3a2e7bc5c25ef7fbf1b0130efba746f8f24ff45
 fresh clone from git, st-flash 1.6.1-100-ge3a2e7b]
- Stlink commandline tool name: [st-flash --format ihex write file.hex]
- Tar

[2020-10-10 17:15] chris1seto commented on #1047
Oops. Dupe of https://github.com/stlink-org/stlink/issues/1040

Turns out the stlink tool doesn't download firmware from the net, it uses whatever it was bundled with. I was many versions behind!

[2020-10-10 17:45] chris1seto commented on #607
I'm also getting this with an Stm32 NulceoF767ZI:

[code]

[2020-10-10 18:02] chris1seto commented on #607
For what it's worth going to tag v1.6.0 results in a working config on an Stm32F767zi Nucleo with a Raspi4

[2020-10-10 19:09] stappersg opened #1048 "Understand the change an executed `cargo flash` introduces in reference to this stlink toolset."
_Originally posted by @Nightwalker-87 in https://github.com/stlink-org/stlink/issues/1007#issuecomment-704571402_

Right now I see no other way to help with this, then creating a fresh issue for it.

[2020-10-10 19:11] Nightwalker-87 commented on #1047
@chris1seto don't close tickets even if they are a duplicate.
They will be closed automatically, if the related issue has been finally solved.

[2020-10-10 19:44] stappersg commented on #1048
In an attempt to add value.

`cargo` is the build tool for _rust_.    (Something like `maven` for _java_)

`cargo flash` uses source code provided by the project  https://probe.rs

The _stlink_ parts of _probe-rs_ are in https://github.com/probe-rs/probe-rs/tree/master/probe-rs/src/probe/stlink

[2020-10-10 20:50] stappersg commented on #1007
There is now merge request #1049

[2020-10-10 21:23] #1007 closed

[2020-10-10 21:30] Nightwalker-87 commented on #1025
Can we do some final verification with different STLINKv3 programmers to verify that common functionality is present?
If this is the case please post useful results here and let me know about it.
This is one of the main features for the next release and also would help to close a few related issues.

[2020-10-11 09:25] stappersg commented on #1025
Please correct me when I'm wrong
* `git checkout develop`
* `git pull`
* Report the  commit hash,   the first 7 characters will do
* Build
* Report the firmware version  (it is in some file that is on the USB device)
* Report information about  the computer relevant to this test. ( Operating System info, libusb version,  .... )
* `./st-info --probe`
* `./st-flash --read   .....    .....  ....`

P.

[2020-10-11 09:56] gvdhoven commented on #1040
please stop assigning me :)

[2020-10-11 10:18] stappersg commented on #1040
@gvdhoven do know that the first assigning was done after the issue was closed.

In #1007 and #1049 was a simular _assign after close_ done.

@Nightwalker-87  I think it is good thing to add a note to #1000 that assignment after close is done for statistic reasons to easy count whom has closing an issue.

If there are other reasons for assignment please also add it to #1000

@all_of_us
Libre softw

[2020-10-11 11:58] Nightwalker-87 commented on #1040
@gvdhoven: This does not prevent you from unsubscribing from eventual further notifications.
As @stappersg mentioned correctly, this is solely to keep track on contributors to this FOSS software with respect to licensing terms.

[2020-10-11 12:57] Nightwalker-87 commented on #1025
@stappersg: Yes and maybe there are some additional tasks during common use, like writing option bytes, OCD, etc.
Who ever is willing to contribute: Feel free to make up your mind what seems reasonable - the more the better.

I personally can't contribute very much on this topic, as I don't have any access to STLINKv3 hardware (without additional spending) and also no use case for it at the moment

[2020-10-11 13:08] gvdhoven commented on #1040
ah ok, good 👍 happy to help in that case :)

[2020-10-11 20:33] Nightwalker-87 commented on #1000
**NOTE: Within this project the assignment of tickets on closure, as soon as a notable solution has been found, is common practise. This is done for statistical reasons in order to be able to keep track of contributors to this project (licensing).
If you have contributed to this toolset and don't want to receive any further notifications on assigned tickets in the future, you may unsubscribe from

[2020-10-14 01:03] doctek opened #1050 "STM32 STLink 1.6.1-1 won't install"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [ x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and othe

[2020-10-14 07:04] kusumah99 commented on #1012
I'm using mac, it only happen with my STM32H743, not my STM32F4xx using V2J37S7, but downgrading stlink fw not helped.
I solved all problems by:
1. Use DFU Mode (Boot0 = 3.3v)
2. Connect using stlink or USB
3. st-flash or st-info CLI won't work with my chip, so I use STM32CubeIDE (using stlink) and STM32CubeProgrammer (using stlink or USB) they will work.
4. Power up
5. Connect
6. Chip Erase (if S

[2020-10-17 11:51] daylanKifky commented on #1011
Same problem with:

    Programmer/board type: NUCLEO-G031K8 [stlink-v2-1]
    Programmer firmware version: V2J34M25
    Operating system and version: Linux
    Stlink tools version: v1.6.1
    Stlink commandline tool name: st-util
    Target chip (and board if applicable): STM32G031K8T6

Cannot test with lower versions of st-utils because not compatibles with STM32G031xx (or am I wrong? --> #856)

[2020-10-17 20:52] Nightwalker-87 commented on #1050
What is package `st-stlink-udev-rules 1.0.0`? Where does that come from?

[2020-10-17 22:32] doctek commented on #1050
Are you asking me? I hope not, cause I have no idea.

I did solve my immediate problem of needing your stlink package by
building from source following your instructions for Linux. Worked
perfectly and package all runs.

                  -jim

On 10/17/2020 1:52 PM, nightwalker-87 wrote:

--
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2020-10-17 22:47] Nightwalker-87 commented on #1050
@doctek: Good that you found a working solution. However we schould find out if there is a problem with the package.
Was there a previous version installed or any package that derived from the ubuntu/debian-repo?

[2020-10-18 03:28] doctek commented on #1050
I don't recall a previous installation, but I may not be a reliable
witness! I could do apt list --installed and pipe it to a file if you
would like to see it.

On 10/17/2020 3:48 PM, nightwalker-87 wrote:

--
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2020-10-18 11:24] Nightwalker-87 commented on #1050
Yes, that would be great, thx. I recommend to use https://pastebin.com/ for this.
It would be just fine to limit the paste expiration to 1 week - there is no need to preserve it for any longer.

[2020-10-18 21:52] doctek commented on #1050
It's all in here:

https://pastebin.com/xhKzg9iH

On 10/18/2020 4:24 AM, nightwalker-87 wrote:

--
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2020-10-18 23:20] Nightwalker-87 commented on #1050
You problem lies here:

[code]
You should at least uninstall the second package, better would be to wipe all three and retry.
Does the second package depend on `st-stm32cubeide` ?

[2020-10-19 03:37] doctek commented on #1050
I'm not sure how to proceed. Since I have successfully installed your
stlink package from source, should I try to install the .deb version
also? What if I remove the stm32cube package - but I want to use it? I'm
sorry for not really knowing what I should do here. Can you give me a
bit more info?

Thanks!

         -jim

On 10/18/2020 4:20 PM, nightwalker-87 wrote:

--
This email has been checked f

[2020-10-19 05:42] Nightwalker-87 commented on #1050
You should run

[code]
and then retry to install our package following your original approach.
I assume installation will proceed then.
Afterwards you can try to reinstall stm32cube. Should there be any problems with this, you wil not be able to use both simultaneously, I guess.

[2020-10-20 04:21] doctek commented on #1050
OK. I did the instructions as you suggested. Then I tried the deb
package install and it went with no errors! I think that's good, but I
don't know how to tell if the stlink tools from the deb are now running
or if I'm still running the ones from the install from source that I did.

Can you tell me how to quickly check? Then I'll know that the deb can be
successfully installed.

Thank you for all

[2020-10-20 12:30] Nightwalker-87 commented on #1050
Run `sudo apt list *stlink*` to see what is still there from the Debian software repo related to the toolset.
Check the list and run the folloing command for every found package:
`sudo apt purge <name_of_found_stlink-package>`
Afterwards you can be quite sure that there are no remnants left and try to install from source again by following your original approach. I expect the installation to succe

[2020-10-20 20:56] stappersg commented on #1050
:-)

Use
[code]
To install `stlink` from an _apt archive_.

Use
[code]
to install a downloaded or a self build  `stlink-1.6.1-1_amd64.deb`.

[2020-10-20 21:16] Nightwalker-87 commented on #1050
@stappersg: I think he is aware of that, let him do the proposed clean-up first. :wink:

[2020-10-21 00:07] doctek commented on #1050
Running the first command (with stlink in quotes, not stars), I got the
response:

stlink/now 1.6.1-1 amd64 [installed,local]

Looks good to me! All the stlink tools work and my man files still exist.

So I've verified that the install from source works and that the .deb
package can be installed also. I think I'm done! Nightwalker-87, I thank
you for your patience and your expert assistance. Keep

[2020-10-21 03:04] joseph-cb opened #1054 "STM32L452: st-flash can flash once then fail once then flash once"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-10-21 07:54] stappersg commented on #1050
Here the person that came late to the party
and did only add "when apt and when dpkg"

On Tue, Oct 20, 2020 at 05:08:05PM -0700, Jim Larson wrote:

Yes, the challenge of
how to express the great value of libre software.

Try closing this issue

[2020-10-21 16:15] joseph-cb commented on #1054
Use a different Rpi, another dev board. Apply fix of #981. `make clean; make debug`.  Invoke with `./st-flash --debug write ~/ws/uC/release_STM32T_UFBGA.bin 0x08000000`

Observed the same symptom. Fail once then succeed once, forever.
[code]

[code]

[2020-10-21 17:00] joseph-cb opened #1055 "st-util v1.6.1 does not recognize option --freq"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-10-21 17:14] joseph-cb commented on #1054
`./st-flash --reset write ~/ws/uC/release_STM32T_UFBGA.bin 0x08000000` will make st-flash succeed consistently. Please mention this option in the Tutorial. Better yet, make `--reset` on by default.

[2020-10-21 19:16] Nightwalker-87 commented on #1050
@doctek Good to hear that! Thanks for the feedback. :+1:
As this topic has found a good solution, I am closing this issue now.

[2020-10-21 19:16] #1050 closed

[2020-10-21 19:19] #671 closed

[2020-10-21 19:19] #793 closed

[2020-10-21 19:19] #823 closed

[2020-10-21 19:19] #998 closed

[2020-10-21 19:35] Nightwalker-87 commented on #1047
Reviewing of this issue leads to the conclusion that a firmware update has been applied with the official ST Link FW Updater:
https://www.st.com/en/development-tools/stsw-link007.html
This is also the procedure we propose when running into issues with this toolset before opening a new issue.
As we do not provide any support for firmware updates in this toolset nor the ability to update the latter,

[2020-10-21 19:35] #1047 closed

[2020-10-21 19:39] chris1seto commented on #1047
@Nightwalker-87 yes, sorry. I had run an update but I had an old version of the updater. I assumed it went out onto the internet to get the update and that I had the latest, but the stlink binaries are embedded in the app. Fwiw, 39 was the latest version which worked

[2020-10-21 19:54] doctek commented on #1050
Again, thanks for your excellent assistance with this. And thank you for
closing it.

On 10/21/2020 12:16 PM, nightwalker-87 wrote:

--
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2020-10-22 19:18] cmdrf commented on #1011
I seem to have the same problem with an STM32F767. v1.5.1 shipped with Debian works fine, while my own v1.6.1 build doesn't (current master can't even flash, probably some other problem). I will try and bisect this, but I'm off with a bad start as v1.5.1 won't build because of some CMake problem in `set_target_properties`...

[2020-10-22 19:36] Nightwalker-87 commented on #1011
@cmdrf: Use the `v1.5.1-patch` branch if you want to compile v1.5.1. This branch remains for testing purposes and fixes a compilation issue in the original `v1.5.1`. Please note that we don't offer any support for older versions of this toolset. Detected bugs and issues may solely be fixed in an upcoming release.

[2020-10-22 19:46] cmdrf commented on #1011
Cool, thanks! That successfully compiles. But I'm still seeing the issue there, while v1.5.1 from Debian still works in the exact same setup 😕 . Maybe I'm chasing a red herring here. I'm doing this on an ARM machine right now. Trying something else next.

[2020-10-22 19:50] Nightwalker-87 commented on #1028
@underpickled Any update on this?

[2020-10-22 19:55] underpickled commented on #1028
I gave up and just waited until my own PCBs arrived. I'm using SWD directly on that and have no issues.

[2020-10-22 20:04] Nightwalker-87 commented on #1028
I see, but going through this again indicates that this is likely related to faulty hardware without any relation to the `stlink` toolset. Thus I am closing this issue now as resolved.

[2020-10-22 20:04] #1028 closed

[2020-10-22 21:11] cmdrf commented on #1011
After figuring out that the `st-util` binary changes location inside the build directory in some revision, I got a result from bisecting:

[2020-10-22 22:32] Nightwalker-87 commented on #1011
Thx. I'll have a look at it soon.

[2020-10-23 07:07] cmdrf commented on #1011
I fiddled around a bit and got 09ea99aea51f741ce9c8c0e2ad755d40b3d86021 to compile. This is indeed the first commit where the problem appeared. Since it is related to the STLINK version, I tried the `--stlinkv1` option, but it didn't change anything.

I have a clone STLINKv2 (0483:3748) updated with an official firmware at some point.

[2020-10-23 07:38] cmdrf commented on #995
I seem to have the same problem with an STM32F767. And since I'm busy bisecting anyway:

54e5627a269dddcd00fd1476f7dee62c5b207a52 doesn't build because of undefined `__FreeBSD__`.

[2020-10-23 09:37] cmdrf commented on #995
Another attempt, this time with `--reset` and two `st-flash` runs each time to be sure. It points to c1ea72d842702160173504f4e5869b55b8e986d7. Sorry for the spam.

[2020-10-23 12:27] avshulyaev opened #1056 "[Stlink Tools]: [_$Wrong libusb dependency]"
Stlink tools .dep packge requires libusb-1.0-0-dev (>= 1.0.20). But in run time tools call libusb_set_option() function which requires
libusb >= 1.0.22. See [http://libusb.sourceforge.net/api-1.0/group__libusb__lib.html#gaf6ce5db28dac96b1680877a123da4fa8](http://libusb.sourceforge.net/api-1.0/group__libusb__lib.html#gaf6ce5db28dac96b1680877a123da4fa8) for details.
After installing your package on

[2020-10-23 12:37] corecell commented on #1045
Have the same problem.
Checked with version from repository `community/stlink 1.6.1-1` and latest develop branch.
Board - **STM32VLDISCOVERY**
[code]

Latest working commit: e3aa887f7ffdfcfb3a0529ee3b94a7d3fe39b5d8

[2020-10-23 15:42] xor-gate opened #1057 "[feature] Mention support for Visual Studio Code"
It would be nice to mention in the README.md there is support for using stlink gdb server with Visual Studio Code with this plugin https://github.com/Marus/cortex-debug

[2020-10-24 02:16] joseph-cb commented on #1054
I declared victory too early. The flash tool always says " Flash written and verified! jolly good!" after I added `--reset` but the actual behavior is NOT. The actual behavior is still succeed once then failed once, cycling like that consistently for me.

On the other hand, I git clone openocd source tree and compiled my openocd. I can use it to reliably flash my L452RE
`src/openocd -s tcl -f inte

[2020-10-24 02:31] joseph-cb opened #1058 "[Documentation] [Cross compile instructions]"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [ ] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-10-24 14:06] Nightwalker-87 commented on #1054
The observation that `openocd` is able to flash reliably does help this tool any further.
We can't make any use of it and it's implementation.

[2020-10-24 14:16] Nightwalker-87 commented on #1000
**NOTE: In order to support the evolution and progress of this project we are looking for ACTIVE DEVELOPERS to help with implementing new features and addressing bug reports. If you are reading this and are interested in contributing, please have a look at the issues currently open. Any help is highly appreciated.**