[2020-10-24 14:33] Nightwalker-87 commented on #1011
@cmdrf: Can you checkout the current `develop` branch and go to `/src/st-util/gdb-server.c` Line 1387 and replace
`TARGET_HALTED` with `STLINK_CORE_HALTED` to see if that fixes this issue? I am not sure yet if this is a good solution to this problem, but I could find out that both of these preprocessing directives are used simultaneously with the latter being the older one. Maybe we need some prop

[2020-10-24 14:35] Nightwalker-87 commented on #30
Are there any other fedora users that can help to verify this with real hardware?

[2020-10-24 14:58] Nightwalker-87 commented on #995
Sry, but that does not seem to help any further...

[2020-10-24 15:20] Nightwalker-87 commented on #835
Finally coming back to this, I am still trying to allocate the exact commit that fixed this.
It lies between 393310fc9925907c239f0ad7fac1e8d0565d65c0 and 6aa08a659a701feb9c08a4cb1628b92645f41309.
Can somebody help investigating?

[2020-10-24 18:13] cmdrf commented on #1011
For this I had to switch from my IDE to hand crank gdb, because my IDE always wants to flash before running and flashing does not work on `develop`. This changes the picture a bit:

`st-util` + IDE (Qt Creator with Bare Metal plugin):
- v1.5.1: breaks at correct location
- v1.6.1: breaks at wrong location
- `develop`: can't test
- `develop` + `STLINK_CORE_HALTED`: can't test

`st-util` + command l

[2020-10-24 18:22] Nightwalker-87 commented on #1011
Interesting. I need some time to dig into this.

[2020-10-24 18:33] Ant-ON commented on #1011
@Nightwalker-87 Changing TARGET_HALTED to STLINK_CORE_HALTED is break the code. I analyzed the code and see that the core_stat cannot be STLINK_CORE_HALTED value.

I think this problem have been fixed by #1027.

[2020-10-24 18:59] Nightwalker-87 commented on #1011
@heliochronix @cmdrf: Can you verify this with ba5c6797f3bae57cb79be961250ce4a28dfc2675 and 5c03678ab02f0305dae80978952dc96b321a9834 ?

[2020-10-24 19:05] cmdrf commented on #1011
- ba5c6797f3bae57cb79be961250ce4a28dfc2675: breaks at the correct location
- 5c03678ab02f0305dae80978952dc96b321a9834: does not break

[2020-10-24 20:43] Nightwalker-87 commented on #1011
So @Ant-ON 's educated guess appears to be right and we can close this issue as resolved. :+1:

[2020-10-24 20:43] #1011 closed

[2020-10-25 07:15] stappersg commented on #835
On Sat, Oct 24, 2020 at 08:20:14AM -0700, nightwalker-87 wrote:

Here a message from my armchair  :smile:

`git bisect` needs to known which commit is good and which bad.

[2020-10-25 07:19] stappersg commented on #1011
On Sat, Oct 24, 2020 at 11:13:36AM -0700, Fabian wrote:

Please name (and shame) the IDE

[2020-10-25 07:39] cmdrf commented on #1011
I did name it, and in the meantime I found out how to disable this behavior.

And I really don't want to crash the party, but my STM32H750 never stops at any breakpoints :). Yes, I did try it without the IDE. But flashing works so I'll resort to printf debugging for now.

[2020-10-25 08:18] Ant-ON commented on #1011
@cmdrf Need look at the `update_code_breakpoint` function in `st-util/gdb-server.c`. Maybe H7 requires a fixes same as F7.

[2020-10-25 08:18] stappersg commented on #1011
Preamble: My previous comment in this issue was only based upon one comment email.

Rereading through whole #1011 did not reveal a name of something that I can link to an IDE.

This comment is for inviting @cmdrf to share expriences with IDEs and IDE tweaking.

Regarding the

is my advice to explore documentation and build a working configuration.

[2020-10-25 08:32] Ant-ON commented on #1011
@cmdrf try replace `if (sl->core_id == STM32F7_CORE_ID)` to `if (sl->core_id == STM32F7_CORE_ID || sl->core_id == 0x6ba02477)` in `st-util/gdb-server.c`

[2020-10-25 09:14] Nightwalker-87 commented on #1011
Please don't recycle this topic for any other than the potential additional fix.

[2020-10-25 09:45] Nightwalker-87 commented on #835
@strappersg: There were too many changes in-between for a simple bisect.
One would need to select various commits to narrow down the amount of commits which are of interest.

[2020-10-25 09:58] cmdrf commented on #1011
@Ant-ON Thanks for the suggestion! Just to clarify: do you mean to replace _all_ occurences (six, including those where the logic is negated), or just specific ones? I tried different combinations, but all it does is breaking the ability to flash. Still no breakpointing. gdb did point to a breakpoint when I Ctrl-C'd once, but I cannot reproduce it.

@Nightwalker-87 Shall we open a new issue specif

[2020-10-25 10:26] Ant-ON commented on #1011
@cmdrf replace only in `update_code_breakpoint` function in `st-util/gdb-server.c`

Yes, I think need create new issue. It is another bug.

[2020-10-25 10:30] Nightwalker-87 commented on #1011
@cmdrf @Ant-ON I agree let's open a new ticket for that and finally close this one.

[2020-10-25 10:38] Ant-ON commented on #1038
I think it regression is fixed by #1027.
@jiayihu May you try latest develop branch?

[2020-10-25 11:05] Ant-ON commented on #1045
How I wrote in stlinkV3 issue it may break v1 support:
https://github.com/stlink-org/stlink/issues/820#issuecomment-617591438

@WK-M Can you try patch to develop branch:
[code]

[2020-10-25 11:08] Ant-ON commented on #1025
I think it regression is fixed by #1027.
@lcharpenwi6labs May you try latest develop branch?

[2020-10-25 15:09] cmdrf opened #1059 "STM32H750: GDB breakpoints do not halt execution"
- [X] I made serious effort to avoid creating duplicate or nearly similar issue

- Programmer/board type: Stlink/v2-clone
- Operating system and version: `st-util`: Armbian Linux, a Debian 10 derivative. `gdb`: macOS 10.15.6
- **Stlink tools version** and/or git commit hash: 1e20921
- Stlink command line tool name: `st-util`
- Target chip: STM32H750VBT6

Command line output:

[code]

Expected/desc

[2020-10-25 15:17] cmdrf commented on #1059
@Ant-ON I replaced the two `if (sl->core_id == STM32F7_CORE_ID)` in `update_code_breakpoint()` as you suggested, but it didn't help unfortunately.

[2020-10-25 16:20] cmdrf commented on #1059
Hey, I was wrong! The patch works, but only sometimes. Still trying to figure out under which circumstances...

[2020-10-25 20:44] WK-M commented on #1045
When you state "patch to develop branch", did you want me to checkout to the develop branch and attempt the same commands? If that is not what you meant, please let me know.

Otherwise, I have performed the checkout to the develop branch and performed the proper reinstallation. I am still running into the same errors mentioned in the original posting.

[2020-10-25 21:42] timothytylee commented on #1059
Hi, I am responsible for reviving the STM32H7 patch.  What I have found is that the chip can only be reliably detected when connected under reset.

The problem appears to be that **stlink_chip_id()** in **common.c** reads an actual value from 0xE0042000, so it never falls through to the next statement, which attempts to read from 0x5C001000 (as is desired with the STM32H7).

Maybe someone can sugg

[2020-10-25 22:05] Nightwalker-87 commented on #1059
General suggestion: Review & refactor the `connect-under-reset` and `reset` procedures which are a heavy burden to the code as far back as I can think... :wink: Almost every step forward (fixes or features) seems to lead to another regression regarding this topic. :disappointed: Best would probably be to rip apart larger parts of the codebase in order to modularise certain tasks, well knowing this

[2020-10-26 07:30] cmdrf commented on #1059
I'm pretty sure the chip is reliably detected correctly. I don't think I've seen issues there. Output of `st-util` for example:
[code]

Regarding the breakpoints: There might be a certain probability that breakpoints halt execution. Breakpoints in initialization code almost never halt, while those in loops do.

On a side note: I added a specialized GDB memory map to `gdbserver.c` for the H7 to mak

[2020-10-26 08:17] Ant-ON commented on #1059
@timothytylee You may use core_id to identify STM32H7 series. For example something like this:
[code]

[2020-10-26 08:25] Ant-ON commented on #1059
@cmdrf Also for H7 you need to enable cache support. This series of MCU has it. Change `sl->core_id != STM32F7_CORE_ID` to `sl->core_id != STM32F7_CORE_ID && sl->core_id != 0x6ba02477` in `st-util/gdb-server.c`

[2020-10-26 16:13] Ant-ON commented on #1045
@WK-M I apply patch to new branch https://github.com/Ant-ON/stlink/tree/try_fix_stlinkv1. Try clone try_fix_stlinkv1 branch and build stlink tool from source.

[2020-10-26 19:13] cmdrf commented on #1059
@Ant-ON Now `st-util` produces additional output (who is Louis? 😄 ):
[code]
But breakpoints are still flaky.

[2020-10-26 20:03] Mike4U opened #1061 "add to 906"
on macOS use:
ioreg -p IOUSB -l -w0
instead of lsusb -v

[2020-10-27 06:46] Ant-ON commented on #1059
@cmdrf It's from reference of Cortex-M7: https://developer.arm.com/documentation/dui0646/a/cortex-m7-peripherals/processor-features/cache-level-id-register

I read Cortex-M7 and ARMv7-M reference manual and small rewrote code of gdb-server: https://github.com/Ant-ON/stlink/tree/try_h7_debug

[2020-10-27 08:43] timothytylee commented on #1059
@Ant-ON I tried your core_id patch and it did not improve the detection problem on my PC.  I still need to connect under reset to reliably detect the H7, otherwise it succeeds only 1 out of 8 times.

A question about the JTAG ID code:  I found two listed in RM0433:  page 3065 says IDCODE is 0x6ba00477, but page 3066 says DP_DPIDR register contains 0x6ba02477 (which is what my board returns).  Is t

[2020-10-27 09:30] Ant-ON commented on #1059
@timothytylee after the patch, which register read incorrectly?

0x6ba00477 it's ID code read from JTAG-DP (via JTAG)
0x6ba02477 it's ID code read from SW-DP (via SWD)

[2020-10-27 10:14] timothytylee commented on #1059
@Ant-ON , I was testing on the NUCLEO-H7432ZI2.  The value in sl->core_id was 0x6ba02477.

[2020-10-27 10:28] Ant-ON commented on #1059
@timothytylee everything is correct. But why then the MCU is not determined the first time? Incorrect read from chip_id register (0x5c001000)?

[2020-10-27 12:44] WK-M commented on #1045
Thanks for the clarification. I cloned the patch, and I'm still running into the same issues.

I'm not sure if this is a Fedora-specific issue as I am not running into the same error on my Ubuntu machine.

[2020-10-28 18:50] Ant-ON commented on #1059
@cmdrf Can you try this rewrited code?
https://github.com/Ant-ON/stlink/tree/try_h7_debug

[2020-10-28 19:11] cmdrf commented on #1059
@Ant-ON I'm on it in this very moment. But no luck so far. It seems it doesn't even trigger breakpoints in heavy-duty loops.

I noticed that cache support isn't enabled in that branch (at least I don't see LoUIS and friends anymore). Maybe that would help. I'll try and add it back in.

[2020-10-29 08:56] Ant-ON commented on #1059
@cmdrf I changed the code a bit. Now the choice of the style of breakpoints and the enabling of cache support is automatic. I think this solution is the most optimal: https://github.com/Ant-ON/stlink/tree/try_h7_debug

ps May you try to build a project without optimization (-O0)?

[2020-10-29 20:37] cmdrf commented on #1059
Hey, I found something interesting: If I start the program through the debugger, then hit the reset button on the dev board, from then on it stops at every breakpoint I throw at it! However, when I want to continue execution, it stops at the same breakpoint again without actually executing anything.

Maybe this is important: In my projects I exclusively use the 4-pin SWD connection (SWDIO, SWCLK,

[2020-10-30 06:19] cmdrf commented on #1059
@Ant-ON I tested your branch now, and as far as I can tell, it behaves the same as `develop` with the patches in `update_code_breakpoint`, `init_cache` and `cache_change`. Meaning that it stops at breakpoints in loops, but not in one-off breakpoints, e.g. in initialization code.

I investigated this further, and it turns out it stops at the loop breakpoints every time (meaning my earlier theory ab

[2020-10-30 09:03] cmdrf commented on #1059
So, I did this:
[code]
right after HAL and GPIO initialization and put a breakpoint in the `HAL_GPIO_TogglePin()` line. After doing `run`, by the time it reaches the breakpoint, `counter` is between 195 and 202, meaning it takes around 2 seconds before breakpoints work. `counter` doesn't increase after `continue`.

(The time is shorter and more inconsistent through my IDE. I guess the IDE introduc

[2020-10-31 07:53] timothytylee commented on #1059
@Ant-ON, regarding the incorrect detection of STM32H7:  yes, the problem is that 0x5c001000 is returning the wrong value (0x05fa0004).  Coincidentally, this is the value written to AIRCR (address 0xe000ed0c), just prior to the read.

[2020-11-01 15:47] Ant-ON commented on #1059
@timothytylee This is very similar to reset problems... I tried rewriting the reset function. Checked the work on the existing hardware F07/F1/F3/G4. https://github.com/Ant-ON/stlink/commits/try_h7_debug

@cmdrf Perhaps correcting the reset will somehow affect the breakpoints. If possible, then I think it's worth checking.

[2020-11-01 21:28] timothytylee commented on #1059
@Ant-ON Your try_h7_debug branch fixed the NUCLEO-H7432ZI2 detection problem!

[2020-11-04 09:37] codedump opened #1063 "STM32H743 on a Nucleo-144 board: "unknown chip id""
Hello everyone,

this being my first time writing here let me begin with: thanks for the effort! :-)

I'm new to both STM32 programming and to ```stlink``` utility, so please bear
with me. I'm fairly proficient in C, have some experience with other micro
controllers and lots of experience with Linux.

Now to my issue. Not sure if this is a bug, a feature request, or none of the
above. Feel free to

[2020-11-04 13:17] timothytylee commented on #1063
Hi, I've added support for STM32H7 to the master branch, but there are lingering JTAG reset problems plaguing the chip detection.

Your best bet is to try https://github.com/Ant-ON/stlink/commits/try_h7_debug from @Ant-ON , which works well with my NUCLEO-H7432ZI2 devboard.

[2020-11-04 13:34] Ant-ON commented on #1063
@codedump This https://github.com/Ant-ON/stlink/tree/504858566be82af996566795c41684b701b52ce1 shoud work well. Next commits is breaking a code compileble (i'm work on it)

[2020-11-04 16:55] gcohara opened #1064 "STM32F031K6 Nucleo: Regression between 1.5.0 and 1.6.0 with minimal linker script"
**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

- Programmer/board type: Inbuilt
- Operating system and version: macOS 15, openSUSE Tumblewe

[2020-11-04 20:15] Nightwalker-87 commented on #1064
Of what hardware-type is your programmer? Please describe it more precisely to complete the set of basic info.

[2020-11-04 22:41] gcohara commented on #1064
I'm using the built in programmers for the Nucleo and Discovery boards, which I believe are ST-Link v2, and a ST-Link v2 usb programmer for the blue pill.

It doesn't work on v1.6.1 - this is the version I was using on macOS, while on openSUSE I was on v1.6.0.

[2020-11-05 15:19] codedump commented on #1063
@Ant-ON Thanks, that seems to work:

    $ ./st-info --probe
    Found 1 stlink programmers
    serial:     303032413030334633343338353130433334333133393339
    hla-serial: "\x30\x30\x32\x41\x30\x30\x33\x46\x33\x34\x33\x38\x35\x31\x30\x43\x33\x34\x33\x31\x33\x39\x33\x39"
    flash:      2097152 (pagesize: 131072)
    sram:       131072
    chipid:     0x0450
    descr:      H742/743/753

    $ ./s

[2020-11-06 08:14] Ant-ON commented on #1059
@cmdrf I've tweaked gdb a bit. Could you try https://github.com/Ant-ON/stlink/commits/try_h7_debug ?

[2020-11-06 08:23] Ant-ON commented on #1017
This is very similar to reset problems... Could you try https://github.com/Ant-ON/stlink/commits/try_h7_debug ?

[2020-11-06 08:39] codedump commented on #1063
Oh, and for the record, just in case some other poor soul stumbles over this thread: mine is also a ```NUCLEO-H743ZI2``` board.

[2020-11-06 09:44] Ant-ON commented on #1064
@gcohara Could you try `develop` branch? I tested it on stm32f07 and it's work.

[2020-11-06 20:17] gcohara commented on #1064
Just tried it on the `develop` branch and I can confirm it's working!
Sorry, I really ought to have done that anyway.

[2020-11-06 22:50] Nightwalker-87 commented on #1064
Please don't close open tickets as this is working against regular maintenance tasks and tracking. Resolved tickets are closed automatically by the issue tracking system.

[2020-11-06 23:00] Nightwalker-87 commented on #1059
Related to #1063.

[2020-11-06 23:09] Nightwalker-87 commented on #1005
What is the current state here?

[2020-11-07 06:18] Ant-ON commented on #1005
There may be a problem with the reset as with STM32H7. If possible, @ndusek you can try this branch https://github.com/Ant-ON/stlink/tree/try_h7_debug

[2020-11-07 14:17] hannanmumtaz opened #1065 "STM32F103CB: All the Register values are wrongly shown when running info registers"
- Programmer/board type: Stlink v2
- Operating system and version: Windows
- **Stlink tools version** and/or git commit hash: v1.6.1
- Stlink commandline tool name: st-util
- Target chip (and board if applicable): STM32F103CB

When command info registers is run on gdb i get the wrong output.

I was trying to set register r7 to 0xDEADBEEF  using assembly

[code]

Commandline-Output:

![image](https

[2020-11-09 08:50] Ant-ON commented on #1065
@hannanmumtaz Can you try the develop branch? This should be fixed by #1027

[2020-11-09 18:00] Joypacharya opened #1066 "STM32F103CB: Does not write flash properly?"

[2020-11-09 18:00] Joypacharya opened #1067 "STM32F103CB: Does not write flash properly?"
but I am facing issue while writing the .bin file into my controller Stm32f103cB.
Here the command for execution,
sudo st-flash --flash=128k write /home/pi/Desktop/Spell/Bootloader.bin 0x08000000

the outcome -->

st-flash 1.6.1-109-g781557d
2020-11-09T17:40:59 INFO common.c: F1xx Medium-density: 20 KiB SRAM, 128 KiB flash in at least 1 KiB pages.
file /home/pi/Desktop/Spell/Bootloader.bin md5 che

[2020-11-10 12:03] hannanmumtaz commented on #1065
Hi, i tried the develop branch, i see now the registers values are correct, so the original issue is resovled.

But, i noticed some other issues in develop branch maybe i have to create separate ticket for these.

1. calling load in gdb automatically starts execution , previously that was not that case.
2. if a program is already running on the mcu, attaching to it via target extended-remote doesn

[2020-11-10 14:57] Ant-ON commented on #1065
@hannanmumtaz The first problem I solved in this branch: https://github.com/Ant-ON/stlink/tree/try_h7_debug I will try to look at and solve other problems. It's better to create a separate issue.

[2020-11-10 20:40] cmdrf commented on #1059
Hey that works! Only a slight build error on 32 Bit ARM because of `size_t` having the wrong format string in `printf` in `st-info/info.c`. Here is the output I get:
[code]
The "NRST is not connected" bit is true btw.

Buut...I also got it working with my branch https://github.com/cmdrf/stlink/tree/stm32h7-breakpoint-almostfix now, where I accumulated all the patches concerning cache support etc.

[2020-11-11 03:43] Joypacharya opened #1068 "STM32F103CB: I could not write bin file on my controller."
I am facing issue while writing the .bin file into my controller Stm32f103cB.
Here the command for execution,
sudo st-flash --flash=128k write /home/pi/Desktop/Spell/Bootloader.bin 0x08000000

the outcome -->

st-flash 1.6.1-109-g781557d
2020-11-09T17:40:59 INFO common.c: F1xx Medium-density: 20 KiB SRAM, 128 KiB flash in at least 1 KiB pages.
file /home/pi/Desktop/Spell/Bootloader.bin md5 checksu

[2020-11-11 04:42] Ant-ON commented on #1068
@Joypacharya Can you try read first 10 bytes after write? Something like:
[code]

[2020-11-11 05:16] Ant-ON commented on #1059
@cmdrf Thanks for the mistake with the size_t! I will fix it.

try_h7_debug is a bit smarter. It determines a reset occurred when the NRST was switched. Only after that it uses a software reset.

The TIM1 timer is probably incorrectly configured. It may have much higher frequency than expected. Eclipse IDE sets breakpoints after starting the program. Something like this happens:
[code]

[2020-11-11 05:49] Ant-ON commented on #1002
@Nightwalker-87 this is a typical problem solved by #1027. I think we can close this issue

[2020-11-11 08:05] Joypacharya commented on #1068
First, I erase the flash memory then I load the bin file.
One more thing I want to tell you which installed stlink in raspberry pi board .

[2020-11-11 19:57] #1002 closed

[2020-11-11 20:04] Nightwalker-87 commented on #1068
Invalid opening of this ticket against our project guidelines.
The policy is to **delete** tickets that do not use the prepared and described template.

@Ant-ON Please take note of this before answering in the future.
However I'll leave this one here now, as the thread has already started... (I may not do so in the future.)

[2020-11-12 05:57] Ant-ON commented on #1012
It looks like a reset issue. The fix can be checked in this branch: https://github.com/Ant-ON/stlink/tree/try_h7_debug

[2020-11-14 17:10] qfp64 opened #1070 "STM32L412KB: unknown chip id 0x10006464"
According to https://github.com/stlink-org/stlink/issues/754 there is already support for L412, but when I try to talk to my STM32L412 Nucleo-32 board (which has a built-in ST-Link v2-1), I get this error:

[code]

Ubuntu 20.04.1 LTS. I used the 1.6.1 .deb file from GitHub.

[2020-11-28 18:18] Nightwalker-87 commented on #904
Can someone with appropiate hardware please verify if this feature is working properly?

[2020-12-03 17:18] xor-gate commented on #136
@Nightwalker-87 we probably should close this issue in favor of duplicate #187. I also got a personal mail from @simplerobot which implements the ITM functionality in https://github.com/simplerobot/stlink/tree/st-trace but he seems to be unable to open a pull request.

[2020-12-04 17:13] Nightwalker-87 commented on #136
There should be no limitations on opening PRs. However I actively invited him to contribute to the project. Maybe it helps to solve this issue, as the referenced ticket seems to only partially address this issue. ;-)

[2020-12-05 10:48] #1059 closed

[2020-12-05 10:48] #1063 closed

[2020-12-05 11:15] #904 closed

[2020-12-05 18:12] Nightwalker-87 commented on #1000
@xor-gate: It appears we silently lost Travis CI functionality due to an upgrade of the bindings and integration. I've tried to reinstall it but it does not seem to work any more. :disappointed:  Is there anything we can do here?

[2020-12-05 18:17] xor-gate commented on #1000
Travis seems to work for most build targets but e.g this one is broken https://travis-ci.org/github/stlink-org/stlink/jobs/747797289#L1123

[2020-12-05 18:18] xor-gate commented on #1000
And this one https://travis-ci.org/github/stlink-org/stlink/jobs/747797286#L1004
It seems to work for most targets https://travis-ci.org/github/stlink-org/stlink/builds/747797280

[2020-12-05 19:41] Nightwalker-87 commented on #1000
I was requested to authorise travis _again_ upon access when clicking on one of those links. Before, there was no access nor any build status in the branch or PR view von Github for quite a while, so there was an error indeed. However this now seems to bring back the known features an I am able to have an eye on builds again. Thanks for the help.

[2020-12-06 20:14] slyshykO opened #1075 "Should we care about ABI and semantic versioning for stlink libs?"
I see that at least 2 structures that expose over lib border changed its shape between ver 1.6.0 and 1.6.1 and still changes.
It is struct **stlink_t** and struct **stlink_chipid_params**.
So if we care about ABI we should change their shape in backwards-compatible form.

[2020-12-06 20:49] Nightwalker-87 commented on #1075
Can you explain this issue in more detail and give some examples?

[2020-12-06 21:04] slyshykO commented on #1075
This is how struct stlink_chipid_params look like in version 1.6.0
[code]
This is how it looks now :
[code]

As you can see there is bool has_dual_bank was added before  flash_size_reg field.
This is mean that in old structure flash_size_reg have offset 12 bytes. Now an offset for flash_size_reg 16. An old code doesn't know about these changes so it will misread  flash_size_reg   from new has_dual

[2020-12-06 21:20] slyshykO commented on #1075
But, actually, I didn't dig deeper. So it is a question that we haven't similar breakage for previous releases.

So there is a question should we care about it in future?

[2020-12-07 00:04] Nightwalker-87 commented on #1075
I see what you mean. I believe this is also what you meant with the preference to allocate new parameters at the end of structures.

[2020-12-07 03:33] chenguokai commented on #1075
Maybe this link is somehow useful here:
[https://stackoverflow.com/questions/25947997/how-does-sizeofstruct-help-provide-abi-compatibility](https://stackoverflow.com/questions/25947997/how-does-sizeofstruct-help-provide-abi-compatibility)

I think the intermediate structure may help.

[2020-12-07 08:56] slyshykO commented on #1075
Yes, I have ABI in my mind when saying that. But this trick works only if in user code used pointers to structs.

[2020-12-07 18:50] Nightwalker-87 commented on #1000
Just found that it still is not functional as it used to be: No build status is available on the branches an PRs.

[2020-12-09 05:27] Vascom opened #1077 "Compilation with GCC 11 fails"
I can't build stlink 1.6.1 with GCC 11 compiler. Fedora GNU/Linux Rawhide.
Errors are:

[code]
[code]

Please help me correct it.

[2020-12-09 05:40] Vascom commented on #1077
May be `STLINK_SERIAL_MAX_SIZE` define should be set to `28`?

[2020-12-09 05:44] Ant-ON commented on #1077
You may fix `src/st-util/gdb-server.c`:
[code]
to
[code]

[2020-12-09 06:13] Vascom commented on #1077
I prefer see fix in upstream.

[2020-12-09 06:18] Ant-ON commented on #1077
@Vascom I too. But to fix it in upstream, you need to check works of it.

[2020-12-09 06:32] Vascom commented on #1077
Yes, it works.

Template not care about compiling problems.

[2020-12-09 18:45] Nightwalker-87 commented on #1077
The template is meant to be used and to be filled with content which also includes a description. So please consider this next time.

[2020-12-09 18:52] #136 closed

[2020-12-09 18:52] #179 closed

[2020-12-09 18:52] #815 closed

[2020-12-09 20:57] JeffreyALaw commented on #1077
I nearly suggested that (I originally found the issue testing gcc-11 with Fedora).  My concern with that was this loop in gdb-server.c:
               for (size_t k = 0; j >= 0 && k < sizeof(serialnumber); ++k, j -= 2) {
                    char buffer[3] = {0};
                    memcpy(buffer, optarg + j, 2);
                    serialnumber[length - k] = (uint8_t)strtol(buffer, NULL, 16);

Whi

[2020-12-10 00:01] Nightwalker-87 commented on #985
@chenguokai: Can you test v1.5.1 also? Was this issue fixed with #908?

[2020-12-10 00:09] Nightwalker-87 commented on #417
@slyshykO Any ideas on this one?

[2020-12-10 11:27] slyshykO commented on #417
If convert openocd: "\x30\x36\x37\x32\x46\x46\x34\x39\x34\x39\x35\x31\x37\x38\x35" to "normal" ASCII we can see this string
"0672FF494951785". Looks similarly to 0672FF494951785087023310, at least first 15 signs.

[2020-12-10 18:22] tarek-bochkati commented on #417
please check http://openocd.zylin.com/#/c/5396/, it could be linked to this

[2020-12-10 20:26] Nightwalker-87 commented on #417
Thanks @tarek-bochkati. Would you fancy dealing with this issue then?

[2020-12-12 10:47] Nightwalker-87 commented on #1000
I thought so, as I got notified on the approval for access of "Travis CI for Open Source" for this project:

Obviously there was a mistake within the setup, though I granted access to the organisation as well from my personal account previously. I can confirm it is now working again (see last PR and the merge into `develop`). Thx for taking action here. :1st_place_medal:

[2020-12-12 10:49] chenguokai commented on #985
v1.5.1 build failed just before compilation with an Error in CMakeLists

'''
CMake Error at CMakeLists.txt:121 (set_target_properties):
  set_target_properties called with incorrect number of arguments.

-- Manpage generation disabled
-- Configuring incomplete, errors occurred!
See also "/Users/xim/Documents/stlink/build/Release/CMakeFiles/CMakeOutput.log".
See also "/Users/xim/Documents/stlink/bu

[2020-12-12 10:59] Nightwalker-87 commented on #985
Oh, sorry I forgot to mention to test with the `v1.5.1-patch` test-branch, which fixed a version number readout error at the beginning of the compile process. The v1.5.1 will not work for sure.

[2020-12-12 11:02] Nightwalker-87 commented on #1057
Ok, yes of course. I'll address this soon.

[2020-12-12 11:09] Nightwalker-87 commented on #903
Is anybody interested on taking action on this issue? It will likely require some time and efforts, but I'd be pleased to share some ideas with interested contributors on how to improve the design of the codebase structure in this point.

[2020-12-12 11:12] Nightwalker-87 commented on #1009
Is there somebody around with one of the mentioned Nucleo boards who can do some testing on this?

[2020-12-12 11:16] chenguokai commented on #985
v1.5.1-patch failed with yet another warning related to 64-bit value shortened to 32-bit.

[code]

[2020-12-12 11:22] Nightwalker-87 commented on #985
ah ok, but that one was fixed in #919, right? So this issue was not visible before v1.6.1.

[2020-12-12 11:25] chenguokai commented on #985
yes

[2020-12-12 11:28] Nightwalker-87 commented on #985
What about the current state of our `develop` branch? Does it have any effect on the output?

[2020-12-12 11:32] chenguokai commented on #985
Unfortunately develop failed.

[code]

[2020-12-12 11:48] Nightwalker-87 commented on #985
Ah, but this is different than before. The above must be related to recent changes regarding STM32H7 support...

[2020-12-12 23:06] #1057 closed

[2020-12-12 23:06] #1077 closed

[2020-12-12 23:13] Nightwalker-87 commented on #1045
@Vascom Any idea regarding Fedora?

[2020-12-12 23:29] Vascom commented on #1045
F32 use libusbx-1.0.23.
Which version at ubuntu?

[2020-12-13 00:07] Nightwalker-87 commented on #985
@chenguokai: Try to replace
`return(flashaddr / sl->flash_pgsz);` with
`return(flashaddr / (uint32_t)sl->flash_pgsz);` to see if it resolves

in the compilation output.

[2020-12-13 00:18] Nightwalker-87 commented on #220
@sinosoidal @technobly Does this work for you with the [fix](https://github.com/stlink-org/stlink/issues/220#issuecomment-234104267) by @girtsf ?

[2020-12-13 00:24] Nightwalker-87 commented on #1024
Duplicate of #855.

[2020-12-13 16:00] #1024 closed

[2020-12-13 21:31] technobly commented on #220
@Nightwalker-87 I checked out the latest and compiled on Mac 12.14.6.  It seems to reset a device and flash it without any changes.  I've also added @girtsf 's change and see no difference. I'm using a Particle Photon with the ST-Link V2. The Photon uses a STM32F205RGY6 and I have an application running that turns PA13 (JTAG_TMS/SWD_SWDIO) into an output and is toggling it.  Typically this would p

[2020-12-13 21:49] technobly commented on #220
With NRST disconnected, I'm not able to flash the device when PA13 is toggling.  But if I put my device in DFU mode, that pin is left in the default state with all JTAG pins available, and both `with --reset` and `without --reset` I'm able to flash the device.  It also works the same with and without @girtsf 's changes.

[2020-12-13 22:46] Nightwalker-87 commented on #220
Thank you very much for the detailed feedback and also the helpful oscilloscope snapshots.

I don't know either, but to be honest - I assume it is not even clear in general what is happening at this point.
What I got to know so far from my ticket review from all remaining open issues is that several people tried to fix it obviously without any proper unified approach. So what we have now is likely

[2020-12-13 22:59] Nightwalker-87 commented on #220
Related to #62 #254 #261 #264 #332 #382 #532 #533 #692

[2020-12-14 00:36] Nightwalker-87 commented on #30
Fedora 16 used libusb 1.0.9.

[2020-12-14 04:36] Ant-ON commented on #220
@Nightwalker-87 I was rewriting the reset work when fixing problems with H7. Changes from @girtsf are no longer needed.
@technobly Based on the description, everything works as it should. There is no way to reset without the NRST and PA13 pins. The reset is done by software when the NRST is not connected. For this PA13 must be configured as SWD_SWDIO/JTAG_TMS.
I don't know for what purpose --reset

[2020-12-14 05:24] Ant-ON commented on #985
@chenguokai The second warning should be corrected by the replacement `sizeof(uint32_t)` to `4`. It is also I not clear why `uint8_t` is used in a loop `for (uint8_t counter = 0;...`. May be better to use `uint32_t`.

[2020-12-14 15:24] technobly commented on #220
@Ant-ON I just confirmed when PA13 is not configured as an output, with NRST disconnected, everything works fine with and without --reset, and without any changes to the current repo.  The device resets afterwards as well.  So for my original issue 6 years ago, I'm guessing the NRST pin wasn't working correctly.  Glad to see it's resolved ;-)

[2020-12-14 16:28] Ant-ON commented on #982
@Nightwalker-87 I compiled and installed the developer branch. All header files installed correctly:
[code]
Also checked the compilation of the simplest application which used the library. All is well.
[code]
test.c:
[code]

[2020-12-14 19:30] Nightwalker-87 commented on #220
@Ant-ON: Can you please document the routine step by step, not only with comments in the code but also for our tutorial?

[2020-12-14 21:57] Nightwalker-87 commented on #982
Closed in 31b1fa16201521e2aaf464576f2f169981abede0.

[2020-12-14 21:57] #982 closed

[2020-12-14 22:08] Nightwalker-87 commented on #659
@chenguokai: I still don't really understand what you explained before. What does that mean?

[2020-12-15 03:58] Ant-ON commented on #903
@Nightwalker-87 Using Core-ID may break support for some clones of stm32. This should be done with caution and extensive testing. OpenOСD uses CPUID in some places. I think it would be a more safe way.

[2020-12-15 18:39] Picatout opened #1079 "[STM32 device name]: [_$YourTitle_]"
system: ubuntu 20.04
stlink version: v1.6.1-194-ga66557a-dirty
board: NUCLEO-G431KB
issue: st-info fail to report correct information:

jacques@hp15:~$ st-info --probe
Found 1 stlink programmers
  version:    V3J2
  serial:     303034433030333433313337353130333339333833353338
  hla-serial: "\x30\x30\x34\x43\x30\x30\x33\x34\x33\x31\x33\x37\x35\x31\x30\x33\x33\x39\x33\x38\x33\x35\x33\x38"
  flash:

[2020-12-15 19:53] Nightwalker-87 commented on #903
Well, one could think about a secondary loop to identify such if the regular Core-ID-based approach fails. This would not exclude clones from support, but instead even help to identify such more easily. A secondary loop could relate to the current process of identification.

The whole procedure would clearly strip down the whole process to a very unified linear approach with additional functionali

[2020-12-18 06:15] WK-M commented on #1045
Sorry for the late response.

From the command: `dpkg -l libusb-1.0*`, I got the following:

[code]

[2020-12-18 13:47] ploedige commented on #607
st-flash 1.6.1 with STM32F373CCTx:
[code]

**It works on every second run**
<br>
Hint: replaced the real path with \<folderPath\>

[2020-12-18 14:42] Ant-ON commented on #607
@ploedige Can you try st-flash built from the `develop` branch?

[2020-12-18 15:52] ploedige commented on #607
I'm not very familiar with the st-link utility, yet. What `develop` branch are you referring to?

[2020-12-18 16:06] ploedige commented on #607
Sorry. I think I know what you mean.
The `develop` branch has the same problem:
[code]

[2020-12-19 21:11] martonmiklos commented on #820
Hi folks!

I started to work on this again, but I got surprised: I managed to program a bluepill with my V3 from the develop branch.

I have checked the usb.c file (where most of the V3 implementation was done), but I do not even see my merged commit in the blame, and as I see many things changed there.
Other than the st-link code changes I also need to note that my V3 firmware had been updated se

[2020-12-20 09:22] martonmiklos commented on #820
FYI: I have checked out my original commit in which the flash programming failed, and now it works OOTB, so it should be an improvement in the V3 firmware. We could either do a downgrade one-by-one in the V3 firmwares and chech which point will it fail, or to put simply we could implement a version check to enforce that the users should run at least V3J6M2B4S1 version.

[2020-12-20 12:13] Nightwalker-87 commented on #820
Hi @martonmiklos. Yes there have been a few contributions since then.
@ all: Please check the current `develop` branch with your V3 ST-LINK programmer hardware and suggest further improvements that appear to be necessary. Also check your programmer firmware and report if this feature is working with the respective version. I'd like to close this feature-topic as well, but would prefer to do this w

[2020-12-20 14:49] 2ni commented on #1012
When compiling  try_h7_debug I get the following errors:
`
Scanning dependencies of target stlink-static
[  2%] Building C object CMakeFiles/stlink-static.dir/src/common.c.o
[  5%] Building C object CMakeFiles/stlink-static.dir/src/stlink-lib/chipid.c.o
[  8%] Building C object CMakeFiles/stlink-static.dir/src/stlink-lib/flash_loader.c.o
[ 11%] Building C object CMakeFiles/stlink-static.dir/src/st

[2020-12-20 20:20] lvdlvd commented on #820
thanks for all your work. i realize i'm on this thread because i thought
i'd have time to contribute but poof...  a year flew by.

least i can do is help you test: just programming a bluepill with something
I had lying around.

on master i get

$ ../stlink/build/Release/bin/st-flash  --format ihex write main.hex
st-flash 1.6.1-1-gbaab8ca
2020-12-20T20:51:36 INFO common.c: F1xx Medium-density: 20 K

[2020-12-20 20:47] stappersg commented on #1025
My reason of being silent is a mix of  priority shift and  having found  https://probe.rs/

unlikely that I soon will have time for this issue,.

[2020-12-21 03:08] Ant-ON commented on #1012
@2ni Now all the changes are merged in `develop`. Compilation issue fixed. Can you try the `develop` branch instead?

[2020-12-21 05:38] Ant-ON commented on #607
@ploedige The ARM core in lockup state. Most likely the bootloader (or the core of some reason before bootloader runs) falls into the hardfault.
Based on current information, it is difficult to say why this is happening. You may extend information in `src/stlink-lib/flash_loader.c` by cheinging `stlink_flash_loader_run`:
[code]
change to
[code]
and
[code]
change to
[code]

[2020-12-21 08:43] 2ni commented on #1012
I uploaded some code with cubeIDE which is running on a STM32WLE5JB module connected to a chinese stlink v2. This is what I get now:
[code]

  I hoped to get rid of cubeIDE...

[2020-12-22 14:29] geocine opened #1082 "GD32F103: Failed to unlock flash, flash_loader.c: write error"
*Details*

- [X ] I made serious effort to avoid creating duplicate or nearly similar issue
- Programmer/board type: Stlink v2 Clone
- Operating system and version: MacOS
- **Stlink tools version** and/or git commit hash: 1.6.1
- Stlink commandline tool name: `st-flash`
- Target chip (and board if applicable): GD32F103
[code]

*Description*

1. Unlock using `open-ocd`
3. flash `generic_boot20_pc13

[2020-12-22 23:40] Nightwalker-87 commented on #1082
Please also take note of #769 in this context.

[2020-12-23 04:27] Ant-ON commented on #1082
@geocine There is no need to unlock through OpenOСD. After resetting the microcontroller, the flash register lock appears again. I looked at the documentation for GD32F103. Unlocking is similar to STM32F103. `st-flash` must do it correctly.

Specifically, which microcontroller is used? In the OpenOCD logs, the size of the flash is detected as 128k, and `st-flash` is detected as 1024k.

ps I would

[2020-12-23 06:22] geocine commented on #1082
@Ant-ON thanks I have tried this version `v1.6.1-199-g104940e` and it is working perfectly. My microcontroller is `GD32F103CBT6` . Thank you so much for the very quick response, I am closing this issue now.

[2020-12-23 06:22] #1082 closed

[2020-12-25 13:59] PavelMeld commented on #620
Have same issue with onboard STLINK on STM32VLDISCOVERY discovery board:

[code]

[2020-12-25 22:05] Nightwalker-87 commented on #620
@PavelMeld You use different programmer hardware (STLINK-v1) and are looking at a different issue related to `libusb`. Please refer to #1045 instead. Also you did not report any software version... :-(

[2020-12-25 23:46] Nightwalker-87 commented on #1000
Release v1.6.2 is now planned for Q1/2021.
Please help to resolve and close remaining issues with contributions and testing!

[2020-12-26 01:06] Nightwalker-87 commented on #835
@nzsmith1 Can you test the following commits with your environments?
It would be fine just to know if a commit is working or not by comparing with the output above.
I assume this can help us with a view to reasonable bisecting.

v1.6.1 (working)
38a5c14877964e7ea272565b372576d61710790f
9b19f9225460472af9d98959b7217d0a840ee972
cadfa941621cef85205622d6af0f87648d2a31c7
a09ef54cf53f0e8c194ef33c49dfe96

[2020-12-27 19:23] elliott-maguire commented on #1012
Programmer/board type: V2 clone (initeq)
Programmer firmware version: V2J36S7
Operating system and version: Linux (5.9.11-3-MANJARO)
ST-Link version: Latest (`develop
Target chip/board: STM32F103C8T6/Blue Pill (initeq)

[code]

@Ant-ON What was the context in which you got it working?

[2020-12-27 20:12] Krasnov-Max opened #1083 "STM32G0 not found and not supported?"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2020-12-28 08:21] geocine commented on #1012
Programmer/board type: V2 clone
Programmer firmware version: V2J37S7
Operating system and version: Mac OS (10.14.6)
ST-Link version: v1.6.1-200-gddac731 (latest develop)
Target chip/board: STM32F103C8T6/Blue Pill
[code]

[2020-12-28 09:35] geocine commented on #1012
I managed to solve this problem, by following what has been stated [here](https://electronics.stackexchange.com/questions/204996/stm32-st-link-cannot-connect-to-mcu-after-successful-programming) and [here](https://stackoverflow.com/questions/57628401/eclipse-error-init-mode-failed-unable-to-connect-to-the-target)

You need a Windows computer and the [ST-Link Utility](https://www.st.com/en/developm

[2020-12-29 08:56] Ant-ON commented on #1012
@geocine `st-flash` alredy have `--connect-under-reset` options. But there is no information about it in the help. Can you try it option?

[2020-12-29 09:00] geocine commented on #1012
@Ant-ON
I just tried literally just now, yes it is working I will update my comment. Have to quickly execute the flash with `connect-under-reset` once you tap reset ,
[code]

[2020-12-29 09:39] Ant-ON commented on #1083
@Krasnov-Max I checked the NUCLEO-G031K8 board for G0 support. Everything is working. There may be some problems with the reset. Can you try `st-flash` builded from source of `develop` branch? It may also be that the target board have firmware with remapped swd pin. In this case see https://github.com/stlink-org/stlink/issues/1012#issuecomment-751650320

[2020-12-29 11:45] Nightwalker-87 commented on #1012
So this reads as if this issue is about to be resolved very soon...

[2020-12-29 13:00] Ant-ON commented on #1065
@Nightwalker-87 The main problem is solved. Issues were not created for other problems. I think the current issue can be closed.

[2020-12-29 15:02] geocine commented on #1012
I think I derailed the issue a little bit, the way I understood the **original** issue is `st-*` tools detecting the chip as `chipid:     0x0748` in the following scenarios
- No target chip/board is connected to programmer
- A target chip/board is connected but cannot be detected (due to a number of reasons)

[2020-12-29 15:26] kokkonisd commented on #1038
I have the same experience with an STM32F103RB and an STM32L452RE. Fetched latest develop via homebrew (`brew install stlink --HEAD`), and the issue persists.

[2020-12-29 19:42] Nightwalker-87 commented on #1038
@jiayihu to be more precisely: Please test commit ba5c6797f3bae57cb79be961250ce4a28dfc2675 and the previous commit 5c03678ab02f0305dae80978952dc96b321a9834 to verify this.

[2020-12-30 06:44] asafsirin opened #1084 "STM32F103C8T6: st-flash terminates unexpectedly when trying to read the chip"
Hi

The st-flash unexpectedly terminates when trying to read from the device in subject.

- Programmer/board type: st-link v2-clone
- Windows 7 sp1
- st-link 1.6.1
- st-flash
- Target chip (and board if applicable): [enter here] (e.g STM32F103C8T6)

st-info runs without problem:
[code]

st-flash program returns with error:
[code]

ST-Link drivers were installed from latest stmcubprogrammer v2.5.0.

[2020-12-30 06:49] asafsirin commented on #1084
st-linkv2-clone firmware revision:
[code]

[2020-12-30 07:22] asafsirin commented on #1084
Upgraded the v2-clone firmware using ST's ST-Link utility to V2J37S7. Fault is still there.

[2020-12-30 20:40] Nightwalker-87 commented on #1012
Another case: https://community.st.com/s/question/0D53W00000Ji4awSAB/programming-stm32f103zet6-or-stm32f105vct6-for-the-very-first-time-using-stlink-utility

[2020-12-31 17:19] Krasnov-Max commented on #1083
This new mcu. This mcu not reset pin. so8 packege. connect to programmator four line swdclk, swdio, vdd, gnd

[2021-01-02 14:44] Ant-ON commented on #1083
@Krasnov-Max In version v1.6.1 there are problems with resetting mcu without (or without connect) reset pin. Can you try `st-flash` builded from source of `develop` branch?

[2021-01-04 15:21] jiayihu commented on #1038
Sorry guys, I'm not using semihosting anymore so I can't test it again master for the time being. Maybe someone else can do it, there was a deleted comment by someone else some days ago having the same issue.

[2021-01-06 00:08] Nightwalker-87 commented on #835
@Ant-ON You were involved in similar issues recently. Can you help?
I am not really sure if I can reproduce the issue with my hardware...

[2021-01-08 11:40] jakub-michalik-proemion commented on #607
**Instruction (Ubuntu 20.04) to avoid the error:**

First, we are going to install the necessary libraries and build tools:

sudo apt-get install git make cmake libusb-1.0-0-dev
sudo apt-get install gcc build-essential
Now, we will download and build the ST-Link utilities:

cd ~myusername
mkdir stm32
cd stm32
git clone https://github.com/stlink-org/stlink
**git checkout v1.6.1**
cd stlink
cmake .

[2021-01-08 12:52] Nightwalker-87 commented on #607
:heavy_exclamation_mark: No, this is no good approach, one should not manually copy files to other locations.
This also breaks the implemented uninstall routine.
Use `**sudo make install**` for correct installation to the appropriate paths or follow our compilation tutorial.

[2021-01-12 12:27] iFreilicht commented on #607
I'm having the same issue, even with v1.6.1, and power cycling does not fix it.

[code]

[2021-01-14 16:49] iFreilicht commented on #607
Ok, so I actually found a fix in my situation. Turns out the write protection was activated on part of the flash. Unfortunately, setting option bytes via st-flash is not supported for the STM32F4, but using the [STM32CubeProgrammer](https://www.st.com/en/development-tools/stm32cubeprog.html), I managed to completely erase everything on the flash:

[code]

After this, flashing with st-flash worked

[2021-01-15 16:13] nemeth-lali opened #1086 "Compile issue in Windows 10"
Hi,

As I tried to compile the st-link I got the following errors:
[  2%] Building C object CMakeFiles/stlink-shared.dir/src/common.c.obj
***\3pp\stlink\src\common.c: In function 'wait_flash_busy_progress':
***\3pp\stlink\src\common.c:1039:9: error: 'usleep' is deprecated [-Werror=deprecated-declarations]
 1039 |         usleep(10000);
      |         ^~~~~~
In file included from ***\3pp\stlink\sr

[2021-01-16 15:37] mosagepa commented on #1045
Is this being tackled, any advance?
I didn’t see the id for this on announce for 1.6.2 still, yet of course thanks to all the efforts by developers.
I myself have same issue, on VL Discovery, I’m on the road but will post my details later on.
Regards

[2021-01-17 09:05] slyshykO commented on #1086
st-link is written in **C**, not in _C++_. So this impossible in the observable future.

Also, can you provide with which compiler(full version) you built st-link?

[2021-01-17 13:06] mosagepa commented on #1045
I update.
Everything is working now for my VL Discovery.
I just had to rm -fr all libstlink* under /usr/local/lib,
Then proceed to recompile stlink from 1.6.0 tree I had in backup.
Maybe this can shed some light also:
I had noticed previously that invoking ‘stlink-download /dev/stlinkv1-1 info’ just after connecting the VL to the USB port, and then invoking ‘stlink-gui’ the Stlink-gui let me query

[2021-01-17 18:58] Nightwalker-87 commented on #607
Yes, that may be, but does not help us to fix the problem properly in this toolset. :confused:

[2021-01-17 19:13] Nightwalker-87 commented on #1045
Libusb-0.1.x is not used and thus not needed by this toolset.
@mosagepa This looks way to complicated to serve as a common solution.

I have a STM32F100RBT6 (VL Discovery) with STLINK-V1 as well, but unfortunately had no time to run any tests yet besides professional work...

[2021-01-18 10:55] mosagepa commented on #1045
Hi, thanks for your comments.

The solution I've found to satisfy my needs, the stlink-download.c rigmarole I mentioned only just in case it gave you a hint.

I guess I can compare/ track/ debug the actual calls, parameters and execution of the current 1.6.x against the "bad" libraries and the 1.6.0 versions, couldn't be due to differing interfaces, I'm almost sure this has to be some quirk we've

[2021-01-18 19:26] iFreilicht commented on #607
Yeah, I guess it's impossible to do unless writing to the option bytes area is supported, see #458.

[2021-01-20 05:51] eosti opened #1088 "STM32H743ZI: GDB `info all-registers` failing"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue

- Programmer/board type: [STLink V3]
- Operating system and version: [macOS 11.1 and Raspberry Pi OS 01-2021]
- **Stlink tools version** and/or git commit hash: [v1.6.1-201-g4bfaab0]
- Stlink commandline tool name: [st-util]
- Target chip (and board if applicable): [STM32H743ZI (on NUCLEO-H743ZI2 dev kit)]

I'm trying

[2021-01-23 19:53] ondrejspilka commented on #356
Hi,

I got the same issue on L496Disco board on Mac OS Catalina.
I used mass erase prior flashing.
Interesting is AC6 System workbench works, but I want to migrate to VSCode.

st-link v.1.6.1. from Homebrew.

Debugging from VSCode using openOCD starts the project, but breaks into startup asm `startup_stm32l496xx.s`.
It doesn't run the code, looks like the code is not flashed.

[code]

[2021-01-25 12:26] mosagepa commented on #1045
New update:
I've noticed that, even with the libraries "purged" as I commented above, first call to 'st-info --probe' yields out a significant (and different but consistent for any one of my 3 VL Discoveries) serial number, just after plugging them to USB port, BUT as soon as you relaunch 'st-info --probe' the model is correctly detected still as Value Line F1xxx blah blah... BUT, yields now 0x30

[2021-01-25 12:34] mosagepa commented on #1045
I wish to add (and yeah I know this is not a Forum but anyway...) I had once a friend which works designing firmwares and products for automotive products with NXP chips, objecting to my dwelling and obfuscations over "End-Of-Life" products, his reasoning was, the development boards and kits have the lifespan of flies, serving only their purpose while the HW guys are figuring out the final board b

[2021-01-28 20:24] dcmde opened #1089 "STM32f103C8: undefined symbol: libusb_set_option"
- I made serious effort to avoid creating duplicate or nearly similar issue

- Programmer/board type: [Stlink v2-clone] (e.g Stlink /v1, /v2, /v2-clone, /v2-1)
- Operating system and version: [Linux] (e.g Linux, Mac OS X, Windows)
- **Stlink tools version** and/or git commit hash: [1.6.1-1] (e.g v1.1.0/git-c722056)
- Stlink commandline tool name: [st-info] (e.g `st-info`, `st-flash`, `st-util`)
-

[2021-01-29 02:17] GadgetAngel commented on #1045
I am getting the same problem with my STM32VLDISCOVERY board.  ST-LINK V1 is detected by Linux Mint 20.1 but st-util does not work or st-info does not read the chip info correctly.

[2021-02-01 10:20] super-cow-powers opened #1090 "[feature] STM32WLx5 Support"
Currently the WLx5 family are not supported.
I would like to open a PR to merge WLx5 support based on the work done for the WB family of chips.
The only real issue is that the WL55 and H7 have the same core_id.

- [x] Programmer/board type: all
- [x] Operating system: all
- [x] Stlink tools version and/or git commit hash: develop/git-4bfaab0
- [x] Stlink commandline tool name: st-info`, `st-flash`

[2021-02-02 09:03] mosagepa commented on #1045
Exactly same approach I used, @GadgetAngel  Congratulations!
I am trying to get a bit of hold of other work occupations in order to track down what exactly are the differences between 1.6.0 and 1.6.1.

Please can you confirm if you face this also (I copy here the fragment of previous post):

_- "I've noticed that, even with the libraries "purged" as I commented above, first call to 'st-info --prob

[2021-02-02 14:10] codedump opened #1091 "ST-LINK on STM32-H437ZI2 stopped working after installing MicroPython"
Hello,

I've managed to use ```st-link``` to install MicroPython on an ```STM32-H743ZI2``` Nucleo-144 board [weeks ago]( #1063), using [@Ant-ON's version](https://github.com/Ant-ON/stlink/tree/504858566be82af996566795c41684b701b52ce1).

Recently I wanted to dive deeper into STM32 programming, but the ST-LINK doesn't seem to work after flashing with MicroPython:
[code]

I've also tried it with the

[2021-02-03 07:20] Ant-ON commented on #1091
@codedump My changes are already included in the main branch. You may use `develop` branch. The MCU may be in sleep mode. Can you try run `st-info --probe --connect-under-reset`?

[2021-02-12 19:35] stappersg commented on #1048
Closing the issue that was opened four months ago by me.  Because I think the project is beter of with this issue being closed.

[2021-02-12 22:42] Nightwalker-87 commented on #1048
Please leave closing of issues to automation and/or administration within this project.

[2021-02-19 01:00] sambazley commented on #1054
I think I'm running into the same problem on my F429ZI Nucleo using the on board ST Link, running 4bfaab0. One attempt to flash will output
[code]
and the next will output
[code]

However, the first attempt did actually successfully flash and reset. On the second attempt, the STM32 resets and begins to execute the new code, but for some reason crashes after a few lines. I've tested this with this

[2021-02-19 22:44] domingguss opened #1092 "STM32F767ZI: latest version (v1.6.1) broke support for STM32F7xxx (2MB flash version)"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket. This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2021-02-20 10:30] digitalentity commented on #1012
FWIW I'm also affected bt the same issue. On firmware V2J37S7 `st-flash` doesn't work

[2021-02-20 16:44] Ant-ON commented on #1092
@domingguss As I can see from the log the develop branch is being used. I'm right?
Can you rebuild source with increased `WAIT_ROUNDS` in `src/stlink-lib/flash_loader.c`?

[2021-02-20 22:25] domingguss commented on #1092
@Ant-ON hi, I tried  `30,100,300, 1000, 3000` all without luck... Or should I increase it significantly more?

i took the liberty to log the used value together with the printf(STLINK_VERSION) as u can see, to make sure it was my forked and changed version.

[code]

[2021-02-21 06:47] Ant-ON commented on #1092
@dobromyslov No, no need significant increase.
As I can see from the DFSR status registers the processor is in the "Domain fault on Page" error.
In the last log, he is also in the S_LOCKUP state.
Perhaps the firmware has time to configure something in the microcontroller. Can you try `--connect-under-reset` option?

[2021-02-21 07:43] domingguss commented on #1092
unfortunately, also no success:
[code]

[2021-02-24 06:34] Ant-ON commented on #1092
@domingguss Your MCU firmware (already flashed) may be using an MPU or something similar. You may try add disable MPU to flash_loader.c. Something this before 'Setup core':
[code]
Complete erasing of the microcontroller before flashing can also help.

[2021-02-25 08:11] woodneko opened #1094 "fail to flash stm32f103c8t6 with st-flash"
./st-flash  write ~/code/rt-thread-4.0.3/bsp/stm32/stm32f103-blue-pill/rtthread.bin 0x8000000
st-flash 1.6.1
2021-02-25T03:06:38 WARN usb.c: NRST is not connected
2021-02-25T03:06:38 INFO common.c: F1xx Medium-density: 20 KiB SRAM, 128 KiB flash in at least 1 KiB pages.
file /home/eav1szh/code/rt-thread-4.0.3/bsp/stm32/stm32f103-blue-pill/rtthread.bin md5 checksum: 6e259d7249eda2d9ae356a536e46bc53

[2021-02-26 01:28] paullee2018 commented on #1091
Hi,

I currently connected the openmv h7 plus to the stlink v2 programmer but when I run `st-info --probe`, I get the following output

and when I run `st-info --probe --connect-under-reset`, I get the following

It doesn't look right to me. Each time I run either commands, the sram values always changes. The version of stlink is v1.61.

Regards
Paul

[2021-02-26 10:34] codedump commented on #1091
(I had -- and still have -- a lot of supplementary information on this, but at the time of creation 3 weeks ago, the thread was all of a sudden closed and only people *"who have contributed to this project in the past"* could comment on this issue. I was cut off in the middle of the conversation, so to speak -- any of the responsible care to please explain why?)

Anyway. Here's more.

`--connect-u

[2021-02-26 11:43] Ant-ON commented on #1091
@codedump When the reset button is pressed, the microcontroller is in an undefined state. And it's okay if the results are chaotic.

I looked at the code in detail. Parameters '--probe' and '--connect-under-reset' are not may used together. You may use other parametrs with '--connect-under-reset' such as  '--chipid'.

[2021-02-26 15:26] codedump commented on #1091
@Ant-ON `--probe --connect-under-reset` wasn't my primary use case anyway, it was just something I did to give you the data you requested :-) That said, even if it's not supposed to be used together, it works now (after STLink firmware upgrade to version V3J7M3).

`--chipid` also works, but this is not going to be terribly helpful -- as I said, now my board has a new STLink firmware, so I can't tr

[2021-02-27 13:54] igor-m commented on #1045
Hi guys! Thanks for your effort!!
As I've found a couple of the VL boards in my junkbox I've tried with 1.6.1 and I've ran into the same issues as described above - with latest Lubuntu 20.04. (Btw the 1.6.1 flashes with the Discovery F407 board, but not reliable enough - sometimes it flashes ok, sometimes not..)
I've done the 1.6.0 install as described above by GadgetAngel and the flashing of my V

[2021-02-27 22:07] GadgetAngel commented on #1045
I honestly cannot remember what the output was when I had the error.

What I do know is the V1.6.0 is more reliable for me and I can use it on many different boards {VL discovery, F4 discovery, NUCLEO board}

[2021-03-06 16:04] Nightwalker-87 opened #1096 "[feature] Support for STM32U5-series"
Currently the U5 family is not supported.

- [x] Programmer/board type: STlink/v2, STlink/v2-onboard, STlink/v3
- [x] Operating system: Linux, Mac OS X, Windows (with specific version)
- [x] Stlink tools version and/or git commit hash: v1.6.1
- [x] Stlink commandline tool name: st-info, st-flash, st-util
- [x] Target chip (and optional board): STM32U5-series

[2021-03-06 19:16] tarek-bochkati commented on #1096
what does this mean ? I'm not aware of such thing !

[2021-03-06 20:02] Nightwalker-87 commented on #1096
There were unintended leftovers from another ticket which served as a template by mistake. I've removed it.
The U5 series has been announced by ST recently: https://www.st.com/en/microcontrollers-microprocessors/stm32u5-series.html

[2021-03-07 19:58] Nightwalker-87 commented on #835
Fixed in #943.

[2021-03-07 19:58] #835 closed

[2021-03-08 00:04] Nightwalker-87 commented on #1045
As I was able to verify with the same board, this regression is still present in the current `develop` branch.

[2021-03-08 23:47] Nightwalker-87 commented on #155
Failed contribution - Issue has been closed without anything to complete.

[2021-03-08 23:47] #155 closed

[2021-03-09 00:00] Nightwalker-87 commented on #1048
Failed contribution - Issue has been closed without anything to complete.

[2021-03-09 00:00] #1048 closed

[2021-03-09 00:08] Nightwalker-87 commented on #985
@chenguokai @Ant-ON  Any update on this?

[2021-03-09 18:01] igor-m commented on #1045
Btw I still get "Found 0 stlink programmers", even it flashes the binary into F100 ok..

[2021-03-09 18:14] igor-m commented on #1045
me@lub:~$ st-info
st-info --version
st-info --flash
st-info --sram
st-info --descr
st-info --pagesize
st-info --chipid
st-info --serial
st-info --hla-serial
st-info --probe
me@lub:~$ st-info --flash
0x20000
me@lub:~$ st-info --version
v1.6.0
me@lub:~$ st-info --chipid
0x0420
me@lub:~$ st-info --hla-serial
""
me@lub:~$ st-info --descr
F1 Medium/Low-density Value Line device
me@lub:~$ st-info --flas

[2021-03-09 19:53] Nightwalker-87 commented on #356
@yeswolf: Your latest finding appears to be #1038. Please continue to track that issue there.
@ondrejspilka: Please continue to follow this issue in #607. This is not the correct topic for addressing this issue.

[2021-03-09 21:13] Nightwalker-87 commented on #356
More detailed investigation:

On  `develop` commit 7829600c9af2cd354f61fc9ed2165b58733d54de (2020-05-28) (the last before Release v1.6.1) is still good.

[code]

Further known good commits:
- 1e2092173aae4ce0c256ff345cf647ec868f5435 (2020-10-21)
- 8560f931d4b9476cb00f59aa1f7ab784baa16699 (2020-11-12)

Known bad commits:
- Release v1.6.1 (`master`)
- b47f083736a6f6137e317e70998501205d44265f (2020-1

[2021-03-09 21:37] Nightwalker-87 commented on #607
Feel free to check the known good commits listed in #356 (partially related) on the reported bugs you have faced within this topic, but report the results here. _Please avoid cross-posting between issues._

[2021-03-09 21:50] Nightwalker-87 commented on #1038
@Ant-ON Can you or anybody else test instead?
I have never used this feature, so I'm not sure if I can give any useful assessment here.

[2021-03-09 22:24] mosagepa commented on #1045
Woah, what a change.
I was contributing to this very same issue, along with @GadgetAngel, but somehow @Nightwalker-87 didn't allow me to post more follow-ups to this.
I know the exact cure for this issue BUT I don't think people harassing other people's advances (even if it means going back to v1.6.0) would help anyone.
As these follow-ups show, there's enough demand for ST-Link v1 in the VL Disco

[2021-03-09 22:33] Nightwalker-87 commented on #1045
aha, interesting, let me have a look at this message... That's not intended.

[2021-03-09 22:44] Nightwalker-87 commented on #1045
@mosagepa: Please feel free to share your findings. In fact we need a fix for the current `develop` tree. Going back in time is not a satisfiable solution, apart from locating fixes from the past.

[2021-03-09 23:49] Nightwalker-87 commented on #30
Conclusion: This issue was likely related to a kernel-bug and/or a bug in relation to the libusb library on Fedora 16.
As support for Fedora 16 has ended a long time ago and we already know from the original author that the observed behaviour did not occur on a obviously comparable Ubuntu system at that time, we can safely assume that this problem is no longer reproducible.

[2021-03-09 23:49] #30 closed

[2021-03-10 00:00] #62 closed

[2021-03-10 03:59] Ant-ON commented on #356
@Nightwalker-87 Are there any failure logs with commits after my PR?
I added a processor status output to flash loader run failed in order to somehow find their reasons.

I tried to fix one of the possible reasons. If the MCU memory fill the garbage (and for some other reason), then it may be in the wrong command mode. In this case, switching occurs and the message "Go to Thumb mode" is displayed.

[2021-03-10 08:59] mosagepa commented on #1045
That's ok, I was just in a bad mood yesterday I guess. I don't know what the limitation was about, but it's now removed. Sorry for the lengthy posts, I know this is not a forum.

To focus on available solutions, I don't know if this could be fixed in v1.6.1 onward since I didn't write the code so I don't know, what could possibly have gone "wrong"?

If you read my previous posts there were an alte

[2021-03-10 09:26] mosagepa commented on #1045
This is also to let you know I've written a bit of mixed up code which if you execute will let all you test whether your VL Discovery can be detected (fully, means: meaningful serial and all that).
I encourage all folks having problems with their VL's to please copy up the code, and I myself compiled it with this precise command line:
`g++ -o tryMosa02 tryMosa02.cpp -I /usr/local/include/libusb-1.

[2021-03-10 11:17] Nightwalker-87 commented on #1045
I can give you the console output for e.g. b47f083736a6f6137e317e70998501205d44265f :

[code]

[code]

... and the device locks up with the COM LED switching to the on-state, so I assume this is related to `libusb` device handling.

Looking at the output, I find the device serial not to be the problem at this point, but as we have found out in #356, some general problems regarding codebase-compati

[2021-03-10 11:22] Nightwalker-87 commented on #356
@Ant-ON: I think I can provide some additional output soon, but as mentioned in #1045 we may do a release first to resolve a divergence between `master` and `develop` instead and focus on a new common base for both branches and try to fix that up.

[2021-03-10 11:23] mosagepa commented on #1045
My current "idea" is that using plain simple libusb calls I can go on this success forever:
`mosagepa@MProLinux:~/decomp/STM32/oldLinuxSTLink/withSTLink$ st-info --probe
Found 1 stlink programmers
 serial:     393f6f064d42343816512543
 hla-serial: "\x39\x3f\x6f\x06\x4d\x42\x34\x38\x16\x51\x25\x43"
 flash:      131072 (pagesize: 1024)
 sram:       8192
 chipid:     0x0420
 descr:      F1xx Value Li

[2021-03-10 11:28] mosagepa commented on #1045
Launch it a second time, see where the
`Found 1 stlink programmers
  version:    V1J13
  serial:     553f6d06483f48534641213f`
goes...

[2021-03-10 11:32] mosagepa commented on #1045
You say "Looking at the output, I find the device serial not to be the problem at this point, "

But I insist on the serial issue just because it's the hint that something is not going right in the libusb calls within stlink's encapsulation.

[2021-03-10 11:40] mosagepa commented on #1045
Please try to re-code st-link, especifically the --probe switch in the code. I have a feeling the problem comes with the specific sequence of libusb calls made (and maybe already made before?) within where the user calls with that argument before doing anything else with st-link.
You never know the side effects to some detection/ probing double calls to libusb. Just my two cents worth (I don't kno

[2021-03-10 12:07] Nightwalker-87 commented on #1045
@mosagepa: "at this point" solely referred to the used commit. I have not systematically tested the other (especially earlier versions). I'd consider it a good idea if people who coded in this part more recently have a look at this. Quite a few parts in the codebase don't have sufficient documentation which of course does not facilitate understanding of what is happening here exactly.

[2021-03-10 12:36] mosagepa commented on #1045
Please ask them to have a look at indexes accessed during probing.
If you get the indexes wrong, it refers to the wrong USB sub-device which is basically the broken USB storage part which Linux users couldn't care less about (for the VL case). So any libusb done after that goes bad too.

[2021-03-10 12:47] Nightwalker-87 commented on #1045
Ping @grevaillot @rewolff @petertorelli

[2021-03-10 12:58] pm-daniel opened #1098 "[STM32G031]: can't connect to target: unknown chip id (--connect-under-reset not working)"
- Programmer/board type: stlink v3 mini
- Operating system and version: Windows
- **Stlink tools version** : 1.6.1
- Stlink commandline tool name: `st-flash`
- Target chip (and board if applicable): STM32G031

Commandline-Output:
[code]

Expected/description:
my board uses swd and swclk gpios, so in order to connect with mcu stlink must connect under reset conditions, while it works perfectly fine

[2021-03-10 15:32] Ant-ON commented on #1045
@mosagepa @Nightwalker-87 Can you try get log after change line?

https://github.com/stlink-org/stlink/blob/8429ac078a783ee6d75db6bd8741eba732959c54/src/st-info/info.c#L88
to
[code]

[2021-03-10 15:55] Nightwalker-87 commented on #1045
error: ‘DEBUG_LOG_LEVEL’ undeclared (first use in this function)
   97 |   sl = stlink_v1_open(DEBUG_LOG_LEVEL, 1); :-1:

[2021-03-10 15:59] Ant-ON commented on #1045
@Nightwalker-87 use 100 instead DEBUG_LOG_LEVEL

[2021-03-10 16:24] Nightwalker-87 commented on #1045
It compiles, but produces same output as posted earlier.
We should better not try and error here - one needs to understand what is happening and where to look at exactly.

I'll have to put this aside for now to deal with some other issues as long as I have the chance to fix stuff and do some maintenance for a few days. I certainly do what I can, but can't help the fact that there aren't enough dev

[2021-03-10 16:25] mosagepa commented on #1045
It must be LIBUSB_LOG_LEVEL_INFO maybe? (suggested to me by the compiler).

Anyway, on first execution from just connected VL I get:
`[!] send_recv read reply failed: LIBUSB_ERROR_PIPE
[!] send_recv STLINK_JTAG_READDEBUG_32BIT
[!] send_recv send request failed: LIBUSB_ERROR_PIPE
[!] send_recv STLINK_DEBUG_RESETSYS
[!] send_recv send request failed: LIBUSB_ERROR_PIPE
[!] send_recv STLINK_DEBUG_READ

[2021-03-10 16:30] mosagepa commented on #1045
What about this "home-made" trace I got?

**BIEN (GOOD RESULT, ON FIRST EXECUTION):
=====**
`DEBUG: I am going to call libusb_get_device_descriptor with IDs = 00001D6B:00000002...\
DEBUG: I am going to call libusb_get_device_descriptor with IDs = 00001D6B:00000002...\
DEBUG: I am going to call libusb_get_device_descriptor with IDs = 00001D6B:00000001...\
DEBUG: I am going to call libusb_get_device

[2021-03-10 16:35] mosagepa commented on #1045
Please btw tell me how can I insert CR+LFs within pasted code in order to edit my recent posts and make them more readable... ;)

[2021-03-10 16:45] Nightwalker-87 commented on #1045
Usually one can simply copy console output as is and paste it and use < > afterwards to define a codeblock formatting around it.
However, note that there also is www.pastebin.com for complete console outputs.

[2021-03-10 16:50] mosagepa commented on #1045
[code]

[2021-03-10 16:53] petertorelli commented on #1045
@Nightwalker-87
pong: Unfortunately I do not have any L100 series boards, so I cannot reproduce the issue.

[2021-03-10 17:32] Nightwalker-87 commented on #1075
Have we made up our mind on this yet?

[2021-03-10 19:20] Nightwalker-87 commented on #1089
@dcmde: As far as I can see the given file path for the library is not correct.
This issue derives from a compilation error that has been fixed in #978.

[2021-03-10 19:20] #1089 closed

[2021-03-10 23:17] Nightwalker-87 commented on #1084
I couldn't reproduce the described issue in this environment:

- Release v1.6.1 (commit 6aa08a659a701feb9c08a4cb1628b92645f41309)
- STM32F103C8T6 ("Bluepill") and
- a STLink/V2-clone programmer (Firmware version: V2.J37.S7)
- Linux (Debian Bullseye [Testing])

[code]

Can somebody run the same procedure on a Windows system again?

[2021-03-10 23:21] Nightwalker-87 commented on #220
Ping @Ant-ON

[2021-03-10 23:31] Nightwalker-87 commented on #820
Can we see some more testing here by other STLINK/V3 users?

As far as I am aware of, the following devices should be working by now:
- STLINK-V3SET
- STLINK-V3MINI
- STLINK-V3MODS

[2021-03-10 23:54] #267 closed

[2021-03-10 23:58] GadgetAngel commented on #1045
I have both Mint Linux (20.1) machine and Windows 10 machine to do testing on the following boards:
1) STM32VLDISCOVERY (STM32F100RB) using ST-LINK-V1
2) STM32F4DISCOVERY (STM32F407VG) using ST-LINK/V2-A
2) NUCLEO-F103RB (STM32F103RB) using ST-LINK-V2-1
3) NUCLEO-F446RE (STM32F446RE) using ST-LINK/V2-1
4) NUCLEO-L433RC-P (STM32L433RC-P) using ST-LINK/V2-1
5) NUCLEO-F302R8 (STM32F302R8) using ST-LI

[2021-03-11 00:14] Nightwalker-87 commented on #930
This issue can likely not be reproduced by anyone else, as there is to little information provided on the used hardware and the specific application in a commercial environment. Against this background and the specific use case, the official STLINK-Utility from ST-Microelectronics should be used to ensure best results and extended commercial support.

[2021-03-11 00:14] #930 closed

[2021-03-11 05:48] Ant-ON commented on #1045
@Nightwalker-87 I looked again at the changes when stlink V3 support was added. Here are the fixes for the bugs I found. Can you check work stlink v1 after it is applied?

[code]

[2021-03-11 06:39] rewolff commented on #1045
On Wed, Mar 10, 2021 at 08:26:19AM -0800, mosagepa wrote:

This really looks as if it was able to enumerate that the STLINK
device existes and then.... fails to communicate with the STLINK
completely.

This looks as if you might have a permission problem on the USB
device. Try running the command as root, and if you get further,
please install the correct udev rules to be able to use the device as

[2021-03-11 09:31] mosagepa commented on #1045
@rewolff My udev settings are ok and as I said above in another post a compilation of libusb calls mixed code which asks also for the serial works beautifully and consistenly with the ST Link v1 in the VL Discovery, so I am pretty sure privileges is not the problem. Also, @Nightwalker-87 had the same log messages and he surely doesn't have a privilege issue neither.

As I pointed out before, the p

[2021-03-11 09:39] Ant-ON commented on #1045
@mosagepa See the third part of my patch https://github.com/stlink-org/stlink/issues/1045#issuecomment-796475351. I think that the process of receiving information stops with the error because the application does not read the response from the STLINK_DEBUG_ENTER_SWD command.

[2021-03-11 09:44] mosagepa commented on #1045
@Ant-ON Please, I highly recommend that when you have a spare time you [check this out](https://github.com/stlink-org/stlink/issues/1045#issuecomment-795143885). I think that proper comparison of the libusb calls that an `st-link --probe` command issues correlating them with my code's could give us some insight. As you can see in my code and related post, it works like a charm. So why does `st-lin

[2021-03-11 10:18] lvdlvd commented on #820
on the nucleo-h745i-q board:
$ uname -a
Darwin Luuks-new-mbp.local 19.6.0 Darwin Kernel Version 19.6.0: Tue Jan 12
22:13:05 PST 2021; root:xnu-6153.141.16~1/RELEASE_X86_64 x86_64
$ git checkout develop
$ make
....
$ ./build/Release/bin/st-info --probe
Found 1 stlink programmers
  version:    V3J2
  serial:     303034453030333933313337353130443339333833353338
  hla-serial:
"\x30\x30\x34\x45\x30\x30

[2021-03-11 11:34] Nightwalker-87 commented on #194
The described behaviour is related to the external `libusb` library preventing communication to the device.
This issue should be fixed since #374.

[2021-03-11 11:34] #194 closed

[2021-03-11 11:45] yeswolf commented on #356
@Nightwalker-87 Hate writing such comments, but I won't be able to verify - I already reflashed all my stlinks to JLink and switched to it's stack completely. Sorry for that.

[2021-03-11 16:45] Nightwalker-87 commented on #1045
@Ant-ON: I can test your code with my STLink/V1 now, after merging `develop` into `master` to have a common codebase again.

I know by now that the merge itself does not make any difference to the behaviour of my device, **but** we can now be sure that there will be no more code ingress from old parts because we'll only accept new PRs that start from this commit or later. Hence I ask everybody to

[2021-03-11 16:58] Nightwalker-87 commented on #1045
@Ant-ON: Yes, that seems to be the key:

[code]

Great work! Thx. :tada:

I find both red LEDs to remain in a lit up state, but assume that this is an equal behaviour to the red LED turning blue on my STLink/V2-clone programmer when testing with my bluepill-board for other open issues.

I'll now continue to test other commands with it.
However this is a first to solve this topic here. :+1:

[2021-03-11 17:09] Nightwalker-87 commented on #1045
General test with st-flash:

[code]

Flashing:

[code]

However I find that no LED is flashing... :disappointed:

[2021-03-11 17:15] C-Elegans opened #1100 "[STM32WB55]: Misidentified as STM32H7 when selecting chip ID code byte"
- [x] Programmer/board type: STLink/V2-1
- [x] Operating system an version: Linux (Arch)
- [x] **Stlink tools version** and/or git commit hash: 86e6dd0
- [x] Stlink commandline tool name: st-flash
- [x] Target chip (and board, if applicable): STM32WB55

When running st-flash on the develop branch, it outputs the following:

    [mnolan@trillian stlink]$ ./build/Release/bin/st-flash --debug --area=

[2021-03-11 18:19] igor-m commented on #1045
I've built the latest on Ubuntu 18.04 running in latest VM_Virtualbox (git clone, make clean, make release, make install). I had to do sudo ldconfig in addition as I got error with missing libusb.. something.
I get
[code]

[2021-03-11 20:51] Nightwalker-87 commented on #1012
I can confirm that `st-flash` is working with STLink/V2-clone, FW version V2J37S7 and v1.6.1:

[code]

[code]

[2021-03-11 21:33] Nightwalker-87 commented on #1068
I can't reproduce this issue with the same commit and a STM32F103C8T6.

Knowing that the flash size is limited to 64kB (hardware size) in the given chip I opted for `--flash=64k`, as with `--flash=128k` flashing would fail anyway. However this is unlikely the cause for this issue, as verification of the written flash failed in the original console output.

[code]

[2021-03-11 22:05] Nightwalker-87 commented on #1065
@hannanmumtaz: If still relevant: Please check currently open tickets for the other topics and open new issues, if necessary.

@Ant-ON: Can you confirm that the mentioned PR fixes this issue?

[2021-03-11 22:29] Nightwalker-87 commented on #990
@Ant-ON: What is your opinion on this?

Personally, I still don't see a general use case for this. Such long cable lengths that would possible require to reduce the clock speed down from the MHz range are not preferable in terms of primary line constants and/or external ingress. Also `st-info` is not a tool greatly interacting with the chipset - it only reads out MCU info.

[2021-03-11 23:34] Nightwalker-87 commented on #854
I have tried to reproduce this issue with under mostly identical circumstances:

- v1.5.1 / commit: 3690de9fddeed49d304a1afab6410ceb64c70e1b
- Programmer: STLink/V2-clone Firmware V2J37S7
- Board: STM32F103C8T6

Looking at the output reveals that `st-util` and `gdb` appear to deliver the expected output:

[code]

[code]

[2021-03-11 23:51] Nightwalker-87 commented on #1000
**NOTE: In order to support the evolution and progress of this project we are looking for ACTIVE DEVELOPERS to help with implementing new features and addressing bug reports. If you are reading this and are interested in contributing, please have a look at the issues currently open. Any help is highly appreciated.**

[2021-03-12 00:17] Nightwalker-87 commented on #875
Ping @Hoel

[2021-03-12 05:06] Ant-ON commented on #990
@Nightwalker-87 I think adding a frequency setting is a useful feature. But changes from "fix.diff.txt" need some work. At least the code style need change. It does not match the one used in the project.

[2021-03-12 05:09] Ant-ON commented on #1068
@Nightwalker-87 Such errors can occur due to read / write protection. I thought to implement this checks, but I don't have enough time for this yet :(

[2021-03-12 05:33] Ant-ON commented on #1065
@Nightwalker-87 Yes, the problem described in the first post has been fixed

[2021-03-12 05:40] Ant-ON commented on #1045
@igor-m Try apply patch to develop branch from https://github.com/stlink-org/stlink/issues/1045#issuecomment-796475351
@Nightwalker-87 The firmware is being flashed with verification. In theory, it should be work normally. You can read the firmware back and compare them if in doubt about correct operation.

[2021-03-12 07:24] igor-m commented on #1045
With applied patch (the patch lines at 431 are not valid anymore, it seems):
[code]
..and the LED fades 👍

[2021-03-12 07:29] igor-m commented on #1045
@Nightwalker-87: the leds on the VL board are called LED_BLUE and LED_GREEN - double-check in your arduino Blink source..

[2021-03-12 11:10] Nightwalker-87 commented on #1068
@Ant-ON That's OK. I don't see this feature specifically related to this ticket though, as we don't know the exact cause on the local build system. There are also several other tickets that deal with flash verification in general. One of those seem to be the right place for your idea.

The important conclusion for this ticket is, that the problem could not be generally reproduced under a most equa

[2021-03-12 11:10] #1068 closed

[2021-03-12 11:18] Nightwalker-87 commented on #1065
Fixed in PR #1027.

[2021-03-12 11:18] #1065 closed

[2021-03-12 11:25] Nightwalker-87 commented on #1045
On my STM32VL Discovery Board the status LEDs in the front part are called LD1 and LD2 and both are red ones.
Further there are LD3 and LD4 at the other end of the board, but I've not seen those lit up yet.

[2021-03-12 11:30] Nightwalker-87 commented on #669
Duplicate of #568.

[2021-03-12 12:06] igor-m commented on #1045
LD3 and LD4 are the leds you may let blink with the Blink demo (arduino with stm32 support installed). The leds are called LED_BLUE and LED_GREEN inside arduino IDE then. The default LED in the Blink sketch is named "9" thus you will not see the led blinking..

[2021-03-12 12:15] Nightwalker-87 commented on #568
Time for a short summary:

We were originally talking about the following error: `WARN src/common.c: unknown chip id! 0xe0042000` which as we know by now definitely still appeared in v1.4.0 (see issue #669).

@dkorkmazturk @SJChannel this is a different error: `WARN common.c: unknown chip id! 0x5fa0004` the related error message is `Failed to connect to target` --> see issues #715, #791 and #1040

[2021-03-12 13:06] Nightwalker-87 commented on #990
Ok, so who is willing to contribute here?

[2021-03-12 13:48] Nightwalker-87 commented on #568
Hardware:
- Programmer STLink/V2-clone / Firmware V2.J37.S7
- Board: STM32F103C8T6 ("Bluepill")
- OS: Debian (Bullseye [Testing])

Due to an existing compilation error I could not use v1.4.0, but v1.3.1 (with a patch regarding version numbering, to be able to compile) instead. I did a read-write cycle with and without board resets in-between and could not reproduce the described behaviour:

[code]

[2021-03-12 14:01] Nightwalker-87 commented on #417
@tarek-bochkati: Could you open a PR for this, as you were involved in this topic anyway?

[2021-03-12 14:17] Nightwalker-87 commented on #967
I can do some more testing on this now, but only on a Debian Linux system...

[2021-03-12 14:24] Nightwalker-87 commented on #356
@Ant-ON We have that merge now and can continue on a fresh `develop` branch.

[2021-03-12 14:53] Nightwalker-87 commented on #356
I can **confirm** this bug. Flashing fails on every second attempt when the chip is not erased in-between:

[code]

Setup:
- Programmer STLink/V2-clone / Firmware V2.J37.S7
- Board: STM32F103C8T6 ("Bluepill")
- OS: Debian (Bullseye [Testing])

There are several other issues dealing with this - it is one of the main bug in this toolset as far as I can see.
I'll list up these issues here soon.

[2021-03-12 14:59] Nightwalker-87 commented on #556
Apart from the advice from @chenguokai this is also related to #356.

[2021-03-12 15:15] Nightwalker-87 commented on #356
Related issues are: #556 #597 #607 #612 #638 #690 #817 #967 #979 #1054

[2021-03-12 15:38] dot4qu commented on #967
Interesting, glad you could get a repro. If you'd like me to try anything on macOS specifically let me know.

[2021-03-12 15:49] Nightwalker-87 commented on #967
Hi @dot4qu. Thx for the offer :+1:
I think we'll focus the thread in #356, as it appears to be the oldest one dealing with this topic.
Looking at your specific findings, it may not even be relevant if there is a write operation to a specific address or a general write operation for the whole flash. At least we can not distinguish between both by now. There might be several side effects that cause

[2021-03-12 16:04] Nightwalker-87 commented on #1064
@Ant-ON: Is this related to PR 1027 as well?

[2021-03-12 16:07] Nightwalker-87 commented on #1017
Ping @gustavolaureano

[2021-03-12 16:07] dot4qu commented on #967
Alright, feel free to close this to declutter then. Thanks for the help!

[2021-03-12 16:13] Nightwalker-87 commented on #1013
@chenguokai @Ant-ON Would one of you fancy to contribute here, having looked into this already?

[2021-03-12 16:18] Nightwalker-87 commented on #967
Our policy is to leave tickets open until a problem is resolved, because we link the issue-addressing PR to all related issues which will then close all by making use of git automation upon merging.

[2021-03-12 16:43] Nightwalker-87 commented on #1083
Ping @Krasnov-Max

[2021-03-12 17:21] Nightwalker-87 commented on #1055
@joseph-cb I think this is simply an error in our tutorial.
The `--freq` argument was added in #893 and is only available for `st-flash`.
So this is not a bug in the toolset. However I'll fix our documentation. Thanks for the hint! :+1:

[2021-03-12 17:39] #1055 closed

[2021-03-12 18:24] Nightwalker-87 commented on #659
I followed the steps of @martonmiklos with the difference that I performed the debug session via `gdb-multiarch` in combination with `st-util` as described in our tutorial. The result below reveals that I was not able to reproduce the issue with v1.5.1:

[code]

I had to use v1.5.1 as I was not able to compile versions v1.4.0 and v1.5.0.
Nevertheless I may have a look if anything relevant to this

[2021-03-12 18:25] Nightwalker-87 commented on #659
I followed the steps of @martonmiklos with the difference that I performed the debug session via `gdb-multiarch` in combination with `st-util` as described in our tutorial. The result below reveals that I was not able to reproduce the issue with v1.5.1:

[code]

I had to use v1.5.1 as I was not able to compile versions v1.4.0 and v1.5.0.
Nevertheless I may have a look if anything relevant to this

[2021-03-12 18:27] Nightwalker-87 commented on #659
I followed the steps of @martonmiklos with the difference that I performed the debug session via `gdb-multiarch` in combination with `st-util` as described in our tutorial. The result below reveals that I was not able to reproduce the issue with v1.5.1:

[code]

I had to use v1.5.1 as I was not able to compile versions v1.4.0 and v1.5.0.
Nevertheless I may have a look if anything relevant to this

[2021-03-13 00:04] Nightwalker-87 commented on #352
Fixed in #367.

[2021-03-13 00:04] #352 closed

[2021-03-13 00:21] Nightwalker-87 commented on #381
The original issuer likely used the stable version of the tools which was v1.1.0 by that time.
This issue was addressed during ongoing development in #367.

[2021-03-13 00:21] #381 closed

[2021-03-13 00:58] Nightwalker-87 commented on #616
If the used hardware was at least partly defective, one may assume that this also led to the suspicious output.

If functionality of a MCU is in doubt and strange behaviour occurs at the same time, it is often a good advice to simply dump the related hardware (especially if not very expensive) and to start over again with a replacement. In most cases it is unlikely that one is able to allocate the

[2021-03-13 00:58] #616 closed

[2021-03-13 12:20] Nightwalker-87 commented on #568
ToDo: https://github.com/stlink-org/stlink/issues/669#issuecomment-660553861

[2021-03-14 18:48] Nightwalker-87 commented on #820
Any tests with Stand-alone V3 programmers? Please give us some feedback! :bell:
It would be nice if we could close this topic with the upcoming release.

[2021-03-14 19:02] jdbruijn commented on #820
Are you just looking to test the programmer without actual hardware to program? I have a STLINK-V3MINI, but no hardware to program. Happy to test with jus the programmer if that is what you mean!

[2021-03-14 19:07] dieselburner commented on #820
I can do a flash programming test with V3SET and STM32F750 tomorrow.

On Sun, Mar 14, 2021, 20:02 Jeroen de Bruijn ***@***.***>
wrote:

[2021-03-14 19:18] Nightwalker-87 commented on #820
@jdbruijn: Whatever may help to find bugs... Thx.

[2021-03-14 19:28] bdmihai commented on #820
Hi. I did a test with the latest develop branch. Seems to work. STLink V3 SET

~/work/tools/stlink/build/Release/bin/st-flash --reset write bin/application.bin 0x08000000
st-flash 1.6.1-222-g1eaa638
2021-03-14T20:23:28 INFO usb.c: Unable to match requested speed 1800 kHz, using 1000 kHz
2021-03-14T20:23:28 WARN usb.c: NRST is not connected
2021-03-14T20:23:28 INFO common.c: stm32f411re: 128 KiB SR

[2021-03-14 20:17] #1045 closed

[2021-03-14 22:19] Nightwalker-87 commented on #820
Any STLINK-V3MODS around as well?

BTW: Our documentation will list all reported working dev-boards with on-board STLINK/V3 so any feedback is really valuable. :heart:
I'll leave this open for a few more days to give everybody enough time for testing and feedback.

[2021-03-14 22:25] martonmiklos commented on #820
FYI: V3MODS and V3MINI units are almost identical: the MINI has a pinheader populated, whilst the MODS does not. (You need to utilize the castellated holes at the edge of the board for connection).

[2021-03-14 22:32] Nightwalker-87 commented on #820
@martonmiklos: I know they are very similar from the docs and even the FW, but it doesn't hurt to see a success with both does it?

[2021-03-14 22:36] martonmiklos commented on #820
Of course testing never hurts :). I just mentioned it to not keep the MODS untested as blocker. (MODS should be less common in the wild due to it's intended board mount usage type)

[2021-03-14 22:54] Nightwalker-87 commented on #1025
@lcharpenwi6labs If still relevant, you may give it another try by following the advice from @stappersg.
However, reading this indicates that the observed behaviour is not specifically related to the STLINK/V3.
Further coverage on STLINK/V3 support and testing can be found in #820.

[2021-03-15 03:51] Ant-ON commented on #1064
@Nightwalker-87 Yes, it fixed by #1027

[2021-03-15 09:22] martonmiklos commented on #1025
Well I pulled in some gear to do a test drive, and the results are promising, but it looks that there is still an area of improvement:
STM32F031K6:
- probe works,
- read works,
- write fails first
- second attempt the write succeds
https://gist.github.com/martonmiklos/91bc396f1130a5da554970cd76f34116

I have STM32L051R8, where the situation is worse:
- probe works
- read looks okay
- write stuck -

[2021-03-15 15:49] dieselburner commented on #820
Flashing a custom hardware with STM32F750Z8 using V3SET:

[code]
[code]

[2021-03-15 19:02] Nightwalker-87 commented on #1025
@martonmiklos: Thx for the feedback. The first write fail is a general issue which is covered in #356.
Please point out the STM32L051R8 issue in the main discussion in #820.

[2021-03-15 23:00] #1064 closed

[2021-03-16 05:59] HexF opened #1105 "STM32F103CBT6: Flash verification fails when writing"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue
This issue extends on issue #1068, which was closed and locked so I can't add to that - hence a new issue.

In order to allow developers and other contributors to isolate and target your respective issue, please take some time to select the check boxes below
and fill out each of the following items appropriate to your

[2021-03-16 06:40] Nightwalker-87 commented on #1105
@HexF: Please use the latest version of the toolset (currently 1.6.1) when reporting bugs.

[2021-03-16 09:35] HexF commented on #1105
Using 9956bdeaab034033c3959751460e6cffe464df52 (latest develop commit) I get:
[code]
Basically the same, just more text

[2021-03-16 18:55] Nightwalker-87 commented on #820
@jdbruijn You appear to be the only one with a V3MINI so far...

[2021-03-16 19:10] jdbruijn commented on #820
Yeah, I still want to test (have it on my todo list) but I'm I'll at the moment.

[2021-03-16 20:09] tarek-bochkati commented on #417
PR #1106

[2021-03-16 23:02] tarek-bochkati commented on #494
#1106

[2021-03-16 23:44] Nightwalker-87 commented on #820
Take your time. I wish you a speedy recovery. :+1:

[2021-03-17 18:20] Nightwalker-87 commented on #220
@Ant-ON @technobly Can we also add the findings on the signal level to the tutorial (open PR) to have a more complete coverage on the difference? Would this be fine for you @technobly ?

[2021-03-17 23:02] Nightwalker-87 commented on #1075
@chenguokai Looks useful indeed.
So, I guess it would make sense to add a note in docs, right?

[2021-03-18 07:20] jdbruijn commented on #820
@Nightwalker-87 This is without any board connected since I don't have any actual hardware to program, unfortunately. Programmer is the STLINK-V3MINI. Let me know if you want me to run any other commands!

[code]

[2021-03-18 23:52] Nightwalker-87 commented on #820
Without any target there would not be much else to see, I guess.

[2021-03-19 06:00] Ant-ON commented on #1105
Can you try https://github.com/Ant-ON/stlink/tree/flash_loader_wait_ms? I'm trying to improve a work of bootloaders...

[2021-03-19 07:23] Ant-ON commented on #1088
Can you try the `develop` branch? This bug shoud be fixed by #1027

[2021-03-19 07:26] Ant-ON commented on #1054
@joseph-cb
@sambazley
Can you try https://github.com/Ant-ON/stlink/tree/flash_loader_wait_ms? I'm trying to improve a work of bootloaders...

[2021-03-19 10:57] Ant-ON commented on #220
@Nightwalker-87 I don't see any need for them in documentation. They show a reset before and after flashing. And also there have an additional reset needle, the reasons for which are not clear

[2021-03-19 15:57] Ant-ON commented on #356
@Nightwalker-87 Can you test https://github.com/Ant-ON/stlink/tree/flash_loader_rework?

[2021-03-19 20:52] Nightwalker-87 commented on #220
OK, I see, fine then. :+1:

[2021-03-19 20:57] Nightwalker-87 commented on #356
Yes, I will soon. Thx for the note.

[2021-03-19 23:07] eosti commented on #1088
I updated my develop branch, so now `st-util` is using `v1.6.1-225-g125cb2d` but the issue still persists. It looks like the PR you linked was merged to the develop branch in September, so I think I've already been testing with that patch.

[2021-03-20 09:16] Ant-ON commented on #1088
@eosti Sorry. I didn't pay enough attention to the description. I fixed the problem. Can you try this branch: https://github.com/Ant-ON/stlink/tree/gdb_features ?

[2021-03-20 09:58] Ant-ON commented on #1013
@Nightwalker-87 I fixed main problem in https://github.com/Ant-ON/stlink/tree/gdb_features

[2021-03-20 10:31] digitalentity opened #1108 "[feature] Support non-continuous Intel IHEX files"
Not sure if it should be a bug or a feature request. From looking at the code it seems WAI, but from user perspective `st-flash` is horribly broken when dealing with non-cotinuous Intel IHEX files.

**Use-case:**

I'm flashing an Intel IHEX where some of the flash sectors are excluded (Flash Sector 1 to be exact). That sector is used to emulate EEPROM for the firmware.

Correctness of the HEX was

[2021-03-20 11:30] #417 closed

[2021-03-20 11:30] #494 closed

[2021-03-20 11:50] #1100 closed

[2021-03-20 12:01] Nightwalker-87 commented on #568
Related to #443.

[2021-03-20 14:35] #820 closed

[2021-03-20 15:06] #1022 closed

[2021-03-20 15:06] #1025 closed

[2021-03-20 16:28] Nightwalker-87 commented on #568
A solution to this can be found here: https://github.com/stlink-org/stlink/issues/107#issuecomment-60971296. I'll add these steps to our tutorial.

@Ant-ON I'm still trying to figure out the actual technical meaning of `0xe0042000`.

This is what I found out so far:
- chip id: 0xE0042000 or 0x40015800, primary information to derive flash and SRAM architecture
- Chip IDs are explained in the approp

[2021-03-20 17:15] sambazley commented on #1054
I tested it on an STM32F072 which is having the same issue. Every other time I try to flash, I get this:
[code]

I can test it on the F429 as well if you want.

[2021-03-20 18:16] eosti commented on #1088
Yay, that looks like that fixed it. I can now see all the registers, without any errors. Thank you so much!

[2021-03-20 18:30] sambazley commented on #1054
Sorry, ignore my last comment. Adding `--reset` makes it work consistently on the F072. I tested again on the F429 using both mainline st-flash and v1.6.1, but for some reason I can't reproduce the issue I was having before.

[2021-03-20 18:44] Ant-ON commented on #1054
@sambazley Yes, I test it with --reset. On my assumptions (which I fixed) this failure occurred due to the configured interrupts. In particular, SysTick. I tested this solution on F1 and F072 with the ST examples for the discovery board.

[2021-03-20 18:53] Ant-ON commented on #261
@Nightwalker-87 Now it is difficult to say the reasons for this behavior. Perhaps the reset output of the programmer was not connected to the board. We saw oscillograms in the #220 that the reset works. I think we can close the problem as solved by  #1107.

[2021-03-20 19:59] Nightwalker-87 commented on #990
@oloftangrot Please provide a PR instead of a diff.

[2021-03-20 20:02] #1013 closed

[2021-03-20 20:02] #1088 closed

[2021-03-20 20:49] Nightwalker-87 commented on #356
@Ant-ON Unfortunately it doesn't make a difference. :confused:

[2021-03-20 21:07] #261 closed

[2021-03-20 21:47] Nightwalker-87 commented on #533
Closed by #1107.

[2021-03-20 21:47] #533 closed

[2021-03-20 21:57] Nightwalker-87 commented on #220
However, as seen from my perspective, this still want's some additional documentation on the hardware-side.
I'll preserve some useful info from this thread in our tutorial to explain the reset pin issue.

[2021-03-20 23:52] Nightwalker-87 commented on #985
We will not able to test anything on 10.6 with our travis CI build environment for macOS.
Currently it only seems to run correctly with 10.15 due to internal xcode build issues.
I'll try to get 10.14 running again, soon as there is a solution around.
The latter would be the only way to preserve a 32-bit build case for macOS.

[2021-03-21 05:51] Ant-ON commented on #356
@Nightwalker-87 Do you use --reset option? Can you upload firmware for bluepill? I will test it

[2021-03-21 10:20] Nightwalker-87 commented on #356
No, but I retried and again there was no difference. The first attempt fails, the second one works, the next one fails and so on...
So in consequence one can upload firmware under these circumstances.

[2021-03-21 10:35] Nightwalker-87 commented on #382
In reference to #74 & #122.

[2021-03-21 11:43] Nightwalker-87 commented on #126
Fixed in #151.

[2021-03-21 11:43] #126 closed

[2021-03-21 16:16] Nightwalker-87 commented on #193
Obviously fixed by #377 where the mentioned code section was rewritten.
According to https://github.com/stlink-org/stlink/pull/377#issuecomment-189691156 the previous implementation was not functional.

[2021-03-21 16:16] #193 closed

[2021-03-21 16:18] Ant-ON commented on #356
The problem is in setting up the MCU firmware, if the firmware goes once every other time. It is necessary to determine what exactly needs to be turned off.
The most easy option is to reboot the MK after erasing, but this is not the best option.

[2021-03-21 16:30] Nightwalker-87 commented on #356
Hm, ok - Well there is no guarantee that the process is currently implemented well...
Should you find any flaws, just get rid of them if a reasonable alternative comes to you mind.

I'm still busy reviewing tickets and identifying already solved issues.
Nevertheless I can test things with my Bluepill or a Discovery VL board anytime. Just let me know. :wink:

[2021-03-21 18:01] Nightwalker-87 commented on #225
This problem is similar to a previously observed issue in #194.
The observed behaviour could have resulted from a faulty `libusb` implementation (what is the primary expectation).
Nevertheless a firmware issue in the programmer may have also resulted in the corrupted USB connection.
`gdb` should indeed be able to detect a connection loss to the server.
However, as it is a stand-alone tool, this pa

[2021-03-21 18:01] #225 closed

[2021-03-21 19:05] Nightwalker-87 commented on #233
According to the `libusb` documentation (https://vovkos.github.io/doxyrest/samples/libusb/enum_libusb_error.html) this issue denotes an I/O error. As the physical connection is interrupted, this is a hardware error and thus not related to the `stlink` toolset.
I such a case the quality of the connection (cables, connectors and solder joints) should be verified and fixed if necessary.

Against this

[2021-03-21 19:05] #233 closed

[2021-03-21 19:37] Nightwalker-87 commented on #314
As far as I can tell, the program has to be called with `load ./$ProgramName$` in this case as the reference to the current path would be missing else-wise. This is very likely an expected behaviour and not a bug.

Looking at this, we can safely close this issue as resolved.

[2021-03-21 19:37] #314 closed

[2021-03-21 20:03] #131 closed

[2021-03-21 21:34] Nightwalker-87 commented on #238
Related to #220.

[2021-03-22 03:22] Ant-ON commented on #568
@Nightwalker-87 chip id can be found in the `reference manual` as the `DBGMCU_IDCODE`. It's uniqual id of one or group of chips. st-link dterminea the support of MCU by chip id. `st-info` don't display information about a chip if read incorrect value from the `DBGMCU_IDCODE` register. Also posible `st-info` reads a value from incorrect register:
https://github.com/stlink-org/stlink/blob/40e9aa22ba

[2021-03-22 03:40] Ant-ON commented on #356
@Nightwalker-87 I have looked at the logs from https://github.com/stlink-org/stlink/issues/356#issuecomment-803549064. You use `develop` branch of main repo. Can you try with `st-flash` from my fork https://github.com/Ant-ON/stlink/tree/flash_loader_rework?

[2021-03-22 05:26] HexF commented on #1105
@Ant-ON That seems to have fixed it:
[code]

[2021-03-22 06:07] Ant-ON commented on #1043
Can you try https://github.com/Ant-ON/stlink/tree/flash_loader_rework? I'm trying to improve a work of bootloaders...

[2021-03-22 07:33] Nightwalker-87 commented on #1105
@HexF Can you test that in a sequence as well to verify this is not a certain coincidence?

[2021-03-22 07:45] Nightwalker-87 commented on #356
No, I haven't: ` git checkout flash_loader_rework` (commit: bc9062c6c590e603e203567b6bfe14baf4c6a0af)
My command was `st-flash --reset write /[...]/Blinker.bin 0x8000000`, as requested.

Still can't report anything else. :confused:

[2021-03-22 07:56] Nightwalker-87 commented on #568
As I understand the reference, the improvement is that `st-info` allocates and checks the correct register depending on the `cpu_id`, which is indeed an improvement. So in reference to your last comment this issue should then actually be verified with PR 1101.

[2021-03-22 08:02] Nightwalker-87 commented on #220
Related to #774.

[2021-03-22 08:04] Nightwalker-87 commented on #1005
There will probably be no further response from the original author due to inactivity.

[2021-03-22 08:05] Ant-ON commented on #356
@Nightwalker-87 I fixed the problem on the `flash_loader_rework` baranch of my fork. I want to make sure that the problem was solved not only for me.
But the `--connect-under-reset` results were interesting. The error says that the MCU is a sleep...

[2021-03-22 08:11] Nightwalker-87 commented on #356
Yeah, well, nobody claimed this would be easy to solve. :unamused:

[2021-03-22 11:46] oloftangrot commented on #990
I might have flushed that branch long time ago and don't really have time to check on it. And I would not know how to make a pull request even if I found it. So I guess it will be least work for all parts if you just apply my diff and commit it directy self.

[2021-03-22 14:32] Ant-ON commented on #356
@Nightwalker-87
The `flash_loader_rework` branch
[code]
The `develop` branch
[code]

[2021-03-22 19:58] Nightwalker-87 commented on #990
... and leave this ticket to automatic maintenance ;-)

[2021-03-22 20:35] Nightwalker-87 commented on #356
@Ant-ON I can now reproduce after a clean uninstall.
I forgot that I had done a full system install of the develop branch head commit previously.
So of course there were leftovers. :facepalm: Sry for that - I should have known better.
The fix obviously solves the issue.

[2021-03-22 20:42] Nightwalker-87 commented on #356
... so now it's about time to collect all related issues together, I guess. :1st_place_medal: :champagne:

[2021-03-22 21:10] Nightwalker-87 commented on #967
@dot4qu After a long wait (sry) there is an update to this now. :smiley:
As it looks like @Ant-ON has successfully fixed #356, and will likely submit a PR soon.
You may test it against this issue then.
I know this is `stlink_flash_loader_run(0x8000400)` and thus not exactly the same, but you can give it a try.

[2021-03-23 20:51] Nightwalker-87 commented on #967
@dot4qu #1113 is ready for testing.

[2021-03-24 03:30] Ant-ON commented on #532
This issue most like fixed by #1071 (software reset rework)

[2021-03-24 07:18] Nightwalker-87 commented on #532
Closed by #1071.

[2021-03-24 07:18] #532 closed

[2021-03-24 07:38] Nightwalker-87 commented on #979
@Ant-ON This should be #1113 as well...

[2021-03-24 07:52] Ant-ON commented on #979
@Nightwalker-87 yes, this is most likely closes by #1113

[2021-03-24 08:54] salacpavel commented on #1012
Experiencing some issue with GD32F105RBT6. I was able to flash once, but I get unknown chip id! 0x4278b7 ever since then.
As this is no target board with no rst pins exposed, I would like to ask you guys to release 1.6.1 with bugfix backported, please?
As I assume 1.6.2 release date is not set.

[2021-03-24 09:30] Ant-ON commented on #769
@Nightwalker-87 This issue most likely closes by #1044

[2021-03-24 09:42] dltech commented on #1012
Unknown chip ID usually means bad physical connection, check supply voltage and mcu connection.

[2021-03-24 09:44] Ant-ON commented on #1012
@salacpavel Try add `--connect-under-rese` to command line

[2021-03-24 09:49] salacpavel commented on #1012
[code]

[2021-03-24 09:50] dltech commented on #1012
@salacpavel  --connect-under-reset affects reset pin, but we do not have it.

[2021-03-24 09:52] dltech commented on #1012
libusb error? try "apt install stlink-tools" in ubuntu

[2021-03-24 09:54] Ant-ON commented on #1012
@salacpavel Are you using stlink v1?

[2021-03-24 09:58] salacpavel commented on #1012
some clone of ST-LINK v2. And I am on Windows, sadly. I should highlight I am not having such a problem with supposedly genuine STM32F105RBT6, I am seeing this with GD32F105RBT6 by GigaDevice only so far. hese two are supposed to be compatible tho. And the first flash went all right.

[2021-03-24 10:08] digitalentity commented on #1012
@salacpavel the firmware you flashed on your GD32F105RBT6 probably remapped the SWD pins (used them as GPIO, AF or entirely disabled JTAG/SWD module). The only way to recover is to connect under reset unfortunately.

[2021-03-24 10:14] salacpavel commented on #1012
Ok, I have disassembled the board and managed to connect jumper wire to nrst pin (7). Once ground, I run:
C:\apps\stlink-1.6.1\bin>st-flash --format=ihex --reset --connect-under-reset write 323.hex
st-flash 1.6.1
2021-03-24T11:11:59 WARN common.c: unknown chip id! 0xffffffff
Failed to connect to target

[2021-03-24 17:53] Nightwalker-87 commented on #1012
@salacpavel I don't really see **_any_** relation to this issue. Not the same chip-id error, not the same chip, no obvious coincidence of your problem with the mentioned programmer firmware version and also the chip id error message is different. **_Please open a new ticket and do not recycle this one._** To answer your question: there will be no patches or any maintenance for older versions of th

[2021-03-24 18:09] Nightwalker-87 commented on #769
I've had a look. Can we be sure about this? The GD32F303VGT6 uses a different core ID in combination with chip ID `0x430`, see `inc/stm32.h`. Can you explain?

[2021-03-24 18:13] Nightwalker-87 commented on #597
@Ant-ON Can you check this one as well? I think though `st-util` was used, this may also be addressed by #1113.

[2021-03-24 22:27] #107 closed

[2021-03-24 22:27] #568 closed

[2021-03-24 22:27] #220 closed

[2021-03-24 22:27] #238 closed

[2021-03-24 22:27] #669 closed

[2021-03-25 03:00] Ant-ON commented on #597
@Nightwalker-87 Standard error descriptions are not informative. Most likely this issue is closed by #1113.

[2021-03-25 03:52] Ant-ON commented on #769
@Nightwalker-87 The core ID used only in the flash loader selection. GD32F303VGT6 have the chip ID of `0x430` which is mean `STLINK_CHIPID_STM32_F1_XL`. In this case the flash loader selected by the chip ID (added by #1044). Flash loaders for F3 and F1 are the same. Everything should work correctly :)

[2021-03-25 04:01] HexF commented on #1105
Yep, running my `ninja -C build flash` worked perfectly fine

[2021-03-25 07:00] Nightwalker-87 commented on #597
Yeah, true. However, as the error code
[code]
is identical to what we've seen before one should be safe to assume the issue is fixed by now.

[2021-03-25 07:02] Nightwalker-87 commented on #769
Ah I see, very cool indeed. Thanks for the note. :1st_place_medal:

[2021-03-25 07:38] Nightwalker-87 commented on #769
I've updated this in `doc/device_boards.md` as well.

[2021-03-25 07:47] Ant-ON commented on #597
@Nightwalker-87 Yes, otherwise someone with the error can open a new issue with a new log

[2021-03-25 07:48] Nightwalker-87 commented on #1012
This reason for the appearance of `unknown chip id! 0x3748` is now also mentioned in our tutorial.

[2021-03-25 07:50] Nightwalker-87 commented on #854
@Ant-ON What about this one. Do you have an idea?

[2021-03-25 07:51] Nightwalker-87 commented on #807
What is the actual definition of `stlink_flash_loader_run(0x8003800)`?

[2021-03-25 07:52] Nightwalker-87 commented on #687
@Ant-ON Has this been fixed in your recent PR related to that topic? Can you have a :eyes: ?

[2021-03-25 08:09] Nightwalker-87 commented on #332
This may be fixed already. I'll try to allocate this to the respective commit or PR.

[2021-03-25 08:13] Nightwalker-87 commented on #1083
Ah, this appears to be the topic with SWD lacking a `NRST` reset pin. At least it seems related.

[2021-03-25 08:18] Ant-ON commented on #687
@Nightwalker-87 I do not know the reasons for this behavior. Most likely the problem is not solved

[2021-03-25 08:25] Nightwalker-87 commented on #1084
@Ant-ON As you were in tough with this scope: Is there any indication for a bug here?

[2021-03-25 08:37] Ant-ON commented on #1084
@Nightwalker-87 There may be some problems related with Windows. I work in Linux and have not noticed this behavior

[2021-03-25 08:38] Ant-ON commented on #854
@Nightwalker-87 Most likely fixed by #1113

[2021-03-25 11:33] Ant-ON commented on #1010
@p-rodrigues Everything works correctly. You forgot to specify the firmware format. The problem is solved by adding `--format=ihex`

[2021-03-25 14:17] Nightwalker-87 commented on #1010
Closed by https://github.com/stlink-org/stlink/issues/1010#issuecomment-806578123.

[2021-03-25 14:17] #1010 closed

[2021-03-25 14:21] #356 closed

[2021-03-25 14:21] #556 closed

[2021-03-25 14:21] #593 closed

[2021-03-25 14:21] #597 closed

[2021-03-25 14:21] #607 closed

[2021-03-25 14:21] #612 closed

[2021-03-25 14:21] #638 closed

[2021-03-25 14:21] #661 closed

[2021-03-25 14:21] #690 closed

[2021-03-25 14:21] #854 closed

[2021-03-25 14:21] #979 closed

[2021-03-25 14:21] #1043 closed

[2021-03-25 14:21] #1054 closed

[2021-03-25 14:21] #1105 closed

[2021-03-25 14:26] Nightwalker-87 commented on #769
I've updated this in `doc/devices_boards.md` as well.
This issue is closed by #1044.

[2021-03-25 14:26] #769 closed

[2021-03-25 14:50] Ant-ON commented on #818
@bootsector Can you test st-flash from the `develop` branch?
@Nightwalker-87 Most likely closes by #1113

[2021-03-25 16:01] bootsector commented on #818
@Ant-ON @Nightwalker-87 I've confirmed that IT WORKS NOW! :D

Thank you guys for fixing this! Amazing job!

[2021-03-25 17:52] Nightwalker-87 commented on #818
@Ant-ON is indeed giving valuable input to the project. :1st_place_medal:

[2021-03-25 18:21] Nightwalker-87 commented on #818
Closed by #1113.

[2021-03-25 18:21] #818 closed

[2021-03-25 22:01] Nightwalker-87 commented on #1008
@Ant-ON Would it be possible to include this in your current branch `Core ID reading rework` ?
What does `WARN common.c: unknown chip id! 0x1a` stand for?

[2021-03-25 22:08] Nightwalker-87 commented on #868
@rewolff Can you please test #1113 against this issue?
Please also summarize the singular problem(s) you faced here.
The history of this thread appears a bit confusing to understand currently. Thx.

[2021-03-25 22:15] Nightwalker-87 commented on #980
Honestly I don't really understand this issue report.
Maybe the correct workflow should be updated in our documentation, but for that we need someone who is clearly aware of how things should proceed step by step during a `gdb` debugging routine.

[2021-03-25 22:21] Nightwalker-87 commented on #808
@Ant-ON Do we actually support writing of option bytes for the F1? I couldn't find any reference on that.

[2021-03-25 22:29] rewolff commented on #868
I can try to explain again...

For production programming (hundreds of boards, not thousands)  I don't like to hit: "Now program this one".
So I have a script:  try to program, if failed (no CPU): try again, if successful, play "ping" and try again.

Now sometimes a programmed board ends up with the unprogrammed ones. Or the firmware changed and the board needs an upgrade. Or we're slow in removin

[2021-03-25 22:37] Nightwalker-87 commented on #868
Then please try the mentioned pull request by @Ant-ON , this issue was fixed there. I ran into it before with my Bluepill board.

[2021-03-26 03:10] dot4qu commented on #967
(working on the `develop` branch)

It _seems_ like this has been mostly resolved. I can now repeatedly program the board by loading the file through the `st-util` gdb server. There's one message in the log that seems kind of incorrect, but I can't see any side effects from it. But I'm also using a test binary with like no code in it so it's hard for me to totally verify functionality other than lo

[2021-03-26 03:23] Ant-ON commented on #980
@Nightwalker-87
@mykmelez `st-util` has the `-no-reset` argument. This argument disables the reset on connect

[2021-03-26 03:33] Ant-ON commented on #808
@Nightwalker-87 `st-flas` does not support option byte for the F1 now. PR # 1112 can add this (F0 and F1 have the same algorithm)

[2021-03-26 04:10] Ant-ON commented on #967
@dot4qu Perhaps `st-util` is runed with the `--multi` argument. `cannot recv: -2` means the connection to the gdb server is closed

[2021-03-26 04:12] Ant-ON commented on #1092
@Nightwalker-87 Most likely it closes by #1113

[2021-03-26 06:04] Ant-ON commented on #681
@Nightwalker-87 Sorry, I have no boards with L series chip. The problem here is strange, a quick look at the code and reading the documentation did not give any results.

[2021-03-26 06:27] Ant-ON commented on #1008
@Nightwalker-87 I can add an extra warning for the error reading the core_id. It must be readable for all Cortex-M targets. In the event of a read error, I add a warning that the target is not available for comunication (check the connection of the "SWD" pins; try connecting the `NRST` pin and use `--connect-under-reset`).

[2021-03-26 06:41] #990 closed

[2021-03-26 06:41] #1091 closed

[2021-03-26 06:49] Nightwalker-87 commented on #1008
Yeah, that sounds good to me.

[2021-03-26 13:05] geoffrey-vl commented on #875
I think this could be very useful, at least on ST's command line tool for Windows I'm using this for a couple of years now.
Example using this feature:

[code]

For st-flash it could look as following:

[code]

Example:

[code]

[2021-03-26 17:04] lmpynix opened #1115 "[STM32L4]: Can't write flash to L451 or L496"
- [X] Programmer/board type: STLink/V2 onboard (used both attached and detached)
- [X] Operating system an version: Linux (Manjaro latest)
- [X] **Stlink tools version** and/or git commit hash: v1.6.1-247-gcfff13c
- [X] Stlink commandline tool name: `st-util`
- [X] Target chip (and board, if applicable): STM32L496ZG (NUCLEO-L496ZG), STM32L451VE (Custom)

Commandline-Output:

(With GDB input of `lo

[2021-03-26 17:51] Ant-ON commented on #1115
@lmpynix In some Lx issues, they wrote that erasing memory does not work correctly. Can you do a full erase in Windows by stlink utility and flash by `st-flash`?

[2021-03-26 18:56] Nightwalker-87 commented on #1115
@lmpynix Please try to work with the latest `develop` we are approaching a new release.
In this context it would not make sense to go back to the last version as many issues have been fixed in the meanwhile.

[2021-03-26 19:25] Ant-ON commented on #1115
@lmpynix I got one idea. Can you try patch `src/stlink-lib/flash_loader.c` and retry flash?
[code]
to
[code]

[2021-03-26 19:55] Nightwalker-87 commented on #967
@dot4qu Very nice to receive your feedback. As it reads we can now safely close this issue as resolved.

Closed by #1113.

[2021-03-26 19:55] #967 closed

[2021-03-26 20:04] Nightwalker-87 commented on #1092
Closed by #1113.

[2021-03-26 20:04] #1092 closed

[2021-03-26 20:07] Nightwalker-87 commented on #1084
@slyshykO Can you try to reproduce it on Windows?

[2021-03-26 20:13] Nightwalker-87 commented on #1012
@digitalentity @geocine What is the current state of this by now?
Can you re-test with the latest `develop`and summarize your findings?

[2021-03-26 20:43] slyshykO commented on #1084
Ok, will see

пт, 26 мар. 2021 г., 22:08 nightwalker-87 ***@***.***>:

[2021-03-26 21:02] Nightwalker-87 commented on #659
I couldn't find anything relevant from the git tree between the mentioned commits.
The reporting of wrong flash sizes may appear on single chips which are partly defective or faked.
As this issue could not be reproduced we can now safely close it as resolved.

[2021-03-26 21:02] #659 closed

[2021-03-26 21:17] Nightwalker-87 commented on #620
Can we have some recent feedback on this to show in which situations the warning `WARN: unknown chip id! 0` occurs?
This ticket appears to be an evergreen and it is about time and also our intention to solve it.

[2021-03-26 21:30] Nightwalker-87 commented on #1000
The next release **v1.6.2** is now planned for **Apr 2021**.

If you find this toolset useful and are willing to contribute, please check the remaining issues.
Note that contribution is not limited to coding - pre-release testing and feedback are just as helpful and always welcome.
Thank you for your support.

[2021-03-26 21:57] tarek-bochkati commented on #1096
indeed, I already added support of this device in OpenOCD
http://openocd.zylin.com/#/c/6108/
the flash delta's are in the commit msg ...

[2021-03-26 22:10] Nightwalker-87 commented on #1096
Just copied the content to have it here directly:

[2021-03-26 22:15] Nightwalker-87 commented on #985
@chenguokai: Do you still have Mac OS X 10.6 in reach and some time to check the code on this?

[2021-03-26 22:15] tarek-bochkati commented on #1005
why are you reading this address 0x1fff75e0
IFAICT flash size data register is @ 0x0BFA05E0
and L5 idcode is @ 0xE0044000

I wanted to check further, but reviewing this part [src/common.c](https://github.com/stlink-org/stlink/pull/999/files#diff-f6c5883a603e481644b9ef028b158acace9eabf59598f164dbec7b97d8da231f) was a nightmare

maybe I read it wrong and you mean by the ticket to support the secure

[2021-03-26 22:28] jcw commented on #620
I don't have an example at hand anymore. I use PlatformIO with a variety of boards, but that's all OpenOCD, as far as I can tell.
I will report as a new issue if this pops up again, and can then go into more detail, so that we can get to the bottom of this.

[2021-03-26 22:41] Nightwalker-87 commented on #1005
Related to #999.

[2021-03-26 22:43] Nightwalker-87 commented on #980
There may be no response from the author any more. I still can't see the error yet.

[2021-03-26 22:45] Nightwalker-87 commented on #681
Anyone else? Indeed there are still a few L-related other tickets as well, so folks with such boards would clearly help.

[2021-03-27 08:51] slyshykO commented on #1084
@Nightwalker-87
I've tested the latest develop on Win10. Build with MinGW-32 and msvc-19 x86.
Both build run without unexpected terminations.

[2021-03-27 10:27] Nightwalker-87 commented on #1084
Did you use the same command: `st-flash --debug --reset --area=option read > option_byte` ? Can you post your output ?
BTW: One should note that option byte reading is currently not implemented for the F0 & F1 series.

[2021-03-27 10:32] slyshykO commented on #1084
[code]

[code]

[2021-03-27 10:42] Nightwalker-87 commented on #1084
Yeah, it is exactly the same - thx :wink:

[2021-03-27 11:00] Ant-ON commented on #1008
@Nightwalker-87 See https://github.com/Ant-ON/stlink/tree/chipid_read_rework

[2021-03-27 13:14] digitalentity commented on #1012
@Nightwalker-87 my original issue reported here https://github.com/stlink-org/stlink/issues/1012#issuecomment-782602708 was root-caused to a faulty ST-Link/V2 clone. No idea why it works on earlier firmwares, but V2J37S7 makes the device useless regardless of `st-flash` version. I've replaced the debugger with another cloned ST-Link/V2 which works perfectly fine with either `1.6.1` or the latest `

[2021-03-27 13:19] nbkolchin opened #1117 "STM32F101VG: st-flash reports " ERROR common.c: unsupported flash method, abort""
- [X] I made serious effort to avoid creating duplicate or nearly similar issue
- [X] Programmer/board type: STLink/V2
- [X] Operating system an version: Linux
- [X] **Stlink tools version** and/or git commit hash: v1.6.1
- [X] Stlink commandline tool name: st-flash
- [X] Target chip (and board, if applicable): STM32F101VG (custom board)

Commandline:

[code]

Commandline-Output:

[code]

Expected

[2021-03-27 14:05] Nightwalker-87 commented on #1083
@Ant-ON I think there will be no further response from the author. His account has no link to this project any more.

[2021-03-27 14:22] Ant-ON commented on #1115
@lmpynix I debugged the L4 flash loader on G4 target. I fixed some problems. Can you try https://github.com/Ant-ON/stlink/tree/flash_loader_fix ?

[2021-03-27 14:43] Ant-ON commented on #1117
@nbkolchin I fixed typo in code. Can you try https://github.com/Ant-ON/stlink/tree/f1_xl_fix_typo ?

The exact size of SRAM is difficult to obtain. 96 KiB is maximum size for the F1 XL serices.

[2021-03-27 14:54] Ant-ON commented on #1005
@tarek-bochkati I looked carefully at the author's problem. It looks like he tried to add support for L5 based on L4, but didn't fix everything...

[2021-03-27 15:24] Nightwalker-87 opened #1118 "[feature] Update for CI integration"
Thank you for giving feedback to the stlink project.

**NOTICE: Please read and follow instructions in #906 before submitting a ticket.
This feature request will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [x] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other

[2021-03-27 15:52] Nightwalker-87 commented on #1118
@slyshykO I managed to get GitHub Actions CI integration running for the available virtual environments running Ubuntu Linux.
macOS is soon to follow and we might also be able to include a windows-2019 environment as well, but I'm not sure if we can achieve that in the first step already.

[2021-03-27 16:14] nbkolchin commented on #1117
It fails with another error after flash erase.

[code]

ST Link original utilities report :

[code]

Maybe this will help somehow.

[2021-03-27 16:31] Nightwalker-87 commented on #1118
@Ant-ON Thx for looking at `tests/flash.c`. I'll give it a try.

[2021-03-27 16:51] Ant-ON commented on #1117
@nbkolchin 154 pages were written without errors ... Then, based on the contents of the registers, something damages the flash loader code in SRAM. PC register points to an address outside the flash loader (0x21000000). The fault registers are empty.

Does the firmware use the DMA to write any values to the SRAM?

Also you can run the commands to check this:
[code]

[2021-03-27 17:00] nbkolchin commented on #1117
Yes.

I've tried suggested commands:

[code]

[2021-03-27 17:10] Ant-ON commented on #1117
@nbkolchin And everything goes fail again. Hmm... I have merged F1 XL fixes with minor bug fixes in the flash loader. Can you check erase - write again?
https://github.com/Ant-ON/stlink/commits/flash_loader_fix

[2021-03-27 17:28] nbkolchin commented on #1117
We have progress:

[code]

I've tried running st-flash several times and always got this result.

[2021-03-27 17:29] Nightwalker-87 commented on #1118
It works now, but breaks somewhere else now... :laughing:
Whatsoever - this time I know why and can fix it myself.
It really is a stop and go procedure through the whole build config. :sweat_smile:

[2021-03-27 17:37] Ant-ON commented on #1117
@nbkolchin I'm glad the problem has been resolved. Thanks for your quick testing!
I'll do PR later and the fixes will be in the main branch. I'm waiting now for information about the state of the problem with L4...

[2021-03-27 17:46] nbkolchin commented on #1117
The problem wasn't resolved. Verify failed and data wasn't written to flash (board doesn't boot).

[2021-03-27 17:56] Nightwalker-87 commented on #1117
No, it's fine. You can continue here. - As you can see I just noticed that there still was this missing bit, before you replied.

[2021-03-27 17:58] Ant-ON commented on #1117
@nbkolchin Oh, I'm already inattentive by the evening. No, need. Can you read data from MCU and run something
[code]

[2021-03-27 18:01] Nightwalker-87 commented on #1117
@Ant-ON Don't tell that we are spending too much time on this project. :rofl:

[2021-03-27 18:19] nbkolchin commented on #1117
`st-flash read` worked flawlessly and matched real data (that was written with original ST-Link utilities).

[2021-03-27 18:45] Ant-ON commented on #1117
@nbkolchin I'm interested in: What is written instead of the firmware.
I realized one flaw in the checks of flash loader results. Flash loader doesn't react to possible errors on it run

[2021-03-27 18:57] nbkolchin commented on #1117
I've tried to run `st-flash --reset erase && st-flash --reset --format ihex write nuttx.hex` and suddenly got back flash errors:

[code]

I've double checked that source code is from `flash_loader_fix` brach.

[2021-03-27 19:02] Nightwalker-87 commented on #1117
You obviously locked your MCU and need to unlock it first before continuing with attempts to flash it.

[2021-03-27 19:05] nbkolchin commented on #1117
No. `STM32_Programmer_CLI` flashes without errors.

[code]

[2021-03-27 20:25] Nightwalker-87 commented on #1118
:information_source: The GitHub Actions CI integration workflow is now functional for all variants of our Ubuntu Linux and macOS build configurations which we currently have in Travis CI.
For now we should keep Travis CI for this project, but I consider to remove the macOS builds from there, if we find GitHub Actions to be useful and stable for our needs. This is because macOS builds are very very

[2021-03-27 20:28] #1118 closed

[2021-03-28 00:12] Nightwalker-87 commented on #1012
The input by @geocine has been added to our tutorial in commit  229c721189587760db5509c59b3c02e93e7035c8.
Based on the issue context and the feedback from @digitalentity we can conclude that some (obviously cheap) ST-LINK/V2 clone programmers brick themselves on official firmware updates, which makes this topic related to individual hardware.

To give a statement on this I personally can't general

[2021-03-28 00:12] #1012 closed

[2021-03-28 00:21] Nightwalker-87 commented on #1083
Based on https://github.com/stlink-org/stlink/issues/1083#issuecomment-752013261 and https://github.com/stlink-org/stlink/issues/1083#issuecomment-753481954 appropriate advice has been given to satisfiable resolve this topic.
Thus we can now safely close this issue as no related bug appears to be present in the toolset.

[2021-03-28 00:21] #1083 closed

[2021-03-28 20:13] mykmelez commented on #980
I'm still responsive, just not able to respond immediately. I'll dig in further to see how I can describe the issue better and/or isolate it to a specific change between 1.6.0 and 1.6.1.

[2021-03-28 20:32] Nightwalker-87 commented on #841
@FFY00: Have you tested Release v1.6.1 as well?

[2021-03-29 06:26] Nightwalker-87 commented on #1075
@slyshykO Can you check the codebase on this?

[2021-03-29 07:41] slyshykO commented on #1075
I will think about it.
I am not sure what it should be. Should it be some tests or just a guide on how to do it? Or a mix of tests and guide.
But stable ABI is not a one-time issue. It is a process.

[2021-03-29 15:59] Ant-ON commented on #1117
@nbkolchin I have added more fixes and improvements to the https://github.com/Ant-ON/stlink/commits/flash_loader_fix . I think it should work now. Can you check again?

[2021-03-29 17:07] nbkolchin commented on #1117
[code]

P.S. There was an error in current sources:

[code]

I've commented variable out for correct compilation.

[2021-03-29 17:56] nbkolchin commented on #1117
[code]

Yes, I have IWDG configured.

[2021-03-29 18:23] nbkolchin commented on #1117
Yes, but this will require some time.

[2021-03-29 23:22] Nightwalker-87 commented on #1075
Well, I'd go through such spots where this topic could be relevant.
Shall there be any findings that want improvement one could think about fixing it in place.
Additionally some documentation in the guidelines seems reasonable.
Anything else, especially future work should follow these then.
Thus we shall see some continuous improvements.

[2021-03-30 03:08] Ant-ON commented on #1075
I think, for the best, external programs should not use the structure directly. Needs to revise the contents of the include files. External applications should only be given the stlink_* functions and enums (encapsulation principle).

[2021-03-30 04:43] Ant-ON commented on #1117
@nbkolchin I hope we understood each other correctly. I meant IWDG configured by option bytes ("hardware watchdog").

[2021-03-31 07:46] Ant-ON commented on #332
I think it might be closed by #1114
The behavior is now more standardized. All applications are called with reset 1 (normal). You can switch to reset 2 (connect under reset) by command line argument. `st-info` and `st-util` can use reset 0 (hot plug).

[2021-03-31 08:09] Ant-ON commented on #254
I think it can be closed by #1071
The problem is most likely due to the reset pin not being connected. In older versions of the `st-util`, the reset through the SWD was not implemented

[2021-03-31 19:56] Nightwalker-87 commented on #1008
@tdjastrzebski @blazczak Have you experienced any change when testing with the current `develop` branch?

[2021-03-31 19:59] Nightwalker-87 commented on #332
I think this should be documented before we close this issue.

[2021-03-31 23:29] ApiumJacob opened #1121 "STM32F446RE: st-info returns different serial number than stm32cube-programmer"
**NOTICE: Please read and follow instructions in #906 before submitting a ticket.
This bug report will be deleted without notice when not enough information is provided! So please ensure that all fields are filled out.**

- [X] I made serious effort to avoid creating duplicate or nearly similar issue

In order to allow developers and other contributors to isolate and target your respective issue,

[2021-04-01 00:30] ApiumJacob commented on #458
In an effort to not create duplicate tickets, I too would like to be able to set and read option bytes.  Specifically the RDP byte.

[2021-04-01 03:00] Ant-ON commented on #332
@night-ghost I added information about args to https://github.com/stlink-org/stlink/blob/develop/doc/tutorial.md

[2021-04-01 03:05] Ant-ON commented on #1121
@ApiumJacob Can you test `develop` branch? It should be fixed by #1106

[2021-04-01 03:15] Ant-ON commented on #458
@ApiumJacob `st-flash` support the option bytes (RDP is the part of this) write for F4 target. How to write see https://github.com/stlink-org/stlink/blob/develop/doc/tutorial.md

[2021-04-01 05:34] tdjastrzebski commented on #1008
@Nightwalker-87 My focus is currently on relatively new STM32H7A3 so I stopped using stlink months ago but I will check.

[2021-04-01 05:39] Ant-ON commented on #1008
@tdjastrzebski You can check STM32H7A3 too. This target must also be supported.

[2021-04-01 18:19] mykmelez commented on #980
I bisected between v1.6.0 and v1.6.1 and identified the regressing commit:

[code]

Unfortunately, that's rather a large commit, and I'm not very familiar with this codebase (nor STM32 programming more generally), so it isn't immediately obvious to me where the problem might be nor how to debug it.

I can run my build of st-util in a debugger, however, and I'm happy to do so, if you have some idea

[2021-04-02 00:47] Nightwalker-87 commented on #980
@mykmelez Thanks for the update and the details.
The mentioned commit appears to have introduced some other issues as well in the past.
I'll try to find a more specific hint.

[2021-04-02 08:36] Nightwalker-87 commented on #458
Please refer to the now linked PR for a proposed solution.
There is a possibility for testing with a STM32F0-Discovery board within the next two weeks.

[2021-04-02 20:30] Nightwalker-87 commented on #332
@Ant-ON I have taken note of that, but was pointing at

on the code-layer and not on the command line level.

[2021-04-03 12:49] Nightwalker-87 commented on #985
I have found out that the macOS 10.14 build fails because of:

[code]

I tried the following addition to `CMakeLists.txt` but it did not solve the problem:

[code]

One would need to resolve that first, before we can continue to test 32-bit builds with CI.
We have to do that on Travis because GitHub Actions does not offer any support for earlier versions than macOS 10.15 which are all 64-bit only.

[2021-04-03 13:05] Nightwalker-87 commented on #868
Ping @rewolff

[2021-04-03 13:13] Nightwalker-87 commented on #1121
Ping @ApiumJacob

[2021-04-03 13:24] Nightwalker-87 commented on #1115
Ping @lmpynix

[2021-04-03 13:28] Nightwalker-87 commented on #1023
@dingyifei Please test this again with the current `develop` branch.
This should be fixed since #1025.

[2021-04-03 14:15] Nightwalker-87 commented on #980
Here is the graphical view of the mentioned commit: https://github.com/stlink-org/stlink/commit/09ea99aea51f741ce9c8c0e2ad755d40b3d86021

I may assume the relevant change is in  `src/gdbserver/gdb-server.c` as it is related to the use of `st-util`.
Can you try if reverting that change there does have any effect?

[2021-04-03 14:20] Nightwalker-87 commented on #980
Obviously also related to #692.

[2021-04-03 14:32] Nightwalker-87 commented on #991
@vincentdupaquis: This seems to be an issue in `gdb` itself, see
https://gitter.im/blacksphere/blackmagic?at=5b5e1843d4527523f63cb11f.

[2021-04-03 15:25] Nightwalker-87 commented on #266
Closed by #341.

[2021-04-03 15:25] #266 closed

[2021-04-03 15:25] Nightwalker-87 commented on #273
Closed by #341.

[2021-04-03 15:25] #273 closed

[2021-04-03 17:27] Nightwalker-87 commented on #801
Two questions from my side:
- Can this behaviour be reproduced with other chips or boards?
- Is it really related to `libusb`?

[2021-04-03 18:13] Nightwalker-87 commented on #1038
@jiayihu Even though you don't use `--semihosting` any more: Can you please provide the commands you executed in `gdb` and tell us more about the actual issue to be able to have it investigated? This ticket is now open and thus should not be closed without a solution.

[2021-04-03 19:09] Nightwalker-87 commented on #1009
Here someone with a STMF7 chip or board should try commit 6f941b22eb00844eca7d17ebe3168d34276ef6b3.
This is the last commit post-v1.6.0 using `libusb 1.0.22`.

[2021-04-03 19:35] Nightwalker-87 commented on #841
@FFY00: Sorry for the late reply, but we've not forgotten about this issue.

The firmware version is displayed when executing `st-info --probe`
Can you check? Ensure to work with the latest version which should be **V2.J37.S7** for your programmer.

[2021-04-03 19:36] jiayihu commented on #1038
I didn't use gdb, I just ran `st-util --semihosting`. Btw, if nobody else can test the fix just give me some time. I'm writing my master thesis right now, but after the deadline on the 15th of this month, I'll try to find a moment to test it on my board

[2021-04-03 19:49] Nightwalker-87 commented on #1038
@jiayihu: Thx for coming back to this. Note that `st-util --semihosting` alone does not do anything apart from opening a debug server listening and waiting for interaction with a `gdb` debugger. (As far as I am aware of.) Also check our tutorial (`/doc/tutorial.md`) on this.
I believe it is important to understand the behaviour you expected in contrast to the actual implementation. Maybe there was

[2021-04-03 20:05] jiayihu commented on #1038
Oh you're right, I went back to my workflow and I used this `.gdbinit`

[code]

And ran with `arm-none-eabi-gdb`

[2021-04-03 20:11] Nightwalker-87 commented on #1038
Ok, thanks - I'll try this out with my Bluepill board and possibly with a borrowed Nucleo STM32F429ZI (if functional... :confused:).

[2021-04-03 20:39] mykmelez commented on #980
I tried reverting the change in gdb-server.c on top of the regressing commit, but that didn't have any effect. Then I started reverting additional chunks by hand, one at a time, and I discovered that reverting the changes to just two functions in usb.c resolved the issues. Here's the set of changes I made to restore the original behavior:

[code]

The changes in __stlink_usb_reset()_ fixed the iss

[2021-04-03 21:12] mykmelez commented on #980
After thinking about it a bit more, I realized that maybe the issue is that some of the code that was introduced to support STLINK_JTAG_API_V3 is specific to that JTAG API version, and it doesn't apply to V2. In that case, using the V1 version of the code for both V1 and V2 might be the solution, i.e. something like this change on top of the tip of the develop branch:

[code]

That change does fix

[2021-04-03 21:12] Nightwalker-87 commented on #980
Thanks for investigating further. This is indeed very helpful :wink:

`STLINK_JTAG_API_V1` is solely used by the original `STLINK/V1` programmer.
AFAIK the latter is only present on the STM32VLDiscovery and as a stand-alone programmer (now obsolete).
Your programmer does require the `STLINK_JTAG_API_V2` API in order to work correctly.

With this information we may now be able to address not only t

[2021-04-03 21:30] Nightwalker-87 commented on #980
We should involve @Ant-ON in this discussion, as he edited this part of the code (programmer APIs) recently.

[2021-04-03 22:00] Nightwalker-87 commented on #1038
Here is my output when trying to reproduce your command sequence with a Bluepill (CKS32F103C8T6):

[code]

... which looks good to me and is what to expect AFAIK.

[2021-04-03 22:35] Nightwalker-87 commented on #1038
Here is my output when trying to reproduce your command sequence on develop (HEAD) with a Nucleo STM32F429ZI:

[code]

... and nothing else happened in `gdb` while receiving continuous output of

[code]

on the gdb-server (`st-util --semihosting`) side.

This led me to the approach to update the firmware of the STLINK/V2-1 on-board programmer to **V2.J37.M27**.

This leads to:

[code]

... which a

[2021-04-03 22:40] Nightwalker-87 commented on #1038
What I can still do is to verify the observed results with v1.6.0 and v1.6.1 in order to find out about any possible inconsistencies in the codebase between v1.5.1 and v1.6.1.

[2021-04-04 00:17] Nightwalker-87 commented on #254
The observed behaviour obviously derived from the following issues:
- Bug in the external debugging tool `gdb` 7.10.1 which appears to have been fixed in v7.11.
- Missing ability for a software reset via the SWD interface that was not present before #712.
- Further improvements for the software-based reset functionality have been added in #1071.

With this conclusion based on a final review of the

[2021-04-04 00:17] #254 closed

[2021-04-04 00:47] ApiumJacob commented on #1121
Yeah, I will try it out. Could take some time because I need to figure out
how to build the tools.

Jacob

On Sat, Apr 3, 2021, 6:13 AM nightwalker-87 ***@***.***>
wrote:

[2021-04-04 05:09] Ant-ON commented on #980
@mykmelez Can you try `develop` branch? There really was a problem with `stlink_usb_read_all_regs`, but in a slightly different (#1027). About the differences in reset behavior I'll try to see it in the evening.

[2021-04-04 06:55] mykmelez commented on #980
@Ant-ON, I tried the `develop` branch, and I see the same problems there. The second change I mentioned (https://github.com/stlink-org/stlink/issues/980#issuecomment-812926081) is actually against the tip of the `develop` branch.

And it seems to fix both problems for me there (although I'm not entirely positive because I'm running into #995 when I try to test it).

[2021-04-04 06:58] Ant-ON commented on #1117
@nbkolchin I checked the behavior of the application with the IWDG enabled by hardware. It is very similar to the observed situation (interrupting the flashing in random places and the contents of the registers). I added IWDG reset during flashing. Everything should work correctly now.
If you can, then check out the https://github.com/Ant-ON/stlink/commits/flash_loader_fix branch.

[2021-04-04 08:12] Ant-ON commented on #980
@mykmelez Current `develop` branch have small bug in the L4 flash loader. Bug with BSY flag waiting (https://github.com/Ant-ON/stlink/commit/e4c8240d7b0f537734c10b0e8e141c10500c470c). I fixed in https://github.com/Ant-ON/stlink/commits/flash_loader_fix but I haven't merge the changes yet. This is most likely the cause of error #995.

`st-util` does a reset at the startup. In version 1.6.0 and in v

[2021-04-04 09:19] Nightwalker-87 commented on #1121
Take a look at `/doc/tutorial.md` for further help on this topic.

[2021-04-04 16:24] Nightwalker-87 commented on #627
This appears to be a `gdb`-related issue which is not related to the `stlink` toolset.

Further explanation can be found here: https://undo.io/resources/gdb-watchpoint/how-work-signals-gdb/

The reference above describes the case of `gdb` not responding to CTRL+C.
Thus we can now safely close this issue as resolved.

[2021-04-04 16:24] #627 closed

[2021-04-04 16:49] Nightwalker-87 commented on #658
This could either have been related to different `libusb` versions used on both machines, or different toolchains (clang, gcc) for building the latter, or even related to specific local hardware issues, that did not have any impact on the correct command and program execution itself.
As we have no chance to reproduce or verify this and together with the knowledge that there were no general perform

[2021-04-04 16:49] #658 closed

[2021-04-04 16:57] Nightwalker-87 commented on #705
IMHO documentation should be improved here.
Can one think of a reasonable way to remove write protection via the toolset directly?

[2021-04-04 17:45] Nightwalker-87 commented on #291
Likely closed by #430 where an additional JTAG reset has been added prior to the call of `stlink_reset`.

[2021-04-04 17:45] #291 closed

[2021-04-04 18:10] Nightwalker-87 commented on #358
Fixed in #528.

[2021-04-04 18:10] #358 closed

[2021-04-04 18:52] Nightwalker-87 commented on #655
Having reviewed changes related to st-util and the `gdb-server`, this issue still appears to be unresolved as of v1.6.1.
Some relevant changes may be found in commits 34c0a31204d33fd15a1186709e3f60d186bcda3e and 09ea99aea51f741ce9c8c0e2ad755d40b3d86021.

Thus this should be investigated further on the current `develop` branch.

[2021-04-04 20:36] Nightwalker-87 commented on #868
As realised from the respective fork, the original author is currently working with v1.6.0 (commit f5d0454ab0a18f209ad5b7d0d51f3945b27dd892).

Using STLINK/V2 clone programmers is not a general problem - most do work reliable with the `stlink` toolset.
The missing ability for a hardware-reset due to the absence of a `NRST` line is compensated with a software-based JTAG reset functionality via the

[2021-04-04 20:36] #868 closed

[2021-04-04 22:08] Nightwalker-87 commented on #1038
Here is my output when trying to reproduce your command sequence on `develop` (HEAD) with a Bluepill (CKS32F103C8T6):

[code]

... which does not work as expected.

[2021-04-04 22:20] Nightwalker-87 commented on #1038
Here is my output when trying to reproduce your command sequence for v1.6.1 with a Nucleo STM32F429ZI:

$ gdb-multiarch
GNU gdb (Debian 10.1-1.7) 10.1.90.20210103-git
Copyright (C) 2021 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent pe

[2021-04-04 22:42] Nightwalker-87 commented on #1038
... so from my findings I can verify that `st-util --semihosting` (still) does not work correctly in v1.6.1, but on current `develop`.

[2021-04-05 04:00] Ant-ON commented on #1038
@Nightwalker-87 Yes, this bug is related to #1027. Semihost uses the `stlink_read_all_regs` for determine a state:
https://github.com/stlink-org/stlink/blob/fe526ec9ebc77224ed3ac0e688e07cd250cd59a0/src/st-util/gdb-server.c#L1458-L1469

[2021-04-05 04:05] Ant-ON commented on #801
There is some strange behavior. Most likely it is related with a reset and may be fixed by #1071

[2021-04-05 04:13] Ant-ON commented on #705
@Nightwalker-87 Yes it possible through writing of protection bits (part of option bytes).
I added check `WRPERR` error to the https://github.com/Ant-ON/stlink/tree/fl_fix branch. In the event of a write error due to the set protection bits, a corresponding message should be displayed.

[2021-04-05 06:42] Ant-ON commented on #332
@Nightwalker-87 in command line layer too. See `--hot-plug` and `--connect-under-reset` in `tutorial.md`.
I no added the `--connect-under-reset` to gdb. I don't know how to do it there yet. I will add the `--hot-plug` to the `st-flash` at evning.

[2021-04-05 11:00] Nightwalker-87 commented on #332
Ah now I get it - reset 0, 1 & 2 sounded like enum cases in the code to me at first... That's fine then.
I was aware of the mentioned command options being listed in the tutorial.

[2021-04-05 11:04] Nightwalker-87 commented on #332
As #1114, which addresses this ticket, also includes the related documentation, we can now close this issue as resolved.

[2021-04-05 11:04] #332 closed

[2021-04-05 11:12] Nightwalker-87 commented on #1038
Fixed in #1027.

[2021-04-05 11:12] #1038 closed

[2021-04-05 14:01] Nightwalker-87 commented on #692
@Ant-ON I think the `load-stop-continue` problem is fixed by now.
However I am not so sure about the core halt, because I have seen, as I believe, somehow similar output to `0x1fff3f36 in ?? ()` recently (see #1038).
So looking at this, I can't tell whether the core halt works for all STM32 cores yet.

[2021-04-05 16:57] mykmelez commented on #980
Indeed! With your fix, and my fixes in the comment above, I'm able to flash and run my large program successfully onto a device with an STM32L496 MCU.

A reset does occur for me in both 1.6.0 and 1.6.1, but what happens after the reset is different.

* 1.6.0: after reset, the processor halts, so the program on the device stops running, and it doesn't start again (until I flash a new version of it

[2021-04-05 17:20] Nightwalker-87 commented on #980
We should implement the most useful approach here, I think.

[2021-04-05 22:59] Nightwalker-87 commented on #817
@Ant-ON: What's your opinion on this one?
To me it looks different to the flash loader errors we've seen so far...

[2021-04-06 03:59] Ant-ON commented on #807
@Nightwalker-87 I think this should be fixed by #1113
ps 0x8003800 is not an error code, it's the write address.

[2021-04-06 04:10] Ant-ON commented on #817
@Nightwalker-87 Yes, the error is different since the flash loading code for L0 and L1 is slightly different from other series. Most likely the problem is interrupts and it's fixed by #1113

[2021-04-06 06:04] Ant-ON commented on #692
@Nightwalker-87 The problem is old enough version of tool. I did not specifically fixing this problem. Possible indirect fixes when rework reset or flash loaders.

[2021-04-06 21:58] Nightwalker-87 commented on #807
Closed by #1113.

[2021-04-06 21:58] #807 closed

[2021-04-06 22:02] Nightwalker-87 commented on #817
Closed by #1113.

[2021-04-06 22:02] #817 closed

[2021-04-06 22:10] Nightwalker-87 commented on #692
Yes it's an old version of the toolset, I know. I'll have a look in the project history for references.
However, output like `0x1fff3f36 in ?? ()` or similar, as also seen in the cited issue, does not look correct to me.

[2021-04-07 00:00] Nightwalker-87 commented on #991
@Ant-ON Could this also be related to a write protected chip itself?

[2021-04-07 03:55] Ant-ON commented on #991
@Nightwalker-87 More like the command is not implemented in the `st-util`. Other debuggers behave in a similar way: https://ncrmnt.org/2019/04/14/note-to-self-how-to-flash-bin-files-via-raw-gdb/comment-page-1/

[2021-04-07 13:38] frankplow opened #1122 "[STM32F407VG]: unknown chip id! 0x374b"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue
- [x] Programmer/board type: [STLINK/V2-A onboard]
- [x] Operating system and version: [Linux (5.11.7-arch1-1)]
- [x] **stlink tools version** and/or git commit hash: [v1.6.1 & 1.6.1-277-g6f793d6]
- [x] stlink commandline tool name: [st-flash]
- [x] Target chip (and board, if applicable): [STM32F407VG (STM32F407G-DISC1

[2021-04-07 13:55] Ant-ON commented on #1122
@frankplow If you have a board with connected nrst pin, then you do not need to press the reset button. Judging by the fact that the `--connect-under-reset` options is help to detect target, then most likely the microcontroller goes into sleep mode or do critical configuration changes (for example remap the SWD GPIO).
I reworked the reset system a little more. Also some other improvements. You can

[2021-04-07 14:26] frankplow commented on #1122
Thank you, using that fork/branch has resolved the issue. NRST is connected directly to the Reset button, so the technique given in https://github.com/stlink-org/stlink/issues/1012 worked.

I have managed to reproduce the issue by uploading a specific binary (https://www.dropbox.com/s/mvo04e8oemirly4/mbed-os-example-blinky-baremetal.bin?dl=0). Here is the source of the file: https://arm-software.g

[2021-04-08 09:08] Nightwalker-87 commented on #655
@Ant-ON I can't locate any suspicious behaviour here. Have I missed something when looking at this?

[2021-04-08 11:41] Ant-ON commented on #1122
@frankplow There is no hardware configuration in the code. Apparently mbed-cli adds it for you. You may be using Mbed OS and it going into sleep (for example sleep with SysTick interrupt wake-up).

[2021-04-08 11:48] Ant-ON commented on #655
@Nightwalker-87 This is a tricky problem. The target program did not run in the debugger. And in throwgh OpenOСD too. Perhaps there were some features of the software or hardware that did not allow this to be done. It is hard to say.

[2021-04-09 09:52] martonmiklos opened #1123 "[feature] RFC: Support GPIO change triggered programming with STLINK-V3"
Hello folks!

I opened this issue to start some discussion about the following idea:
The STLinkV3 has GPIOs which could be accessed through the USB via a so called 'bridge API'.
I would like to use these GPIOs to detect the target connection before programming.
I usually use TAG connect connector which has 6 pins: VCC, 2 GNDs, RST, SWDIO, SWDCLK.
One of the GND pins is connected to the STlink's GN

[2021-04-09 14:11] frankplow commented on #1122
I returned to this today, aiming to do a bit more testing and narrow down exactly what it was in that file causing the issue, and the binary above no longer creates the `unknown chip id!` error. I've restarted since then, but I think the issue was still reproducing 100% of the time after at least one restart. If I remember anything else I've done that may have inadvertently fixed the problem, I wi

[2021-04-10 21:14] mykmelez commented on #980
@Ant-ON, in my testing, your fl_fix branch seems to have fixed this issue for me:

1. When starting st-util, if I specify `--connect-under-reset`, then I get the "halt MCU" behavior that was the default in 1.6.0.
2. When flashing a binary using gdb, the binary flashes correctly and starts successfully in the debugger.

I also tested st-util without any flags and with `--hot-plug`, and those varian

[2021-04-11 02:49] blazczak commented on #1008
@Nightwalker-87 the version in `develop` seems to fix the `unknown chip id` `LIBUSB_ERROR_BUSY` errors.

[code]

However, I don't quite remember having to reset manually at the end of each write. Is that a regression (no autoreset)? F7 board.

[2021-04-11 02:53] blazczak commented on #1008
@Nightwalker-87 Auto-reset occurred after using v1.6.0 to write the same binary.

[2021-04-11 05:45] Ant-ON commented on #1122
@frankplow Then I have no ideas yet, which leads to the inaccessibility of the target for debugging.
In general, flash of the target has been solved, as I understand it

[2021-04-11 07:04] Ant-ON commented on #1123
I think this could be useful in a narrow range of tasks.
It seems to me that both actions could be reduced to one command. Like this `--config-gpio <gpio_number> <gpio_mode> <action>`. `action` could be some thing like `none`, `wait-for-hi-level` and `wait-for-low-level`. In the future, other actions may appear.

[2021-04-11 08:11] martonmiklos commented on #1123
Merging the arguments makes sense but then I would rather name it --config-gpio-trigger.
Because the config-gpio name describes only the half of the feature and could be overlooked by someone who looks for this feature in man or in help. What do you think?

[2021-04-11 12:06] Nightwalker-87 commented on #449
@Ant-ON This may also be addressed in your recent PR.

[2021-04-11 12:06] Nightwalker-87 commented on #888
@Ant-ON This may also be addressed in your recent PR.

[2021-04-11 12:17] Nightwalker-87 commented on #1008
@blazczak The relevant changes should have been introduced with the merge of #1120.

[2021-04-11 20:51] Nightwalker-87 commented on #264
@Ant-ON Do #277, #281 and/or #295 have any influence on this?

[2021-04-11 21:11] Nightwalker-87 commented on #655
I expect this issue still to be present in v1.5.0 ans v1.5.1.

[2021-04-11 21:27] Nightwalker-87 commented on #801
Assumed to be closed by #1071.

[2021-04-11 21:27] #801 closed

[2021-04-11 21:34] Nightwalker-87 commented on #692
@Ant-ON I was not pointing at #1038 itself, but the testing i did within this issue.

[2021-04-11 21:35] Nightwalker-87 commented on #1023
Ping @dingyifei

[2021-04-11 21:44] Nightwalker-87 commented on #1023
Closed by #954.

[2021-04-11 21:44] #1023 closed

[2021-04-11 21:47] Nightwalker-87 commented on #1121
Ping @ApiumJacob

[2021-04-11 21:51] Nightwalker-87 commented on #995
@Ant-ON Fixed?

[2021-04-11 21:58] Nightwalker-87 commented on #991
How is this possible then?

[2021-04-11 22:23] Nightwalker-87 commented on #1009
Ping @tdjastrzebski

[2021-04-12 03:01] Ant-ON commented on #991
@Nightwalker-87 it can by use elf file and `load` command. This issue can rename to feature request. The 'restore ' command is not implemented

[2021-04-12 03:02] Ant-ON commented on #995
@Nightwalker-87 yes, it closes by #1124

[2021-04-12 03:24] Ant-ON commented on #692
@Nightwalker-87 This is a different problem. The #1038 had regression problems when implementing st-link/v3.
I have not seen the described problem on my boards. But I have only F series boards.

[2021-04-12 04:27] Ant-ON commented on #1008
@blazczak To reset the target after flashing, you need to use `--reset` parametr. By default, after the firmware, the code continues to be executed. Judging by the documentation (https://github.com/stlink-org/stlink/blob/develop/doc/tutorial.md), this has always been the case, perhaps there were some flaws leading to reset after flashing.
When using `--connect-under-reset`, a new firmware will sta

[2021-04-12 04:58] Ant-ON commented on #1123
I think that the trigger postfix only narrows the functionality of the option. It seems like this is just a trigger setting. If you want to focus attention on the trigger option, then maybe so?
`--config-gpio <gpio_number> <gpio_mode> <trigger>`

[2021-04-12 05:19] Ant-ON commented on #264
@Nightwalker-87 There is very little information here. It is only clear that the flash loader does not flash some of the data. With #295 is not related exactly.

[2021-04-12 05:23] Ant-ON commented on #888
@Nightwalker-87 Not, it's not related. To solve this issue, needs to catch LIBUSB_ERROR_IO errors and calls libusb_reset_device

[2021-04-12 16:26] vkleban opened #1125 "[STM32L072]: Different st-util behaviour v1.6.1 vs develop:latest"
Hi guys,

- [x] Operating system an version: macOS 11.2.3
- [x] Target chip (and board, if applicable): STM32L072
- [x] Programmer/board type: B-L072Z-LRWAN1 (STLINK /V2-onboard)

I've installed `st-util` (v.1.6.1) on my macOS 11.2.3 using `homebrew` and it works fine for me except the `--freq` parameter that is not supported.

Here is a normal output:
[code]

In order to make `--freq` available I

[2021-04-12 17:44] Ant-ON commented on #1125
@vkleban I missed the Cortex-M0+ core when implementing the chipid detection. Can you check https://github.com/Ant-ON/stlink/tree/cm0p_fix ?

[2021-04-13 04:29] V1DEOJAMES commented on #681
I'm also experiencing an issue when trying to flash many boards using st-flash 1.6.1.

Seems to default to very slow page write.
ERROR flash_loader.c: flash loader run error
WARN common.c: l1_stlink_flash_loader_run(0x8000000) failed! == -1
WARN common.c:
write_half_pages failed == -1
452/453 pages written

[2021-04-13 04:50] Ant-ON commented on #681
@V1DEOJAMES Can you try https://github.com/Ant-ON/stlink/tree/fl_fix branch?

[2021-04-13 06:53] vkleban commented on #1125
@Ant-ON I confirm that the issue is resolved now. Thank you!

[2021-04-13 19:27] #244 closed

[2021-04-13 19:27] #382 closed

[2021-04-13 19:27] #705 closed

[2021-04-13 19:27] #995 closed

[2021-04-13 19:27] #1117 closed

[2021-04-13 19:27] #1122 closed

[2021-04-13 19:27] #980 closed

[2021-04-13 19:28] #1125 closed

[2021-04-13 19:34] erikarn commented on #1115
Hi! I've hit the same issue on:

[code]

.. Ant-ON 's branch did fix the problem on this L433!

[2021-04-14 03:46] Ant-ON commented on #1115
@erikarn This is already a deprecated branch. I have modified the flash loading process and merged changes. Can you test develop branch (https://github.com/stlink-org/stlink/tree/develop)?

[2021-04-14 04:12] erikarn commented on #1115
hi! It didn't work! I already checked out and built develop.

So something else is missing!

-adrian

On Tue, 13 Apr 2021 at 20:46, Anton ***@***.***> wrote:

[2021-04-14 05:46] Ant-ON commented on #1115
@erikarn Does the flashing via st-flash also not work? Can you provide a log with error?

[2021-04-14 05:55] erikarn commented on #1115
i'll do it tomorrow; iirc it was stuck on the core constantly reporting
alive

[2021-04-14 17:52] erikarn commented on #1115
oh! you merged in changes last night!

I just checked out cb551d50f879ec21e3d54c75041bffe506e830e5 and verified it works! thanks!

[2021-04-14 18:05] Nightwalker-87 commented on #1115
Fixed by #1126.

[2021-04-14 18:05] #1115 closed

[2021-04-14 18:16] Nightwalker-87 commented on #1009
@Ant-ON Any idea from your side?

[2021-04-14 18:23] Nightwalker-87 commented on #1121
Related to #417 and #494.

[2021-04-15 03:45] bm16ton opened #1127 "simple fix for flash 0x0 chip wrong or 0x0"
flashed a bad firmware on stm32f103rct6  openocd wouldnt recognize it, st-flash couldnt either
st-info --flash
0x0
--chipid
0x0
reset into bootloader
--flash
0x0
--chipid
0x074b
All the suggestions the same use uhg windows app and it worked using the option to connect on boot...and I thought is that just catching it during sum special short period in boot? So I reflashed the bad firmware confirmed

[2021-04-15 07:16] Ant-ON commented on #1009
@Nightwalker-87 I think these are problems on the hardware or OS side. It is difficult to say their reason.
A similar problem was in the https://github.com/libusb/libusb/issues/442. As far as I understood, the problem could not be found.

[2021-04-15 10:23] tdjastrzebski commented on #1009
@Ant-ON @Nightwalker-87 I agree, it seems to me it is a Windows problem. Probably comparing Windows registry content before and after reconnecting the board would shed some light.

[2021-04-15 13:05] seeseemelk opened #1128 "[STM32L471]: Cannot set option byte"
When attempting to unset the `BFB2` bit from `FLASH_OPTCR` register, I get the following error:
[code]
It seems that the st-flash utility is not quite correctly parsing its command line arguments, preventing the modification of special registers.

[2021-04-15 13:49] tarek-bochkati commented on #1121
this "could" be fixed in develop by #1106
we need @ApiumJacob to recheck using develop branch
(I can't help on how to build, in linux it compiles w/o any effort.)

[2021-04-15 14:30] seeseemelk commented on #1128
This issue has been fixed by eff18d81d9c64ef9eaf4972d800de09be13ff141, but as of writing this isn't yet in a released version which is why I encountered it.

[2021-04-15 14:30] #1128 closed

[2021-04-15 18:36] Nightwalker-87 commented on #1009
I see, but that is obviously noting related to this toolset and it's integrity, so I suggest to close this issue as "unrelated".

[2021-04-15 18:40] Nightwalker-87 commented on #1128
@seeseemelk: Please follow #906 before opening new tickets in future.

[2021-04-15 18:44] Nightwalker-87 commented on #1128
Fixed by #1102.

[2021-04-15 18:51] Nightwalker-87 commented on #1008
@tdjastrzebski Can you give us an update on this?

[2021-04-15 19:53] tdjastrzebski commented on #1009
@Nightwalker-87 I would refrain from jumping into such conclusion. OpenOCD and pyOCD do not reveal such issue. Not to mention STM32CubeProgrammer. Tested with exactly the same hardware/setup.

[2021-04-15 19:56] Nightwalker-87 commented on #1009
Have you tried any newer commits (also the mentioned ones)?

[2021-04-15 20:02] tdjastrzebski commented on #1009
I have not. If I were to guess, my guess would be stlink sets some usb properties which Windows remembers and refuses to cooperate after reconnection. I will try the latest stlink build.

[2021-04-15 21:28] tdjastrzebski commented on #1009
An attempt to build the current version results with this error:
[code]
CMake correctly downloads libusb but then it cannot find it.

[2021-04-15 21:43] Nightwalker-87 commented on #1009
Thx for the note. Please try fe526ec9ebc77224ed3ac0e688e07cd250cd59a0 instead.

[2021-04-15 22:43] Nightwalker-87 commented on #237
@Ant-ON Maybe your thoughts to refactor `src/common.c` would fit in here.
I just noticed a lot of dead code and rubbish in there also, but haven't changed anything yet ...

[2021-04-15 23:12] Nightwalker-87 commented on #1009
@tdjastrzebski The error may have been introduced here: 89a495d169a15f42d8cfd1a68c6738c984d052f8
Nevertheless we should focus on the actual topic and the previous ticket of yours as well, so please stay tuned.

[2021-04-16 03:05] Ant-ON commented on #237
@Nightwalker-87 I've seen it, but there is no plan to implement it yet. I would only like to expand the list of chips by add the missing ones.

[2021-04-16 07:58] Nightwalker-87 commented on #237
Yeah, that's just fine. I expect things to calm down a bit anyway once the release is ready...

[2021-04-16 17:23] rewolff commented on #237
preliminary code written, pull request created, "for discussion".

[2021-04-18 19:23] Nightwalker-87 commented on #1009
Duplicate of #1008.

[2021-04-18 19:51] Nightwalker-87 commented on #1008
Intermediate summary:

- _"Does the above mean this board is unsupported?"_
_"According to this list Core-ID: 0x5ba02477 is supported."_
--> The NUCLEO-767ZI board and the STM32F767 MCU are both supported by this toolset.

- _"Is incorrect Chip ID what causes the problem? It looks like Chip ID should start with 0x4xx."
"Is it some Chip ID parsing problem?"_
--> has been addressed in #1120.

- _"I

[2021-04-18 20:13] Nightwalker-87 commented on #1008
Please don't work with any older commits than 9c1315a73296841ed3c25b4ea9500c187ab8236d from this point.

@blazczak: Are there any further leftovers?

We need testing with **STM32F746**, **STM32F767** and **STM32F769** to find out if this regression from **v1.6.1** has been finally fixed.

[2021-04-19 13:55] tcbennun opened #1133 "STM32G031G8: Verification of flash failed - and using STM32CubeIDE to flash temporarily fixes it?"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue

- [x] Programmer/board type: NUCLEO-F302R8 (ST-LINK/V2-1)
- [x] Operating system an version: Debian 10
- [x] **stlink tools version** and/or git commit hash: v1.6.1
- [x] stlink commandline tool name: `st-flash`
- [x] Target chip (and board, if applicable): STM32G031G8Ux

This hardware configuration flashes correctly

[2021-04-19 17:35] Nightwalker-87 commented on #1133
Please leave closing to automated project maintenance.

[2021-04-19 18:26] Nightwalker-87 commented on #1133
Closed by #1126.

[2021-04-19 18:26] #1133 closed

[2021-04-20 19:45] Nightwalker-87 commented on #1009
@slyshykO Can you check on your native windows machine if compilation succeeds?
Not sure if there still is an unnoticed problem with a subfolder-path.
I can't see this during cross compilation and was not able to check on a VM yet.

[2021-04-20 19:56] slyshykO commented on #1009
[code]

[2021-04-20 21:45] Nightwalker-87 commented on #1009
is this the latest commit?

[2021-04-20 21:47] slyshykO commented on #1009
yes, it is latest develop

[2021-04-20 21:52] Nightwalker-87 commented on #1009
I'll roll `libusb` back to version **1.0.23** and will not update until a windows contributor is going to do so confirming it is working.
I'm fed up with this and won't spent any more time on this issue. I believed to have found a way to let it compile for i386 at least...

[2021-04-22 22:50] Nightwalker-87 commented on #1009
Ping @slyshykO

[2021-04-22 22:58] Nightwalker-87 commented on #1008
@tarek-bochkati Do you have a F7 board around to give it a short test? I think there is not much to test, really.

[2021-04-22 23:09] slyshykO commented on #1009
now develop compile successfully.

[2021-04-22 23:16] slyshykO commented on #1009
[code]

[2021-04-22 23:18] slyshykO commented on #1009
Flash successfully Nucleo-h743, stm32f746-disco can test tomorrow.

[2021-04-23 09:01] slyshykO commented on #1009
[code]

Test with stm32f746-disco, it works.

[2021-04-23 18:16] Nightwalker-87 commented on #1009
Looking at this, the original issue could not be reproduced in an comparable environment with `libusb` v1.0.23.
In this context and by pointing out https://github.com/stlink-org/stlink/issues/1009#issuecomment-820179753, we can indeed safely assume a local hardware or OS-specific problem,
which appears not to be related to this toolset.

[2021-04-23 18:16] #1009 closed

[2021-04-23 19:55] Nightwalker-87 commented on #1121
I don't have this board type either. Anyone else? @Ant-ON @slyshykO maybe?

[2021-04-24 19:44] Nightwalker-87 commented on #1121
There are strong indications that this issue is fixed in #1106 along with no further response from the original author.
Against this background we can safely close this issue as resolved.

[2021-04-24 19:44] #1121 closed

[2021-04-24 20:02] Nightwalker-87 commented on #1008
Together with the result of #1009 this indicates a local hardware or OS-specific problem, which appears not to be related to this toolset or even OpenOCD 0.10.

All other issues mentioned in the summary above should be fixed by #1124 at the latest.

[2021-04-24 20:02] #1008 closed

[2021-04-24 23:49] #906 closed

[2021-04-25 20:34] rewolff commented on #237
Any discussion? Anybody tried it yet?

[2021-04-25 21:28] Nightwalker-87 commented on #237
Yeah, the proposal regarding the zip file sounds good to me. I haven't hat time to review in detail yet.
I think things have calmed down a bit now, as we've just passed a new major release and a few people spent quite a few efforts in the recent days and weeks... :wink:

[2021-04-26 06:32] kwarek commented on #1098
Hello,
I'm using stm32g030j6 (8-pin soic), so i've had the same problem. I've managed to get it to work with attached patch.  There is also a separate problem, chip id is read as 0xE5C. I've just added new STM32_G0 variant. Anyway it works on revision fdeb1729. I've tried to rebase it on never versions (1.7.0 including), but no luck yet.

[2021-04-26 06:36] Ant-ON commented on #1098
@kwarek Can you test 1.7.0 version without patch?

[2021-04-26 06:42] kwarek commented on #1098
Sorry, attaching patch failed.

[0001-enable-stm32g030.patch.txt](https://github.com/stlink-org/stlink/files/6374758/0001-enable-stm32g030.patch.txt)

Yes, i've tested it. It doesn't work:
"WARN common.c: NRST is not connected"
But obviously it it connected.

[2021-04-26 06:49] Ant-ON commented on #1098
@kwarek
Can you check 1.7.0 with these fixes? The rest of the changes seem superfluous to me...

[0001-enable-stm32g030.patch.txt](https://github.com/stlink-org/stlink/files/6374803/0001-enable-stm32g030.patch.txt)

[2021-04-26 07:14] kwarek commented on #1098
No, it doesn't work (NRST is not connected). Also, patched fdeb172 gives:

But, patched (and ultimately not working) 1.7.0 gives:

So there is problem with detecting flash size.

[2021-04-26 07:29] Ant-ON commented on #1098
@kwarek Have you tried using `--connect-under-reset`?
It is also possible to override the size of the flash memory (--flash=32k), but this does not completely solve the problem.

[2021-04-26 07:37] kwarek commented on #1098
I'm using --connect-under-reset all the time. Without it, it doesn't have chance to work. swd and swclk are used as gpio. In mcu with 5 gpio, every pin counts :)

[2021-04-26 07:44] Ant-ON commented on #1098
@kwarek In this case, I still have no idea why this is happening. I will try to repeat the problem in the evening. I have board with stm32g0 and I can disable the reset using the NRST pin. Can you give the full log of version 1.7.0 with the patch?

[2021-04-26 08:38] kwarek commented on #1098
I suspect that the reason is that core doesn't stay halted. Main part of my patch is substitution of stlink_force_debug with stlink_step in two places. If I interpret it correctly stlink_force_debug doesn't stop core, but stlink_step does. About NRST pin - in stm32g031 it can be disabled, in stm32g030 it can't.

[2021-04-26 09:01] Ant-ON commented on #1098
@kwarek This is unlikely. On stlink v2 +, both commands work using the same DHCSR register.
Most likely, the controller does not fully start up after a reset. Perhaps after soft reset it is necessary to add a delay of ~10ms:
https://github.com/stlink-org/stlink/blob/eeaef981a5dcf6bec6d9b6cada398abcf34b8737/src/common.c#L4757

[2021-04-26 09:01] kwarek commented on #1098
[0001-add-stm32g030-2.patch.txt](https://github.com/stlink-org/stlink/files/6375631/0001-add-stm32g030-2.patch.txt)
[stlink170.log](https://github.com/stlink-org/stlink/files/6375633/stlink170.log)

In case of 1.7.0 i think the main problem is that every stlink_read_debug32 returns 0x20002e5c.

[2021-04-26 09:16] Ant-ON commented on #1098
@kwarek Judging by the log, there is a possibility that the soft reset function does not wait for the end of the reboot (fortunate garbage is read from the registers while waiting). For this reason, garbage begins to be read in the next code. Try adding blind `usleep(10000);` after
https://github.com/stlink-org/stlink/blob/eeaef981a5dcf6bec6d9b6cada398abcf34b8737/src/common.c#L4757

[2021-04-26 09:19] kwarek commented on #1098
Nothing has changed (still 2e5c everywhere).

[2021-04-26 09:43] Ant-ON commented on #1098
You can also try rewriting the reset function. Change this part of function
https://github.com/stlink-org/stlink/blob/eeaef981a5dcf6bec6d9b6cada398abcf34b8737/src/common.c#L1725-L1745
to
[code]

[2021-04-26 09:54] kwarek commented on #1098
Now (1.7.0 with change above) I get:

with --debug, before timeout there are lines:

[2021-04-26 10:09] Ant-ON commented on #1098
@kwarek Hmm... Perhaps, while waiting for a reset via the NRST pin, the target is startuped and switch the SWD pins to the gpio.
We can try to replace
https://github.com/stlink-org/stlink/blob/eeaef981a5dcf6bec6d9b6cada398abcf34b8737/src/common.c#L4747
to
[code]

[2021-04-26 10:27] kwarek commented on #1098
I was trying port my patch to newer versions. While with fdeb172 is works, with 373eee (next compilable version) is does not.
[373eee_no_ts.log](https://github.com/stlink-org/stlink/files/6376258/373eee_no_ts.log)
[fdeb172_no_ts.log](https://github.com/stlink-org/stlink/files/6376259/fdeb172_no_ts.log)

so, starting (at least) with 373eee every stlink_read_debug32 returns 2E5C (at least with my mo

[2021-04-26 10:57] kwarek commented on #1098
Almost! Clean 1.7.0 with only change:

works. But only one time. After connecting st-link first run gives:

and second:

[2021-04-26 11:07] Ant-ON commented on #1098
@kwarek It seems we have found the cause of the problem. You can try changing the delay from 1000 to 500. I do not still see any other possible reasons for not working the second time. Only delay of switching to debug.

[2021-04-26 11:20] kwarek commented on #1098
Changing to 500 doesn't help. Also after the failure the LED stops blinking, so maybe cpu is halted?

[2021-04-26 11:36] Ant-ON commented on #1098
@kwarek Stopping blinking most likely means that there is no communication between the debugger and the target.
Do you press reset on second connection attempts?

[2021-04-26 12:42] kwarek commented on #1098
No, I have no reset button (it's diy board). I plug/unplug usb connector. Unfortunatelly current code doesn't work deterministically. Sometimes 1st try doesn't work, but 2nd does. Sometimes 10(and more) tries fail. After failure I have to unplug for serveral seconds, but sometimes short plug/unplug cycle is enough. Strange.

Also, I've tried different usleep values, but didn't notice any differenc

[2021-04-26 14:02] Ant-ON commented on #1098
@kwarek There might be a problem with the hardware right now. For example, the capacities do not have time to discharge, which does not allow to turn offs the target. The programming connector can also supply current.

[2021-04-26 15:08] kwarek commented on #1098
Yes, it's possible (my board is powered from st-link). But sometimes after long power off and pluging st-link in, all tries fail. Doing another power cycle(s) fixes that.  Patched fdeb172 works (maybe by accident) every time.

[2021-04-26 23:19] wavexx opened #1134 "[STM32F407]: STLINK-V3 fails to detect target after FW update"
- [x] I made serious effort to avoid creating duplicate or nearly similar issue
- [x] Programmer/board type: STLINK-V3SET
- [x] Operating system an version: Linux (debian unstable)
- [x] **stlink tools version** and/or git commit hash: v1.7.0/eeaef981a5dcf6bec6d9b6cada398abcf34b8737 (current master)
- [x] stlink commandline tool name: st-info --probe
- [x] Target chip (and board, if applicable): F

[2021-04-26 23:42] wavexx commented on #1134
To add some additional info, openocd 0.11.0 doesn't seem to have any issue with FW V3J7M2B4S1 (target is detected, I can flash/debug without issues). Please let me know if I can help in any way.

[2021-04-27 03:56] Ant-ON commented on #1098
@kwarek Perhaps this is a fortunate combination of delays. I think this is the race effect.
In addition to changing the `usleep` to `while...`, you can try commenting out:
[code]

[2021-04-27 08:05] kwarek commented on #1098
No change unfortunately. But I think the problem might be before the new loop.

After a loop, I've added printing dhcsr (which is read before loop). When it's ok, it's read as 0x2000001 , but when it's not it's of course 0x20002E5C.

[2021-04-27 08:22] Ant-ON commented on #1098
@kwarek Yes, you may be right. You can move init SWD mode to start of `stlink_target_connect` function:
[code]
Or comment DHCSR register clearing:
[code]
If the stlink is not switched to the SWD mode, writing data to the register can lead to incomprehensible situation

[2021-04-27 17:10] Ant-ON commented on #1134
@wavexx I have updated my st-link and it is correctly detected and works.
I look at the issue logs. It also seems strange to me that stlink with new FW is detected correct in the log:
[code]
But in the probe version is missing
[code]
Are there any errors in the logs?

[2021-04-27 18:13] Ant-ON commented on #1098
@kwarek I tried to make the connect under reset more stable. This option seems to work better:
[code]

[2021-04-27 20:28] kwarek commented on #1098
Last change doesn't seem to work. I've tried 10 times (clean 1.7.0 with function from above), and every time I got:

Moving `stlink_enter_swd_mode(sl)` up or commenting out `stlink_read_debug32(sl,` STLINK_REG_DHCSR, &dhcsr) didn't help either.

[2021-04-27 22:00] kwarek commented on #1098
I've found a partial fix. If call to stlink_enter_swd_mode is unconditional, it works every time, provided that it worked the first time after pluging in st-link. Patch: [stlink170.diff.log](https://github.com/stlink-org/stlink/files/6387765/stlink170.diff.log). Unfortunately, sometimes after pluging in st-link it doesn't work (and it doesnt work in consecutive tries) with:

[2021-04-28 03:47] Ant-ON commented on #1098
@kwarek What if we move `stlink_enter_swd_mode(sl)` to the beginning of the function and do it call is unconditional? I plan to move this call to the initialization of usb....

[2021-04-28 06:18] kwarek commented on #1098
Works less often than before.

[2021-04-28 14:09] wavexx commented on #1134
Ok, that's good to know at least, so that might indicate some other odd issue on my side. Not with the device at this moment. Any more detailed info into where to look? By logs you mean dmesg or something else?

[2021-04-28 21:14] kwarek commented on #1098
I think I found solution. 1.7.0 with attached changes works for me every time.
[stlink170ok.diff.log](https://github.com/stlink-org/stlink/files/6394807/stlink170ok.diff.log)
moving `stlink_jtag_reset` after `stlink_soft_reset` causes st-flash to work the 1st time after puging in st-link, making `stlink_enter_swd_mode` unconditional causes it to work subsequent times.
One drawback is that every ti

[2021-04-28 23:03] Nightwalker-87 commented on #1098
I think this might break something that has been fixed recently.

[2021-04-29 06:06] kwarek commented on #1098
Maybe `stlink_force_debug` doesn't halt core? Then after setting NRST to high cpu starts running, and if it manages to execute instructions to switch swclk/swdio to gpio mode, then we won't be able to connect to it anymore.

[2021-04-30 04:55] Ant-ON commented on #1134
@wavexx I mean the output of the application to the console

[2021-04-30 09:26] Andy1978 opened #1135 "[STM32F469NI: warn if file is empty"
I had a problem with my build script which resulted in an empty file. The error message of st-flash in this case is just

```mmap() == MAP_FAILED for file ...```

because mmap returns 22 = Invalid argument in this case. I would suggest to bail out with a hint:

[code]

[2021-04-30 15:19] wavexx commented on #1134
Turn out, this was probably a kernel issue involving the acm driver (https://bugzilla.kernel.org/show_bug.cgi?id=212725) as I happened to update during a reboot... I've since rebuilt the kernel with the relevant patch as I noticed that I also had issues with other MCUs.

With that the current version of st-info works as intended also with the  V3J7M2B4S1 FW (reported simply as V3J7S1 now). I canno

[2021-04-30 18:56] Nightwalker-87 commented on #1134
Good to see that the problem appears to be resolved.
@wavexx: Is there anything else you came across that is strongly related to this issue?

[2021-04-30 19:12] wavexx commented on #1134
No. Unless you might want me to dig deeper for some reason, I'd close this.

[2021-04-30 19:22] Nightwalker-87 commented on #1134
The provided reference should be fine. :wink:
As the observed behaviour obviously goes back to a (local) kernel issue, I'm closing this now as resolved.

[2021-04-30 19:22] #1134 closed

[2021-05-02 19:10] Nightwalker-87 commented on #202
Who can contribute here?

[2021-05-02 19:20] Nightwalker-87 commented on #264
Can someone try to reproduce this on a more recent version of Fedora (under most comparable circumstances) and give an assessment? @Vascom maybe?

[2021-05-02 19:28] Nightwalker-87 commented on #333
@Ant-ON: Is there still a reasonable way of implementing this after the recent contributions to the `st-flash` source code?
Unfortunately @manuvelayudhan seems to be inactive by now, but the patch is still present in his fork.

[2021-05-02 19:33] Nightwalker-87 commented on #346
@ceremcem:  @aric1987 seem to be inactive by now.
I don't know yet, if his patch is still compatible with the current codebase. One needs to check.

[2021-05-02 19:39] Nightwalker-87 commented on #412
@tarek-bochkati Did you have any chance to look into this? Would there still be a possibility to implement this as a feature?

[2021-05-02 19:46] Nightwalker-87 commented on #1075
@slyshykO and  @Ant-ON: Can we discuss on how to proceed with this?

[2021-05-02 19:49] Nightwalker-87 commented on #985
@chenguokai Can you still contribute to this?

[2021-05-02 19:56] Nightwalker-87 commented on #346
@Ant-ON: As I believe to read from the code that these protect bits are also included in the option bytes, as the whole area is written at once. Is this correct?

[2021-05-03 07:44] wolsty7 opened #1136 "problem writing to stm32l072 "Flash memory is write protected""
stm32l072 (CMWX1ZZABZ-091 module):
gets stuck at "write_half_pages failed == -1" will continue after manually pressing NRST button.

I presume it is something to do with "Flash memory is write protected"
I've tried "", "--reset" and "--connect-under-reset" options with no luck.

This hardware works with STM32CubeProgrammer on windows.

st-flash 1.6.1-307-ga06d135
2021-05-03T17:27:52 INFO common.c:

[2021-05-03 19:06] Nightwalker-87 commented on #985
I can now confirm that the travis CI build test with 10.14.4 and Xcode 10.3 is working - including the 32-bit builds.
So if anyone fancies retesting with earlier macOS or Mac OS X builds - now is the point to do so (e.g. @chenguokai)
I'll leave this open for another week and try to allocate the related fix before closing this ticket as resolved.

[2021-05-04 04:55] Ant-ON commented on #346
@Nightwalker-87 Yes, on F0/F1/F3:
[code]

[2021-05-04 05:08] Ant-ON commented on #333
@Nightwalker-87 Doesn't look like a good implementation https://github.com/manuvelayudhan/stlink/commit/fc1b5fb2188f3bff548536dbabdffe4283546326

[2021-05-04 06:05] rico666 opened #1137 "Compilation of 1.7.0 (develop) yields 1.6.1"
Experiencing very persistent #1012 and trying to compile a 1.7.0 to see if this fixes it.

1. fetched the git sources
2.
[code]
3. content of .version is `1.7.0`
4. compilation yields
[code]

Resulting binary reports e.g. as

[code]

I find it puzzling as the commit message says "Release 1.7.0". Also, the #1012 error prevails despite trying "everything". I'll probably open a separate issue once I

[2021-05-04 16:54] Nightwalker-87 commented on #333
Hm, ok. Thanks for the feedback. Maybe someone else has a better idea then.

[2021-05-07 02:50] wolsty7 opened #1138 "[STM32L072CZ]: issue programming"
- Programmer/board type: STLINK V3 set
- Operating system an version: raspberry pi OS buster
- **stlink tools version** and/or git commit hash: 1.7.0-4-gdb9219b
- stlink commandline tool name: st-flash
- Target chip (and board, if applicable): STM32L072CZ (CMWX1ZZABZ-091 module, B-L072Z-LRWAN1 board (and custom board)

Commandline output:

[code]

Expected/description:

`
Programs STM32L151 based

[2021-05-08 21:53] wohali opened #1139 "[STM32F730Z8]: Flash loader run error"
- [X] I made a serious effort to avoid creating a duplicate or nearly similar issue. **Really!**
- [X] Programmer/board type: [enter here] **STLINK/V2 (genuine), version V2J38S7**
- [X] Operating system an version: **Linux, Debian buster**
- [X] **stlink tools version** and/or git commit hash: **`v1.7.0-4-gdb9219b` (today's `develop`)**
- [X] stlink commandline tool name: `st-flash --reset --forma

[2021-05-08 21:57] wohali commented on #1139
Never mind. NRST was not connected. Once connected, flashes perfectly.

[2021-05-08 21:57] #1139 closed

[2021-05-10 19:48] #346 closed

[2021-05-10 19:48] #458 closed

[2021-05-10 19:48] #808 closed

[2021-05-10 19:48] #1084 closed

[2021-05-10 20:03] Nightwalker-87 commented on #724
@Ant-ON: Can you review this in relation to the recently referenced commit?
It looks as if this has been resolved already, but I don't know since when exactly...

[2021-05-11 07:21] Ant-ON commented on #724
@Nightwalker-87 I think it most likely closes by #1044. The second problem with the flashloader launch ability is also likely to be closed by the flashloader improving (#1113, #1124).

[2021-05-13 09:40] Nightwalker-87 commented on #1098
@Ant-ON: How shall we proceed here?

[2021-05-13 09:41] Nightwalker-87 commented on #1017
Ping  @gustavolaureano.

[2021-05-13 09:44] Nightwalker-87 commented on #655
Can someone with the same or similar hardware please check and try to reproduce this issue with the older versions mentioned above?

[2021-05-13 10:48] Nightwalker-87 commented on #620
@Ant-ON: As I read from the code, `Unknown chip id 0!` is always displayed if no connection could be established to the target or if the chip-ID is readable, but not listed in `chipid.h`. Is there any way to distinguish both cases to address this issue? I could imagine a conceptual proceeding like:
1) The chip-ID register was readable --> print the output --> content does not match anything listed

[2021-05-13 18:13] Ant-ON commented on #1098
@kwarek Can you try this branch https://github.com/Ant-ON/stlink/tree/connect_under_reset_rework ?

[2021-05-14 06:05] Ant-ON commented on #620
@Nightwalker-87 In version 1.7+, it is displayed as zero if the address of chip id reading is unknown (possible only for new series of MCU, which are not yet). I'll fix this so that everything stops at the message:
https://github.com/stlink-org/stlink/blob/71d1dab62062c44443cd9367ff23bd707a978c55/src/common.c#L1543

[2021-05-14 07:26] gustavolaureano commented on #1017
Hi,
ATM I do not have access to the hw with the LQFP32, I should have it in hand again by the middle of next week, as soon as I test it I report here

[2021-05-14 07:32] gustavolaureano commented on #1017
Ok! will try the dev branch

[2021-05-14 12:58] kwarek commented on #1098
It works, but on second and subsequent run. First time after pluging-in stlink I get this:

This is reproducible.

[2021-05-14 16:01] Nightwalker-87 commented on #909
Is there anyone else who can deal with this?

[2021-05-14 16:02] Nightwalker-87 commented on #903
This approach should be discussed again. Please have your say.

[2021-05-14 16:02] Nightwalker-87 commented on #681
Ping @V1DEOJAMES

[2021-05-14 16:05] Nightwalker-87 commented on #855
This may be looked at in the context of #923 and #1108.

[2021-05-14 16:28] Nightwalker-87 commented on #1096
Related to #1005.

[2021-05-14 21:22] V1DEOJAMES commented on #681
Apologies, my issue ended up being unrelated and was solved by using a different programming board (previous one was damaged by a bad USB hub). I did test the branch at the time but it made no difference for me.

[2021-05-15 11:29] Nightwalker-87 commented on #681
Ok, so your observations were obviously not related to this issue. Thx for the feedback. :+1:

[2021-05-15 17:36] Ant-ON commented on #1098
@kwarek Can you try the same branch again? Maybe I was able to make the result more stable...

[2021-05-16 09:28] Nightwalker-87 commented on #1098
@Ant-ON: Great work. However I take note of that the version string is still wrong on this branch. Why is this? I believe to have fixed it already. Is there anything missing?

[2021-05-16 13:10] kwarek commented on #1098
No, it's worse. Sometimes after pluging-in stlink it works right away, sometimes on 2nd try, sometimes on 3rd, and sometimes it doesn't work at all.

[2021-05-16 19:25] Ant-ON commented on #1098
@kwarek I no longer understand what could be the reason for this behaviour... My boards work out quite well.
I added checking the status of the execution of commands. Can you try this branch again https://github.com/Ant-ON/stlink/tree/connect_under_reset_rework?
If there are errors is remain, you can attach the log with the `--debug` argument

[2021-05-16 19:45] Nightwalker-87 commented on #1098
@kwarek:  Maybe we are facing a local hardware issue here. However I would prefer, if you do some local investigation for yourself and collect some useful information that can help to investigate the issue. Currently we seem to be looking at a "try this - it doesn't work" endless loop, which does not seem to move any forward and may appear annoying to contributors willing to help. Please consider

[2021-05-16 21:02] kwarek commented on #1098
My investigation ended with working solution (no errors): https://github.com/stlink-org/stlink/issues/1098#issuecomment-828784766, but I understand it might conflict with something else.

Latest version works slightly better (~50% of the time).  If it doesn't, there is an error:

And with --debug:

[2021-05-16 22:15] Nightwalker-87 commented on #985
This is now verified to be solved with Release v1.7.0. :tada:
@Ant-ON I think one of your major contributions fixed it, but could not allocate the exact fix yet. Do you have an idea?

[2021-05-16 22:37] Nightwalker-87 commented on #724
Partially fixed in #1044, #1113 and finally closed with #1124.

[2021-05-16 22:37] #724 closed

[2021-05-16 22:50] Nightwalker-87 commented on #800
@Ant-ON You recently mentioned that you use the library itself. What would you document on how to use it from your personal experience?

[2021-05-16 23:43] Nightwalker-87 commented on #264
Ping @vascom

[2021-05-17 05:40] Vascom commented on #264
I have no hardware to test stlink.

[2021-05-17 20:02] Nightwalker-87 commented on #264
We can not assess this issue precisely, as there is too little information provided.
A review of issues from around the time this ticket was opened revealed that there was no general problem related to the observed behaviour. Thus we may assume the issue is not related to a malfunction in the toolset.

However we can give the general advice to refer to the [ST Microelectronics Programming manual (

[2021-05-17 20:02] #264 closed

[2021-05-17 22:10] Nightwalker-87 commented on #655
Drawing this issue to a close, we shall put on record, that it indeed seems quiet unlikely for two independent and different toolsets to cause the same or at least a very similar problem. Instead the issue suggests the observed behaviour to be caused by the `gdb` tool itself. If still relevant we can thus give the advice to refer to the respective project for further support on this topic.

[2021-05-17 22:10] #655 closed

[2021-05-17 22:37] Nightwalker-87 commented on #468
I tried to reproduce this issue with my CKS32F103C8T6, but without any success and also unsure if this is somehow representative.
@Ant-ON Do you have a similar board in your F-Series set of boards to test and review?

[2021-05-18 10:12] Ant-ON commented on #1098
@kwarek 0x12 is the SWD_AP_ERROR. Perhaps the microcontroller has time to change the state of the GPIO before the stlink has time to send the halt command.

About `stlink170ok.diff.log`. `stlink_jtag_reset` cannot be move, as this will break the connection support when the NRST pin is connected. Untill executing `stlink_jtag_reset(sl, STLINK_JTAG_DRIVE_NRST_HIGH);` the microcontroller be in a rese

[2021-05-19 00:41] djix123 opened #1143 "STM32L021 mis-identified as STM32L011 and incorrect sram size reported"
st-info --probe mis-reports a STM32L021D4 as a STM32L011 (same chipid: 0x0457) together with incorrect sram size (8192 bytes, when it should be 2048 bytes). The STM32CubeProgrammer software reports STM32L01x/STM32L02x

% st-info --probe
Found 1 stlink programmers
  version:    V2J37S7
  serial:     46004800110000315037504E
  flash:      16384 (pagesize: 128)
  sram:       8192
  chipid:     0x0457

[2021-05-19 03:28] Ant-ON commented on #1143
@djix123 This is normal. Everything should work correctly. I will try to correct the target names soon.

[2021-05-19 09:18] kwarek commented on #1098
But the NRST pin is connected to mcu. It has to be. The whole point is that for SWD to work, cpu has to be prevented from running user code (because in it SWD gets disabled). From what I understand, for the programming to work reliably the core has to be halted when we exiting reset, and stay halted until we end programming flash. Otherwise we get a race.

[2021-05-19 14:48] gustavolaureano commented on #1017
Just built the develop branch on a Windows machine and tested with an STM32G070KB (LQFP32), and the st-info --probe reported the ID correctly, seems to be solved (y)

![2021-05-19 16_45_08-C__Windows_System32_cmd exe](https://user-images.githubusercontent.com/25323632/118833850-14610180-b8c2-11eb-982a-0e7868884805.png)

[2021-05-19 14:49] djix123 commented on #1143
@Ant-ON I created a pull request to change the description. If you'd like a different description I can change etc ...

Also, I didn't update the sram to 2048 since whilst all L021/L011 parts are 2k, there are L010 parts that are 8k / 20k.

[2021-05-19 19:51] Nightwalker-87 commented on #1017
@gustavolaureano Does it already work with Release **v1.7.0** (Commit: 179650df40295b0af3a148ddfb2c467a0334f54a) ?
@Ant-ON I assume #1126 is the actual fix for this issue. The previous commit ee491d9672dbbe543c1a075d7bc79fc5725bcfd2 may fail. Can you verify this with your hardware @gustavolaureano? This would allow to attach this issue to the actual fix for documentation purposes.

[2021-05-20 07:13] gustavolaureano commented on #1017
Hi @Nightwalker-87
Just tested it, you are right, v1.7.0 works and commit ee491d9 not:

v1.7.0-dirty:

Found 1 stlink programmers
  version:    V2J36S7
  flash:      131072 (pagesize: 2048)
  sram:       36864
  chipid:     0x0460
  descr:      G070/G071/G081

v1.6.1-296-gee491d9-dirty:

Found 1 stlink programmers
  version:    V2J36S7
  flash:      0 (pagesize: 0)
  sram:       0
  chipid:     0x

[2021-05-21 12:36] Nightwalker-87 commented on #1017
Fixed by #1126.

[2021-05-21 12:36] #1017 closed

[2021-05-21 12:53] #1143 closed

[2021-05-21 13:31] Nightwalker-87 commented on #875
@geoffrey-vl Can you contribute on this topic?

[2021-05-21 13:42] geoffrey-vl commented on #875
To be honest I have a couple of other project I'm also working on, so don't count on it.
But for starters I'd like to discuss how the command would look like. Can it be as described in https://github.com/stlink-org/stlink/issues/875#issuecomment-808199643 ?

[2021-05-21 13:44] Nightwalker-87 commented on #1000
Note: The next release v1.7.1 is currently projected for Autumn 2021.

[2021-05-22 18:56] Ant-ON commented on #1098
@kwarek For a couple of days I tried to repeat the situation. I rolled back the st-link to version V2J21S4. I wrote a firmware with disabling the SWD and JTAG at the beginning of the main() for STM32F1. It is stably flashing...
The whole situation really looks like a race. But if the NRST is connected, they have nowhere to come from... The only thing that comes to mind: perhaps there is an RC filt

[2021-05-22 19:15] Ant-ON commented on #1138
@wolsty7 Why do you additionally press the reset button during programming? It is not necessary.
The DHCSR status indicates an unrecoverable exception occurred (S_LOCKUP bit). I have no idea why this is happening yet.

[2021-05-22 19:20] Ant-ON commented on #468
@Nightwalker-87 I have a blue pill with such the STM32F103C8. Everything is displayed well:
[code]

[2021-05-24 06:37] wolsty7 commented on #1138
See my updated description (I inserted the where I pressed NRST in the wrong section)

It gets stuck on the line:

until I press nrst button at which point the program ends.

[2021-05-24 08:06] Nightwalker-87 commented on #468
We conclude that the issue could not be reproduced on two different environments using similar hardware.
Also there were no general issues reported for variants of the STM32F103 MCU chipset regarding the described problem.
Against this background I am closing this issue now as resolved.